[2019-06-17 14:27] filippog opened #3710 "mmanon do not anonimize certain subnets?"
### Expected behavior

Being able to turn off anonymization of certain subnets, the idea being to balance anonymization/compliance/etc with debugging. As an example, nginx reverse proxy access logs will likely contain both client addresses and backend addresses. While it is ok to anonymize the former, having the latter anonymized hinders debugging. In the typical case I'm expecting whitelisted sub

[2019-06-17 17:31] RRAlex commented on #3686
Uhm, I'm not sure what to install at this point, there doesn't seem to be an rsyslog-dbg or other similar package and gdb still shows:
`Reading symbols from /usr/sbin/rsyslogd...(no debugging symbols found)...done.`
Am I missing something obvious? :)
`Ubuntu 16.04.6 LTS`

[2019-06-18 07:52] rgerhards commented on #3686
@friedl can you please check and advise

[2019-06-18 07:57] friedl commented on #3686
@RRAlex The actual package name for the debug symbols is followed by `-dbgsym`
E.g. `rsyslog-dbgsym`

Please note, you will need to install this for all sub-packages as well I suppose.

[2019-06-18 10:40] rgerhards commented on #3709
I guess the error message is right. But I don't see any indication of the error inside the debug log. Did you past the wrong snippet?

[2019-06-18 10:42] rgerhards commented on #3703
@jvymazal is this something we should intend to support? Given the problems with journal files, I am very hesitant to do that...

[2019-06-18 11:18] jvymazal commented on #3703
@rgerhards in theory it is very simple, just add an option based on which I will drop the LOCAL_ONLY flag when opening journal, however (as usual with journald) there is no guarantee that nothing breaks up during all use-cases and operational modes.

[2019-06-18 11:20] rgerhards commented on #3703
yeah that's my experience and fear. Probably better stay with local support rather than opening a new can of worms

@davidelang what do you think?

[2019-06-18 11:21] jvymazal commented on #3703
Currently I do not see anything particular that could break, so If we want to do this I would suggest to just add the option and document it as "beta" or whatever status you use for uncertain things and wait few releases before someone starts to use it and finds out whether there are some problems.

[2019-06-18 12:08] aremai commented on #3705
hello @jchivian

thank you for your fast response.
the problem is that we cannot upgrade the ancient rsyslog version, because it's running on a read-only SLES12 image (on an SAP environment) and therefore we cannot upgrade it at the moment, without swapping the whole OS/read-only image.

currently the only sub-config that's being read from /etc/rsyslog.d/ is this one:

`module(load="imfile" Pollin

[2019-06-18 13:45] RRAlex commented on #3686
Is it possible that it is not in the devel repo?

see:
[code]

[2019-06-18 13:56] rgerhards commented on #3686
@friedl can you check?

[2019-06-18 13:57] rgerhards commented on #3686
@friedl can you check?

[2019-06-18 14:27] friedl commented on #3686
I found the issue here. Go to this file:
`/etc/apt/sources.list.d/adiscon-ubuntu-v8-devel-xenial.list`

Edit the first line and replace `main` with `main/debug` like so

`deb http://ppa.launchpad.net/adiscon/v8-devel/ubuntu xenial main/debug`

Then perform another apt-get update and the install should work now. At least it did on my test system.

[2019-06-18 14:31] rgerhards commented on #3686
@friedl can you add this to the ppa how-to on the rsyslog site as well - would be great!

[2019-06-18 14:44] friedl commented on #3686
done: https://www.rsyslog.com/ubuntu-repository/

[2019-06-18 14:57] jchivian commented on #3705
Actually, multiple files from /etc/rsyslog.d are being included.

3917.463553551:main thread    : config parser: reached end of file
/run/rsyslog/additional-log-sockets.conf
3917.463622050:main thread    : config parser: resume parsing of file
/etc/rsyslog.conf at line 57
3917.467180910:main thread    : requested to include config file
'/etc/rsyslog.d/remote.conf'
3917.467804665:main thread    : c

[2019-06-18 15:15] RRAlex commented on #3686
Alright, that fixed it! :)

So I have the 8.1907 rsyslog & rsyslog-dbgsym installed on 5 nodes and restarted.
gdb shows:
`Reading symbols from /usr/sbin/rsyslogd...Reading symbols from /usr/lib/debug//usr/sbin/rsyslogd...done.`

Now I have to wait for tomorrow to attach to one that might fail!

[2019-06-19 06:49] janmejay commented on #3706
@rgerhards I plan to look at this in a few days.

[2019-06-19 11:31] gms1234 commented on #3709
You're right, here it is:
[code]

[2019-06-19 12:45] rgerhards commented on #3709
This  is a log showing a successful reconection and sucess in sending messages. I suggest you share the full fail via e.g. pastebin so that I can have a real look. It's time-consuming to go through the snippets...

[2019-06-19 12:58] rgerhards commented on #3709
what a typo on my side... I meant you should share the full debug log. thx!

[2019-06-19 14:23] hoerup opened #3711 "Add option for using imuxsock in SOCK_STREAM"
currently imuxsock only supports SOCK_DGRAM would be nice with a config option to support SOCK_STREAM as well

[2019-06-19 16:48] portante commented on #3711
In particular, Ceph supports writing to `SOCK_STREAM` unix pipes.  This would allow rsyslog to be used to read log data directly from Ceph.

[2019-06-19 16:49] portante commented on #3711
See the related Ceph issue on the other side to have Ceph use `SOCK_DGRAM`: https://tracker.ceph.com/issues/40433

[2019-06-19 20:21] mlh758 opened #3712 "Dead Link in Readme"
### Expected behavior

Instructions for building from source should be a valid link

### Actual behavior

https://www.rsyslog.com/doc/build_from_repo.html linked to from readme is dead

[2019-06-20 14:05] RRAlex commented on #3686
[code]
[code]
[code]

[2019-06-20 14:48] mlh758 commented on #3712
The documentation on the [newbie guide](https://www.rsyslog.com/newbie-guide-to-rsyslog/) is also a bit out of date.

I'm working on compiling it now so I'll just use this comment to document what appears to need updating.

1. `libee` doesn't appear to be necessary anymore
2. `libfastjson` is necessary now
3. `zlib` is necessary now

[2019-06-20 15:32] rgerhards commented on #3712
I think the requirements are not 100% correct - they depend on configure options. Some features require special packages. Or do you need `libuuid-devel` and `libcurl-devel` in any case? That would sound like a program bug.

[2019-06-20 15:34] rgerhards commented on #3686
thx for the bt! on first look it looks promising. It would be great if you could post another one tomorrow if I don't find the cause in the mean time. Multiple BTs help trace into the right direction.

[2019-06-20 15:40] mlh758 commented on #3712
I'm building with the defaults. Looks like `libuuid` can be disabled with options to the autogen script. If it is required by default then it seems like it should be in the docs.

`fmhttp` is enabled by default and that requires `libcurl-devel`.

`libgcrypt-config` is also required by default.

If they weren't enabled by default then I'd understand not listing them as requirements but you can't ru

[2019-06-20 15:46] rgerhards commented on #3686
This looks like a hot candidate for the regression: https://github.com/rsyslog/rsyslog/commit/62fbef7f72170ebc2211c79f1e1bf989dfcf8e9f . I currently assume the new code is somehow messing up with the mutex locks.

@RRAlex still this is only an idea. So a second BT would be appreciated. Nevertheless, I now at least have an area to work on. Maybe I can provide a dedicated repo with this commit remov

[2019-06-20 15:56] rgerhards commented on #3686
@RRAlex pls double-check: In the backtrace, I see writing to a ZIP file in async mode. This is not included in the posted config. I suspect that this is the bug trigger. Can you check if there is something missing from the config? If so, please post that snippet.

[2019-06-20 16:07] rgerhards commented on #3686
First analysis shows that three threads (1, 5, 6) are processing the same omfile object. 5,6 in writing state, 1 inside the Janitor. Janitor waits for writer 6. Writer 5 is inside dynafile cache and seems to try to evict an entry. Get's into a wait condition on the async writer. Smells like a deadlock somewhere.

[2019-06-20 16:10] mlh758 commented on #3712
`./autogen.sh --disable-libgcrypt` Doesn't seem to remove the need to have `libgcrypt-config` for me.

[2019-06-20 17:28] RRAlex commented on #3686
About the ZIP file: I have no idea where that could be coming from.
`/etc/rsyslog.conf` includes the `/etc/rsyslog.d/*` that I posted above, with the 4 files there, 3 defaults from Ubuntu, one of ours.
Since it is happening at the logrotate time, could this be related to the compressed archives that get renamed? ie: `somelog.2.gz` being read or some such and thus locking the rsyslog process?

Also

[2019-06-20 20:17] mlh758 commented on #3712
This [compile link](https://www.rsyslog.com/doc/v8-stable/installation/install_from_source.html) mentions running `./configure` but there is only a `configure.ac` in the tarball. I've had some luck running `./autogen.sh` with my options instead. Is that the appropriate route?

Something like:
[code]

[2019-06-20 20:31] davidelang commented on #3712
autogen.sh creates the configure and makefile

David Lang

On Thu, 20 Jun 2019, Michael wrote:

[2019-06-20 20:34] mlh758 commented on #3712
Yeah, I went and looked at some of your PR builds and I'm using autoreconf now, then putting all the configure parameters on `./configure` where they make more sense.

[code]

Looks to be more correct, but it isn't reflected in the docs. I also keep getting stuck on this error in make when gcc starts to run:

[code]

[2019-06-21 09:40] rgerhards commented on #3686
HUP (as done in logrotate) seems to play a vital role in this issue.

[2019-06-21 10:29] rgerhards commented on #3686
I have definitely been able to identify one bug. Knowing what to watch out for helps ;-) It may actually be a long-standing bug that possibly got an additional trigger in 8.1905. So it's too early to declare victory, but we finally make progress.

[2019-06-21 11:46] mbiebl commented on #2979
@rgerhards Are you still unable to reproduce the issue? I can easily reproduce it with an up-to-date rsyslog and symply running `systemctl restart rsyslog.service`. I then get in /var/log/syslog:

[code]

[2019-06-21 14:32] rgerhards commented on #3686
re-opening issue as we want to have proof of fix in practice.

@RRAlex  would still love to see an additional BT. I'll also let you know when they daily stable has been rebuild (happens automatically). When done, I suggest you install the new version. Chances are good it'll fix the issue.

[2019-06-21 16:39] atc0005 commented on #3686
Will the fix (assuming it works as expected) be back-ported to the stable PPA, or will users of that repo need to wait until v8.1907?

[2019-06-21 16:59] davidelang commented on #3686
On Fri, 21 Jun 2019, Adam Chalkley wrote:

I suspect that the timeframes will be about the same, but I think this is one of
the rare cases where it's worth creating 8.1905.1 just so we don't have a
release version out there that's got this known breakage in it.

We don't have any way of tagging 8.1905.0 as known broken, other than releasing
8.1905.1

David Lang

[2019-06-21 20:48] mikesphar opened #3716 "Fractional seconds dropped from %timegenerated:::date-rfc3339% when queue added to ruleset"
I admit this one is baffling and I can't imagine how the two things would be related, but still...

I'm experiencing a problem where I'm forwarding logs to an aggregator using %timegenerated:::date-rfc3339% for the timestamp of the message. The messages are sent to a ruleset which has actions configured for failover, and all of that is working correctly when no queues are configured.  However, whe

[2019-06-23 05:56] m0bYczE opened #3717 "Remove spaces from %HOSTNAME%"
Hello, I need help with replacing spaces with "_" in %HOSTNAME%, beacuse when in %HOSTNAME% is space, the folder which I it creates have in name only first word from %HOSTNAME%. Here is my code:
`template (name="Mikrotik" type="string" string="/var/log/mikrotik/%HOSTNAME%/%$YEAR%-%$MONTH%-%$DAY%.log")

if $fromhost-ip startswith '192.168.' then {
	action(type="omfile" dynaFile="Mikrotik")
	stop
}`

[2019-06-23 09:26] rgerhards commented on #3717
I wonder how spaces can be present in HOSTNAME at all. What is your rsyslog version? Please add

*.* /var/log/msgdebug.log;RSYSLOG_DebugFormat

to the **top** of rsyslog.conf. That file contains multiple lines per message.  After the rsyslog run, search for a message with space in hostname and post all lines that belong to it. Thx.

[2019-06-23 10:16] m0bYczE commented on #3717
Version is: 8.24.0 and the debug:
`Debug line with all properties:
FROMHOST: '**.**.company.com', fromhost-ip: '**.**.**.**', HOSTNAME: 'Bytovka', PRI: 46,
syslogtag 'Tovarni', programname: 'Tovarni', APP-NAME: 'Tovarni', PROCID: '-', MSGID: '-',
TIMESTAMP: 'Jun 23 12:13:10', STRUCTURED-DATA: '-',
msg: ' X fttb sys: user system logged out from **.**.**.** via api'
escaped msg: ' X fttb sys: user s

[2019-06-23 10:24] rgerhards commented on #3717
Mmhhh looks valid. Hostname is "Bytovka" but some of the fields are in wrong order.

[2019-06-23 10:29] rgerhards commented on #3717
Or do you mean the system hostname really contains spaces? That is against all standards and not permitted.

[2019-06-23 10:30] davidelang commented on #3717
I suspect that he is intending the hostnme to be "Bytovka Tovarni X fttb" or
something like that.

A space is not a valid character in a hostname or dns name. If you try to use a
hostname with a space, all sorts of odd things are going to happen.

I don't see rsyslog trying to guess if a space indictes the end of a hostname or
not when receiving messages. I guess we could log a warning if we start

[2019-06-23 11:17] m0bYczE commented on #3717
Yes, the hostname is Bytovka Tovarni X fttb. Ok, i have to change hostname in other devices. Thank you.

[2019-06-23 11:38] #3717 closed

[2019-06-23 11:40] rgerhards commented on #3717
The problem here is how do you know if this is a "hostname-space" vs a regular one? You could try to guess that the tag stops with a ':' and search for it, then go backwards to the hostname. But tags not always stop with colon. They explicitly do not need to do in RFC5424. So very very fishy...

[2019-06-23 14:14] davidelang commented on #3717
I as thinking in terms of rsyslog checking the hostname of the system on the
sender side.

David Lang

On Sun, 23 Jun 2019, Rainer Gerhards wrote:

[2019-06-23 14:18] rgerhards commented on #3717
That's a good idea, but obviously does not work for other senders.

[2019-06-23 15:40] circulosmeos commented on #3306
I've done a [pull request to support `--on-the-fly` generation of the index](https://github.com/samtools/htslib/pull/877) with `bgzip`, and I've also developed the [Perl script `bgztail`](https://github.com/circulosmeos/bgztail) to have a "`tail -f`" for bgzipped files.

All to create the appropriate ecosystem for the proposed rsyslog-compression-to-`bgzip` !

[2019-06-23 16:30] rgerhards commented on #3306
@circulosmeos interested to do a similar PR for rsyslog? That would definitely increase the likelihood for this feature to appear quickly. I am happy to answer questions along that way.

[2019-06-23 16:46] circulosmeos commented on #3306
I can take a look at it: if you could just tell me what source/s file/s to start with... I don't know anything about the internals of this project, apart from having used it :-)

[2019-06-23 20:23] davidelang commented on #3717
On Sun, 23 Jun 2019, Rainer Gerhards wrote:

Right, we can't know what's happening on messages we receive, but we can make
sure we aren't part of the problem when we send.

I'm thinking of something that is checked when $$hostname is populated

David Lang

[2019-06-23 20:27] davidelang commented on #3306
On Sun, 23 Jun 2019, circulosmeos wrote:

I would suggest that you look at xv, my understanding is that it produces
better, faster results than bzip in pretty much every setting.

A coulple issues to look at (and ones we sometimes have a problem with
using gz):

  how does the format handle data trickling in over time (does it buffer it all
until close? how long does it take to process the buffere

[2019-06-24 03:06] zhangying451335937 commented on #545
rsyslog的fromhost-ip 测试本机为空,拿不到,请教一下,可以解答吗

[2019-06-24 03:17] davidelang commented on #545
On Sun, 23 Jun 2019, zhangying451335937 wrote:

what should fromhost-ip be? 127.0.0.1? would that be useful to anyone? Remember
that a system can have many IP addresses.

since the message wasn't received from another system, there isn't an obviously
right value to put in fromhost-ip

David Lang

[2019-06-24 03:24] zhangying451335937 commented on #545
# nginx template
template(name="nginxAccessTemplate" type="list" ){
	constant(value="demo1")			#自定义常量
	constant(value=", ")			#分隔符
	property(name="hostname")		#集群IP别名
	constant(value=", ")			#分隔符
	property(name="syslogtag")		#日志名称
	constant(value=", ")			#分隔符
	constant(value="日志内容")		#自定义常量
	constant(value=", ")			#分隔符
	property(name="msg")			#转发日志内容
	 constant(value="', ")
	property(name="fromhos

[2019-06-24 04:22] zhangying451335937 commented on #545
# nginx template
template(name="nginxAccessTemplate" type="list" ){
	constant(value="demo1")			#自定义常量
	constant(value=", ")			#分隔符
	property(name="hostname")		#集群IP别名
	constant(value=", ")			#分隔符
	property(name="syslogtag")		#日志名称
	constant(value=", ")			#分隔符
	constant(value="日志内容")		#自定义常量
	constant(value=", ")			#分隔符
	property(name="msg")			#转发日志内容
	 constant(value="', ")
	property(name="fromhos

[2019-06-24 07:02] rgerhards commented on #3686
I would strongly prefer not to do another source release. It takes me quite some while, which I find better invested in other things. Also remember that the release seems to work for most folks. While we had more error reports than usual, it were still few.

Even assuming the release would be badly broken: what is the value of declaring this? 8.1905 is dead in 2 weeks from now, so from a community

[2019-06-24 07:06] rgerhards commented on #545
Nevertheless, the property must always be present. We use the loopback interface for that (currently only 127.0.0.1, need to consider IPv6-only systems... in the future). In my testing, I always found the property populated.

[2019-06-24 07:07] skupkosk commented on #3717
Just for a note.
Even the '_' character in question is not allowed by standard and rsyslog
does not handle it.
https://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_hostnames

On Sun, Jun 23, 2019 at 12:29 PM Rainer Gerhards <notifications@github.com>
wrote:

[2019-06-24 07:24] rgerhards commented on #3717
This check is already done. With the obsolete legacy config system, we simply cannot detect a hard error but issue:
[code]
results in:
[code]

In current style `global(localhostname="hostname with blanks")` we emit a hard error and terminate startup.

The only way to get a hostname with spaces into the system is configuring it to use an invalid hostname. However, I do not know how to do this. This

[2019-06-24 16:27] rgerhards commented on #2979
I thought I had fixed this. It is an incompatbility in imjournal IIRC.

[2019-06-24 16:46] mabobr commented on #3676
Doc says ipv42num(), but it is a mistake, use **ip42num()** which is implemented and working.

[2019-06-24 17:46] mbiebl commented on #2979
Hm, odd. I'm not using imjournal here but imuxsock

[2019-06-25 07:29] ganeshbms commented on #3464
I have tried with latest version of rsyslog and here is the leak summary ..
I don't see any improvement with latest version also :( ..

-122326-- Discarding syms at 0xa5187a0-0xa51ab33 in /usr/lib64/rsyslog/lmnsd_ptcp.so due to munmap()
--122326-- Discarding syms at 0x899e470-0x89a331d in /usr/lib64/rsyslog/imptcp.so due to munmap()
--122326-- Discarding syms at 0x8dace50-0x8dae2d7 in /usr/lib64/r

[2019-06-25 15:10] RRAlex commented on #3686
@rgerhards I just disabled my cron that restarts rsyslog (after a long weekend here) and will most probably be getting a freeze by tomorrow morning for which I'll post the gdb thread info, etc here.

After that, is 8.1905.1 available somewhere for me to test for the next day?
cheers! :)

[2019-06-25 15:41] rgerhards commented on #3686
The daily stable already has the patch,so you are good up just upgrading the package.

[2019-06-25 17:05] RRAlex commented on #3686
Maybe it hasn't reached my ppa repo/mirror just yet, after an apt-get update:
[code]

[2019-06-26 08:23] #3682 closed

[2019-06-26 08:59] rgerhards commented on #3712
what are your CFLAGS?

[2019-06-26 10:58] rgerhards commented on #3716
thx for the bug report. I could reproduce the issue, even with a simpler config:
[code]

It's a problem with message duplication. I think I have already isolated it. Working on patch...

[2019-06-26 11:48] p05h commented on #3709
After my last post I tried using the omkafka module. Sadly it seems like there is no option to encrypt the connection, or I am wrong here?

Lastly, without posting more debug logs: Is there a proven config for HAproxy to not terminate the connection like that?

[2019-06-26 11:49] gms1234 commented on #3709
After my last post I tried using the omkafka module. Sadly it seems like there is no option to encrypt the connection, or I am wrong here?

Lastly, without posting more debug logs: Is there a proven config for HAproxy to not terminate the connection like that?

[2019-06-26 14:32] mlh758 commented on #3712
On the [new link](https://www.rsyslog.com/doc/v8-stable/installation/build_from_repo.html) in the repo it says to follow the installation guide at [this link](https://www.rsyslog.com/doc/v8-stable/installation/install.html) which is also dead.

As for CFLAGS, I ran `echo $CFLAGS` in the container and there are none set.

[2019-06-26 14:44] #3716 closed

[2019-06-26 14:48] rgerhards commented on #3712
That's pretty strange. Can you do a `make V=1 ...other options...` so that we see how the compiler is called.

Also, can you share:
* the container you use
* the exact commands you use
So that I can try to reproduce the compile issue?

[2019-06-26 14:52] mlh758 commented on #3712
This is the dockerfile I've been using: https://gist.github.com/mlh758/89fd89bf5a2b7c2357af751e328d340a

[2019-06-26 14:54] mlh758 commented on #3712
This is the output from`make V=1`

[code]

[2019-06-26 21:06] circulosmeos commented on #3306
Hi @davidelang
You mean `xz`? I'm not trying to add a brand new different format, but to generate the old-fashion good compressed gzip files in a more manageable way (but transparent for the not advised) for sysadmins.
As for the questions, bgzip is like gzip but in blocks of 64 kiB of input, so that seems the minimum to write new outputs, and new data can be appended to any bgzipped file as they

[2019-06-27 11:36] gianlucaceci commented on #2659
the problem is into imfile when restart tomcat rsyslog don't read imfile anche stoped process. For solution is  search imfile, delete and restart rsyslog

[2019-06-27 12:18] rgerhards commented on #3709
We use librdkafka, so I guess this applies: https://github.com/edenhill/librdkafka/wiki/Using-SSL-with-librdkafka

[2019-06-27 12:23] rgerhards commented on #2979
I now remember the fix I did. That was a problem between our startup message format and journal. It's fixed. I will have a fresh look at the issue.

[2019-06-27 12:24] gsforza commented on #3709
Excuse my ignorance, but where exactly would one put the mentioned configuration? The rsyslog module has no syntax for it.

[2019-06-27 12:24] rgerhards commented on #2979
mhhh.. the sample is again the startup message; anyhow, will investigate.

[2019-06-27 12:25] rgerhards commented on #3709
It's `confParam`, check https://www.rsyslog.com/doc/master/configuration/modules/omkafka.html

[2019-06-27 12:26] gsforza commented on #3709
Thanks a lot!

[2019-06-27 12:26] #3709 closed

[2019-06-27 13:40] RRAlex commented on #3686
First node:
[code]

Second node:
[code]

[2019-06-27 13:58] Rampa33 opened #3726 "omfwd: option desired to allow address binding for tcp (client side)"
### Expected behavior
omfwd module should allow address binding for tcp protocol

### Actual behavior
As of today, omfwd allows address parameter only for udpd

### Environment
- rsyslog version: 8.1905.0
- platform: openwrt
- Config: *.* action(type="omfwd" Target="16.0.3.200" address="10.0.1.2" Port="6514" Protocol="tcp")

[2019-06-27 18:15] Rampa33 commented on #3726
notify @rgerhards

[2019-06-27 18:40] drdivano commented on #2659
I just tried my test with rsyslog 8.1904.0 (Alpine 3.10). It looks like the problem is fixed.

[2019-06-28 11:56] skupkosk opened #3727 "imtcp: add input() parameters for NSD driver options"
================== Maintainer edit ==================
See below: this actually is about **adding additional input parameters** rather then moving parameters. Relevant comment with detail info: https://github.com/rsyslog/rsyslog/issues/3727#issuecomment-524750746
================ End Maintainer edit ==================

### Expected behavior
Be able to use imtcp module for both, clean and TLS inputs

[2019-06-28 12:03] skupkosk commented on #3726
@Rampa33 do you have some use case for it? Could make sense when you have more IP aliases on the same interface. Still not sure about real-world use case.

[2019-06-28 13:09] skupkosk opened #3728 "imtcp retrieves connection while imptcp does not"
### Expected behavior
The logger's TCP connection should be retrieved by rsyslog and logged to file.

### Actual behavior
The TCP connection is not retrieved by rsyslog while used imptcp for listening for TCP connections. The imtcp retrieved the conenction just fine.

### Steps to reproduce the behavior
Simple LVS setup with one node only.

### Environment
- rsyslog version: 8.1901
- platform: Deb

[2019-06-28 13:17] skupkosk commented on #3728
#This just confirm the request https://github.com/rsyslog/rsyslog/issues/3727 does make sense and there are differences how imtcp and imptcp handle connections.

[2019-06-28 13:18] Rampa33 commented on #3726
I have a usecase, where i forward the syslog message only if has a specific source IP. I can do this in case of omfwd(UDP) or omrelp module, but not for TCP. Wondering why tcp was left out.

[2019-06-28 13:44] skupkosk commented on #3728
### IMTCP plain session on
**host IP**
[code]
**cluster IP**
[code]

[2019-06-28 18:02] davidelang commented on #3726
I have routinely operated machines with many IP addresses on them, so I see a
use for this. With ifconfig it was obvious which IP was the primary, and which
were secondary, with ip, all IPs are equal.

That said, I don't understand your stated use case, filtering to only send if it
has a specific source IP has nothing to do with binding to a specific address.
It sounds like you are wanting to spoo

[2019-06-28 18:03] davidelang commented on #3728
check iptables, I've seen cases where you see the data with tcpdump, but
iptables blocks the packets before they get to rsyslog

David Lang

[2019-06-30 12:10] sradco opened #3730 "[RFE] Add an option to add a unique identifier/name for each input module"
### Expected behavior
Request to add to all input modules a unique identifier/name so it can later be used for the filtering and routing.

### Actual behavior
There is no unique why to name an input module so that the logs can be routed based on it.

[2019-06-30 13:04] rgerhards commented on #3730
Which modules are missing the Inputname?

[2019-06-30 13:38] davidelang commented on #3730
do you want to name the module, (i.e. imtcp) or the input (i.e. imtcp listening
on port 1514 vs imtcp listening on port 514)?

David Lang

[2019-07-01 04:24] Rampa33 commented on #3726
@davidelang ,
As I mentioned in the description, there is a option "LocalClientIp" in omrelp module, which does that. But in 'omfwd' module, we have "address" parameter only for UDP protocol.

[2019-07-01 06:17] pavanrangain opened #3731 "ca certificate is not set"
Getting error ca certificate is not set
could not load module '/usr/lib/rsyslog/lmnsd_gtls.so', rsyslog error -2329  [v8.37.0 try http://www.rsyslog.com/e/2068 ]

My rsyslog conf is as below

$DefaultNetstreamDriver gtls
$ActionSendStreamDriverAuthMode anon
$ActionSendStreamDriverMode 1

if $programname startswith "haproxy" then {
  @@syslog2.mydomain.com:514
}

Indeed i have not provided CA certi

[2019-07-01 06:36] rgerhards commented on #3731
No, this is not expected in regard to syslog and would be very insecure - a myriad of systems can have a matching cert. But if you do not care about man-in-the-middle attacks, you can use completely anonymous mode. Maybe your version is too old to support this. Try the current one. But it's still a bad idea IMHO.

[2019-07-01 06:36] #3731 closed

[2019-07-01 07:24] rgerhards commented on #3694
I will try to fix this without a test first. Getting testbench ready ATM, but would like to ensure the solution goes into the next scheduled release.

[2019-07-01 07:34] rgerhards commented on #3728
I am sorry, I do not understand the meaning of this issue. What does "retrieve" in this context mean?

[2019-07-01 07:35] zeising commented on #3694
Sounds good.  Just let me know if you need help with the test bench.
Regards

[2019-07-01 07:48] rgerhards commented on #3694
@zeising for sure will do; actually, I created the VM instance and am more or less ready to install. But lots of other things so I thought better do the fix now than let it slip ;-)

[2019-07-01 08:24] skupkosk commented on #3728
**Seems to be not related to HA setup.**
Just tested receive on imptcp on standalone Debian 10 and seems to be not working either.
Strace outputs from remote message processing (with same rsyslog configuration without rulesets, just imtcp/imptcp listen ports changed):
[code]
The imtcp output is much longer
###### IMTCP strace
[code]
Configuration:
rsyslog.conf
[code]
rsyslog.d/*.conf
[code]
OS inf

[2019-07-01 08:30] onyxmaster opened #3732 "Persistent journald rotation prevents rsyslog from reading some messages via imjournal"
### Expected behavior
The journald file rotation does not affect log receiving.

### Actual behavior
Occasionaly when journald rotates its persistent storage (for example due to max size being reached), the imjournal module stops receiving data from per-user unit journal (`journalctl --user`). There are no specific errors logged apart of the usual (normal) line:
[code]

### Steps to reproduce the

[2019-07-01 08:45] rgerhards commented on #3732
I would assume this is a bug in the systemd-journal library. @jvymazal  what do you think?

[2019-07-01 08:59] jvymazal commented on #3732
the sytemd/journald internals are opaque to outside world so if some logs are getting trough and others not I am afraid there is nothing I can do about it.

[2019-07-01 09:00] rgerhards commented on #3732
I interpret this as "it's a systemd issue"?  just to not mistakenly think so...

[2019-07-01 09:00] jvymazal commented on #3732
And the reloaded line should not happen after #3566 which is strange. @onyxmaster would you have debug logs from one of the occasions this happened?

[2019-07-01 09:01] jvymazal commented on #3732
@rgerhards most probably yes

[2019-07-01 09:01] rgerhards commented on #3732
@onyxmaster can you run `journalctl` in follow mode? Often it experiences exactly the same issue, and that is easier to report to the journal folks.

[2019-07-01 09:03] rgerhards commented on #3694
@zeising #3733 has a fix. would be good if you could give it a manual test.

[2019-07-01 09:08] onyxmaster commented on #3732
@rgerhards excellent suggestion, I'll leave it running on the suspect servers for some time and will report my findings later.

[2019-07-01 09:11] rgerhards commented on #3732
@onyxmaster excellent!

[2019-07-01 09:49] skupkosk commented on #3726
Seems @Rampa33 want to forward messages with configured source IP (not the primary iface address) for omfwd tcp action for further message processing.

[2019-07-01 10:16] zeising commented on #3694
I'll give it a spin, might take until tonight CEST before I have time, but I'll try to get to it asap.

[2019-07-01 11:49] skupkosk commented on #3728
Not able to test latest 8.1905 version from OBS repo as it is not built with the imptcp module.

[code]

[2019-07-01 12:00] skupkosk opened #3734 "rsyslog-imptcp package on OBS for Debian Unstable missing module"
### Expected behavior
The imptcp.so should be installed.

### Actual behavior
Only changelogs are installed with package.
[code]

### Steps to reproduce the behavior
Install package.

### Environment
- rsyslog version: 8.1905 from OBS repositories
- platform: Debian 10

[2019-07-01 14:09] skupkosk commented on #3728
It is obvious the imtcp provides different output than imptcp from attached debug logs - at least it use dnscache, while imptcp does not...

Some internal 'hooks' missing for imptcp module maybe?

[rsyslog-imptcp.log](https://github.com/rsyslog/rsyslog/files/3345958/rsyslog-imptcp.log)
[rsyslog-imtcp.log](https://github.com/rsyslog/rsyslog/files/3345959/rsyslog-imtcp.log)

[2019-07-01 16:38] rgerhards commented on #933
The root cause of this problem was most probably fixed by https://github.com/rsyslog/rsyslog/commit/62fbef7f72170ebc2211c79f1e1bf989dfcf8e9f. Unfortunately, that commit introduced a regression, which has been fixed by PR https://github.com/rsyslog/rsyslog/pull/3715.

The whole set of patches will be part of 8.1907.0.

[2019-07-02 07:09] skupkosk commented on #3728
Just discovered it is caused by the logger version used for testing.
Logger 2.25.2 is causing the message not written to files, but sending messages with logger 2.33.1 is fine.
Also sending messages with use of telnet is fine.

[2019-07-02 07:11] davidelang commented on #3728
what is different between the two versions when looking at it over the wire
(tcpdump s0 -X will give good data)

David Lang

On Tue, 2 Jul 2019, skupkosk wrote:

[2019-07-02 07:42] skupkosk commented on #3728
The old logger send old 3164 formatted message without hostname and finish the line with '00', but new logger send 5424 format with '0a' on the end.

**new logger**
[code]
**old logger**
[code]

The same message sent with tcpdump is finished by '0a' and written to file (hostname is supplemented by rsyslog).
The same is handled ok with imtcp module in both cases and all messages are processed by om

[2019-07-02 08:34] aremai commented on #3705
Hi @jchivian

yes this is intended, however only /etc/rsyslog.d/09_nxlog.conf is currently being used for my use-case at the moment.

[2019-07-02 10:21] rjw1 commented on #3686
We have also been seeing this issue. I've upgraded us to 8.1907 to see if it goes away.

[2019-07-02 10:31] rgerhards commented on #3686
@rjw1

Thanks - please let us know the result as I do not yet have any final confirmation.

[2019-07-02 14:07] rgerhards commented on #2979
Aha! I worked on this in September 2018 - have discovered the branch while preparing for updates. Now submitted as PR. That's probably why I thought it was fixed.

Anyhow, the old branch just fixes the double-space in startup messages. From the last postings, it looks like these are the prime (only?) issues. @mbiebl what do you think?

[2019-07-02 14:08] rgerhards commented on #3734
I fixed this yesterday.

[2019-07-02 14:08] #3734 closed

[2019-07-02 14:14] rgerhards commented on #3676
interesting - I overlooked this everywhere. Actually the doc is right, but the code has a typo. I'll correct it so that both names can be used.

[2019-07-02 14:30] mbiebl commented on #2979
I think I've only ever seen those double spaces in the startup message.
The debian bug report is also only about the startup message.

[2019-07-02 15:04] rgerhards commented on #2979
thx - so I assume that this forgotten branch finally fixes it and will close after merge (the bug was quite obvious if you look at the PR). If new oddities show up, let's open a new issue for them. Sorry for the confusion...

[2019-07-02 15:05] mbiebl commented on #2979
To be specific: this are the three messages where I see the double spaces
[code]

[2019-07-02 15:06] rgerhards commented on #2979
..,. what matches the PR perfectly! Thx again.

[2019-07-02 17:32] strikaco commented on #3676
Thanks @mabobr and Rainer!

[2019-07-02 17:50] sashko opened #3738 "Compilation fails with autoconf-archive 2019.01.06"
### Expected behavior

### Actual behavior

`| ../../git/src/relpclt.c: In function 'relpCltAddPermittedPeer':
| ../../git/src/relpclt.c:239:27: error: passing argument 1 of 'pThis->pEngine->dbgprint' discards 'const' qualifier from pointer target type [-Werror=discarded-qualifiers]
|   239 |  pThis->pEngine->dbgprint("librelp: CLT permitted peer added: '%s'\n", peer);
|       |

[2019-07-02 21:37] vonBork commented on #3541
Check your /etc/rsyslog.conf file. At the begining you need to add

global(processInternalMessages="on")

to your file. Later in the Rules Part add the following lines

syslog.=error                                    /var/log/rsyslog/rsyslog_error.log
&                                                       stop

Which means write every rsyslog message with loglevel error to file /var/log/rsyslog/

[2019-07-03 09:07] rjw1 commented on #3686
@rgerhards rsyslog didn't hang for us this morning. Looking at our alert history it has been mostly happening every day but sometimes it will skip a day. I will report back again tomorrow.

[2019-07-03 09:08] rgerhards commented on #3686
@rjw1 thx a lot!

[2019-07-03 14:48] RRAlex commented on #3686
Same here, nothing on a dozen+ worker nodes, seems like the july first version at least fixed it...
Cheers! :)

[2019-07-03 17:02] mabobr commented on #3666
as workaround:
1) prepare template as you describe above (using caseconversion)
2) execute the template in RainerScript with exec_template() to get uppercase string in variable to lookup with.

[2019-07-03 23:15] bby-bishopclark commented on #3024
Where's that, then?

[2019-07-04 09:10] rjw1 commented on #3686
@rgerhards all looks good again this morning. Thanks for the fix.

[2019-07-04 09:19] ganeshbms commented on #3464
Hi David, Could you please have a look at the above leak summary and comment ?
Do you need details like rsyslog config or set up ?

At high level, I'm running rsyslog server as a centralized logging server that receives logs from different services(containers in k8s environment) and writes the received log messages to different log files under unique directory path. I'm using dynafile + template f

[2019-07-04 09:30] rgerhards commented on #3464
I thought I had posted, not sure if I forgot to hit "submit". Can you please add
[code]
to your `rsyslog.conf` and re-run the valgrind test. That should give us more information on the leak location. Also, it would be great if you could let it run a bit longer as the current trace seems to show a leak, but the evidence is weak.

[2019-07-04 09:34] rgerhards commented on #3686
great! I think it is time to declare victory now. Thx everyone.

[2019-07-05 09:04] rgerhards commented on #2979
fixed via #3736

[2019-07-05 09:04] #2979 closed

[2019-07-05 09:05] rgerhards commented on #933
closing for now - pls let us know if you see the issue with 8.1907 or later.

[2019-07-05 09:05] #933 closed

[2019-07-05 09:19] #3676 closed

[2019-07-05 09:28] rgerhards commented on #3686
closing again, as it is fixed via #3715

[2019-07-05 09:28] #3686 closed

[2019-07-05 14:38] #3694 closed

[2019-07-06 06:29] davidelang commented on #3464
I'm just getting home after the 4th (I ran the fireworks show for Torrance, CA),
so since I'm sunburned and exhausted, I'm going to need a little time to come up
to speed :-). Please send the rsyslog config

omfile with dynafile is exactly the right thing for writing these out, there may
be things we want to do earlier in the process, but start with providing your
config, and what is it that is ma

[2019-07-06 08:41] rgerhards commented on #3464
@davidelang hope you had a great 4th! Re the memory leak, I think let's wait for the valgrind log. It will most probably point us somewhere. I've seen something fishy on the log above, but it's insufficient to find a cause or make sure it really is a leak. Thus I requested a better log.

[2019-07-08 04:29] AnjanMukherje opened #3741 "Is there any way Rsyslog send data on changing timestamp of input file."
### Expected behavior
rsyslog should send data on changing timestamp of input file.
Right now this is only sending data if the file contain changes . Is there any way we can get the contain of the file if the timestamp changes of input file though the contain remain same. This is require to monitor of the output of a process .
### Actual behavior
Right now rsyslog is sending the data if the data c

[2019-07-08 04:54] davidelang commented on #3741
re-writing a file (truncating a file and filling it again) is always going to be
unreliable (think about the case where rsyslog doesn't get a chance to read the
file before the writer erases the data)

imfile has several options for the heuristics for determining if a file has been
trucated and re-written, have you looked at all of those options to see if any
of them work for you?

[2019-07-08 05:04] AnjanMukherje commented on #3741
Hi David ,

I did try but none of them works well so i have chosen reopenOnTruncate as it did works well when the data is modified/updated and changed . Earlier we had an issue with modified data as it was not sending the whole data of the file right now it is sending whole data once the data contain changes . But i want it  sends data even the contain is same but file is rewritten with time new s

[2019-07-08 06:35] rgerhards commented on #3741
Note that the version in question here had severe bugs in imfile - might possibly the root cause of mentioned issues.

[2019-07-08 07:10] AnjanMukherje commented on #3741
Hi Rainer ,

We earlier used 8.24 last year we upgraded to 8.36 . But not sure if we can update this again on all the servers but can try if you are sure this will resolve the issue in latest version . I need the information if what i am expecting is the normal behavior and rsyslog  can send data of whole file if the contains remain same but the file creation time stamp modified. Like If my machin

[2019-07-08 08:06] davidelang commented on #3741
setup a test on one system with the latest version (8.1907), what you are
running is about a year old, and as Rainer says, there were a lot of
improvements to imfile during that time.

you can look at the changelog in git to see a list of what we know changed, but
with such a large refactoring, it's hard to be sure if your problem was fixed.
Someone is going to need to take the time to test your s

[2019-07-09 12:51] crackytsi commented on #1071
I've checked it with latest Release 8.1905 problem still exists.

[2019-07-10 10:57] #3622 closed

[2019-07-10 10:58] rgerhards commented on #3316
fixed in 8.1907.0 (actually default is different now on FreeBSD)

[2019-07-10 10:58] #3316 closed

[2019-07-11 06:47] skupkosk commented on #3683
[Syslog-ng](https://www.syslog-ng.com/technical-documents/doc/syslog-ng-premium-edition/7.0.10/administration-guide/24) behave exactly the proposed way.
This proves syslog-ng code is more mature in many aspects. Rsyslog might learn from the syslog-ng project. There is always something we can learn from each other and the thinking "will do it my way" is not the best - if not completely wrong.

[2019-07-11 06:59] davidelang commented on #3683
I agree we can learn from each other, but that doesn't mean that just because
someone else does things one way, that you must copy them.

That said, I can see this as being a valid option, but do not think that we want
to change the default. Should this be a per output option, or a global option?

re-establishing network connections can be significantly more expensive than
opening existing files a

[2019-07-11 07:18] davidelang commented on #3683
On Thu, 30 May 2019, skupkosk wrote:

this is why we have rebindinterval to let load balancers like LVS have a chance
of redistributing the load every so often.

David Lang

[2019-07-11 07:32] skupkosk commented on #3683
Thank you, David.
This make sense. Did not know about that option. Will test it. Seems to be the solution for this case.

From the point of view on sockets as 'files' the reopening on HUP make much more sense for me.
Rebindinterval is doing the same, but on different trigger. Maybe even better as it is balancing without the need of any interaction with rsyslog process.

Closing this issue. Reopen

[2019-07-11 07:32] #3683 closed

[2019-07-11 08:08] sigtryggr opened #3742 "Rsyslog 8.32.0 is still writing in syslog simultaneously with specified log file"
Rsyslog 8.32.0 on Ubuntu 18.04 is still writing in /var/log/syslog simultaneously with specified log file.
There's a configguration of /etc/rsyslog.d/iptables.conf:

**:msg,contains,"**dropped_ones**" /var/log/iptables_dropped.log
&stop**

By the way, there is no difference whether **&stop** or **&~** is used in configuration. Using or avoiding of space (**&stop** or **& stop**) also haven't any e

[2019-07-11 08:10] davidelang commented on #3742
please post your entire config, if this is after the write to /var/log/syslog,
this is what is expected.

it's going to depend on where the include statement is in /etc/rsyslog.conf

stop and ~ have identical meaning.

David Lang

On Thu, 11 Jul 2019, sigtryggr wrote:

[2019-07-11 08:15] sigtryggr commented on #3742
module(load="imuxsock") # provides support for local system logging
module(load="immark")  # provides --MARK-- message capability

# provides UDP syslog reception
#module(load="imudp")
#input(type="imudp" port="514")

# provides TCP syslog reception
#module(load="imtcp")
#input(type="imtcp" port="514")

# provides kernel logging support and enable non-kernel klog messages
module(load="imklog" perm

[2019-07-11 08:39] davidelang commented on #3742
Ok, you have all output in files in /etc/rsyslog.d

please post all of those files (including their filename)

note, if you were using the latest version, there is a -o option that has
rsyslogd output the config as it sees it, which makes seeing what happens very
easy.

I'm pretty sure that the problem here is just that the order isn't what you
think it is.

there were some versions (I think older

[2019-07-11 08:49] sigtryggr commented on #3742
There's a file 50-default.conf contents:

#  Default rules for rsyslog.
#
#                       For more information see rsyslog.conf(5) and /etc/rsyslog.conf

#
# First some standard log files.  Log by facility.
#
auth,authpriv.*                 /var/log/auth.log
*.*;auth,authpriv.none          -/var/log/syslog
#cron.*                         /var/log/cron.log
#daemon.*                       -/

[2019-07-11 09:06] sigtryggr commented on #3742
file iptables.conf contents:

:msg,contains,"dropped_ones" /var/log/iptables_dropped.log
&stop

[2019-07-11 09:07] sigtryggr commented on #3742
Another question - what's a meaning of such naming like 50-default.conf? Why not a simple "default.conf"?

[2019-07-11 16:39] mlh758 commented on #3712
I was doing a few things wrong.

1. I was looking at the documentation for autoconf for how to use the `--enable-<whatever>` properties. That was the wrong place. It was just `--enable-uuid=no` and so on.
2. Setting `PKG_CONFIG_PATH` instead of manually setting the varaiblesfor LIBFASTJSON_LIBS and LIBFASTJSON_CFLAGS fixed the error in make

[2019-07-11 16:39] #3712 closed

[2019-07-11 21:26] davidelang commented on #3742
On Thu, 11 Jul 2019, sigtryggr wrote:

when you read a bunch of files in, the order matters, and so by putting a number
at the beginning you can specify the order.

In this case, 50-* is before iptables-* in an alphabetical sort, so it delivers
the logs to every destination specified in 50-* and then also delivers it to
your iptables-* destination, and then throws the log away.

you need your ipta

[2019-07-12 07:43] PejeDK opened #3744 "Template and regex extraction failes when lowercase s i found"
### Expected behavior
Expeced to find the full username regarding of numbers and letters in the name.

### Actual behavior
Finds the string user=XXXX and it extract the XXXX part for the custom property.
But, if a user has lowercase s in its login name it stop the extraction.
Example: If the username is networkusr001 the username extracted would be networku

Uppercase S works fine only the lowerca

[2019-07-12 07:47] rgerhards commented on #3744
This doesn't look like a correct ERE expression to me, but I am not really fluent with them. See https://en.wikibooks.org/wiki/Regular_Expressions/POSIX-Extended_Regular_Expressions

Note: we just pass the string to the regex lib. It does whatever it does...

[2019-07-12 07:55] PejeDK commented on #3744
Within the template the \ are escaped.
Is that what you find strange looking ??

[2019-07-12 07:58] rgerhards commented on #3744
No - I do not see a description for `\s` in ERE. Did you try the regex checker at https://www.rsyslog.com/regex/ - It's not perfect, because OS libs may be different but it provides a first idea.

[2019-07-12 08:07] PejeDK commented on #3744
Gotcha.
Found it here: https://remram44.github.io/regex-cheatsheet/regex.html

Regarding the https://www.rsyslog.com/regex/, i have never received a result from the test.
Tried multiple things in different browers, i just get a empty result every time.
Have even tried 1234 lamplight PO box 9 and regex [[:digit:]] and still no result

[2019-07-12 08:09] PejeDK commented on #3744
Changed it to \buser=\b([^[:space:]]+) and it seems to work now.
I will test further but thanks for the hint

[2019-07-12 09:23] #3744 closed

[2019-07-13 01:30] woodsb02 commented on #3316
This issue was a duplicate of #3694
The commit which fixed this issue is referenced in #3694

[2019-07-13 04:36] jeevankishorem opened #3746 "rsyslog not forwarding to localhost"
### Expected behavior
I added the line
        action(type="omfwd" Target="127.0.0.1")

I expected it to work.

### Actual behavior
rsyslogd: omfwd: socket 8: error 22 sending via udp: Invalid argument [v8.34.0 try http://www.rsyslog.com/e/2354 ]
rsyslogd: omfwd/udp: socket 8: sendto() error: Invalid argument [v8.34.0 try http://www.rsyslog.com/e/2354 ]
rsyslogd: omfwd: socket 8: error 22 sending

[2019-07-13 17:43] mabobr commented on #3746
add Port="xyz" to your action() and it should work, docs says that port is not mandatory but seem to be wrong.

[2019-07-14 18:55] strikaco commented on #3666
Clever, thanks! I'll give that a try.

[2019-07-16 22:00] Fazik opened #3748 "rsyslog 8.1907.0 omfile/imudp issues"
### Expected behavior
Logs received continuesly
### Actual behavior
Rsyslog stops writing logs after some period of time
### Steps to reproduce the behavior
We have next setup:
Some app instances writing logs. These logs picked up by rsyslog on them and forwarded to "central" rsyslog instance.
There are something like 70-80 such app instances
"Central" rsyslog instances stores incoming logs as fil

[2019-07-16 22:17] Fazik commented on #3748
Sorry for slightly wrong information.
Looks like issue somewhere with imudp
As logs that are coming to 10514 and 20514 are fine

[2019-07-16 22:23] davidelang commented on #3748
see the topic "8.1905.0 Logging Stops" we thought we had it solved for 8.1907,
but there is one other report questioning this, look at that issue and see if it
matches your config, and see if you can produce a debug report

David Lang

[2019-07-17 02:55] ClydeByrdIII opened #3749 "Is there a way to wait for buffers to flush?"
### Problem
I have a systemd service that is only activated on failure of some critical service.
This unit just logs to rsyslogd via logger command and then restarts the container.
The issue is that I'm not seeing the messages in the logs.

Things I tried that didn't work:
Attempt 1:
ExecStart=/usr/bin/logger -p daemon.emerg "Failure service"
ExecStart=/bin/pkill --signal HUP rsyslogd

Attempt 2:

[2019-07-17 13:36] rgerhards commented on #3749
Are there many messages to write out? With few messages, writing should be very quickly. The janitor is irrelevant - it just does housekeeping. Files are written as soon as data is ready.

You could build the imdiag module yourself. It is a testbench tool which has the capability to query internal queue status and wait until the queues are empty.

I remember that quite a while ago we had a bug whe

[2019-07-17 16:14] ClydeByrdIII commented on #3749
Thanks for the response!

These are the only two log messages that are needed to write out at the time.

I'm not able to find much docs on imdiag, but would I have to significantly duplicate what omfile does on top of adding this "wait until queues are empty" during shutdown functionality?

I'll try to update to a later version first. It's a bit complicated because I'd need to update it for millio

[2019-07-17 17:31] Skull0ne opened #3753 "Rsyslog receiver crashes after restart while clients are still forwarding logs"
Hi

I have an issue since I upgraded rsyslog to version 8.1907.0
[code]

So the thing is I have more than 50 clients forwarding their logs to my rsyslog receiver and this receiver has been patched&rebooted at the end. When it started, I could see those error messages in the syslog :

[code]

A short time after rsyslog started (1 to 10min), rsyslog just stopped logging on the receiver (no new log i

[2019-07-18 01:00] mdreed234 commented on #3645
I don't know if it's related or not, but I've got 24316 imfile-state files in /var/lib/rsyslog.  It appears there are multiple imfile-state files for the same actual file.  I'm happy to submit a new bug if that's the right course of action.

For example:
imfile-state:69572949:{ "filename": "\/var\/log\/xxx\/mesos-slave.log", "prev_was_nl": 0, "curr_offs": 540135, "strt_offs": 540135 }
imfile-state

[2019-07-18 07:46] ClydeByrdIII commented on #3749
Installed the latest in a single container. Seems like it still failed to flush :( Guess I'll just have to go  with the hacky sleep/restart rsyslog solution.

[2019-07-18 07:46] #3749 closed

[2019-07-18 07:49] rgerhards commented on #3749
It might be that the message arrives after rsyslog shutdown. Could you create a debug log so that I can see what exactly happens? If there is still interest, of course...

[2019-07-18 11:00] spiritmonger commented on #3645
i see this too... version v8.1904

[2019-07-18 11:26] lhycz commented on #3645
Yes, this seems related - I had the same problem and while debugging found this issue and issue #3646 :)

[2019-07-18 17:24] jjasen-nccs opened #3756 "rsyslog 8.1907 hangs on multiple inputs/outputs. Does not happen with 8.1904."
### Expected behavior
rsyslogd continues to receive and process forwarded syslog events
### Actual behavior
rsyslogd hangs after an hour or 90 minutes

### Steps to reproduce the behavior

install rsyslogd 8.1905 or 8.1907

### Environment
- rsyslog version: 8.1905/8.1907
- platform: CentOS7

See issue: #3686. This appears to be the same thing.

[2019-07-18 18:18] rgerhards commented on #3756
Can you provide a debug log of this happening?

[2019-07-18 19:19] jjasen-nccs commented on #3756
We can’t readily on our active production node.

I will see if we can concoct a test case on our backup.

From: Rainer Gerhards <notifications@github.com>
Sent: Thursday, July 18, 2019 2:19 PM
To: rsyslog/rsyslog <rsyslog@noreply.github.com>
Cc: Jasen, John E. (GSFC-606.2)[InuTeq, LLC] <john.e.jasen@nasa.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [rsyslog/rsyslog] rsyslog 8.1

[2019-07-18 20:57] davidelang commented on #3756
Also, can you post your config?

As I understand the prior problem, it happened when there were multiple actions
writing to the same file. One way around this is to define the action to write
to the file to be in a ruleset, and then call that ruleset from multiple places
(I don't know for sure that this avoids the locking problem, but it should)

David Lang

[2019-07-19 07:14] rgerhards commented on #3753
Can you help gather some debugging information? So far, we have no idea what could be the cause of this issue and so we need help from someone who experiences it.

For starters, a debug log would be good to get us up to speed.

[2019-07-19 07:21] rgerhards commented on #3756
no, the previous problem was that during HUP a cache status variable was not properly de-initialized.

This problem is definitely fixed. So if we still have an abort, it is a new issue. An issue that I have absolutely no idea about at this time. So in order to go forward, we need help in reproducing and/or gathering diagnostic data. The last issue dangled for  quite a while until a user cooperated

[2019-07-19 08:56] joy-m opened #3757 "rsyslogd 8.1907.0 omkafka: action will suspended due to kafka error -195: Local: Broker transport failure"
### Expected behavior

localhost kafka broker is ok, i can write msg to kafka topic ,but when run rsyslog, the error occur omkafka: action will suspended due to kafka error -195: Local: Broker transport failure

### Actual behavior
config kafka_test.conf and /etc/rsyslog.conf below

### Steps to reproduce the behavior
kafka_test.conf
[code]
[code]

![image](https://user-images.githubusercontent.co

[2019-07-19 08:59] rgerhards commented on #3757
which rsyslog version? In general, these errors are reported by tha kafka library. We cannot do anything against them. But your version may be too old.

[2019-07-19 09:02] joy-m commented on #3757
rsyslog version:
![image](https://user-images.githubusercontent.com/24708088/61523450-fa94d000-aa46-11e9-9ddf-9f6a0887486a.png)

[2019-07-19 09:03] rgerhards commented on #3757
mhh... than the kafka support library (`librdkafka`) sees this error and reports it. Unfortunately nothing we can do at the rsyslog side.

[2019-07-19 14:20] jvymazal opened #3758 "imfile state file problem reoccurred"
### Expected behavior
1100000 messages delivered
### Actual behavior
less then 1100000 messages delivered  - usually 1099900 (first 100 from one file missing); also the reproducer is not really reliable, I usually need around 10 runs before it fails.

This is connected to #3465  and #3468 as there are `imfile: internal error? inotify provided watch descriptor -1 which we could not find in our tabl

[2019-07-19 14:56] jvymazal commented on #3758
One more note, the error messages are reproduced reliably, but on majority of tries all messages are delivered despite them

[2019-07-22 10:46] Rampa33 opened #3759 "support reload for rsyslogd"
Today the /etc/init.d/rsyslog reload does not work. Can we have a provision to reload after updating rsyslog.conf file, so that existing TCP based connections are not disturbed.

[2019-07-22 11:10] davidelang commented on #3759
No, the way that rsyslog handles it's config includes loading new code as part
of that config (among other problems). It would be a very large task to make it
so that the config could be recompiled and loaded into a running instance.

David Lang

[2019-07-22 11:16] Rampa33 commented on #3759
Thanks @davidelang for your reply. So if we are doing any changes like adding new remote servers, the idea is to just bear with disconnects and reconnects?

[2019-07-22 14:06] Skull0ne commented on #3753
I don't have the full log but here is a good part : https://gist.github.com/Skull0ne/4c1998da4c3f0a678714b8455c43a2df

I started rsyslog with "rsyslogd -dn" and it crashed after few minutes.
Also I won't be able to debug it from now because I had to downgrade rsyslog version (this bug generated network issue on clients).

[2019-07-22 14:13] malsumis commented on #3552
Hey, any update on this issue?

[2019-07-22 14:17] ganeshbms commented on #3464
@rgerhards I will run test again and post leak summary ...
@davidelang I have pasted the rsyslog configuration .. Please have a look ..
[rsyslog_to_david.txt](https://github.com/rsyslog/rsyslog/files/3417822/rsyslog_to_david.txt)

Thanks,
Ganesh

[2019-07-22 16:41] atc0005 opened #3760 "Nagios port probes against imrelp port with rsyslog versions newer than 8.1904 timeout"
### Expected behavior

rsyslog versions newer than 8.1904 continue to respond to Nagios port probes on imrelp port

### Actual behavior

- rsyslog 8.1904
  - tcp port probes against the imrelp port are processed normally by Nagios
    - are noted by rsyslog as `imrelp[2514]: error 'server closed relp session, session broken'`
- rsyslog > 8.1904
  - Nagios generates notifications that connections a

[2019-07-22 16:50] atc0005 commented on #3760
Potentially related to #3756 ?

[2019-07-22 17:21] atc0005 commented on #3760
I plan to take our existing rsyslog configuration for our test system (which uses the nightly builds) and deploy to a test system until we can find a minimal configuration that successfully replicates the issue. It may be a few days (or longer) before I can get this done and report back.

[2019-07-22 18:06] atc0005 opened #3761 "'rsyslogd -o' option produces config file with missing space between "call" and ruleset name"
### Expected behavior

Generated config file with space between `call` and ruleset name

### Actual behavior

Config file with entries like this one (note the lack of a space):

[code]

### Steps to reproduce the behavior

`rsyslogd -f /etc/rsyslog.conf -N3 -o rsyslog-combined-config.conf` when using configuration that includes multiple `call` statements

### Environment
- rsyslog version: `8.1908

[2019-07-22 18:13] atc0005 commented on #3761
FWIW, I also saw this stray line in the file as I was cleaning it up for use with #3760:

[code]

[2019-07-22 18:34] atc0005 commented on #3761
Found it another 10 or so times.

[2019-07-22 18:49] davidelang commented on #3759
On Mon, 22 Jul 2019, Rampa33 wrote:

Yes, if you change anything in the rsyslog.conf you need to do a full shutdown
and startup. There is talk about being able to do some minor changes without
having to do a restart, but it's still in very early discussion stages.

David Lang

[2019-07-22 23:20] mdreed234 commented on #3645
I built the supplied patch-issue-3465.txt patch into v8.1907 and tested.  (I did not patch anything but imfile.c.)  System is still accumulating imfile-state files for the associated log files. This appears to happen when kafka rotates its logs.

/var/log/xxx/yyy/kafka/controller.log            /var/lib/rsyslog/imfile-state:100:714e516edad39881
/var/log/xxx/yyy/kafka/controller.log            /var

[2019-07-23 06:58] rgerhards commented on #3760
Pls keep up the debugging effort, much appreciated. The interesting thing is that imrelp has not been changed in 8.1905 and later (no change since 5 month back from now). Did you also updated librelp or some other settings?

I'll also try to replicate this via netcat an the imrelp port. If I find something, I'll let you know.

[2019-07-23 08:02] rgerhards commented on #3760
I tried with netcat, but the behavior was the same for both versions. Could you provide what nagios does on the wire so that I can try to reproduce that?

[2019-07-23 08:09] rgerhards commented on #3645
I need to check this in-depth. We have a requirement by quite a number of users to be able to detect that a file

* moved outside a monitored location for
* keept outside for a while
* moved back to the monitored location

is re-detected and not treated as a new file. So we need to keep state files for "quite a while". I am right now not sure if we have a cleanup process or if what you see is an i

[2019-07-23 12:24] atc0005 commented on #3760
Thanks for your feedback.

Lots of config changes in the last few months, but mostly refactoring to allow for easier additions to the alerts that we have rsyslog generate, not necessarily to the rulesets bound to the inputs. That said, there is a different ruleset bound to the imrelp port than the other two (standard syslog) use and I'll make sure to review our SVN repo to see what changes may hav

[2019-07-23 13:31] atc0005 commented on #3760
FWIW: I reviewed our SVN log and modified files list and I didn't spot any changes to the ruleset bound to the the imrelp port.

---

We have a test Ubuntu 16.04 VM spun up using the `adiscon/v8-devel` repo and have our Nagios instance monitoring it alongside the testbox where we originally noted the issue described in this GitHub issue. At this point we're waiting for the problem to reoccur befor

[2019-07-23 14:38] mdreed234 commented on #3645
My test system is idle.  After16 hours there are roughly 16 "extra" imfile-state files.  The files being rotated are created by kafka logging.  Kafka is idle.  The content of the log files doesn't generally get changed prior to its next hourly rotation.  Let me know if you need anything or want to try something.

Here's the content of the 8 imfile-state files associated with the "server.log" log f

[2019-07-23 14:55] jjasen-nccs commented on #3756
apologies for what copy and paste did to the rsyslogd -o output

## full conf created by rsyslog version 8.1907.0 at 2019-07-23 10:45:06 ##

##### BEGIN CONFIG: /etc/rsyslog.conf
# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

$ModLoad impstats
$PStatInterval 300
$PStatSeverity

[2019-07-23 14:55] jjasen-nccs commented on #3756
[rsyslog.conf.txt](https://github.com/rsyslog/rsyslog/files/3422659/rsyslog.conf.txt)

That may work better.

[2019-07-23 19:37] atc0005 commented on #3760
It finally did around 9 am today, which is approximately 3 hours after morning log rotation and reload of the JSON IP/Name mapping file that we use.

[2019-07-23 22:59] atc0005 commented on #3760
Just installed the `8.1908.0~20190723150537-0adiscon1xenial` packages on both of our test boxes, which forced a restart of rsyslog. This in turn "resolved" the Nagios service check and it's probing the port with successful results once more.

I'm going to wait and see if the problem reoccurs at the same time tomorrow morning, then start back paring down the config file.

For our original test box,

[2019-07-24 04:04] atc0005 commented on #3760
Sure enough, about 3 hours later the second test box began failing Nagios port probes on the imrelp port. Going to look more into this later.

[2019-07-24 14:35] atc0005 commented on #3760
Quick summary:

- the original test box (sawmill3) had `/etc/init.d/rsyslog rotate` run around 6 pm yesterday, Nagios threw a timeout alert for its port probes around 9 pm yesterday
- the second test box (rsyslog-ticket-111747) had the rsyslog packages updated around 6 pm yesterday which forced a restart and cleared the WARNING status. Around 9 am today (about 3 hours after the HUP signal) Nagios

[2019-07-24 14:44] atc0005 commented on #3760
Checking through Nagios alerts on our end, it appears that the first alert came in on Fri Jun 28 09:17:38 CDT 2019. Presumably the rsyslog build around that time frame is responsible?

[2019-07-24 14:50] atc0005 commented on #3760
Closest entries found from the APT history log:

[code]

Automatic upgrade from `20190517101745` to `20190626150532`

[2019-07-24 15:00] atc0005 commented on #3760
I looked further and found that the process lines up like so:

1. `8.1907.0~20190626150532-0adiscon1xenial` packages were generated
1. sawmill3 automatically updated itself at 6:34 am on June 27th, which is *after* logs were rotated and the HUP signal used
1. The logs were next rotated and the HUP signal used on June 28th around 6:25 am
1. Nagios generated a notification on 2019-06-28 at 09:17:38

[2019-07-25 08:57] Karl90 opened #3765 "Rsyslog - imkafka: consumers iddle"
Dear Rsyslog Team,

First of all, I want you to thank you by developing such great software,
it is robust, scalable and flexible which let us meet our goals.

I'd like to let you know that we've discovered an undesired behaviour - it is present on the kafka module for consumption (omkafka)

I have 8 instances of rsyslog running, consuming from certain Kafka topic with the same consumer group (this

[2019-07-25 10:03] rgerhards commented on #3765
@alorbach is that an issue in rsyslog code or in librdkafka?

[2019-07-25 19:27] atc0005 commented on #3760
- https://stackoverflow.com/questions/10866195/stack-vs-heap-allocation-of-structs-in-go-and-how-they-relate-to-garbage-collec
  - https://stackoverflow.com/a/10866871/903870 (see this one in particular)
- https://segment.com/blog/allocation-efficiency-in-high-performance-go-services/

[2019-07-25 22:58] atc0005 commented on #3760
Quick update:

Still paring down the config file, hope to have something to provide next week. Since we have to wait 3 hours after each change to confirm that the problem remains it's been a little slow going.

[2019-07-25 23:25] davidelang commented on #3760
appreciate your persistence in tracking this down. Testing is extremely
valuable.

[2019-07-26 03:28] joy-m commented on #3757
I guess if i intalled rsyslog and rsyslog-kafka error!

when i installed rsyslog like below the error occur !
[code]

I reinstalled rsyslog and omkafka from Source, the error not eccur! And  i can use rsyslog write logs to kafka.

[2019-07-26 03:28] #3757 closed

[2019-07-26 06:55] y123456yz opened #3766 "rsyslog coredump,"
root@fd-mongos-p00.ys:/home/yyz/rsyslog-master$ /usr/sbin/rsyslogd -n
*** Error in `/usr/sbin/rsyslogd': free(): invalid pointer: 0x00007f05e9a18c71 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7cfe1)[0x7f05e7592fe1]
/lib64/libjansson.so.4(json_delete+0x41)[0x7f05e6685911]
/lib64/libjansson.so.4(json_delete+0x85)[0x7f05e6685955]
/lib64/libnss_sven.so.2(+0x11ea)[0x7f05e688b1ea]
/lib64/libns

[2019-07-26 06:58] rgerhards commented on #3766
Please upgrade to rsyslog current. This is a very outdated version. Else please contact your distro support.

[2019-07-26 06:58] #3766 closed

[2019-07-26 07:03] rgerhards commented on #3760
Thx for the info. From what I see, it looks like it still is related somehow to HUP. For me it would be most useful to get a stacktrace of such a stuck instance (with symbols installed).

If I am right, the config file is actually quite irrelevant. It may replicate with any config that writes files, but the timing of incoming traffic and HUP is what triggers it. That was what I fixed last time. I

[2019-07-26 07:22] Karl90 commented on #3765
Hi,

librrdkafka does supports balanced consumer groups:

https://github.com/edenhill/librdkafka/wiki/FAQ
https://github.com/edenhill/librdkafka/issues/601#issuecomment-208354621

Please, can you take a look on rsyslog side?

Thanks in advance!

regards,

karl.

[2019-07-26 08:27] Finn38 opened #3767 "No log files received using wildcard in new format with rsyslog 8.24.0"
Hello,

I'm currently working on a rsyslog project, and experiencing some issues for quite a long time.

My goal is :

- Send over network specific logs (generated by a home-made application) from a client to a rsyslog server (that will centralize logs)
- Log files are initially created like this : monlog_yymmdd.log (so today : monlog_190726.log)
- To keep the same initial name at the remote end i

[2019-07-26 09:07] davidelang commented on #3767
log with the template RSYSLOG_DebugFormat to see exactly what variables have
what contents.

you are on the right track, but I think that what you are forwarding is not a
valid syslog message (write it to a file so you can see what you would send over
the wire)

David Lang

  On Fri, 26 Jul 2019, Finn38 wrote:

[2019-07-26 09:38] alorbach commented on #3765
Could be a configuration issue.
Can you post minimal configuration sets (with 2 rsyslgo configurations) needed to reproduce the problem? Also including a minimal kafka zookeeper configuration.

[2019-07-26 10:19] rgerhards commented on #3767
I don't see where you use `$.suffix` - is there part of the config missing?

Also not that 8.24 is pretty old and has quite some known bugs in imfile code, especially in regard to wildcards.

[2019-07-26 12:14] Finn38 commented on #3767
Thanks for your reply.

Indeed, I sure have to fix several things, not just one.
@davidelang
If I add the RSYSLOG_DebugFormat template at the end of the config, the results in /var/log/debugfmt doesn't show my "monlog_" tag... but it has to, right ?
However, in /var/lib/rsyslog/ : the state file "imfile-state:xx" are present and reference my different "/home/trs/log/monlog_yymmdd.log" files.

@rge

[2019-07-26 16:16] atc0005 commented on #3760
Here is the config as it currently stands:

<details>
<summary>
Show details
</summary>

[code]

</details>

I originally tried to get that setup with an 18.04 box, but had issues with the packages. I'll try again since the rsyslog-ticket-111747 (internal ticket ref) is an Ubuntu 16.04 box and I think you guys specifically built debug packages for that Ubuntu release.

Do you have the directions f

[2019-07-26 16:42] atc0005 commented on #3760
I think I found the answer:

https://www.rsyslog.com/doc/master/troubleshooting/debug.html#signals-supported

With the debugging symbols installed, the debug log itself (looks like I can turn it on via the "on demand" USR1 signal) will likely have what you're looking for.

I'll wait until the situation reoccurs and will try to capture relevant snippets then.

[2019-07-26 19:14] Karl90 commented on #3765
Hi,

Sure, this is the configuration used by the rsyslog instances for imkafka:

input(
        type="imkafka"
        topic="proxy-uat"
        broker=["kafka-cluster-broker:9093"]
        confParam=["security.protocol=SASL_SSL", "sasl.mechanisms=PLAIN", "sasl.username=<UserName>", "sasl.password=<Password>"]
        consumergroup="rsyslog-subscribed-cg"
        ruleset="subscribed_eh_messages"
)

[2019-07-26 19:15] Karl90 commented on #3765
I also update the title, since this affects to the message consumption - the module imkafka, not the output one.

[2019-07-26 19:34] atc0005 commented on #3760
It has. I ran `kill -USR1 $(cat /var/run/rsyslogd.pid)` and toggled debugging on, then off then back on again. I was initially concerned that the log would quickly grow out of control, but I left it on and only a small bit of log samples were recorded in the brief time I kept it enabled.

<details>
<summary>
Show details
</summary>

[code]
</details>

Please let me know how much log data you'd lik

[2019-07-26 23:06] atc0005 commented on #3760
I went ahead and set debug mode 2 to capture from the point of startup and left it running until Nagios generated another timeout alert around 3 hours later. Thankfully the log file appears to be only a few MB, so I may be able review it and post soon.

What is the best way to provide it, a private GitHub repo, email or something else?

[2019-07-27 04:45] davidelang opened #3768 "imfile enhancement request, delete file after completion"
imfile is primarily designed for the simultaneous read-write situation where one program is writing to the file while rsyslog is reading from it.

But a second common case is where the file is complete when it arrives (written to a temp filename and then renamed to the filename that rsyslog will read), and in this case it would be very useful to have rsyslog remove the file when all of it's conten

[2019-07-27 05:08] davidelang opened #3769 "request for ims3"
request that there be a fork/enhancement of imfile to read files from S3 buckets.

This is very similar to imfile, except instead of filesystem syscalls to read the data, you have to fetch it via http(s)

There is a inotify like mechanism available, you can setup a SQS queue to notify you of changes in a bucket. Since this will not notify you of files that are created when you are not connected, t

[2019-07-27 05:12] davidelang commented on #3769
buckets in different availability zones should be fetched with different URLs

There is a sign-in process needed and the ability to specify an account to use (ideally secrets should not be in rsyslog.conf)

[2019-07-27 17:58] heroin-moose commented on #3756
I tend to have a similar problem. I have a few dynaFile rules and  rsyslog tends to stuck on futex loop (with constant ETIMEDOUT) after a while (sometimes just after the service start).

[2019-07-29 07:02] rgerhards commented on #3756
@heroin-moose can you help debug this? At least a stack trace of such an instance would be great, as also would be a debug log.

[2019-07-29 07:22] heroin-moose commented on #3756
@rgerhards, I'll do my best. If you already suspect some part of the code, please tell me and I'll look into it during the lockup.

[2019-07-29 08:15] rgerhards commented on #3756
@heroin-moose actually, I have no idea - this is why without users helping with debugging, we will never solve it. The last time we had such an issue a stack trace of the hanging instance was very useful. I mean by attaching gdb to the still-running instance and getting a backtrace of all stacks. Symbols are vital to make sense out of it, though.

[2019-07-29 08:27] rgerhards commented on #3760
sry for the delay. If you like, you can email it to me. A github gist may also work. I would post relevant parts as part of my analysis.

[2019-07-29 08:28] rgerhards commented on #3756
instructions for gdb in case it is useful: https://www.rsyslog.com/doc/v8-stable/troubleshooting/troubleshoot.html

[2019-07-29 08:29] rgerhards commented on #3760
As a side-note: for these kinds of problems, a gdb stacktrace of a hanging instance is probably the most useful debug aid. But we need to have symbols installed. See here:

https://www.rsyslog.com/doc/v8-stable/troubleshooting/troubleshoot.html

It's given under "segmentation faults", but as I said it applies here as well.

[2019-07-29 08:29] heroin-moose commented on #3756
@rgerhards, sure thing I'll get the trace.

[2019-07-29 08:33] heroin-moose commented on #3756
@rgerhards,

[code]

This is 8.1907.

[2019-07-29 08:40] heroin-moose commented on #3756
@rgerhards, actually, I can just privately mail you  a core dump.

[2019-07-29 09:03] rgerhards commented on #3756
@heroin-moose thanks for the coredump. It unfortunately is just a single thread. Can you do a
[code]
instead?

On core dumps: my experience with mailed core dumps is unfortunately not too good - usually I cannot sufficiently close reproduce the state of kernel and installed libs. On the other hand, I hardly ever need more than the full backtrace.

[2019-07-29 09:05] rgerhards commented on #3756
overlooked this question: I need all threads. The single one already indicates a mutex deadlock. All threads are needed to help find the cause. It's not a guarantee I'll find it from all bt's, but chances are good.

[2019-07-29 09:06] rgerhards commented on #3756
I see you edited the post. The `thread apply all bt full` (one command) output would be best, as it also includes most calling parameters. It's also less work for you. :-)

[2019-07-29 09:13] heroin-moose commented on #3756
@rgerhards, that would require some private mailing as thread names contain some info that I would not like to share on public Internetz (company business, that sort of things). Where should I mail?

[2019-07-29 09:42] rgerhards commented on #3756
rgerhards@adiscon.com

Sent from phone, thus brief.

Consus <notifications@github.com> schrieb am Mo., 29. Juli 2019, 11:13:

[2019-07-29 09:51] heroin-moose commented on #3756
@rgerhards, mailed.

[2019-07-29 10:58] rgerhards commented on #3756
@heroin-moose thx - you really do have a loooot of threads running. Analysis will take a bit.

[2019-07-29 11:01] rgerhards commented on #3756
@heroin-moose I don't have the config, but question from what I see: do you really need these async writers? Do they do more than just writing plain log files (e.g. writing zipped ones)? If not, you could remove them. That would probably increase performance.

[2019-07-29 11:03] filippog opened #3770 "rsyslog 8.1901.0 stuck on recvfrom with imtcp and gnutls"
### Expected behavior
rsyslog TLS listener keeps accepting connections and processing traffic

### Actual behavior
rsyslog receiver gets stuck in a `recvfrom` loop similar to what's described in #318

### Steps to reproduce the behavior
Unclear, although anecdotally related to sender hosts or going down. See also task https://phabricator.wikimedia.org/T199406 for more information/context

### Envi

[2019-07-29 11:11] rgerhards commented on #3756
@heroin-moose first quick review doesn't show any obvious hints. Just so that I already asked: are you on Ubuntu so that you could use the daily stable builds? If so, I could add instrumentation if required (**not** yet saying I'll actually need it).

[2019-07-29 11:19] rgerhards commented on #3756
@heroin-moose any chance you could run rsyslog under valgrind control? That makes only sense if the problem occurs quickly, else the overhead is too large.

[2019-07-29 11:22] rgerhards commented on #3756
@heroin-moose possibly the last question for now - can you share your config (e.g. via mail)? I think I need some more insight to find potential trouble spots.

[2019-07-29 12:36] StrongestNumber9 opened #3771 "Imfile advances offset when output is blocked and rsyslog is restarted"
### Expected behavior
Offset will be updated only when output is handled successfully. Would rather duplicate events than lose anything.

### Actual behavior
Offset is updated even if output is not handled, so events get lost if rsyslog gets signaled to restart.

[code]

### Steps to reproduce the behavior
Simply write data to logs, then block output, write more data, then restart rsyslog.

This w

[2019-07-29 13:34] TomHetmer opened #3772 "rsyslog failing with SEGV with dynafile + buffers"
### Expected behavior

### Actual behavior
[code]

or the same without the high activity message.
it will happen about every few minutes.
strace: http://dpaste.com/0AGK4FT

### Steps to reproduce the behavior

### Environment
- rsyslog version: rsyslogd  8.1907.0 (aka 2019.07)
- platform: Debian 10
- for configuration questions/issues, include rsyslog.conf and included config files

[code]

there

[2019-07-29 13:47] rgerhards commented on #3772
Very interesting. Can you get me a stack trace of such an abort?

[2019-07-29 15:01] TomHetmer commented on #3772
It will run under valgrind with no issue for 1 hour. When I run it directly it crashes almost instantly. Any idea? How do i get a stack trace?

[2019-07-29 16:23] rgerhards commented on #3772
OK - so this seems to be timing-related. These often show not up under valgrind. For the stack trace, please see https://www.rsyslog.com/doc/v8-stable/troubleshooting/troubleshoot.html and scroll down to "Segmentation Faults".

[2019-07-29 16:51] davidelang commented on #3771
please enable impstats on your system

what I suspect is happening is that rsyslog is reading from the file and adding
to the queue successfully (that is as far as imfile can see), and then when you
restart rsyslog it's loosing the in-memory queue. you would have to enable a
disk assisted queue and configure it to save on shutdown (and make sure your
system timeouts give it enough time to save the

[2019-07-29 17:51] Karl90 commented on #3765
Dear Team,

Could you verify the issue described?

Regards,

Karl

[2019-07-29 18:10] heroin-moose commented on #3756
@rgerhards, without async there is constant queue overflow, as there are a LOT of logs (we are talking 200-300G per hour). Unfortunately, the log server is too slow and CPUs are far from best in class.

As for config... Right now I'm dealing with a legacy bloat so I'll try to make a more compact version. The issue will still be reproducible but number of threads will be much lower.

[2019-07-29 18:30] atc0005 commented on #3760
Sent by email with a reference back to this ticket.

I'll give that a try later today. Thanks for the starting point.

[2019-07-29 18:38] atc0005 commented on #3760
I took a quick glance and saw that the directions were easy enough to follow, so I went ahead and completed the process and sent that output as well.

Please let me know if you need further info (e.g., if I performed the steps incorrectly, etc).

[2019-07-29 21:02] jjasen-nccs commented on #3756
Ours is also CentOS7. We're not pushing as much as heroin-mosse -- at about 520M events/day, consuming ~75GB.

Of note, when we try to replicate this with debugging:
a) imptcp goes unresponsive. The load generators either hang or get "Send error Connection reset by peer, results may be skewed."

b) we also see: 38>2019-07-29T12:46:tail: /var/local/log/rsyslog_debug/rsyslog_debug.log: file truncate

[2019-07-29 21:19] rgerhards commented on #3756
Has it been restarted by systemd? If you can reproduce, can you provide a debug log?

[2019-07-29 21:46] davidelang commented on #3756
On Mon, 29 Jul 2019, Consus wrote:

it actually takes substantially more cpu to do async writing (a lot of time is
wasted on locking/unlocking the second queue). Async writing is only useful if
there is expensive compression going on.

if you don't already have impstats enabled, you should do so. One common problem
people have is a large enough dynafilesize setting, so you spend a lot of cpu
openi

[2019-07-29 21:47] heroin-moose commented on #3756
@rgerhards,  okay, reproduced with a smaller config. Check your inbox!

[2019-07-29 21:49] heroin-moose commented on #3756
@davidelang, actually, I was aiming to reduce open/close actions so I have to make cache size kinda large (64 per action, but this is likely overkill, 16 or 32 will be better).

I have impstats enabled, and without async writing most of the time my queue is getting full very-very fast.

[2019-07-29 21:52] davidelang commented on #3756
On Mon, 29 Jul 2019, Consus wrote:

it costs very little to have the cache too large, but it costs a huge amount to
have it even slightly too small. how many files are you generally writing? make
it noticably larger than that amount.

can you share your config with me? david@lang.hm

David Lang

[2019-07-29 21:56] heroin-moose commented on #3756
@rgerhards, FYI: it locks-up very fast with cache size = 16, but works slightly better with cache size = 64.

[2019-07-29 21:58] heroin-moose commented on #3756
@davidelang, usually from 10 to 16 files are heavy loaded at one moment, so 64 is a safe value here. No offence, but I would rather wait for @rgerhards before sharing.

[2019-07-29 23:41] davidelang commented on #3756
ok, it's not just the number of files that are heavily loaded, it's how many
files you have open at once. Once that passes the threshold of your cache size,
every write to a new file requires that you close the old file and open a new
one.

so any non-trival number of evictions showing up in your pmstats output is a
problem and you should increase the cache size until it no longer happens. Each
en

[2019-07-29 23:45] davidelang commented on #3756
if it's locking up on an overloaded dynfile cache on a very busy server, I would
bet that you are busy enough to have multiple worker threads running. If that's
correct, that is a very plausable point to have things lock up

David Lang

[2019-07-30 06:45] rgerhards commented on #3760
Thx for the debug log. For some reason it shows no activity at all on the RELP port.  It looks like HUP terminated imrelp. That's very strange, I'll try to see if I can reproduce this somehow.

[2019-07-30 06:49] StrongestNumber9 commented on #3771
Added impstats. Using jsonmesg template and few more rounds compared to the reproduce-short.sh

[code]

[2019-07-30 08:14] rgerhards commented on #3760
Thx again for the info. I think I found the culprit: it's a patch meant to enhance cross-platform functionality 1c8712415b9bf736ac8158851bae7c4f737d44b3. It looks like it triggers small non-known dependencies in the module interface. Working on it. I have deployed a very basic patch to revert it and @friedl will provide a set of updated packages to try that out. I'll let you know when they are rea

[2019-07-30 08:16] rgerhards commented on #3756
The problem may have the same cause as https://github.com/rsyslog/rsyslog/issues/3760.

I think I found the culprit: it's a patch meant to enhance cross-platform functionality 1c87124. It looks like it triggers small non-known dependencies in the module interface. Working on it. I have deployed a very basic patch to revert it and @friedl will provide a set of updated packages to try that out. I'll

[2019-07-30 08:56] jfwvv opened #3776 "imrelp stops receiving messages after rsyslogd receives sigHUP (i.e. logrotate)"
### Expected behavior

rsyslogd with an imrelp listener should keep on listening after a sigHUP is received. (Normally sent by logrotate.)

### Actual behavior

rsyslogd with an imrelp listener stops listening after receiving a sigHUP

### Steps to reproduce the behavior

Setup test environment:
[code]

Start the relp server:
[code]
Wait for this (the server) rsyslogd to be fully started:
[code]

[2019-07-30 10:10] friedl commented on #3760
The new packages are built and released for Ubuntu and CentOS, each in the v8-stable repository.

@atc0005 I believe you are currently on the devel branch, so you will need to switch to v8-stable for testing the fix. I assume Rainer will push this back to the repository once confirmed or properly fixed, so the daily builds on the devel branch will get the fix then.

[2019-07-30 10:12] friedl commented on #3756
The new packages are built and released for Ubuntu and CentOS, each in the v8-stable repository.

[2019-07-30 10:14] rgerhards commented on #3760
yes - unfortunately the current "fix" is experimental and breaks other things. So I do not want to move it to the daily stable. However, I am working on a side-activity on a final fix. But would first love to see that I have properly identified the root cause.

[2019-07-30 10:24] rgerhards commented on #3776
Thx for the great bug report - I wish I had gotten it a couple of days ago ;-). Now it is a duplicate of #3760 - pls subscribe there.

[2019-07-30 10:24] #3776 closed

[2019-07-30 12:59] atc0005 commented on #3760
@rgerhards, @friedl

Sorry if I'm misunderstanding this, but are you saying that the `adiscon/v8-stable` repo contains a test fix not suitable for production use?

We have some boxes which are now reporting rsyslog updates as available that were scheduled to have all available updates installed as part of this morning's maintenance work.

It looks like `8.1907.0-0adiscon1xenial1` will be replaced

[2019-07-30 13:12] rgerhards commented on #3760
Thx fix undos some changes for BSD - so the Adiscon repositories are still safe to use. I didn't want to re-introduce the problems on BSD and probably some Solaris - which now also would have caused CI failure.

As a side-note, the rsyslog project now primarily provides packages via Suse OBS. But as there are some issues with them, Adiscon still provides the old repositories.

[2019-07-30 13:16] atc0005 commented on #3760
Acknowledged. In that case, we'll proceed with installing the updated packages on our Ubuntu systems.

Which would you consider more stable for production systems?

We have some boxes (e.g., sawmill3) which we use in an attempt to catch new issues with interim/daily releases ahead of upgrading production boxes; would you still consider the `adiscon/v8-devel`  repo to be the best way to preview tho

[2019-07-30 13:20] rgerhards commented on #3760
let me phrase it that way: we will move to OBS. The Adiscon repos will go away some time in the future. If nobody uses the OBS repos by that time (and nobody helps with building them), issues there will not be found before there is no way back.  Right now, The Adiscon repos are more stable.

That is an excellent approach. It will also usually bring you the real fix very fast. I expect that I can u

[2019-07-30 13:54] spiritmonger commented on #3645
imfile log:
[code]

[code]

[code]

[code]

[2019-07-30 14:15] rgerhards commented on #3645
The key point to understand is that rsyslog needs to keep old state files, even for quite a while. This is because we have the requirement that old log files are moved back to the monitored location.

That said, I still need to look if anything is wrong in detail.

[2019-07-30 14:22] davidelang commented on #3645
rsyslog tries really hard to provide mechanisms and not dictate policy (leaving
that up to the sysadmin)

In this case, due to the desire from many people to not re-read files if they
get moved away and come back (and/or get renamed), we don't remove state files
automatically.

it's probably a useful enahancement request to be able to set a flag to remove
the state files when the files can no long

[2019-07-30 14:25] davidelang opened #3777 "add an option to delete state files when the log is no longer available"
possibly with some delay (if the file the state file points at hasn't been available for X time, delete the state file) which may require adding a field to the state file to record when the file was first found to be unavailable.

[2019-07-30 14:26] davidelang commented on #3645
enhancement request https://github.com/rsyslog/rsyslog/issues/3777 submitted

[2019-07-30 14:33] davidelang opened #3778 "make imfile able to read compressed files"
when log files are managed by logrotate or other tools, they are commonly rotated to compressed versions.

It would be useful to be able to point rsyslog at a set of files (via wildcard commonly) and have it read all the data, including that which has been rotated off to compressed files

to avoid reading the data multiple times, it may be necessary to update the state file with a hash of the firs

[2019-07-30 14:45] davidelang commented on #3645
hmm, having each rotation create a new state file because the file has a new inode does seem like an issue.

[2019-07-30 14:57] lhycz commented on #3645
Hi mdreed234,
just a quick response to this message

this is actualy exactly the state I would expect even after applying the patch :)
the patch was supposed to take care of orphaned files like  /var/log/xxx/yyy/kafka/server.log /var/lib/rsyslog/imfile-state:99:934cbdf43dae... (or some other hash)

these orphaned imfiles with only "imfile-state:<inode>" in their name is a different bug - #3646 (bu

[2019-07-30 15:17] rgerhards commented on #3645
This is one reason why I say I need to have a closer look. While the behavior sounds OK in general, there may be some quirks.

[2019-07-30 15:20] rgerhards commented on #3645
A known issue we cannot work around is rotation of very small files. We add a hash (the "file ID") once the file has sufficient size. I think it is 512 bytes. This ID uniquely identifies the file. But if the file is smaller, we have only the inode to differentiate. That's better than nothing, but not great. Thus we cannot delete these files. The inode-only state files should be replaced by the ino

[2019-07-30 15:25] rgerhards commented on #3756
I got new information that this patch does not solve the hang. I also got new stack traces which I will analyze most probably tomorrow. First nailing the issue found completely.

[2019-07-30 16:43] atc0005 commented on #3760
@rgerhards @friedl

We've deployed the `8.1907.0-0adiscon2xenial1` packages on the rsyslog-ticket-111747 temporary VM that we're monitoring with Nagios, restarted rsyslog (even if it wasn't actually needed) and then ran `/etc/init.d/rsyslog rotate` to generate the HUP signal.

If the prior timing holds true we'll receive another alert in about 3 hours. I'll loop back and confirm either way.

[2019-07-30 17:01] linsomniac commented on #3760
TL;DR: After updating to 8.1907.0-0adiscon1xenial1 if I HUP rsyslogd, the RELP port "hangs".

I may be seeing something similar but came around to it the other direction: My RELP stopped receiving traffic from client boxes, and I've set up an icinga2 monitor to detect when it happens again.  That monitor times out when imrelp hangs.

Here's what I've been able to determine:

- The issue for me hap

[2019-07-30 17:02] linsomniac commented on #3756
I may be having this issue, I added details to #3760 : https://github.com/rsyslog/rsyslog/issues/3760#issuecomment-516506282

[2019-07-30 17:07] atc0005 commented on #3760
FWIW: Several points that you make have been covered in this issue, including the schedule for when potential fixes will land in `adiscon/v8-devel`.

`8.1907.0-0adiscon1xenial1` or `8.1907.0-0adiscon2xenial1` ? The latter has a potential fix for the issue. We're testing now on our end to see whether the issue has been resolved, but I suspect additional feedback would be welcomed by @rgerhards  and

[2019-07-30 17:26] rgerhards commented on #3756
@heroin-moose please add
[code]
to your rsyslog.conf. This disables some code that I had under suspicion with the last race. If this "solves" the issue, I have a strong indication of what the problem area may be. I am half through with the backtrace, and it somewhat puts into the same direction. So it's worth a try.

[2019-07-30 17:27] rgerhards commented on #3760
definitely! :-)

[2019-07-30 18:12] heroin-moose commented on #3756
@rgerhards, its kinda... makes things worse. There is no activity at all. Mailed the trace.

[2019-07-30 18:20] rgerhards commented on #3756
Worse in which way? More hangs or data loss?

[2019-07-30 18:25] heroin-moose commented on #3756
@rgerhards, it's stuck right from the beginning. As you can no input-queue threads are even created.

[2019-07-30 18:29] heroin-moose commented on #3756
@rgerhards, there is a syntax error, sorry.

[2019-07-30 18:35] heroin-moose commented on #3756
@rgerhards, sometimes rsyslogd segfaults. It's not relevant to your settings as it happened before. I'll try to get a trace out of it.

[2019-07-30 18:36] linsomniac commented on #3760
I have installed 8.1907.0-0adiscon2xenial1 and verified that the HUP doesn't cause the RELP issue I was seeing!  Thanks so much!

[2019-07-30 18:56] heroin-moose commented on #3756
@rgerhards, aside from occasional segfaults everything works great.

[2019-07-30 18:59] heroin-moose commented on #3756
@rgerhards, it seems there is *possibly* another regression between 1905 and 1907 as segfaults in logs started to appear after update to 8.1907.

[2019-07-30 19:15] jjasen-nccs commented on #3760
We have a 655 MB compressed debug log. Is there an appropriate and secure means to transport it to the rsyslog devels for analysis?

[2019-07-30 20:53] atc0005 commented on #3760
FWIW, It is has been four hours now and no further Nagios "timeout" reports have been received for our test instance.

[2019-07-31 06:34] chrisrock1010 opened #3779 "OutofMemory issues while using mmnormalize"
### Actual behavior
We are experiencing a similar issue to https://github.com/rsyslog/liblognorm/issues/223.
We are currently logging 60-70K EPS without any issues using the attached sample setup.

After enabling mmnormalize using different custom types and rules (which is working great) we experiencing some kind of a memory leak as memory cusumption is growing fast to more than 20GB within 20-30

[2019-07-31 06:56] rgerhards commented on #3779
can you run rsyslog under valgrind and post the valgrind log?

[2019-07-31 08:03] chrisrock1010 commented on #3779
Please find valgrind logs attached by executing:
`valgrind --tool=memcheck --log-file=/SOC/rsyslog/debug_rsyslog.log --show-possibly-lost=yes --track-origins=yes --trace-children=yes --leak-check=full --show-leak-kinds=all /testing/sbin/rsyslogd -i /testing/rsyslog/rsyslog.pid -f /testing/rsyslog/rsyslog.conf`

Note: Rsyslog has been compiled using:
`./configure --libdir=/testing/lib64 --enable-mm

[2019-07-31 08:30] rgerhards commented on #3779
thx, this looks useful. I need to have a look at another issue first, but will come back ASAP (probably not today).

[2019-07-31 08:31] chrisrock1010 commented on #3779
Sounds great, thanks for your quick response!!!

[2019-07-31 08:48] rgerhards commented on #3772
@TomHetmer did you have a chance to obtain a backtrace?

[2019-07-31 09:09] rgerhards commented on #3772
I think I was able to reproduce the situation in my lab. Still the backtrace would be useful to have.

Some findings (just so that they are recorded):
[code]

[2019-07-31 09:35] TomHetmer commented on #3772
Sorry, i’ll be away from for for about a week. I’ll try later.

On Wed, 31 Jul 2019 at 11:09, Rainer Gerhards <notifications@github.com>
wrote:

--
Best
Tom Hetmer

[2019-07-31 09:35] #3760 closed

[2019-07-31 09:47] alorbach commented on #3765
Sorry for the delayed response. I have reviewed your rsyslog part configuration and don't see any problem with it.

As the other consumers start to get data when you turn of the primary one, it looks to be that this behavior is wanted by the server side kafka configuration.

If you review the kafka configuration there are many options to control the behavior (Like group.max.size): https://kafka.ap

[2019-07-31 12:22] rgerhards commented on #3760
The final patch is now in master branch. That means the daily stable build will also get updated soon.

[2019-07-31 13:03] atc0005 commented on #3760
FWIW, Nagios is showing "all clear" for its imrelp probes against the latest `8.1908.0~20190731101737-0adiscon1xenial` build from the `adiscon/v8-devel` repo (auto-upgraded this morning).

Many thanks for resolving this!

[code]

[2019-07-31 13:39] chrisrock1010 commented on #3779
In this context is there any chance to use the lognormalizer to parse the user-defined type with a nested json field to csv output:

`"field": { "src": "1.2.3.4", "dest": "2.3.4.5" }`

`lognormalizer -r rulebases/sample.rulebase -e csv -E'field.src field.dest'`

Expected output: "1.2.3.4","2.3.4.5"

We may use the lognormalizer together with the existing rulesbases as a workaround to parse the dat

[2019-07-31 14:14] rgerhards commented on #3760
thx all for the help nailing this bug. I had never envisioned the root cause. This is a good example why I say we need to have users helping with resolving the issues.

@atc0005 extra kudos for running a box on rsyslog recent - this *really* helps tracking down issues very fast.

[2019-07-31 16:15] Karl90 commented on #3765
Hi Team,

I don’t think that it is caused by the Kafka Cluster configuration, It is
actually supposed to support multiple consumers inside a consumer group,
but I will double check it.

So, have you been able to launch 2 instances and consume messages in both
of them ?

Note that have 2 different consumer groups is not a solution, since both of
them would receive the same messages - then I would p

[2019-08-01 03:49] jjneff commented on #3756
@rgerhards I work with @jjasen-nccs and can send you a debug log. How can I get it to you?

[2019-08-01 06:34] rgerhards commented on #3756
you can mail me at rgerhards@adiscon.com

As a side-note, I have an upcoming fix that may solve the issue. Maybe it makes sense to wait until this is applied.

[2019-08-01 06:37] rgerhards commented on #3756
potential fix is https://github.com/rsyslog/rsyslog/pull/3781

[2019-08-01 08:01] alorbach commented on #3765
@Karl: We can create a test case for this particular environment with 2 consumers, and see what happens.

[2019-08-01 08:08] rgerhards commented on #3765
@alorbach If I understood the postings right, the applications needs to provide some callbacks. Link to sample code is posted somewhere above. Not sure if we do that. I'd say a test would be a good starting point. I guess, though, it's not something you need to rush before taking off some time.

[2019-08-01 08:43] alorbach commented on #3765
No I think the callback is only needed if you want to decide which consumer gets the partition yourself. If no callback is set, librdkafka will use random assigment:
https://github.com/edenhill/librdkafka/blob/d3f6e5e9d46ed4877c9f8e07f86dfe0698447177/src/rdkafka.h#L1578

So this should actually work with our code., thats why I want to create a test to verify it.

[2019-08-01 10:27] #3772 closed

[2019-08-01 10:50] rgerhards commented on #3772
Please re-open if the issue is not fixed with today's daily stable build.

[2019-08-01 10:52] rgerhards commented on #3756
The fix is now merged any has been applied to the daily stable build. I would appreciate if you could try out that version. While I suspect this did not fix the root cause, it may have done so (as a side-effect of potential memory corruption it fixes).

[2019-08-01 12:09] Finn38 commented on #3767
Any other ideas to figure out what's wrong ?
Thanks.

[2019-08-01 12:54] davidelang commented on #3767
On Fri, 26 Jul 2019, Finn38 wrote:

sorry I missed this.

are you doing this on the sender or the receiver? Please post a sample log along
with your config.

David Lang

[2019-08-01 13:56] rgerhards commented on #3756
Thx to testbench improvements I can now (still) see some troubles inside the code. All these bugs seem to have been hidden for many years...

[2019-08-01 14:05] davidelang commented on #3756
On Thu, 1 Aug 2019, Rainer Gerhards wrote:

some of this (async writing with lots of files) are things that we would not
have thought to test because we 'know' that's inefficient.

Thanks everyone for the bug reports, configs, and debug/gdb/coredump info.

David Lang

[2019-08-01 14:31] jjasen-nccs commented on #3756
Unless I've missed the obvious, we are generally not using async for file writes.

[2019-08-01 19:38] mdreed234 commented on #3777
Thank you for submitting this RFE.

Do you envision this enhancement also cleaning up orphaned state files that have accumulated over time?

Our usage case will be fine with immediate deletion once the referenced file is gone.

[2019-08-01 22:01] davidelang commented on #3777
On Thu, 1 Aug 2019, mdreed234 wrote:

Yes, rsyslog would notice that there is no file to go with the orphaned files
and clean them

you probably need at least a little delay, so that rotating and compressing a
file doesn't think that the compressed file is new because it noticed that the
uncompressed file went away before it noticed that the compressed file appeard
and has the same data. :-)

Davi

[2019-08-01 23:30] rwdalpe opened #3784 "imjournal plugin truncates messages to 64K regardless of MaxMessageSize or journald's LineMax"
### Expected behavior

If journald and rsyslog have both been configured to allow for messages longer than 64K and the imjournal module is being used, then rsyslog should receive the full content of messages longer than 64K when they're read from the journal (up to the $MaxMessageSize limit).

### Actual behavior

Any message from the journal longer than 64K is truncated to 64K by imjournal, regar

[2019-08-02 00:51] davidelang commented on #3784
8.24 is about 2.5 years old, there have been some pretty significant
modificatiosn to imjournal over that time. Could you please check that the
problem still exists with a current version? (at least 8.1904)

David Lang

[2019-08-02 06:34] rgerhards commented on #3784
@jvymazal can you pls have a look

[2019-08-02 06:55] jvymazal commented on #3784
will for sure needs verification but in theory this sound about right

[2019-08-02 07:05] jvymazal commented on #3784
There should not be much difference in this particular case, firstly this is part of journal which was touched the least from 8.24 and this being reported on Amazon Linux I would expect my journal patches keeping imjournal on 8.24 up-to-date eventually flow there as well.

[2019-08-02 10:19] alorbach commented on #3765
@Karl90 I have created a testcase for this issue and it appears to be working properly with our kafka testbench configuration.

The test uses two rsyslog instances with one imkafka input assigned to the same consumergroup. I always had like 49-51% of all messages on each instance during testing.

[2019-08-02 10:54] heroin-moose commented on #3756
@rgerhards, is it possible to push CentOS7 updates to the repo? Or manual build is the only option?

[2019-08-02 11:38] rgerhards commented on #3756
@heroin-moose At this point I would not like to craft a patch for the CentOS7 repo, as I cannot confirm this really fixed the issue. So a manual build seems the best option.

BTW: if you don't do async writing, I merged a patch today which may actually resolve the problem. But I have some indication from testbench runs that there still may be lingering something around.

[2019-08-02 12:40] heroin-moose commented on #3756
@friedl, do you by any chance have any -git rsyslog package?

[2019-08-02 20:42] dman777 commented on #2838
Why does rsyslog need DNS? I have mine only using localhost.

[2019-08-03 00:16] davidelang commented on #2838
by default it does a reverse lookup on the IP addresses of anything it receives

also, if you configure it to send anywhere, it's really useful to be able to
specify a hostname instead of just an IP address

during startup, it tries to lookup the hostname of the machine it's running on,
which triggers a DNS lookup by default

David Lang

[2019-08-04 17:14] rwdalpe commented on #3784
Unfortunately those versions of rsyslog and systemd are the highest available on a stock Amazon Linux 2 image. I'll see if I can upgrade them somehow this week.

On my local machine, I was not able to reproduce the bug. Here are the versions:

platform: Arch Linux
rsyslog version: 8.1904.0-1
systemd version:  242.84-1

I'll try downgrading just rsyslog locally to see if I can reproduce it. Downgra

[2019-08-04 17:29] rwdalpe commented on #3784
Could not reproduce the bug on

platform: Arch Linux
rsyslog version: 8.24.0-1
systemd version: 242.84-1

Maybe a default for the data size returned by the `sd_journal_get_data` function changed between systemd 219 and 242.84. I'll work on getting an environment with downgraded systemd for testing.

[2019-08-04 18:34] davidelang commented on #3784
we don't make fixes for old versions (especially if the current version is
already fixed). If you can't upgrade from the version that amazon provides, you
couldn't install a fixed version we provide either.

(note, you can pay Adiscon professional services to fix an old version, but you
still have the problem of upgrading to it)

David Lang

[2019-08-05 01:38] Karl90 commented on #3765
Hi Team,

Thanks a lot for your feedback,
Please, just in case, can you share the config used?

From your description, rsyslog does works properly and seems to be kafka cluster issue, so we can close this one.

Thanks a lot for your attention,

Regards,

Karl.

[2019-08-05 06:46] rgerhards commented on #3765
Have a look at the kafka files inside the testbench

  https://github.com/rsyslog/rsyslog/tree/master/tests/testsuites

especially https://github.com/rsyslog/rsyslog/blob/master/tests/testsuites/kafka-server.dep_wrk1.properties

@alorbach's PR contains the full test, so you can check exactly what it does.

[2019-08-05 09:28] Karl90 commented on #3765
Dear Team,

Thanks a lot for your clarifications,

Regards,

Karl.

On Mon, 5 Aug 2019 at 08:46, Rainer Gerhards <notifications@github.com>
wrote:

[2019-08-05 16:29] circulosmeos commented on #3306
As a related work, I've developed [`gztool`, a command line tool that creates little file indexes for gzip files](https://github.com/circulosmeos/gztool/), so they can be accessed at any random position without any time penalty (after the index is created). `gztool` can extract data at the same time it creates the index files, and these can be stopped at any moment and increased/reused later.

The

[2019-08-05 21:05] heroin-moose commented on #3756
@rgerhards, I'm running -git from Aug 2, let's see what happens.

[2019-08-05 21:26] richm opened #3795 "omelasticsearch: use Content-Type: application/x-ndjson for bulk requests"
### Expected behavior
When omelasticsearch sends a bulk request to Elasticsearch, it should use `Content-Type: application/x-ndjson` instead of `Content-Type: application/json` - see
https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docs-bulk.html

### Actual behavior
omelasticsearch currently uses `Content-Type: application/json` and it currently works but this may be removed at some po

[2019-08-05 21:37] davidelang commented on #3795
what happens if you use the new content type with an old version of ES?

[2019-08-05 22:06] richm commented on #3795
Looks like it may break ES2 and earlier.  A quick check of the ES 2.4.6 source code for "ndjson" gets no hits.  In that case, we may need some sort of parameter e.g. `bulkcontenttype` - by default the value is `application/x-ndjson` but if you need to talk to ES2 you can set it to `Content-Type: application/json`.
If that's still not sufficient, we could make the plugin dynamic - at startup, query

[2019-08-06 06:43] heroin-moose commented on #3756
No problems whatsoever (no lockups, no segfaults).

[2019-08-06 11:14] Finn38 commented on #3767
@davidelang
I did it on both the server and the receiver, but no "monlog__" tag on both results.
I'm not sure what you ask for... you mean an example of log message I want to send, or ?

As @rgerhards suggested, I also tried to install an up-to-date version of rsyslog : 8.1907.0-2.
However, the most simple config version (with legacy format) that worked with the old rsyslog version, didn't work an

[2019-08-06 11:37] davidelang commented on #3767
On Tue, 6 Aug 2019, Finn38 wrote:

yes, on the sender, what is the output in RSYSLOG_Debug format of a log you want
to send

no

what is the config you are trying to use, and what is the output of rsyslogd -N2

David Lang

[2019-08-06 12:05] heroin-moose commented on #3756
Okay, more fun to the table. For some reason rsyslog stops creating new files after a couple of hours. It's not a deadlock (at least not like before) because it still eats cpu, reads incoming packets, etc. But no files are created (in my case there is one file per hour via dynafile template).

[2019-08-06 14:33] Finn38 commented on #3767
On the sender :

[code]

I only have systemd as syslogtag, but no "monlog__"

With this config on the sender :

[code]

And the output of rsyslog -N2 :

[code]
Nothing special.

[2019-08-06 19:33] heroin-moose commented on #3756
Okay, I've managed to assemble a working config without asyncWriters (increasing buffer size and number of queue workers helps), but I keep the old config around in case you want to continue debugging.

[2019-08-06 20:14] davidelang commented on #3767
On Tue, 6 Aug 2019, Finn38 wrote:

right, this came from the input imjournal, not imfile, so it shouldn't

let's see a sample of a log read from the file (I like to make test log messages
that include "testtest" as that's easy to search for and so far has never shown
up in any legitimate log message)

David Lang

[2019-08-07 06:41] rgerhards commented on #3756
@heroin-moose if you can supply me some debug info from a hanging instance (backtrace and best also debug log) I can further analyze it. Actually, I did not expect that the last patch fully solved the problem. But I now also have not been able to reproduce a problem. I think I once saw an issue under thread sanitizer, but cannot confirm that either. So I am stuck at this point.

[2019-08-07 06:42] #3765 closed

[2019-08-07 11:10] rgerhards opened #3798 "imptcp: data race"
When running test `imptcp_conndrop.sh` under LLVM TSAN, we see some data races. An example can be found at the end of this issue.

Initial verification shows that more than one worker may be processing the same session concurrently. While this can increase performance thanks to multiple `recv` operations in place, I think it may cause subtle use-afer-free bugs when the session is closed and a para

[2019-08-07 11:14] rgerhards commented on #3798
@janmejay can you comment on what was the original intent and if processing of the same session by multiple workers was actually intended?

[2019-08-07 19:27] DG12 opened #3800 "request: omfile handle out of space gracefully"
### Expected behavior
When omfile cannot write due to out of space, delay writing to the same filesystem.
### Actual behavior
"message lost, could not be processed." is output repeatedly actually contributing to the  problem.
### Steps to reproduce the behavior
Direct  a facility.level to  a filesystem that is nearly full and used logger in a loop .

### Environment
- rsyslog version: all
- platfo

[2019-08-08 02:11] davidelang commented on #3800
On Wed, 7 Aug 2019, Dennis German wrote:

Yes, if you are not running as root, you cannot use that reserved space.

[2019-08-08 02:12] davidelang commented on #3800
delaying writing to the same file I could see, checking to see if the files are
on the same filesystem is non-trivial

I'm surprised that rsyslog didn't suspend that output

David Lang

[2019-08-08 04:33] janmejay commented on #3798
@rgerhards Same session being processed concurrently by 2 workers was never intended. Infact I don't see it happening from code. Quickly looked at master, we only continue polling after session-work is processed here: https://github.com/rsyslog/rsyslog/blob/master/plugins/imptcp/imptcp.c#L1927

We use ONESHOT (https://github.com/rsyslog/rsyslog/blob/master/plugins/imptcp/imptcp.c#L1339), so until

[2019-08-08 05:56] Finn38 commented on #3767
Do you mean a sample of the log file monlog_yymmdd.log ?
If so, please tell me in what way the log file content could help us to solve the issue.

[2019-08-08 06:28] rgerhards commented on #3798
We do not have many tests where this may be visible.

However, I debugged into the issue before I created the issue. To me it looks like when the first worker starts, it a) receives data. Then it b) processes it and c) does the next read. I guess that sometime during phase b) new data arrives. That triggers epoll, and a new event is created and a worker is scheduled. I have almost always seen two

[2019-08-08 06:29] rgerhards commented on #3798
I forgot: the deadlock is a clear indication to me that this has nothing to do with the close: the reason is close is never reached in that case.

[2019-08-08 06:34] rgerhards commented on #3798
I created this with `imptcp_large.sh`:
[code]
@janmejay I suggest to just turn on LLVM TSAN and you should see related issues.

[2019-08-08 06:36] rgerhards commented on #3798
correction: of course, this may be a false positives between threads that actually execute one after another. This was my first idea as well. Let me try to create the deadlock...

[2019-08-08 06:43] rgerhards commented on #3798
@janmejay I added some refcounting. It looks like you are right regarding the close! I have updated my experimental branch. Running `imptcp_large.sh` never gets into the deadlock. I have also added reference couting, and while receiving it only has a single worker per session. But when it comes to close, TSAN again barks out.

[2019-08-08 07:57] rgerhards commented on #3800
we don't do very robust output handling for files. The reason is that when we run out of space we usually have very little options. Of course, there is room for improvement here. But my experience from practice is that you kinda have lost when you run out of space: the in-mem queue would fill up rather quickly, disk q writes would fail as well [usually on the same FS] and so everything deteriorate

[2019-08-08 08:10] janmejay commented on #3798
@rgerhards If the theory turns out to be correct, there is a small probability that this may fix this long-standing issue https://github.com/rsyslog/rsyslog/issues/1071. A lot of sessions would be closed during shutdown so a heavy user of ptcp on a busy server perhaps can repro this.

[2019-08-08 08:11] rgerhards commented on #3798
I thought about the races between threads while only one worker is active. They can actually cause counter corruption, depending on memory cache state. So this actually needs to be fixed and TSAN is right. My experimental branch already contains a fix for that scenario. I use atomic operations for this, so it does not affect performance much. What remains is the "close issue".

[2019-08-08 08:12] rgerhards commented on #3798
#1071 - indeed this could be causing this "lookup table" issue. Do you have time to think about the solution for the "close issue"?

[2019-08-08 08:21] janmejay commented on #3798
Can't work on it immediately (may be in a few days), but I think just calling EPOLL_CTL_DEL before close should do. I'll can try to repro it with tsan and and then see if this fixes it.

[2019-08-08 08:47] rgerhards commented on #3798
@janmejay thx - let's see if I can make further adjustments. If so, I'll let you know. If you don't hear back from my by the time you are ready to have a look pls proceed.

[2019-08-08 08:55] janmejay commented on #3798
:+1:

[2019-08-08 09:02] rgerhards commented on #3798
see also https://github.com/rsyslog/rsyslog/pull/3797

[2019-08-08 10:49] davidelang commented on #3767
On Wed, 7 Aug 2019, Finn38 wrote:

no, I mean a block of debugformat log that shows a line pulled from a monlog
file.

this is so we can see all the variables that have been created and go through
how they are (or are not) sent to the central server.

David Lang

[2019-08-08 12:35] DG12 commented on #3800
Thank you for your responses.
It would be better if we did a little LESS. Once the admin finds out we are out of space it is difficult do deal with it because Rsyslog keeps trying to use the space up again. Even a simple "sleep for 1 minute " option would give him. a chance.

[2019-08-08 12:41] DG12 opened #3802 "question: Denial-Of-Sservice attack experience"
Has anyone ever experienced a denial of service attack against Rsyslog?

Is there any means to throttle input/output?

I recently caused my own after taking a conf file from one server and using it as a base for my new consolidating syslog server. I neglected to remove the forwarding causing a push-push-harder loop.

[2019-08-09 07:43] rgerhards commented on #3798
I think the race on the receive counter was the only real issue. The problem was `close` seems to have been a false positive. It seems to have rooted in me blacklisting imptcp for TSAN. That seems to have confused TSAN at the OS library level. I did some verification, and the "close issue" appeared only when imptcp was blacklisted but not when imptcp was not blacklisted. So the change to use atomi

[2019-08-09 07:43] #3798 closed

[2019-08-09 16:16] Finn38 commented on #3767
The imjournal input came from this line at the top of my config :

[code]

And I have no monlog lines in the debug log.
That's why I can't give you a sample log of it right now.

Is the following line at the right place in my config, e.g. at the end of it ?
Is the way I have to write it ?

[code]

I'm wondering why I have variables for other inputs but not for my monlog tag...

[2019-08-09 19:31] davidelang commented on #3767
variables only last for the duration of the message they are processing, so if
you want to see the variables for your monlog data, you have to be looking at a
log message read from your monlog.

Is there new data in your monlog file?

when asking about configs, please post the full config, most people don't keep
all the old mailing list posts around to be able to refer to a config you may
have pos

[2019-08-10 14:24] keros opened #3806 "relp with openssl Certificate error"
Hi

I have the following setup:
1.) Server:
[code]

2.) Client:
[code]

I created the certs with easyrsa (all the certs work fine for openvpn, ipsec, apache client auth, ...)
I tested the certs:
On Server:
[code]

On Client:
[code]

The CA itself is self signed (I created it)
Both servers have the same ca file.
Both servers can validate their certs against the ca.
Both servers have a matching publ

[2019-08-12 11:25] keros commented on #3806
If I on the sever change the `tls.authmode` to `fingerprint` with the same certs I get on openssl the same error message.
With gnutls everything works fine. I use this now as workaround but need to change this in the future.

[2019-08-12 15:45] gaia opened #3812 "Rsyslog delays shutdown when it can't connect to remote logger"
I have rsyslog in the hypervisor logging remotely. The hypervisor's conectivity is managed by one of it's guests, which naturally gets shutdown by the hypervisor before the hypervisor starts the reboot routines. Therefore when rebooting the hypervisor, rsyslog loses connectivity and I get a long delay on shutting down rsyslog, presumably because it is trying to send data before exiting.

Is there

[2019-08-12 16:07] davidelang commented on #3812
can you instrument your system to see if it's trying to do DNS lookups during
the shutdown? I'm suspecting that's more of a problem than sending.

there is the saveonshutdown option if you have a disk assisted queue

if you can get a debuglog during shutdown it would tell us exactly what is
happening.

a config would also help

David Lang

[2019-08-12 18:39] gaia commented on #3812
Thanks David.

The config is below. There is nothing in the log files. I will look into into instrumenting the system, but regardless of whether it is data or DNS lookups, how do I enable a global saveonshutdown ?

[code]

[2019-08-12 19:04] davidelang commented on #3812
nothing in your config is doing anything to save messages when you shutdown, it
will just throw away the contents of the main queue, so that's not what's
causeing the slow shutdown.

I don't see anything obviously odd with this config.

[2019-08-13 01:39] gaia commented on #3812
Thanks @davidelang, I am going to try to figure out how to instrument the system to find out what is the cause of the delay on shutdown.

[2019-08-13 10:19] rgerhards opened #3817 "imtcp: listener port file is global"
if we have multiple imtcp listeners with multiple port files, only the last filename is always used. This is a bug inside the abstraction layer, where the name is assigned to the overall server vs. the actual listener.

[2019-08-13 12:25] keros commented on #3806
ok this drives me nuts.
I have not changed the config but I got the strange `An unexpected TLS packet was received` error again.
After that I switched from relp to simple tcp.
Here I get the same errors. Then I recreated the certificates with `certtool` like in the docu:
https://www.rsyslog.com/doc/v8-stable/tutorials/tls_cert_summary.html

I also changed from gnutls tcp to openssl tcp which only

[2019-08-13 12:31] rgerhards commented on #3806
I think we need to wait until @alorbach has time to look at this issue. As far as I know, we use self-signed certs in the testbench as well.

[2019-08-13 15:47] keros opened #3820 "relp with queue config not saving queue to disk"
Hi

I have the following client config:
[code]

This works fine until I do some bad stuff.

Test 1:
1.) Simulate a network issue (on the client)
`iptables -I INPUT -s myproject-core01 -j DROP && iptables -I OUTPUT -d myproject-core01 -j DROP`
2.) Create a log entry
`logger -t myproject -p 1 "$(date +"%H:%M:%S")";`
3.) Wait some time
4.) Resolve the network isse
`iptables -D INPUT -s myproject-core

[2019-08-13 16:02] davidelang commented on #3820
if you are setting the queue type to disk, you are telling it to always keep
things on disk, never keep them in memory, as a result there is nothing to keep
at shutdown time (and your performance is going to absolutly stink since disk
is so slow)

are you sure that there is data in this queue that's being lost, and you aren't
loosing data from the main queue?

with a disk type, you will always hav

[2019-08-13 16:24] keros commented on #3820
If I use `queue.type="LinkedList"` I see nothing on the disk (I only tested the other option to see if the queue is working).

The full config (debian default):
[code]

My part of the config is in `/etc/rsyslog.d/rsyslog_client.conf`.
`/var/spool/rsyslog` is my working dir and my queue spool dir. Is this not allowed?
While I simulate the network issue I see the log entries in the client log files

[2019-08-13 16:33] davidelang commented on #3820
On Tue, 13 Aug 2019, keros wrote:

it would only write them to disk if the memory queue fills up (or on shutdown)

one possibility is that your system has too short a timeout on shutdown and so
it's killing rsyslog before it has time to write them all and create the .qi
file for the queue files

is there anything else in /etc/rsyslog.d?

David Lang

[2019-08-14 07:41] keros commented on #3820
No the `/etc/rsyslog.conf` and my `/etc/rsyslog.d/rsyslog_client.conf` are the only config files for rsyslog. Nothing else is in `/etc/rsyslog.d/`

I have tried several methods to kill rsyslog (`service rsyslog stop`, `kill -TERM PID_OF_RSYSLOG` and `reboot`)
With the kill there is no timeout so rsyslog has the time to write things to disk.
Currently this is just a test so there are less than 10 m

[2019-08-14 07:53] rgerhards commented on #3820
From what I can see in debug01.log the OS does not convey any network error message back to rsyslog. This means we are out of luck.

[2019-08-14 09:54] keros commented on #3820
Ok I have now made some more tests.
I tried to simulate a firewall/stopped server issue instead of a broken connection (iptables ... REJECT).
With the relp protocoll nothing changes.

So I switched to tcp with this client config:
[code]

This works better but has also problems.
The config detects a timeout after 30 seconds (keepAlive config).
If I simulate a broken connection (DROP) and wait 30 se

[2019-08-14 09:57] rgerhards commented on #3820
how to do that if the OS does not tell you about the failure? It does  not by TCP design.

[2019-08-14 10:09] keros commented on #3820
If I understand it right the relp protocoll only considers the the message to be sent if there was an ack from the server.
So no ack after X Seconds -> timeout -> go back to queue
It sounds easy in my head, I'm really sure it is not easy in implementation.

[2019-08-14 11:37] davidelang commented on #3820
On Wed, 14 Aug 2019, keros wrote:

the problem you are running into is that if the network throws away the packet,
it takes a long time for the OS to decide that the connection is no longer good.
IIRC, the timeout is 2 minutes by default

with TCP, the OS has no way of telling rsyslog what packets it lost, all it can
do is tell rsyslog that the connection is no longer good. All messages sent in
th

[2019-08-14 11:40] davidelang commented on #3820
On Wed, 14 Aug 2019, keros wrote:

correct, but your last example was using omfwd, not omrelp.

the timeout is just longer than the 10 seconds that you are testing. By default
TCP re-sends packets if it doesn't get an ack in 30 seconds, and will retry a
few times before giving up, so timeouts of less than a couple minutes aren't
going to work well in practice.

David Lang

[2019-08-14 12:35] rgerhards commented on #3820
just adding some noise:

actually, without keep-alive (a "fix" to the original protocol) tcp extremely well maintains connections. If a link goes down and comes up via a completely different network path TCP can and will use the connection (except if keep-alive is used). This was intended and really is needed for some use cases. Just think about the roots of TCP: how to build a system that survive

[2019-08-14 12:35] heroin-moose commented on #3756
Sigh. Now I'm able to reproduce it without any asyncWriters at all. I will mail you stack traces as soon as I can.

[2019-08-14 12:37] rgerhards commented on #3756
@heroin-moose thx! any information on config or potential triggers would also be appreciated.

[2019-08-14 14:58] keros commented on #3820
Yes I tested both to understand the problem better. But before I do the same tests with omrelp with similar results.

But I made now a new test with omrelp (same config as above only change is `queue.type="LinkedList"` is now active).
1.) Simulate a issue.
This time I killed the myproject-core01 machine (should be a realistic test, a machine can die for whatever reason).
2.) create log entries on

[2019-08-14 15:04] rgerhards commented on #3820
Not intended, but documented in https://www.rsyslog.com/doc/v8-stable/configuration/modules/imrelp.html

_Please also note that rsyslogd may lose a few messages if rsyslog is shutdown while a network connection to the server is broken and could not yet be recovered._

This is because the unacked list is currently only kept in memory. We would need a fix to librelp to obtain it on shutdown and rest

[2019-08-14 15:24] keros commented on #3820
Sorry for all the hassle. A simple rtfm, damn.
Thank you guys for the help.

The issue can be closed.
Or maybe can be let open as reminder for the future relp improvements ;)

[2019-08-14 16:32] davidelang commented on #3820
no, you should not loose logs in this case.

please setup impstats so that we can see what is happening.

David Lang

[2019-08-15 08:23] Nicheurity opened #3825 "Startup fails with encrypted queue"
### Expected behavior
saveonshutdown creates encrypted queue
service rsyslog start ok
Queue files decrypt and parse

### Actual behavior
saveonshutdown creates encrypted queue
service rsyslog start failed
 - error for child process timeout after 60 seconds
 - rsyslog process exists but pid file is missing
 - service rsyslog status reports rsyslog is not running instead of error for missing pid fil

[2019-08-15 16:27] #3817 closed

[2019-08-16 08:15] keros commented on #3820
@davidelang I created the logs but rgerhards already explained what is the problem here.
It seems to be a known and documented issue.

I added this to the config on the client:
[code]

I added `############################################` lines to the logs, to descripe what was happening

I tested the following:
1.) Start rsyslog on client
2.) Create a log message on the client (`logger -t myproj

[2019-08-20 07:29] rgerhards opened #3833 "core/queue: enable multi-thread processing for disk queues"
In contrast to all other queue types, disk queues are limited to a single thread. The core reason for this is that we use sequential queue files and thus cannot do random access for multiple threads. At least not in a clean way.

This also limits DA queues, where it causes some grief if the queue needs to go to disk. Especially with destinations like ElasticSearch dequeuing a disk queue can be ext

[2019-08-20 13:30] anivle opened #3835 "edit-config not edits config"
### Expected behavior
```docker run rsyslog/syslog_appliance_alpine show-config show-config```
displays edited config

### Actual behavior
```docker run rsyslog/syslog_appliance_alpine show-config show-config```
displays old config

### Steps to reproduce the behavior
1. Run ```docker run -ti rsyslog/syslog_appliance_alpine edit-config```
2. Edit config with VIM
3. Save config with
```edit-config

[2019-08-20 13:36] #3835 closed

[2019-08-20 15:07] Karl90 commented on #3768
+1, this feature is great for log archival exportation or batch logs - these are no longer updated and once processed by rsyslog can be deleted safely.

[2019-08-20 16:31] alorbach commented on #3806
In the initial configuration, there is a typo making this line invalid:
`ls.cacert="/etc/my/rsyslog/ca.crt"`
it should be:
`tls.cacert="/etc/my/rsyslog/ca.crt"`

Without that config property, rsyslog wont be able to verify your selfmade certs and thats why the error "Certificate error in verify_callback at depth: 1   issuer  = /CN=my_Rsyslog_CA  subject = /CN=my_Rsyslog_CA  err 19:self signed cert

[2019-08-20 19:17] JPvRiel opened #3836 "template jsonf datatype bool converts "false" string as boolean true JSON value"
### Expected behavior

A custom property set to "false" gets interpreted as False.

E.g. rsyslog config directive:

[code]

Template output

[code]

[2019-08-20 21:05] JPvRiel opened #3837 "OpenSSL ossl streamDriver authMode does not allow clients to connect without client certifcates"
### Related

[openssl requires mutual ssl auth even when mode anon is configured](https://github.com/rsyslog/rsyslog/issues/3037) was closed based on [ossl driver: Fixed authentication mode anon](https://github.com/alorbach/rsyslog-1/commit/e47adc334a946f51a3fa53d51e5ecb48e7375dc8), but I still observed an issue attempting to connect a client without a key and certificate and the referenced commit

[2019-08-20 21:08] JPvRiel commented on #3037
I'm not sure this issue should've been closed

Could be better phrased as 'anon' implies client certificates are optional and may be omitted.

Nonetheless, I opened a new issue related to this given it's not just about skipping client cert validation, but rather, allowing a client to not supply a client cert.

[2019-08-20 21:30] JPvRiel opened #3838 "tls.authMode="anon" is not supported for imrelp and results in error """
### Related

Multiple fixes closed most of the items raised in this issue except the handling of 'anon'. https://github.com/rsyslog/rsyslog/issues/435#issuecomment-429672053 provides more complete info and attempts to find source code handling config that doesn't pass this mode through.

Also: https://github.com/rsyslog/rsyslog/issues/1738.

### Expected behavior

Use of `authMode='anon'` with imr

[2019-08-20 21:33] JPvRiel commented on #1738
Just to add, imrelp isn't allowing TLS optional client certificate 'anon' mode.

This was raised with https://github.com/rsyslog/rsyslog/issues/435#, but that issue was a large list with many other things improved (thanks!). So https://github.com/rsyslog/rsyslog/issues/3838# added to revisit it.

[2019-08-21 07:32] keros commented on #3806
I'm my worst enemy -.-
Without the typo the first config works fine on my tests.
Big thanks for the help

[2019-08-21 07:32] #3806 closed

[2019-08-21 08:09] rgerhards commented on #3836
The problem is that `set` sets the string value "False", not the boolean false. Datatype bool, for a string, is then true if there is a value associated. Looks like this is an area where we need to find a way to provide a native boolean in script itself. But that's probably tricky as the system was not designed for that.

I know: not a solution, but at least an explanation of what is going on.

[2019-08-21 09:14] danncy opened #3839 "omfile will loss log when the file is removed, unless restart rsyslogd ."
### Expected behavior
when my log file is removed by someone, rsyslog will create the log file, continue writing logs to it.

### Actual behavior
no log file is created, so logs is loss.

### Steps to reproduce the behavior
first, config is easy, as follow:
 local6.*                                                /tmp/testlocal6

secondly, use logger write a log to rsyslog, the file /tmp/testlocal

[2019-08-21 09:22] danncy commented on #3839
` DBGPRINTF("strmPhysWrite, stream %p, len %u\n", pThis, (unsigned)lenBuf);</br>
	if(pThis->fd == -1)
		CHKiRet(strmOpenFile(pThis));
`
but I test this case in my machine, it not works. I don't send a HUP.
I think the code in stream.c can add a roburt check the file if not exists, reopen is needed.

[2019-08-21 09:33] rgerhards commented on #3839
That's the problem. You need on a *nix system like Linux.

This is nothing to go into the mainstream release. Feel free to craft a change and apply it locally. But the behavior you describe is excpected and as-designed for over 30 yrs now. You are simply doing it wrong.

[2019-08-21 09:48] danncy commented on #3839
I understand, rsyslog is great. It solved my problem with datacenter's log collection.
I will add it locally, thanks

[2019-08-21 12:00] danncy commented on #3839
in the strmPhysWrite method, I added:
if (pThis->fd != -1 && stat((char*)pThis->pszCurrFName, &statOpen) == -1) {
		CHKiRet(strmCloseFile(pThis));
		CHKiRet(strmOpenFile(pThis));
	}

After I writed code as above, Is there something not considered？
Why don't you do that, for performance or something else?
Please help to answer the question, thank you very much.

[2019-08-21 12:48] rgerhards commented on #3839
costs a bit of performance. main reason is that it introduces unexpected behavior for sysadmins

[2019-08-21 20:30] davidelang commented on #3839
the fact that a file remains and can be accessed by anything that has it open,
even after all links to it are removed from the filesystem is surprising
behavior to new admins, but it's something *nix has done for decades.

it seems odd, but it has actually ended up being a feature. When the last user
of the file exits (including on reboots) the file goes away. This is commonly
done on temporary fi

[2019-08-22 00:36] huiwanheshang opened #3840 "How to turn "systemd support " to "Yes" ?"
### OS:
CentOS 7.6 x64

### Actions:
`# ./configure --prefix=/usr CC="gcc -m64" PKG_CONFIG_PATH="/usr/lib64/pkgconfig" --libdir=/usr/lib64 --enable-ommongodb --enable-mmnormalize --enable-pmnormalize --enable-omprog`

`# make && make install`

### Results:
rsyslogd  8.1907.0 (aka 2019.07) compiled with:
        PLATFORM:                               x86_64-pc-linux-gnu
        PLATFORM (lsb_relea

[2019-08-22 00:59] Whissi opened #3841 "Lookup table tests are failing with rsyslog-8.1908.0"
lookup_table.sh is failing:
[code]

array_lookup_table.sh is failing:
[code]

sparse_array_lookup_table.sh is failing:
[code]

lookup_table_bad_configs.sh is failing:
[code]

multiple_lookup_tables.sh is failing:
[code]

[2019-08-22 13:35] ctramnitz commented on #3037
This what the config option is currently called. I agree that the naming is not ideal, but this what it is being called, so referencing the official option name makes most sense imho.

[2019-08-22 15:09] trancemind65 opened #3842 "rsyslogd error while loading shared libraries libgcrypt.so.20 failed to map segment from shared object"
Hi!

rsyslog version:
8.32.0-1ubuntu7

rsyslogd error while loading shared libraries libgcrypt.so.20 failed to map segment from shared object

# rsyslogd -v
# rsyslog -d
# /usr/sbin/rsyslogd -n

Output:
rsyslogd error while loading shared libraries: libgcrypt.so.20: failed to map segment from shared object

How can I fix that?

Please, help, thanks!

[2019-08-22 15:27] trancemind65 commented on #3842
After trying around a few times, I have rsyslog running again.

Solution:

Deleted these 2 files @ /usr/local/lib:

Now rsyslog is running again without any errors.

[2019-08-22 21:21] davidelang commented on #3812
you need to set saveonshutdown on each queue individually, if you want to change
settings on the main queue, use main_queue()

David Lang

On Mon, 12 Aug 2019, gaia wrote:

[2019-08-22 21:29] davidelang commented on #3727
we don't want to remove the tls settings from the module() call for backwards
compatibility reasons

But we do need to make it possible to set them on the input() call. There are
just too may reasons to need to have different settings for differen inputs
(encrypted, not encrypted, different certs on different inputs, different auth
modes on different ports, etc)

David Lang

[2019-08-22 21:31] davidelang commented on #3727
another possible options would be to allow a module to be loaded multiple times,
with different names (the internals would have to end up in their own namespaces
to avoid conflicts)

David Lang

  On Fri, 28 Jun 2019, skupkosk wrote:

[2019-08-23 05:24] skupkosk commented on #3727
Would prefer the way of not needing loading module multiple times.

The side-or-main motivation could be the ability to throw away one of imtcp or imptcp modules which are just doing the same.

[2019-08-23 05:44] davidelang commented on #3727
as I understood it, the 'p' in imptcp was origionally for 'parallel', in that it
allowed more than one thread to work on the input from one connection. This is a
big performance win if you have a lot of logs from one source, but you can't do
encryption in parallel like that, so imtcp will need to stay around.

I agree that loading the module multiple times would not be ideal, but if it
could be do

[2019-08-23 09:34] alorbach commented on #3837
Can you please post the error returned by the client?
Perhaps server and client cannot negotiate a propper anon cipher.

[2019-08-23 23:18] gaia commented on #3812
i got a queue setup

[code]

I take it is only used when it can't fwd to the remote, cause fwdqueue isn't in the work dir.

[2019-08-24 00:07] davidelang commented on #3812
On Fri, 23 Aug 2019, gaia wrote:

right, it only uses the disk assist queue when the memory queue fills up, and
that only happens when it can't deliver messages to the remote fast enough (and
you have it configured to throw away some messages when it gets too full, so
that would further delay when anything would end up getting written to the disk
queue)

We strongly recommend that you migrate to t

[2019-08-25 13:50] hxwang1024 opened #3844 "read from imkafka, can not correctly parser"
for example:
log content: 11222334445566 [24/Aug/2019:13:46:37 +0800]  http 192.168.100.100 "GET / HTTP/1.0" 81 7 "-"  "-" 0.000 0.022 0.023

rsyslog read from imkafka, can not correctly parse the log content.

how to rsyslog not parse the log content.

[2019-08-25 20:39] davidelang commented on #3844
to start off with, that is not valid syslog content, so the standard parsers
won't work.

can you log a sample using the template RSYSLOG_DebugFormat so that we can see
exactly what rsyslog is seeing?

[2019-08-26 06:45] rgerhards commented on #3841
This is most probably a flake. Can you re-try?

[2019-08-26 06:50] rgerhards commented on #3837
@JPvRiel note: @alorbach means this test: https://github.com/rsyslog/rsyslog/blob/master/tests/sndrcv_tls_ossl_serveranon_ossl_clientanon.sh

There you can see both client and server configs. This test runs routinely and flawless. Do your problems persist with this config settings?

[2019-08-26 07:29] rgerhards commented on #3727
Loading a module multiple times is not possible nor desirable - it would require a complete redesign. This should be changed as follows:

* make module parameters act as defaults
* add input parameters

Actually, I thought this was already done, but it doesn't look so. Out of my head I do not know if it is a smaller or larger task. Tentatively assigning milestone, let's see if someone has time to

[2019-08-26 08:19] Whissi commented on #3841
Mhh... looks like. At least I now retried these tests against git master and they are passing. I'll test 8.1908.0 later again.

[2019-08-26 08:38] rgerhards commented on #3841
Will still have a couple of flakes inside the CI. Most often if the CI systems are loaded. I am working towards stabilizing the testbench, but that's unfortunately an ongoing longer-term project :-(

[2019-08-26 09:07] skupkosk commented on #3706
Same problem as in variables not processed in expected rulesets.
http://rsyslog-users.1305293.n2.nabble.com/local-variables-not-printed-in-debug-format-tp7595169p7595170.html

Move to RSYSLOG_DefaultRuleset solved the problem and lookup working as expected.

[2019-08-26 09:07] #3706 closed

[2019-08-28 07:06] rgerhards commented on #3768
@davidelang What would be the predicate to indicate the file has been completely processed? Just EOF? If so, is that save enough? I am thinking about races in file system updates during copy, not sure if that is an issue.

[2019-08-28 07:11] davidelang commented on #3768
On Wed, 28 Aug 2019, Rainer Gerhards wrote:

1st approximation, hitting EOF could be good enough, to avoid copy races, copy
to a temp location on the same filesystem and mv to get it in place

if you are worried about this, hit EOF then wait 1 second of no new data and
then delete.

but I think that just hitting EOF is probably good enough. the need to use mv
for atomic file movement is well known

[2019-08-28 09:05] JPvRiel commented on #3837
Thanks @alorbach and @rgerhards , I think the issue is that with gnutls, I was able to (ab)use the authMode='anon' to allow clients to be configured without any client cert. This doesn't work for openssl anymore.

Arguably, the ideal would be that the streamDriver openssl auth mode can accept BOTH client's that have certificates and clients that don't. This is known as an Optional Client Certifica

[2019-08-28 11:02] rgerhards commented on #3840
I guess libsystemd-dev is missing on your systems. config.log tells the details, you may want to post it.

[2019-08-28 11:04] rgerhards commented on #3727
I had a look at the code. It's unfortunately not a small job. The server is currently written in a way that assigns the parameter at the global server basis, not the individual listener. I'll further evaluate what needs to be changed to support that.

[2019-08-28 11:36] rgerhards commented on #3727
We unfortunately need to changes this through all layers down to the driver level. Another problem is that some properties even stem back from `glbl` object settings. I guess this is a left-over from old style configuration language.

An idea is to introduce a "listener parameter block" which is consistently passed down through the layers and contains all information ever necessary (and thus can a

[2019-08-28 18:21] thymikon opened #3846 "[question] rsyslog, single msg via tcpdump - multilines in network.log"
### Expected behavior
when I sent syslog from cisco (2960) to rsyslog (arch) I expect to get 1 line in 'network.log' file
`Aug 28 18:22:27 hostname 17237: Aug 28 18:22:23.679: %SYS-5-CONFIG_I: Configured from console by username on vty0 (192.168.1.1)`
### Actual behavior
for real I got the same multilines
`Aug 28 18:22:27 hostname 17237: Aug 28 18:22:23.679: %SYS-5-CONFIG_I: Configured from consol

[2019-08-28 19:18] davidelang commented on #3846
can you do a tcpdump to validate that only one copy of the message is being sent?

On Wed, 28 Aug 2019, leorikz wrote:

[2019-08-28 19:23] thymikon commented on #3846
I was... but forget to paste it to main body

tcpdump: listening on ens32, link-type EN10MB (Ethernet), capture size 262144 bytes
18:28:57.951069 IP (tos 0x0, ttl 254, id 33, offset 0, flags [none], proto UDP (17), length 138)
    hostip.52666 > server.514: [udp sum ok] SYSLOG, length: 110
        Facility syslog (5), Severity notice (5)
        Msg: 17238: Aug 28 18:28:54.420: %SYS-5-CONFIG_I: Co

[2019-08-29 00:59] davidelang opened #3847 "handling XML logs"
I'm having to deal with Oracle audit logs at $work, the files are being downloaded from AWS and then dropped where they will be retrieved
the logs are multiline, and one large XML document.

I think this is a common enough case that we should have a parser to handle it (both in imfile and in the proposed ims3bucket)

Below is what I think are a good spec for a generic XML parser. this does not han

[2019-08-29 07:56] jacopopib opened #3848 "%FROMHOST% in template only return lowercase char even if DNS names are composed of uppercases and lowercases"
### Expected behavior
%FROMHOST% should contain uppercases and lowercases, as defined in DNS and as a nslookup should get

### Actual behavior
%FROMHOST% is always lowercase (even if not specified)

### Steps to reproduce the behavior
/

### Environment
- rsyslog version:  8.24.0
- platform: RHEL 7
- for configuration questions/issues, include rsyslog.conf and included config files

[2019-08-29 08:10] davidelang commented on #3848
This is expected behavior, hostnames and DNS names are case insensitive (per the
RFCs) and so to make comparisons easy, rsyslog (and many other programs) squash
them to lower case.

David Lang

[2019-08-29 08:16] Finn38 commented on #3767
Ok, here is the full config for the client, with comments...
I also tried to change from imudp to imtcp, not better, so came back to imudp.

[code]

So, concerning the debugfmt results, I have nothing for "monlog", even if there are other logs that come in /home/trs/log/...

However, I briefly had these follwing things, concerning apparently imjournal or imuxsock, showing that they can't connect t

[2019-08-29 16:08] JPvRiel commented on #3837
TL;DR after testing more:

- OpenSSL is not optionally requesting a client cert with `anon` whereas GNUTLS did.
- On latest CentOS 7, there's an openssl version dependency error message, but TLS connections still work.

@alorbach and @rgerhards, please excuse me. I had made a trivial mistake when I first posted the issue. What had happened was I had not installed the openssl dependency into my Cen

[2019-08-29 18:20] davidelang opened #3849 "create setproperties capability"
Currently we cannot set the basic properties, just set variables in the $!, $. $/ namespaces. We work around this by telling people to create a new template that uses $. variables and populate them, this works, but it would simplify a lot of configs if there was a way to set the basic properties.

I can also see it simplifying some parser configs if you can set the properties based on what's parse

[2019-08-29 18:21] davidelang commented on #3847
Thinking about this a bit more, two thoughts:

1. I don't know if it makes more sense to say 'logs are tag AuditRecord' or to say 'logs are anything inside 'Audit'. or 'logs are 2nd level items' I'm leaning slightly towards the second one as that would catch the Version info from the XML as a separate log item. I also see simplicity and less data loss in the third one where you say strip off the f

[2019-08-29 18:22] davidelang commented on #3849
receiving logs from logstash where the logs are in "@timestamp" in json is another example of where this would be useful

[2019-08-29 18:33] davidelang opened #3850 "create csv parser"
see the discussion at https://github.com/rsyslog/liblognorm/issues/74 but extend it so that the rsyslog parser can read the first line of the file to get the field names and then pass them to the liblognorm csv parser

[2019-08-29 18:34] #3846 closed

[2019-08-29 18:34] thymikon commented on #3846
well, nvm
did not get it work in that setup

[2019-08-29 20:59] davidelang commented on #3846
so the problem went away or you gave up on using rsyslog?

David Lang

[2019-08-30 03:43] thymikon commented on #3846
Hello David, I am give up with rsyslogd 8.1907.0 & arch 5.2.9-arch1
nvm, because archlinux is my notebook OS and sandbox also
if I have to use any syslog in prod I will use different OS (centos)
so thank you

[2019-08-30 08:22] alorbach commented on #3837
Regarding this error:

It is related to the gnutlsPriorityString configuration parameter which cannot be used on the OpenSSL Version which comes with CentOS7 as it does not support this API.

Regarding your anon communcation analysis, I am not sure if this is something we can changed on rsyslog side. We are using OpenSSL / GnuTLS API calls to do the TLS Handshake but what happens within these hand

[2019-08-30 08:43] rgerhards commented on #3837
I have the impression that this error message is always triggered, even if "gnutlsPriorityString" is not used. @alorbach can you have a look and fix, if so?

[2019-08-30 08:55] alorbach commented on #3837
If this happens without using gnutlsPriorityString, LogError should just be changed into LogWarning here:
https://github.com/rsyslog/rsyslog/blob/master/runtime/nsd_ossl.c#L1857

[2019-08-30 09:31] RihabAyachi opened #3852 "attempt to trigger reload of lookup table 'table' failed (not stubbing): Device or resource busy"
In order to optimize the number of application data packets I forward from my kafka server, I added a new set of filters to do the job and wrote two python scripts that add data and delete from my json file which is called in rsyslog as a lookup table.
Data is forwarded normally (I receive traffic on the server) and I can see data being added to my json file meanwhile. But after a certain time, th

[2019-08-30 09:35] davidelang commented on #3852
I know that it sounds like a cop-out, but could you please try 8.1908? we did
find a few deadlock scenarios that were fixed in 1908

David Lang

[2019-08-30 10:42] mbiebl opened #3853 "Python 2 removal (in Debian sid/bullseye)"
Bug-Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=938417

Copied verbatim from the downstream bug report:

Afaics, this only affects the test-suite.

[2019-08-30 15:34] jchivian commented on #3329
msg.c

case NOW_NOW:
  memcpy(pBuf, two_digits[t->year/100], 2);
  memcpy(pBuf+2, two_digits[t->year%100], 2);
  pBuf[4] = '-';
  memcpy(pBuf+5, two_digits[(int)t->month], 2);
  pBuf[7] = '-';
  memcpy(pBuf+8, two_digits[(int)t->day], 2);
  pBuf[10] = 'T';
  memcpy(pBuf+11, two_digits[(int)t->hour],2);
  pBuf[13] = ':';
  memcpy(pBuf+14, two_digits[(int)t->minute],2);
  pBuf[16] = ':';
  memcpy(pB

[2019-08-30 16:09] circulosmeos commented on #3306
Now that I've developed [`gztool`](https://github.com/circulosmeos/gztool/) with [`-S` (supervise) and `-T` (supervise and tail) options](https://github.com/circulosmeos/gztool/tree/master#examples-of-use), adding `bgzip` format doesn't seem like a **`MUST`** because `gztool` indexes are very small (<<%1/gzip): even if never as small as `bgzip` ones, the complexity of the format change doesn't jus

[2019-08-30 17:57] Whissi commented on #3853
FYI: You can run current test suite with Python3+ only. In the past there were some tests written with Python2 in mind but after filling bugs they were fixed.

[2019-08-30 18:05] mbiebl commented on #3853
That's good to know. Maybe only the shebang needs to changed then?

[2019-08-31 18:38] circulosmeos commented on #3306
I haven't been able to increase the very little gzip block size when using `VeryRobustZip` neither using `ioBufferSize="128k"` nor with something like `flushOnTextEnd="off" asyncWriting="on" flushInterval="2"`.

Maybe a code change is needed to increase the gzip block size when using `VeryRobustZip`.

[2019-08-31 19:01] circulosmeos commented on #3306
Note for geeks: the size of the gzip completed blocks used with `veryRobustZip` can be traced with [`gztool`](https://github.com/circulosmeos/gztool/) using `-v3` when extracting data as they produce a zlib's ERR=1 (Z_STREAM_END) message; for example:
`$ gztool -b0 -v3 mylog.gz`

[2019-08-31 21:30] davidelang commented on #3306
yes a code change would be needed.

[2019-09-01 11:47] JPvRiel commented on #3837
Hi @alorbach

GnuTLS API calls to do the TLS Handshake but what happens within these handshakes lies within the API

I think it must be settable via the API. For example, the man page for openssl s_server states the following:

The verify depth to use. This specifies the maximum length of the client certificate chain and makes the server request a certificate from the client. With the -verify opti

[2019-09-01 12:15] JPvRiel commented on #1738
I'd like to propose that for  [Add Option to Verify Hostname in Syslog Message Against the TLS Client Certificate CN when in Auth Name Mode](https://github.com/rsyslog/rsyslog/issues/436), more robust client authentication options could be provided:

1. If the CN or a SAN of client cert matches the hostname in the message, have a property, e.g. `hostname_verified` set as true (effectively allows c

[2019-09-01 19:35] circulosmeos commented on #3306
No, it is possible to increase `veryRobustZip` block using `rsysog` options: see previous comment with `ioBufferSize` and `asyncWriting`!

[2019-09-02 02:39] huiwanheshang commented on #3840
THX very much, dear Gerhards .

But:
When I install rsyslog(8.1907.0) with yum( http://rpms.adiscon.com/v8-stable/rsyslog.repo  added)
"systemd support" is "Yes".

So, what's going on here?  thx

[2019-09-02 07:30] skupkosk commented on #3840
As Rainer wrote, configure script check whether the libsystemd-dev is
available, in that case the systemd support is enabled. If not found, then
is will be disabled.

Have a look on following lines in configure.ac:
https://github.com/rsyslog/rsyslog/blob/71801b4b60d8cb194f0d7177cc8c09e8f2191678/configure.ac#L563

Peter

On Mon, Sep 2, 2019 at 4:39 AM huiwanheshang <notifications@github.com>
wrote:

[2019-09-02 11:03] ltworf opened #3854 "PPA packaging for ubuntu needs severe improvement for bionic and successors"
Greetings

I tried the PPA for ubuntu and the packaging done there is in need of work. You seem to be using the same things you did for ubuntu 14, but that doesn't work very well with ubuntu 18.

In particular, because `dh_systemd` is not in use, the generated scripts are wrong and do not account for systemd (which is what ubuntu uses nowadays). This can cause rsyslog to not start.

But there are

[2019-09-02 11:06] rgerhards commented on #3854
PRs are appreciated. On the test: note that we run them routinely during CI. Depending on distro and version different suppression files are needed for issues in non-rsyslog libraries. I guess these cause the failures. Also, we have some flakes from time to time (especially on busy machines) which are related to testbench plumbing.

[2019-09-02 11:09] ltworf commented on #3854
Eh I'm just using whatever debian does in `stretch-backports`, skipping the tests entirely and using the latest tarball from rsyslog.

[2019-09-02 15:55] alorbach commented on #3837
@JPvRiel:

I reviewed your answer. I have created a testcase in my personal branch here:
https://github.com/alorbach/rsyslog-1/blob/pr-issue-3837-close/tests/sndrcv_tls_ossl_serveranon_ossl_clientcert.sh

The Server then actually does verify the peer certificate:
`9132.687089818:main Q:Reg/w0  : nsd_ossl.c: osslPostHandshakeCheck: Debug Version: TLSv1.0 Name: AECDH-AES256-SHA
9132.687092221:main Q

[2019-09-03 16:18] livelace commented on #3530
**2netwalkers**. I have spent about an hour to realise that error:

rsyslogd: omrelp: could not connect to remote server, librelp error 10015 [v8.1908.0 try https://www.rsyslog.com/e/2291 ]

arises from SELinux.

The whole hour I was checking routes, firewalls, syslog versions etc.

[2019-09-03 18:39] richm commented on #2757
enable impstats - there are many omelasticsearch impstats, some of which are related to errors

[2019-09-03 21:53] gaia commented on #3812
I turned on logging during shutdown and this is what I found

[code]

[2019-09-03 23:43] davidelang commented on #3812
can you enable debugging during shutdown and send us that report?

David Lang

On Tue, 3 Sep 2019, gaia wrote:

[2019-09-04 01:51] gaia commented on #3812
sorry, how would I do that?

[2019-09-04 02:12] davidelang commented on #3812
sorry, don't have time to go into details right now, which is why I'm just
throwing a couple of links at you

https://www.rsyslog.com/doc/v8-stable/troubleshooting/debug.html
https://www.rsyslog.com/how-to-use-debug-on-demand/

you probably want to setup debug on demand and then enable it just before doing
the shutdown

David Lang

[2019-09-04 08:04] n2N8Z commented on #2757
@richm: yes, I had impstats enabled. So you are suggesting that there would be errors recorded in impstats, which are produced by rsyslog, and yet rsyslog does not consider them to be errors worthy of writing to the configured errorFile ?
As I had stated: "no error logs were written to syslog, and the configured errorFile was not written. So the batch failed entirely silently."

[2019-09-04 11:47] Uni-lovenix opened #3855 "glibc detected *** /sbin/rsyslogd: realloc()"
glibc detected *** /sbin/rsyslogd: realloc(): invalid next size: 0x00007fde200064f0 ***
Backtrace: =========
Memory map: ========
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:2d 2015 /lib64/rsyslog/lmnsd_ptcp.so
00004000 00:2d 2015 /lib64/rsyslog/lmnsd_ptcp.so

note: my rsyslog's version is 4.6.2

Here is the new configuration:
$

[2019-09-04 12:36] rgerhards commented on #3855
Please provide the actual config - the attached one has too few lines and as such cannot be correct.

posted config:
[code]

[2019-09-04 12:37] rgerhards commented on #3855
side note: you can three backticks to delimit text parts like the config "````"

[2019-09-04 13:01] Uni-lovenix commented on #3855
I recommand I used 4.6.0 version in my client PC, so I put the option '-c4' in the first then it worked, but has some permission problem. like:file '/var/log/messages': Permission denied

[2019-09-04 13:24] richm commented on #2757
It's worth checking, especially if you already have impstats enabled: https://www.rsyslog.com/doc/v8-stable/configuration/modules/omelasticsearch.html#omelasticsearch-statistic-counter

[2019-09-04 18:29] davidelang commented on #3855
if all of this is one config file, then you have problems because you are
loading things with both the obsolete legacy format ($InputECPServerRun) and
with the new format (input())

when you are doing multiple rulesets, you will want to be using the new format.

I'm amazed that you aren't getting errors with this.

you don't want to try to use -c4 on current versions, it doesn't do anything
useful

[2019-09-05 02:33] Uni-lovenix commented on #3855
I used -c4 option then it works, but I got error as below:
0612.213177218:7f4fb474d700: file '/dev/tty10' opened as #-1 with mode 416
0612.213181920:7f4fb474d700: strm 0x7f4fb6b459b0: open error 13, file '/dev/tty10': Permission denied
0612.213187714:7f4fb474d700: testing filter, f_pmask 127
0612.213192099:7f4fb474d700: Called action, logging to builtin-file
0612.213197232:7f4fb474d700: file to lo

[2019-09-05 02:45] davidelang commented on #3855
The permission problems are caused by your system, wht are the permission on /dev/tty10  and /var/log/messages (or the /var/log directory)? this could be SELinux or AppArmor permissions that are blocking you

[2019-09-05 12:28] h0nIg opened #3856 "queue size warning gives error on config check"
### Expected behavior
warning generated by https://github.com/rsyslog/rsyslog/issues/3334 should pass config check "rsyslogd -N1"

### Actual behavior
error displayed and return code for check is greater than 0, meaning there seems to be a real error

[code]

### Steps to reproduce the behavior
define an action with rainerscript and a queue with size greater than 500000

### Environment
- rsyslog

[2019-09-05 12:38] rgerhards commented on #3856
can you reproduce this with the current version 8.1908.0?

[2019-09-05 16:15] lusbyr opened #3857 "Rsyslog doesn't start, complains about not be able to find ommysql module"
### Expected behavior - rsyslog complied from source with mysql option, should start.

### Actual behavior - rsyslog complains that it cannot find module ommysql, even though the ommysql.so file exists in /usr/lib/rsyslog

### Steps to reproduce the behavior - compile rsyslog 8.1908.0 from source with --enable-mysql and --enable-omudpspoof options.  Try and run rsyslog and it fails.

### Environme

[2019-09-05 16:17] lusbyr commented on #3857
Sorry wrong library path initially indicated it is the default /usr/local/lib/rsyslog

[2019-09-05 16:22] rgerhards commented on #3857
actual rsyslog error message?

nope, this works ;-)

[2019-09-05 16:23] rgerhards commented on #3857
might be the issue - is this path in the system's library search path?

[2019-09-05 17:08] lusbyr commented on #3857
Thanks for the response.  Is the LD_LIBRARY_PATH environment variable what your are referring to?  Did you run your test compile on Ubuntu 18.04 LTS?

Thanks.

[2019-09-05 17:31] rgerhards commented on #3857
IIRC yes

This and 41 other platforms - it's all done in CI ;-)

[2019-09-05 17:50] lusbyr commented on #3857
Rainier, OK here is what I just did...

root@rsyslog2:~# export LD_LIBRARY_PATH=/usr/local/lib:/usr/local/lib/rsyslog;
root@rsyslog2:~# systemctl restart rsyslog
Job for rsyslog.service failed because a timeout was exceeded.
See "systemctl status rsyslog.service" and "journalctl -xe" for details.
root@rsyslog2:~# systemctl status rsyslog
● rsyslog.service - System Logging Service
   Loaded: loaded

[2019-09-06 06:32] rgerhards commented on #3857
you need to export the environment variable in the service, not your terminal.

Probably better set the default-OS libdir during configure : `--libdir=/usr/lib`

[2019-09-06 06:33] rgerhards commented on #3857
note that it may actually be `/usr/lib64` - check your system if in doubt

[2019-09-06 12:47] Uni-lovenix commented on #3857
It's can be worked! I configed the file by v5's style, then it worked!
but unfortunately, it will put a memory leak error.
as below:
glibc detected *** /sbin/rsyslogd: realloc(): invalid next size: 0x00007fde200064f0 ***
Backtrace: =========
Memory map: ========
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:00 0
00000000 00:2d 2015

[2019-09-06 12:50] Uni-lovenix commented on #3857
Here is the new configuration:

#rsyslog v3 config file

$FailOnChownFailure off

#### MODULES ####

$ModLoad imuxsock.so	# provides support for local system logging (e.g. via logger command)
$ModLoad imklog.so	# provides kernel logging support (previously done by rklogd)

#### GLOBAL DIRECTIVES ####

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

#### RUL

[2019-09-06 13:01] Uni-lovenix commented on #3855
Now it can worked, but reported a memory leak error. I checked the redhat's issue at there:[https://access.redhat.com/solutions/66500](url)
So I only use one file to be input file. but it still report this error. I confused.
Please help me, Thank you so much

[2019-09-06 14:19] trancemind65 opened #3858 "rsyslog parent startup failure - error reading fork pipe - No such file or directory"
Hi!

In Ubuntu when I run
# rsyslogd -d

shows me:
main thread    : rsyslogd.c: rsyslog parent startup failure: error reading "fork pipe": No such file or directory
rsyslog startup failure: error reading "fork pipe": No such file or directory

How can I fix that?

Please help, thanks!

[2019-09-07 05:29] Rampa33 opened #3859 "rsyslogd fails to start because of segmentation fault"
### Expected behavior
I just added a configuration for main_queue
main_queue(queue.filename="myqueue" queue.saveOnShutdown="on")
to my rsyslog.conf. Without this line, rsyslogd is starting and forwarding logs to my remote machines.

### Actual behavior
With the above config, i am seeing a segmentation fault.

### Environment
-version :
~ # rsyslogd -v
rsyslogd  8.1905.0 (aka 2019.05) compiled with

[2019-09-07 05:36] Rampa33 commented on #3859
4452.171080908:main thread    : ../action.c: Action builtin:omfwd[0xf43840]: queue 0xf43f00 started
4452.171085339:main thread    : ruleset.c: Activating Ruleset Queue[(nil)] for Ruleset RSYSLOG_DefaultRuleset
4452.171093193:main thread    : rsconf.c: activateMainQueue: mainq cnf obj ptr is 0xf38c10
4452.171099758:main thread    : rainerscript.c: nvlstGetParam: name 'queue.filename', type 13, valn

[2019-09-07 05:47] davidelang commented on #3859
I think you need to set the workdirectory (or spool directory) for it to ork
properly.

David Lang

On Fri, 6 Sep 2019, Rampa33 wrote:

[2019-09-07 06:55] Rampa33 commented on #3859
@davidelang ,

Thanks for your response. My main_queue() configuration is infact preceded by global(workDirectory="/path/to/directory") statement.

i also do have action specific queues, which are picking up workdirectory config.

[2019-09-07 07:53] davidelang commented on #3859
I would put all the global() parameters in one set. I don't know how rsyslog
handles having multiple global() statements.

David Lang

[2019-09-07 09:03] rgerhards commented on #3859
El sáb., 7 sept. 2019 a las 9:53, David Lang
(<notifications@github.com>) escribió:

That's well defined and OK - we know we need to have them split from
time to time (especially when using includes).

I'd still like to see the full config - sorry, right now to busy to
try to reproduce albeit I know it's trivial to do...

Rainer

[2019-09-07 09:53] Rampa33 commented on #3859
Here is my complete config file:

module(load="imuxsock")
module(load="imklog")
module(load="impstats" interval="10" severity="7")

$ActionFileDefaultTemplate RSYSLOG_DebugFormat

if $syslogtag contains 'rsyslogd-pstats' then {
     action(type="omfile" queue.type="linkedlist" queue.discardmark="980"
            name="pstats" file="/var/log/pstats")
     stop
}

*.*     /var/log/messages
global(wo

[2019-09-07 16:38] Fazik commented on #3748
Sorry for the late reply.
After upgrade to 1908 everything is fine

[2019-09-07 16:38] #3748 closed

[2019-09-08 17:50] rwdalpe commented on #3784
I was able to reproduce the bug on

platform: Centos 7
rsyslog version: 8.1908.0
systemd version: 219.62

Unfortunately, getting a newer version of systemd on centos 7 is a bit more difficult. I'll keep working on that to see if I can demonstrate that upgrading systemd is sufficient to "resolve" the bug.

[2019-09-09 03:35] #3855 closed

[2019-09-09 03:39] Uni-lovenix opened #3860 "rsyslog stops writing logs until restarted"
rsyslog: 4.6.2
Redhat x86_64

We have 4 clients that send logs to 1 remote hosts via tcp. But only one client sends log to remote host. and the only one sends log it's very small. I don't know why others client stop sending logs to remote host suddenly.
PS:
For some other reason, we are temporarily unable to upgrade this tool.

### rsyslog configuration

$FailOnChownFailure off

$ModLoad imuxsock.

[2019-09-09 04:18] davidelang commented on #3860
is this really rsyslog v4? that's over a decade old. Please try a current version (we fixed similar bugs in v8.1908)

[2019-09-09 06:27] Uni-lovenix commented on #3860
Yeah, For some other reason, we are temporarily unable to upgrade this tool.

[2019-09-09 13:24] MasterpieceRoy opened #3861 "Rsyslog->Kafka"
Hi. I am trying to send a log file which is in human readable format to kafka via rsyslog. The file is present in /var/log/example.log

The problem which I am facing is that when I check the topic to which I am sending in kafka it doesn't show any messages. So I guess it's not able to send any messages. Below is my example.conf file which I have configured in /etc/rsyslog.d/.
`module(load="imfile"

[2019-09-09 13:33] rgerhards commented on #3861
any error message (or any messages at all) from rsyslog? rsyslog version?

[2019-09-09 13:35] MasterpieceRoy commented on #3861
There are no error messages from rsyslog. The rsyslog version is rsyslogd 8.23.0

[2019-09-09 13:37] rgerhards commented on #3861
rsyslog version is most probably the issue - 8.32.0 is veeeeery old (~3yrs) and known to have broken kafka. Try with current (8.1908.0).

[2019-09-09 13:37] MasterpieceRoy commented on #3861
Ok.Cool. Let me check and report back.

[2019-09-09 14:05] MasterpieceRoy commented on #3861
Btw is the configuration correct ? Just to be sure.

[2019-09-09 14:12] rgerhards commented on #3861
I don't know exactly but would need to dig deeper. Not a kafka expert. But I **do know** about the defects in early versions ;-)

[2019-09-09 14:48] MasterpieceRoy commented on #3861
Lol. Well, I can't update the rsyslog version as I have lots of servers and updating in all of them is troublesome. Any workarounds ? Will appreciate it though. :)

[2019-09-09 14:51] rgerhards commented on #3861
backport patches, build your own [io]mkafka, distribute it

[2019-09-09 14:52] MasterpieceRoy commented on #3861
And I have a different .conf file where it seems to work. The input module is imudp and the output module is omkafka. It works for that. But when I use the imfile and omkafka combination it doesn't work.

[2019-09-09 15:01] rgerhards commented on #3861
Just to name a few...
* https://github.com/rsyslog/rsyslog/issues/1515
* https://github.com/rsyslog/rsyslog/issues/1584
* https://github.com/rsyslog/rsyslog/issues/1052

[2019-09-09 16:10] MasterpieceRoy commented on #3861
Appreciate it. Thank for the help. I'll check and pester you again if needed.

[2019-09-09 18:30] circulosmeos commented on #3306
With the rsyslog configuration previously tested and the use of [`gztool`](https://github.com/circulosmeos/gztool/) this request can be closed! :-o

I've learnt how to correctly configure `veryRobustZip` with `rsyslog` and I've developed [`gztool`](https://github.com/circulosmeos/gztool/), so:
Thanks to all the people who have tried to guide me through this journey!

[2019-09-09 18:30] #3306 closed

[2019-09-10 00:53] rwdalpe commented on #3784
Upgrading from systemd 219 to a newer version requires so many other changes (kernel versions, major libraries, etc.) that I'm not having much success putting together a test of just the systemd upgrade.

Even though the tests were on different platforms, it looks like systemd's behavior (with respect to how imjournal is using it) changed between 219 and current versions. At the very least, the rs

[2019-09-10 06:34] rgerhards commented on #3784
@jvymazal can you provide some advise?

[2019-09-10 06:42] rgerhards commented on #3306
Thanks for all your help! Would you be interested to add the relevant information to the rsyslog-doc project? I am sure this would make it much more accessible to the community at large.

see https://github.com/rsyslog/rsyslog-doc/

[2019-09-10 07:19] Rampa33 opened #3862 "Target as hostname in configuration file"
When we provide hostname for target in rsyslog.conf, rsyslogd internally invokes getaddrinfo() to resolve the hostname to IP address. It is expected of DNS server to send a reply with multiple sockaddr. In that case, how is rsyslogd expected to work?

In code, i always see getaddrinfo() is invoked for first address in the response and we do not iterate the link list and try to connect to multiple

[2019-09-10 07:29] davidelang commented on #3862
That is correct, we will get one address (IIRC, the underlying call randomizes
the order a bit, at least over time), and we use the first one that we get.

There is no attempt to connect to multiple addresses if they exist.

David Lang

[2019-09-10 07:33] Rampa33 commented on #3862
@davidelang , thanks for your response. What if the first one in the list was unreachable at the moment of connection try? In that case, how will rsyslogd succeed in connecting to the remote device?

Has it been done with the assumption that, in the next retry for the hostname, we could end up getting differently ordered list(first one in this order is luckily reachable).

[2019-09-10 07:37] davidelang commented on #3862
On Tue, 10 Sep 2019, Rampa33 wrote:

Yes, that is the normal way that round-robin DNS is used.

I prefer other methods to provide high availability of the destination
(CLUSTERIP if all the destinations are on the same subnet, or ANYCAST if they
aren't) but RR DNS works within it's limits, and what you are describing is one
of those limits.

David Lang

[2019-09-10 09:27] MasterpieceRoy commented on #3861
Hey. So is there any such thing that we can't use imfile modules in 2 different configs at the same time. Say for example a.conf also has imfile and b.conf also has imfile. Is it not possible ?

[2019-09-10 09:31] davidelang commented on #3861
you can only load a module once, but you can define as many inputs as you want.

David Lang

[2019-09-10 09:33] MasterpieceRoy commented on #3861
So if we load it once in a file it should work even for other config files,right ?

[2019-09-10 09:39] davidelang commented on #3861
yes. when you include a file, it's exactly as if you pasted that file at the
point of the include.

the latest versions offer a -o flag that will dump out a version of the combined
config files the way that rsyslog understands it (it's not perfect yet, but it's
very helpful)

David Lang

[2019-09-10 09:42] MasterpieceRoy commented on #3861
Sounds good. Let me try. Thanks !!! :)

[2019-09-10 17:06] darakian opened #3863 "Doc request: OBS repo setup"
Hey, I'm trying to add the ubuntu repo from your OBS account (http://download.opensuse.org/repositories/home:/rgerhards/) and am running into issues getting it added. Can I request a quick doc on adding this repo? I'm using this instead of the ppa for the omhttp package.

[2019-09-10 19:55] h0nIg commented on #3856
@rgerhards no error with 8.1908.0.
* do you see a workaround for a successful config check even with large queue's?
* do you think rsyslog 8.1908.0 will make it into ubuntu 16.04, since the current version is already 8.1905.0

[2019-09-11 06:46] rgerhards commented on #3863
Doc is provided by OBS: https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog (this is also linked to from main rsyslog site).

[2019-09-11 06:46] #3863 closed

[2019-09-11 18:40] rgerhards commented on #3857
Question: why do you build yourself?

[2019-09-11 20:14] lusbyr commented on #3857
Because I need the UDP spoofing and MySQL integration.   As far as I know this is not part of the apt-get or yum package options for rsyslog.

[2019-09-11 20:25] rgerhards commented on #3857
MySQL for sure is in the default distro repositories. I think both are
present in the rsyslog repositories linked to from the rsyslog.com site.

Rainer

Sent from phone, thus brief.

lusbyr <notifications@github.com> schrieb am Mi., 11. Sep. 2019, 22:14:

[2019-09-11 21:15] davidelang commented on #3857
those modules are not in the default rsyslog package, but there are other
packages that do include them. check your distro for all rsyslog* packages

They aren't included by default because they require additional dependencies.

David Lang

On Wed, 11 Sep 2019, lusbyr wrote:

[2019-09-12 07:50] #3861 closed

[2019-09-13 12:25] StrongestNumber9 commented on #1071
@rgerhards Are you interested in debugging this on a live system? We can provide you access to our host where it can be reliably reproduced.

Pinging @kortemik for details

[2019-09-13 13:15] rgerhards commented on #1071
I would but I will be off to Estonia next week. @janmejay interested?

[2019-09-16 05:24] sachin09 opened #3864 "Unable to acknowledge message in OmProg. Version table: 8.24.0-1 500"
Error while using below params in OmProg:
1. fileCreateMode
2. killUnresponsive
3. confirmTimeout
4. confirmMessages

My Config is as follows:
action(type="omprog"
       name="parser"
       binary="/tmp/parser.py"
       queue.type="Disk"
       queue.size="100000"
       queue.saveOnShutdown="on"
       queue.workerThreads="5"
       queue.maxdiskspace="1g"
       queue.maxfilesize="10m"

[2019-09-16 05:47] rgerhards commented on #3864
The version is simply too old.

[2019-09-16 05:47] #3864 closed

[2019-09-16 05:51] sachin09 commented on #3864
Sample is mentioned here: https://www.rsyslog.com/doc/v8-stable/configuration/modules/omprog.html#forcesingleinstance

Like:
action(type="omprog"
       name="db_forward"
       binary="/usr/share/logging/db_forward.py"
       confirmMessages="on"
       confirmTimeout="30000"
       queue.type="LinkedList"
       queue.saveOnShutdown="on"
       queue.workerThreads="5"
       action.resumeInterva

[2019-09-16 09:49] sachin09 commented on #3864
What is the recommended version of rsyslog for Debian Stretch and Jessie?

[2019-09-16 11:59] yfliuyanyan opened #3865 "Repeated messages in kafka"
### Expected behavior
I use omkafka, and message in kafka should be different
### Actual behavior
sometimes there are two messages in kafka are the same. My kafka version is 0.10.
message example:
{
	"metaData": {
		"file": "/export/Logs/trace.log",
		"time": 1568278573035,
		"id": "D3638EC2EC6645219EEB956ACED98F64",
		"msg": "2019-09-12 16:51:48.000 This is my log"
	}
}
### Steps to reproduce the

[2019-09-16 23:30] davidelang commented on #3864
the only version the community officially supports is the current one (8.1908
currently) We are always going to recommend that you run a supported version ;-)
In practice, we support older versions where it's not too much work.

if your distro opts to give you an older version and claims to offer support,
they are deciding to support the older versions that they ship.

8.24 is almost 3 years old (

[2019-09-17 07:57] yfliuyanyan commented on #3865
I also use omfile, everything is ok. There is no repeated message in file.
Is there any bug in omkafka?
Any help will be appreciated.

[2019-09-17 23:13] davidelang opened #3866 "rsyslog dies randomly with TLS input"
rsyslog 8.37 dies with

Ohhhh jeeee: Assertion `pool_is_locked' failed (random-csprng.c:1075:add_randomness)
Aborted

my guess is that gnutls is using /dev/random instead of /dev/urandom

I don't know if there is a fix for this, but I figured that since I got the correct error message it was worth posting. I plan to upgrade this system to 8.1908 tomorrow at which time I can test openssl as well as

[2019-09-18 03:40] alah64 opened #3867 "install omrabbitmq in production servers"
hello.
i need to use omrabbitmq but ./configure --enable-omrabbitmq and make rsyslog is not avalable scenario on our customers .(some systems didnt have internet , many packages need to install before and some times there is a problem with the installation process.)

for install other packages exists scripts like `apt install rsyslog-hiredis` and so.
is there any other way to install omrabbitmq in

[2019-09-18 05:23] rgerhards commented on #3866
That's a known gnutls issue and one of the reasons why the OpenSSL driver was developed.

[2019-09-18 12:26] riya-17 commented on #3767
Hey @Finn38 , were you able to resolve the issue because I am finding the same error.
[code]

[2019-09-18 18:22] allamiro commented on #3865
Any thing unusual about the message ID ?

[2019-09-19 02:24] yfliuyanyan commented on #3865
Hi @allamiro , id for each message should be different. But id in dupilcated messages are the same.

[2019-09-19 06:33] yfliuyanyan commented on #3865
My app produced several or tens of messages a day. Is that the point?

[2019-09-19 15:08] gcoxmoz opened #3868 "rsyslogd segfaults when given empty forwarders"
rsyslogd was working fine.  We then had a goof with our configuration management, and our UDP-forwarding lines went from `local0.* @10.x.y.z` to `local0.* @` and rsyslogd was told to restart in this condition.

Now, it gets a little handwavey at this point.  That's obviously a bad config, and if you try to **start** rsyslog with that config it will refuse (yay), but if you **restart** in this cond

[2019-09-19 20:14] rgerhards commented on #3868
Can you reproduce this with a current version? 8.24 is almost 3 years old. We are now at 8.1908.0.

[2019-09-20 03:07] davidelang commented on #3868
a HUP doesn't re-read the config, and a restart should be a full stop/start (at
lest as far as the config parsing goes) so what I would expect to see is that it
stops, but fails to start throwing an error somewhere that it's probably
ignored/lost :-/

David Lang

[2019-09-20 08:29] lichen2013 opened #3870 "rsyslog server running with error : unexpected GnuTLS error -54 in nsd_gtls.c"
### Expected behavior

1. rsyslog running with no error

### Actual behavior

1. rsyslog running with errors

### Steps to reproduce the behavior

This is our environment:

log sender (500+ servers with rsyslog configured) ---> log forwarder (2 servers) --> target server

The issue is happening on the log forwarder servers.

After running 2 days, there are a lot of open connections on these 2 serv

[2019-09-20 08:41] lichen2013 commented on #3870
Tried google, no luck, opened the debug by adding the following line to rsyslog.conf
[code]
And started rsyslog with debug mode: `/usr/sbin/rsyslogd -dn`
Here is the log file.

[rsyslogdebug.txt.zip](https://github.com/rsyslog/rsyslog/files/3634960/rsyslogdebug.txt.zip)

[2019-09-21 02:36] lichen2013 commented on #3870
upgraded rsyslog version, still error:
[code]

[2019-09-23 08:36] jvymazal commented on #3784
If I am reading the report correctly, it seems that problem is tied to old systemd version, in that case my advice is to take this to systemd maintainers and push for a fix there (patching the CentOS/amazon Linux versions as rebases in these are not likely). Other than that I am not sure how I could help.

[2019-09-23 09:22] alorbach commented on #3870
Since Version Version 8.32.0 (2018-01-09), there has have a lot of changes in gnutls / openssl code.
I suggest that you try latest rsyslog from our repository, to verify if the problem isnt already fixed:
https://www.rsyslog.com/ubuntu-repository/

If the problem persists, we can take a deeper look into your problem.

[2019-09-23 12:48] rgerhards commented on #3870
I would assume that this are just connection drops. Gnutls just reports them with a generic error message.

[2019-09-23 16:35] gcoxmoz commented on #3868
I'm sorry, this turned out to be not-an-issue, after a much deeper investigation.  I do have a bug to file, but it's not this.  The segfault was cropping up when as I hit the bug in the RHEL7 version, and I thought that the segfault was an issue, when in fact it was unrelated.  In upstream this problem exists in <=8.34 and is gone in >=8.35, and whatever the exact patch was wasn't cherry-picked ba

[2019-09-23 16:35] #3868 closed

[2019-09-23 18:54] gcoxmoz opened #3871 "Error in rule action causes global directive to be ignored"
When parsing a config file that contains an error, it is possible to end up skipping/missing other lines in the config that happen before the broken line and do not contain errors.

In the example below, a rule with a bad action leads to ignoring a global directive.

While this example does use obsolete'd syntax, since the syntax is accepted and used correctly in the most modern version (and the i

[2019-09-23 22:09] lusbyr commented on #3857
I solved this issue by running on CentOS.  Couldn't get it to work on Ubuntu, but needed to get this project moving forward.  Thanks for your help.

[2019-09-23 22:09] #3857 closed

[2019-09-24 01:26] lichen2013 commented on #3870
@alorbach I have tried the version 8.1910.0.9814b01e74e0, same issue.

[2019-09-24 01:31] lichen2013 commented on #3870
@rgerhards

After several days long run,  we have observed same error log at the client side.
When connection drop happens, will rsyslog re-connect and re-send the log that failed to send ?
I think we have observed log been miss, and this is a real issue.

[2019-09-24 02:23] davidelang commented on #3870
read
https://rainer.gerhards.net/2008/04/on-unreliability-of-plain-tcp-syslog.html

to be reliable you need to use relp

David Lang

[2019-09-24 05:26] alorbach commented on #3870
It looks like broken connections.

@lichen2013 you may try openssl ("ossl") driver which provided way better error reporting and handling:

For more information:
https://www.rsyslog.com/doc/v8-stable/concepts/ns_ossl.html

[2019-09-24 08:47] alorbach opened #3872 "msg.c: check and correct default for msg offset value."
Commit https://github.com/rsyslog/rsyslog/commit/1255a67fdec2fc44cd49b6ea8c463f4319910812 changed the default for pM->offMSG from -1 to 0.
Commit https://github.com/rsyslog/rsyslog/commit/73506acff23f144d277fa811aa60bf4a290b9875 again reversed the changed from 0 to -1, but to change properly was unintentional.

Change the default back from -1 to 0 now, as a default of -1 can cause unexpected resul

[2019-09-24 09:46] Eddd97 opened #3874 "Property Replacer plus ("+") sign"
Hello!

I am trying to use the following template:

`template(name="extract" type="string" string="%msg:F,9+:3%")`

I want to use this to extract the 3rd field from a message with fields delimited by an unknown number of tab characters. However I always get this when testing the config:

[code]

What am I doing wrong? Thanks!

[2019-09-25 05:30] lichen2013 commented on #3870
Thanks for the kindly help, @alorbach @rgerhards.
Will check relp and openssl.
Since these error messages are not real problem, close this issue.

[2019-09-25 05:30] #3870 closed

[2019-09-25 14:16] Karl90 commented on #2646
Hi All,

I have detected the same issue in some environments,
we're not using omfwd but omkafka, here is the ruleset's config:

ruleset(name="publish_security-log"){
        action(
        name="kafka-publish_security-log"
        partitions.auto="on"
        action.resumeRetryCount="-1"
        action.resumeInterval="2"
        broker=["kafka-broker-001:9092"]
        type="omkafka"
        temp

[2019-09-25 14:19] Karl90 commented on #2646
Hi,

BTW, this is the version used:

$ rsyslogd -v
rsyslogd  8.1905.0 (aka 2019.05) compiled with:
        PLATFORM:                               x86_64-redhat-linux-gnu
        PLATFORM (lsb_release -d):
        FEATURE_REGEXP:                         Yes
        GSSAPI Kerberos 5 support:              Yes
        FEATURE_DEBUG (debug build, slow code): No
        32bit Atomic operations support

[2019-09-25 17:55] circulosmeos commented on #3306
ok, I'll try to add these infos

[2019-09-26 04:35] stephenph opened #3877 "can not resolve remote hostname"
### Expected behavior
Send logs to remote server
### Actual behavior
Cannot resolve hostname <FQDN>:  Resource temporarily unavailable
### Steps to reproduce the behavior
configure rsyslog.conf to transmit logs to remote server using FQDN:

### Environment
- rsyslog version: 8.1907.0 (aka 2019.07)
- platform: x86_64-redhat-linux-gnu  (Fedora 29)

- for configuration questions/issues, include rsysl

[2019-09-26 05:44] skupkosk commented on #2646
Hello Karl,
one of the root causes could be the system starts using swap space. Do you
track the performance counters on the system? Have a look on memory usage.
Sometimes it is hard to size the syslog server. You should count the
highWatermark by the size of messages with ~700B overhead per message. This
might be the memory footprint of that particular queue. Do that for all
queues, sum up and re

[2019-09-26 14:56] alorbach commented on #3877
The Target is left empty oj purpose for this issue?
From the error, I would say its a local issue related to a failed dns request.

[2019-09-27 05:37] Rampa33 opened #3880 "Support CEF format as a template for exporting logs"
I am using the rsyslog V8 now. If the applications wishes to use CEF format to export logs, we do not have a way to do that with rsyslog. How can we export logs in CEF or any other well-known logs log formats?

[2019-09-27 05:52] Rampa33 commented on #3880
notify @davidelang  @rgerhards

[2019-09-27 11:39] Bassbauer opened #3881 "RELP SSL module Version 8.1908.0-1.1 SSL certpath inconsistent config behaviour"
### Expected behavior
global(
  workDirectory="/rsyslogd"
#  defaultNetstreamDriverCAFile="/rsyslogd/certs/ca.pem"
#  defaultNetstreamDriverCertFile="/rsyslogd/certs/cert.pem"
#  defaultNetstreamDriverKeyFile="/rsyslogd/certs/cert.key"
  maxMessageSize="64k"
)
input(type="imrelp" port="7805"
      ruleset="rule_7805"
      tls="on"
      tls.cacert="certs/ca.pem"
      tls.mycert="certs/cert.pem"

[2019-09-27 13:51] Bassbauer commented on #3881
It seems that there is some general problem with relative path evaluation in newer versions, maybe that is all related:

in work directory
/rsyslog

in version 8.1908.0:
/usr/sbin/rsyslogd -n -f rsyslogd.conf -i pid/rsyslogd.pid
Does not work.

in version 8.24.0
/usr/sbin/rsyslogd -n -f rsyslogd.conf -i pid/rsyslogd.pid
Does work.

I would assume that all paths should work relative to

global(
 wo

[2019-09-27 19:52] davidelang commented on #3881
relative directories would be relative to CWD for rsyslog, not relative to the
work directory

the work directory is just where rsyslog stores it's admin files (queue files,
etc)

David Lang

[2019-09-29 09:58] gaia commented on #3812
I followed the instructions, and logging begins, I can tail the file and see it working. But after the reboot the log is empty again.

[2019-09-30 05:30] minhtuanmt1 commented on #1221
Hi,

I'm using rsyslog 8.24 and got the same hang issue. Can anyone please let me know which version did fix this issue?

Thanks and best regards,
Tom

[2019-09-30 05:36] minhtuanmt1 commented on #1221
Hi @mostolog @rgerhards ,

Do you have any idea about the version of rsyslog that fix the problem?

Thanks and regards,
Tom

[2019-09-30 08:48] Bassbauer commented on #3881
Hi David,

i have tested the same with CWD and the behaviour is still the same, to use the CWD is logical and also expected behaviour. Interestingly in older version it is working correctly, i guess thats some kind of regression.

Thanks,
Frank

[2019-09-30 08:49] rgerhards commented on #3881
I don't think we have a regression here.  The default working directory is the root (`/`) and this really has not changed. Which version it did "work" with? Can you create a debug log with that version?

[2019-09-30 09:01] Bassbauer commented on #3881
A debug log is problematic since it contains to much information about the environment, if it is really necessary i can anonymise it. But in generall is anyone able to configure a certificate in the imrelp module with a relative path?

Additionally the interference of defaultNetstreamDriverCAFile* is hard to understand since all modules will use that default even if a specific

tls.cacert="certs/c

[2019-09-30 09:20] Karl90 commented on #2646
Hi  skupkosk,

Thanks for your feedback, that makes sense to me.
I monitor the cpu & memory usage of the servers and I can see them actually working (> 50% overall resources).

In my case I can see that actually no swapping takes place (at OS level),
even though, I'm interested in do a proper sizing for these servers.

I know the expected incoming rate as well control the details of the queues,
do

[2019-09-30 13:09] StrongestNumber9 commented on #1071
Found yet another way of recreating this:
Flow: Imrelp -> main ruleset -> some lookups in their own rulesets -> omfwd as common ruleset. Not all events are forwarded but lookup'd variables are used in the templates.

We are using rsyslog 8.38.0. It works fine when running with -n. Sending sigkill segfaults only if no events has been received in the current run.

[code]

[2019-09-30 19:38] janmejay commented on #1071
@rgerhards as much as I'd love to debug this, don't think I can jump on it anytime soon. Things are very busy at work.

[2019-10-01 08:32] rgerhards commented on #3880
Which transformation exactly would you like to see? CEF is a very broad and general term..

[2019-10-01 08:40] rgerhards commented on #3881
I am not sure how you set the working directory. Note that if you do **not** give the -C rsyslogd command line option, rsyslog will do a `chdir("/")` as this is the traditional and expected behavior.

[2019-10-01 08:59] Rampa33 commented on #3880
HI Rainer,

Thanks for your response. I basically meant the Arcsight CEF log format. Today, from a program we invoke syslog APIs to write message text to /dev/log/

rsyslog picks it from there, crafts the syslog packet with proper header, uses trasnport protocol to forward it. In my case, when i send a message text, rsyslog should be able to parser the fields, convert the message to new format bef

[2019-10-01 09:01] rgerhards commented on #3880
Can you provide me an example of what you would like to do in the transformation. E.g.:

I get: blub
I want: blab:"blub"

As I said, CEF is a container format and I don't understand how you automatically want to put something in the containers.

[2019-10-01 09:19] Rampa33 commented on #3880
HI Rainer,

There is something called CEF via syslog, wherein the message content will be in CEF format.

My application shall uses a custom format, which is field value based. When this is written to /dev/log/, rsyslog has to basically parse the contents and change it to CEF format.

<img width="1669" alt="image" src="https://user-images.githubusercontent.com/3159443/65949804-83be7f00-e45a-11e9-9

[2019-10-01 10:08] rgerhards commented on #3880
sorry, the description is way to fuzzy to implement any logic out of it. @davidelang do you understand what is asked for?

[2019-10-01 11:42] Bassbauer commented on #3881
that solves the problem rsyslog behaves as it did in the old version and relative paths work. However as the documentation suggest it is "almost never a good idea" to use this feature.

It still seems like a regression to me, what is the planned way to use relative paths in rsyslogd?

Why does the new version needs -C ?

iam starting rsyslogd as a user with user permissions only.

rsyslog@test:~/r