[2018-03-26 08:19] rgerhards commented on #2585
8.24 is pretty old. There have been many bug fixes to the queue subsystem around 8.30. So I would strongly suggest to update to current rsyslog (8.33.1 at the time of this writing). I guess it will solve your issue.

I have to admit that I as a developer will also not look at 8.24, as I know many bugs have been fixed, so this is wasted time from my PoV. Sorry to be that blunt, but I guess it's bes

[2018-03-26 11:47] rgerhards commented on #2560
As nobody else has taken this so far, let me give at least some pointers. This is basically rfc3339 format. You can use the property replacer to extract the first part and the final part.

We also plan to add better support for arbitrary formats as well.

[2018-03-26 11:49] rgerhards commented on #2560
@PascalWithopf can you post a template sample?
@deoren I think we should some specific cases to  the doc, but unsure where...

[2018-03-26 17:21] rgerhards commented on #1605
The nightly build is now available (actually for some days, I forgot to alert you...)

[2018-03-26 18:21] rgerhards commented on #2537
There are now daily packages available in the ppa.

[2018-03-27 06:19] rgerhards commented on #893
```id -g``` ?

[2018-03-27 07:11] #2572 closed

[2018-03-27 07:12] rgerhards commented on #2524
see also #2568

[2018-03-27 07:18] wanghonglei5181 opened #2586 "omkafka leaks memory when using compression"
memory leak? help!!!
**rsyslog use too much memory! i must be restart rsyslog every day  to avoid this problem!
rsyslog read a soft link and push data to kafka
if a real file not soft link every thing will be ok
help!!!!**

lrwxrwxrwx 1 root root   73 3月  27 00:00 nginx_rsyslog -> /data1/logs/nginx/access/2018/03/27/access_log

the size of file
0> du -sh /data1/logs/nginx/access/2018/03/26/isdn-ac

[2018-03-27 10:06] rgerhards commented on #2523
done as part of script function refactoring.

[2018-03-27 10:06] #2523 closed

[2018-03-27 11:17] rgerhards commented on #2586
This is a known issue caused by a bug in librdkafka. With current releases of librdkafka, you cannot use compression. Recently the librdkafka team crafted a fix for that, but they did not yet craft a release.

[2018-03-27 12:56] atc0005 commented on #1605
@rgerhards Thank you. I installled the latest nightly yesterday and this morning found this new error:

[code]

Do you wish to have a new issue created for this?

[2018-03-27 13:18] rgerhards commented on #1605
@atc0005 let's keep it here for a moment.

Are you sure that state files were created previously? The permission denied error sounds pretty plain like ... permissions are insufficient ;-) Do you make rsyslog drop priveleges? If so, to what user? Does that user/group have permissions?

[2018-03-27 13:24] rgerhards commented on #1605
no problem, better save than sorry. Let me know how the rest of your test works.

[2018-03-27 13:28] atc0005 commented on #1605
@rgerhards I re-enabled the ingest of various flat-files that previously resulted in sporadic permission issues (via logrotate process) yesterday. Today no errors were noted on that front, so while inconclusive based on such a short time frame I still find it promising. I'll leave the ingest going to see if the issues pop up again.

Thank you for your help.

[2018-03-27 13:29] rgerhards commented on #1605
great, thx. Please keep me posted. I'll probably close this if I do not hear anything bad by next Tuesday, when we release 8.34. If a problem occurs later, we can always open a new tracker (new would make sense as the code in question is totally different).

[2018-03-27 17:13] Benjamintf1 commented on #2537
Excellent, thank you. We were able to test with this, and it resolves much of our concern; things work as we'd expect.

Some explicit clarification in the documentation about how wildcards work, specifically how they seem to follow the file-globbing pattern and doesn't handle recursive watches, would be nice.

We'll open a separate issue about our recursive-watch/** feature request.

[2018-03-27 17:13] #2537 closed

[2018-03-27 17:29] anEXPer opened #2588 "`imfile` Feature Request: recursive directory watching"
### Expected behavior
`**` (like gitignore syntax) or something like `recursive=true` (like syslog-ng syntax) makes it possible to watch all subdirectories of a path for matches with wildcards using imfile.

Our use-case is offering standard logging config for colocated jobs running on a BOSH-managed VM in cloud computing contexts. We currently use other software to handle the file-forwarding to r

[2018-03-27 21:58] davidelang commented on #2585
check to make sure you don't have an output that is blocked and/or an action
queue filling up.

That's the typical problem that generates these sorts of reports.

[2018-03-27 21:59] davidelang commented on #2560
didn't we just add a parse_time()/format_time() pair of functions? (or did we
only talk about what they needed to be)

David Lang

[2018-03-28 03:35] deoren commented on #2560
Looks like `format_time` was added in #1814 (8.30.0 milestone), and `parse_time` added in #1925 (8.31.0 milestone).

- http://www.rsyslog.com/doc/master/rainerscript/functions.html#parse-time-timestamp
- http://www.rsyslog.com/doc/master/rainerscript/functions.html#format-time-unix-timestamp-format-str

[2018-03-28 03:39] deoren commented on #2560
It would probably be good to take a look at the new page created as part of the work being done by @PascalWithopf on rsyslog/rsyslog-doc#637. If that initial pass works out then examples could be provided there.

A follow-up step would be to find where to drop references to those examples in the docs. Templates perhaps, or perhaps the properties section where `$hour` and other system properties ar

[2018-03-28 08:19] rgerhards commented on #2231
I looked into implementing hashes, but as it looks libc does not provide any of the standard hashing functions. I looked for md5 and sha1 and the man pages referred to openssl. I do not like the idea of introducing a dependency on a crypto lib just for imfile. Does anybody know a solution? After all, md5sum seems to be present on any system, so...

@andreasstieger @Whissi @mbiebl I would appreciat

[2018-03-28 08:23] rgerhards commented on #2231
On backward compatibility: the refactoring introduced several non-backward compatible changes to the state file. While I really hate this, I think we should actually just document this and try not to hide it. Reason:

* we need to keep quite some old code and complexity to maintain once-at-startup compatibility with old state files
* it is uncertain how long we need to carry that bunch of code aro

[2018-03-28 09:04] rgerhards commented on #2231
further researching my own question in https://github.com/rsyslog/rsyslog/issues/2231#issuecomment-376802013, I'll probably get away for the imfile use case with a simple has function we use in hash tables:
[code]
I think the number of collisions is really low enough that, taken together with the inode number, it should really be sufficient to identify a file. I'll probably take that route for now

[2018-03-28 09:08] rgerhards commented on #2530
see https://github.com/rsyslog/rsyslog/issues/2231#issuecomment-376814958 for a hash function proposal (and issues around using e.g. md5).

[2018-03-28 09:40] mbiebl commented on #2231
@rgerhards systemd uses siphash
https://en.wikipedia.org/wiki/SipHash
https://github.com/systemd/systemd/blob/master/src/basic/siphash24.c

Maybe something to take inspiration from?

[2018-03-28 10:11] rgerhards commented on #2231
@mbiebl thx for the pointer, that looks useful.

Reference implemenation is at https://github.com/veorq/SipHash

I just wonder if for our use case it has advantages over the very simple function Aaron Wiebe provided (my last posting). But granted, it's not a lot of code either, so probably no issue dragging it in.

[2018-03-28 10:18] Whissi commented on #2231
Or maybe use Blake2, already implemented in coreutils.

[2018-03-28 10:29] PascalWithopf commented on #2560
@rgerhards It is possible to do it in two ways.
First in the template when using the timestamp property just specify the date format like this:
[code]
Or like @davidelang and @deoren said use the format_time() function:
[code]

[2018-03-28 10:32] rgerhards commented on #2560
@PascalWithopf note that the OP did want a very specific format - I am not sure if format_time() can provide this at the moment. Would be good to check.

We should add and address a doc issue tracker based on https://github.com/rsyslog/rsyslog/issues/2560#issuecomment-376750348

[2018-03-28 10:38] PascalWithopf commented on #2560
@rgerhards yes both is also possible with rfc-3339.

[2018-03-28 10:39] rgerhards commented on #2560
ahhh... I may have mixed up this with some other issue. @yfliuyanyan does that solve your issue?

[2018-03-28 11:38] bspencer168 commented on #2585
The output is local disk and while a separate filesystem than the queue files, the queue files end up being written without issues. The ruleset only has a queue and not the individual actions.

Rainer's point taken and I prefer the honesty over beating around the bush. This is a point which will be used when asking RedHat to rebaseline the the version on RHEL7. We are purposefully trying to stick

[2018-03-28 11:38] #2585 closed

[2018-03-28 12:04] kortemik commented on #2231
https://github.com/curl/curl/blob/master/lib/md5.c#L174
<https://opensource.apple.com/source/Security/Security-28/AppleCSP/MiscCSPAlgs/MD5.c>

We at least need a way to convert from old format to new format, although
it can be a one time pass for the configured work-directory: to simplify
the new code, i would use the approach that we provide a conversion script
and refuse to start if working dire

[2018-03-28 13:48] rgerhards commented on #2231
OK, then let's keep the old code - everything else is far more work and risk. Maybe I add a configure option so that this support can be disabled if a distro does not want it.

[2018-03-28 17:16] davidelang commented on #2231
if someone is trying to upgrade and has some state files in place, what should
they do?
k

[2018-03-28 17:19] rgerhards commented on #2231
@davidelang yeah, @kortemik already made that point. That's why I am currently shuffling back the old code, so if the new file is not present, I fall back and do a check of the old one. In a sense I have just noticed that even means overall less work, as some refactoring and cleanup I had on my mind can now not happen ;-) I thought about redoing the imfile/stream integration, but that doesn't play

[2018-03-28 17:20] davidelang commented on #2585
On Wed, 28 Mar 2018, bspencer168 wrote:

are any of the individual actions blocked?

who gives you better support, RedHat or us :-)

If RedHat is giving you better support, stick with the version they give you and
that they support.

If we give you better support, move to the current version so that we can
support you.

David Lang

[2018-03-28 17:24] rgerhards commented on #2585
I wouldn't mind if Red Hat is forced to update their packages to something more recent... ;-)

[2018-03-28 19:18] jsiwrk commented on #2113
Not sure this bug has been completely corrected... See [this comment](https://github.com/rsyslog/rsyslog/pull/1992#issuecomment-377002520).

[2018-03-29 08:53] #2529 closed

[2018-03-29 09:18] yfliuyanyan commented on #2560
I read the doc for format_time, the first param is required to be second. But my timestamp is millisecond.
Could you give me an example? Thanks!

[2018-03-29 09:39] yfliuyanyan commented on #2560
And another question, how can I use the formatted time variable in template?

[2018-03-29 11:06] bspencer168 commented on #2585
While the server in question is a syslog concentrator for us, it is also just syslog. Each deviation from RedHat means we need to monitor more releases and update when released as we have requirements to run the most recent vendor provided version. We are able to point to RedHat for that as our vendor with no additional overhead of maintaining each individual component of the OS. Sometimes utilizi

[2018-03-29 11:33] rgerhards commented on #2585
Just for your information: this statement is simply plain wrong:
[code]
(7.4 changelog)

copytruncate is never a good choice and will guarantee that on a busy system you loose logs. It is flagged as "experiemental" inside our doc. You may want to file a bug report with RH.

[2018-03-29 15:43] rgerhards opened #2595 "mmkubernetes: missing configure check for liblognorm"
liblognorm is used, but not checked in configure.ac

see https://github.com/rsyslog/rsyslog/pull/2593#issuecomment-377277836

[2018-03-29 16:46] rgerhards commented on #2595
@richm which is the minimum libfastjson version that you need to make mmkubernates work? I'll see that I add a configure check, including the ability to automatically check if we can deliver full capabilities (>= 2.0.3).

[2018-03-29 17:03] rgerhards opened #2597 "CI: add buildslave for AIX"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Environment
- rsyslog version: [e.g. 8.31.0 -- see rsyslogd -v]
- platform: [e.g. Ubuntu 16.04]
- for configuration questions/issues, include rsyslog.conf:

*Note: rsyslog documentation is available here*:
  [pre-release](http://www.rsyslog.com/doc/master/),
  [current stable release](http://www.rsyslog.com/doc/v8

[2018-03-29 17:21] richm commented on #2595
@rgerhards I've been mostly using liblognorm 2.0.2 (RHEL7) - to build with 2.0.2, you have to set -DNO_LOADSAMPLESFROMSTRING=1 in CFLAGS since ln_loadSamplesFromString is only available in 2.0.3 and later. I could not find another way to automatically detect the presence of this function, or the liblognorm version, at compile time. I suppose I should have added an AC_CHECK_FUNC or something like t

[2018-03-29 19:25] dharrop commented on #1650
This issue still seems to be in rsyslog-8.31.0.

Also would like to note that accessing json elements via $!record1!record2 leaves a gap in being able to access the data in "subdivisions" as returned by maxminddb since it's a json group.  Perhaps this deserves its own bug report for tracking?

[2018-03-29 21:52] uday3110 commented on #2502
Running into the same issue. The buffer is randomly flushed when more data is sent. However I cannot get the buffer to flush even with HUP signal as described in you doc. I am using `8.16.0-1` for client/server. Here is my config for server
[code]

[2018-03-31 15:18] jsiwrk opened #2599 "omprog not properly closing child process when signalOnClose=on"
There are three issues with omprog when it is used with the `signalOnClose=on` setting:
* an unresponsive child is not killed within the supposed timeout of 5 secs
* a message "child-process wasn't reaped within timeout" is continously shown in the output
* EOF is not sent to the child

I have found these issues while reviewing the existing omprog tests to try to resolve issue #2403. Below I give

[2018-03-31 15:24] jsiwrk opened #2600 "omprog not waiting for the child process to terminate when signalOnClose=off"
This issue is related to bug #2599, but it is a different issue (maybe an enhancement).

When omprog is used with the `signalOnClose=off` setting, it does not wait for the child process to terminate after closing the pipe. In principle this is not a problem since [the rsyslogd main loop will reap it](https://github.com/rsyslog/rsyslog/blob/8e71447e04f34b585c96f477d1771b9a0f79f166/tools/rsyslogd.c#

[2018-03-31 15:26] jsiwrk commented on #2600
You can assign this issue to myself. I'll try to resolve this issue together with #2599 and #2403 in a PR I'm working on.

[2018-03-31 15:52] jsiwrk commented on #2599
Regarding this:

Unless someone knows how to make this interrupted wait to work, I'll use a busy-sleep wait (repeatedly calling waitpid with WNOHANG). I know this is less optimal, but I haven't managed to make the interrupted wait work, and efficiency doesn't seem crucial when unscheduling a worker (but I could be wrong, please correct me if so...). Besides, using a plain sleep loop greatly simpli

[2018-04-02 23:34] davidelang commented on #2560
The current version doesn't handle fractional seconds, you can convert the ms
based timestamp to a second based one.

to use the result in a template, you do something like

set !.converted_timestamp = format_time();

then you can use $!.converted_timestamp or in a template like you would any
other variable.

[2018-04-03 04:38] vdmitrief opened #2605 "omhiredis packages"
Hi,
I have about a hundred servers mostly CentOs and Ubuntu on each of them is installed rsyslog of different versions.
I need support for the omhiredis.so output module on these servers.
How can I automate the process of updating and compiling rsyslog with the support of the omhiredis module?
Can I compile some standard rsyslog for Centos and Ubuntu, and then from these packages to install on all

[2018-04-03 08:16] rgerhards opened #2608 "followup alignment work"
check if method from https://github.com/rsyslog/rsyslog/pull/2509 can be used at other places as well

[2018-04-03 09:02] rgerhards commented on #2524
This issue is worked around in 8.34.0, but the root cause still needs to be addressed.

[2018-04-03 09:21] rgerhards commented on #2445
This was actually done some time between the 8.33 and 8.34 time frame. see http://www.rsyslog.com/alpine-repository/

[2018-04-03 09:21] #2445 closed

[2018-04-03 09:33] rgerhards commented on #1416
@deoren I think we fixed this inside the doc. Do you remember?

[2018-04-03 09:34] rgerhards commented on #2273
looks like https://github.com/rsyslog/rsyslog/pull/2465 implements this

[2018-04-03 09:36] rgerhards commented on #1071
removing release goal as we still do not have any idea how to reproduce and also no further idea of what to look at :-( Please keep contributing information, hopefully we somehow can find the trigger for this.

[2018-04-03 09:37] rgerhards commented on #2423
potentially even for later release milestones...

[2018-04-03 09:38] rgerhards commented on #1716
fixed by refactored imfile, but forgotten to close this issue.

[2018-04-03 09:39] #1716 closed

[2018-04-03 14:15] ikostoski opened #2610 "RELP loosing messages [when not configured to retry]"
Rsyslog looses messages with RELP when 'receiver' is shutdown temporarily. I believe intended usage of RELP protocol would be preventing loss of messages in this scenario, i.e. not an edge-case but expected routine situation, central log server which is temporary shutdown for i.e. maintenance.

Please see 'Steps to reproduce' below.

Looking trough the sources, it seems that there is problem how r

[2018-04-03 15:27] rgerhards commented on #523
Please create a new one, this is most probably different. But be sure to confirm that the issue remains with 8.34.

[2018-04-03 15:38] alex1x opened #2611 "omelasticsearch: could not parse JSON result"
### Expected behavior

omelasticsearch gets JSON from my template

### Actual behavior

[code]

### Steps to reproduce the behavior

1. Create fresh Ubuntu 16.04 machine
2. Install `rsyslog-elasticsearch`
3. Add configuration:

[code]

4. Get error: `omelasticsearch: could not parse JSON result`

I have also tried this example taken from here https://www.rsyslog.com/doc/v8-stable/configuration/mod

[2018-04-03 17:56] valsoray17 commented on #2575
I've seen the same issue was mentioned on one of the forums in 2015, but there was no solution. Is there any other steps I can perform to confirm or disprove that this is a bug?

Thank you

[2018-04-03 18:08] rgerhards commented on #2605
@friedl: what blocks us from building these?

[2018-04-03 19:45] mbiebl opened #2612 "wrong configure switch for atomic ops"
configure.ac in 8.34.0 contains
[code]

I'm pretty sure the ```regexp``` is a C&P mistake

[2018-04-03 19:57] alex1x commented on #2611
Turns out this error was due to Elasticsearch authentication failing.

Misleading error, so this could be improved. `strace` revealed the underlying root cause.

[code]

Leaving open in case somebody wants to improve the error handling / message.

[2018-04-03 20:09] davidelang commented on #2575
On Tue, 3 Apr 2018, Yaroslav Sapozhnyk wrote:

generate a queue file and show that the contents of the file are not encrypted
if it's a disk-assisted queue vs a disk-only queue.

[2018-04-03 20:11] davidelang commented on #2611
In cases like this, write a message to a file using the template you are going
to use to send the message to ES (or possibly one that adds a newline at the
end)

[2018-04-03 20:44] Whissi opened #2613 "fmhttp: missing configure check for libcurl"
fmhttp requires [libcurl](https://github.com/rsyslog/rsyslog/blob/master/plugins/fmhttp/fmhttp.c#L31) at build time but doesn't check for libcurl in configure.

[2018-04-03 21:31] valsoray17 commented on #2575
### For disk-assisted queue
Action configuration:
`*.* action(type="omfwd" protocol="tcp" queue.type="linkedlist" queue.filename="fwdExternal1" queue.maxdiskspace="1g" queue.cry.provider="gcry" queue.cry.key="testtesttesttest" queue.saveonshutdown="on" action.resumeRetryCount="-1" target="unaccessible-server" port="6514")`

The contents of the file:

<Obj:1:msg:1:
+iProtocolVersion:2:1:0:
+iSeveri

[2018-04-03 23:09] deoren commented on #1416
Seems familiar, will take a look and report back.

[2018-04-03 23:15] deoren commented on #1416
The `action.resumeInterval` coverage was updated per rsyslog/rsyslog-doc#629:

[code]

[2018-04-04 06:33] rgerhards commented on #2612
Thanks for reporting. It indeed is a C&P mistake, and a fix is underway in https://github.com/rsyslog/rsyslog/pull/2604. I just didn't manage to include it in 8.34. Will merge that now.

[2018-04-04 06:34] #2612 closed

[2018-04-04 06:36] #2417 closed

[2018-04-04 06:52] rgerhards opened #2615 "replace all select() calls with poll()"
This is far easier and portable than epoll, but relieves us of the problematic issues with select.

[2018-04-04 07:03] vdmitrief commented on #2605
too long and a lot of human resources are required for this procedure

[2018-04-04 08:09] eseres commented on #523
If I opened a new ticket, I could only duplicate the description as the issue is exactly the same. Would it not confuse matters?

[2018-04-04 08:11] rgerhards commented on #523
I do not see any new ticket. So let's discuss for a moment here. Did you check that 8.34.0 does not solve the issue?

[2018-04-04 08:15] eseres commented on #523
No, we are running 8.33 still but I'm about to update to 8.34 as you suggested, run it for a few days to see if the error still happens and then report back here.

[2018-04-04 08:42] #2613 closed

[2018-04-04 09:58] rgerhards commented on #2615
couple of select() remain:
* those solely used for waiting (just timeout param non-NULL)
* gss-misc and imgssapi - this is contributed functionality we cannot even test
* one select on initial fork of rsyslog - no problem here, not fd can be >= 1024

So the following remain to do:
- [ ] imudp
- [ ] imuxsock

We may consider to change some other places just for sake of removing the API at all from

[2018-04-04 10:01] #1118 closed

[2018-04-04 10:02] rgerhards commented on #1459
The segfault will be solved by #2619

[2018-04-04 10:14] setop opened #2620 "named ruleset not executed for input"
### Expected behavior

execute named ruleset for an input

### Actual behavior

execute default ruleset but not named one.

### Steps to reproduce the behavior

I  put this configuration file in `/etc/rsyslog.d/` folder.

[code]

Then started rsyslog then nginx.

All messages written by nginx on the Unix socket are written to the "allgoesthere.log" file but not to the outputs listed in "toprogdumb

[2018-04-04 10:31] rgerhards commented on #2620
The imuxsock "ruleset" parameter has been added in 8.17.0, and so does not exist in your old version.

[2018-04-04 10:31] #2620 closed

[2018-04-04 11:19] joschi99 opened #2621 "ksi-ls12: rpm for version 8.34 are not available"
We have installed rsyslog on CentOS 6.9 thourgh rpm repo (http://rpms.adiscon.com/v8-stable) and the package rsyslog-ksi-ls12 is not more available.

[code]

[2018-04-04 13:42] atc0005 commented on #1605
@rgerhards I can confirm that the problem is still present with 8.34.0. Do you wish to create a new ticket for this?

[2018-04-04 13:56] rgerhards commented on #1605
Let's see... Can you get me a Debug log if when this occurs?

[2018-04-04 13:58] atc0005 commented on #1605
This message occurs around the time that the log is rotated using the logrotate conf fragment provided in https://github.com/rsyslog/rsyslog/issues/1605#issuecomment-370594397:

[code]

Is there an option to enable debug logging only for the window of time that the logs are rotated?

[2018-04-04 14:46] rgerhards commented on #1605
You can use the debug on demand features, some info here: https://www.rsyslog.com/doc/v8-stable/troubleshooting/debug.html#enabling-debug-via-rsyslog-conf - let me know if this and what it links to does not help.

On the other hand:

I scrolled back up and see that this seems to happen due to bad timing between logrotate and rsyslog. Guess that stays. So I think we need to address this during the

[2018-04-04 14:58] rgerhards commented on #2621
sorry, we currently cannot build this module due to https://github.com/rsyslog/rsyslog/issues/2517

[2018-04-04 14:59] rgerhards commented on #2517
issue depending on this one: https://github.com/rsyslog/rsyslog/issues/2621

[2018-04-04 14:59] rgerhards commented on #2517
@allanpark do you have any plans when a patch may come up? Or should I have a look at it?

[2018-04-04 15:02] rgerhards commented on #2610
you need to tell the relp action that it should retry (parameter ```action.resumeRetryCount```). If not, rsyslog defaults apply, which means messages are discarded after one failure. So it is not the RELP protocol that loses messages here, but the rsyslog core who does this intentional.

action param doc: http://www.rsyslog.com/doc/v8-stable/configuration/actions.html

[2018-04-04 16:16] ikostoski commented on #2610
I missed that parameter in the documentation. Now it works as expected.

With retry set and disk queue enabled, in the my worst test case, when sender is restarted while receiver is down, only single message is lost. Which, I believe, is quite acceptable compared to risk of that happening.

Thank You.

[2018-04-04 16:16] #2610 closed

[2018-04-04 16:19] rgerhards commented on #2610
This is a know issue which can be cured, but I had no time so far to do this and also no sponsors (which seem to indicate that it indeed is not a big issue).

Both librelp and rsyslog would need to be modified so that rsyslog can pull the librelp-internal "not acked list" of messages and persist it to disk state (and vice versa on restart). The loss can actually be a full relp window size of messa

[2018-04-04 16:26] rgerhards commented on #2517
No problem at all. I'll arm the static analyzer when the PR comes up ;-)

[2018-04-04 17:29] atc0005 commented on #1605
@rgerhards Will do, thank you for your help on this.

I'll switch all of our imfile inputs over to `polling` mode later today so that the new setting in before logrotate runs again tomorrow morning.

[2018-04-04 17:33] atc0005 commented on #2610
Just curious, but do you have an official bug/feature bounty for specific feature enhancements or is additional functionality provided by standard contracts with adiscon.com?

[2018-04-04 20:04] davidelang commented on #2610
On Wed, 4 Apr 2018, Adam Chalkley wrote:

sponsored development is usually done via standard Professional Services
contracts with adiscon.

David Lang

[2018-04-05 12:37] StrongestNumber9 opened #2624 "Add capability to calculate and store HMAC from user supplied variables"
Simplified and/or more flexible version of mmrfc5424addhmac, basically.

Wanted use-case is:

Client creates, adds to structured-data
[code]

<data goes through forwarders and whatnot>

The end server verifies for tampering
[code]

[2018-04-05 12:41] atc0005 commented on #1605
@rgerhards No errors this morning and some quick spot checking shows that events are still being ingested via imfile. I've not kept an eye on the performance impact, but evidently it has not been enough to trigger any alerts.

When setting the mode, I only made that one change to the module load statement:

[code]

[2018-04-05 16:18] rgerhards commented on #1605
@atc0005 excellent! Please keep runing (and monitoring) it. The config change is exactly what I suggested.

[2018-04-05 17:35] naveen230 opened #2626 "rsyslogd: command 'InputTCPServerStreamDriverAuthMode' is currently not permitted"
Hello all,
When I do syslog restart I get this error,

Starting system logger: rsyslogd: command 'InputTCPServerStreamDriverAuthMode' is currently not permitted - did you already set it via a RainerScript command (v6+ config)? [v8.33.1 try http://www.rsyslog.com/e/2222 ]
rsyslogd: command 'InputTCPServerStreamDriverPermittedPeer' is currently not permitted - did you already set it via a RainerScri

[2018-04-05 17:37] naveen230 opened #2627 "Syslog logs not encrypted"
Hello ,

 I see that the syslog logs are not encrypted when I do packet tracing.Did I miss anything apart from the instructions given in
https://nacko.net/securing-your-syslog-server-with-tls-ssl-in-centos-6-rhel-6/

And I use raspbian OS on the client side for rpi3.

N

[2018-04-05 18:58] davidelang commented on #2626
please post your full config

[2018-04-05 21:39] naveen230 commented on #2626
# rsyslog configuration file
# note that most of this config file uses old-style format,
# because it is well-known AND quite suitable for simple cases
# like we have with the default config. For more advanced
# things, RainerScript configuration is suggested.

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/trouble

[2018-04-05 23:16] davidelang commented on #2626
please switch to the new format (module() and input()) and put the encryption
parameters there.

It's far clearer what is going on with the new syntax, and mixing the syntax
(using module(load="imtcp") and input(type="imtcp") as well as the obsolete
multi-line style) can have unexpected problems.

If this is a config that has been working in the past and is now broken with a
new version, that's a

[2018-04-06 08:26] #2538 closed

[2018-04-06 08:48] friedl commented on #2586
There was a new release of librdkafka that has the fix for this. The packages for the rsyslog project have also been updated to use this.

You can install rsyslog 8.34.0 from our repositories to obtain the fixed version. Else you need to make sure to at least obtain the newest version of librdkafka (0.11.4)

[2018-04-06 08:48] friedl commented on #1991
There was a new release of librdkafka that has the fix for this. The packages for the rsyslog project have also been updated to use this.

You can install rsyslog 8.34.0 from our repositories to obtain the fixed version. Else you need to make sure to at least obtain the newest version of librdkafka (0.11.4)

[2018-04-06 08:52] rgerhards commented on #2626
the error is actually totally correct and up to the point: as the input() statement for imtcp has been used, the obsolete legacy statements can no longer be used. side-note: If the input() were done in legacy as well, you would get no error message, but things would not work either as they would be in the wrong sequence -- avoiding these hard to find issues is exactly the reason why the old format

[2018-04-06 08:52] #2626 closed

[2018-04-06 13:39] #2586 closed

[2018-04-06 14:11] naveen230 commented on #2626
I used what I found in the rsyslog documentation(in the example),
https://www.rsyslog.com/doc/v8-stable/configuration/modules/imtcp.html

Won't I be able to add parameters for $InputTCPServerRun and where is the new syntax documented?

[2018-04-06 18:12] davidelang commented on #2626
On Fri, 6 Apr 2018, Rainer Gerhards wrote:

It's messier than that, he has an input() for port 514 early on, and then is
trying to use the old-style syntax for a different port (IIRC 1514) later

As you say, this is why this sort of multi-line config is deemed obsolete now
and strongly discouraged

[2018-04-06 18:15] davidelang commented on #2626
On Fri, 6 Apr 2018, naveen230 wrote:

that page has been updated since you last looked at it, it no longer describes
the obsolete config syntax, only the new syntax

you don't use $InputTCPServerRun, you use input() instead. Your config uses the
input() syntax early in the config, and that's why the older style syntax is
flagged as an error.

David Lang

[2018-04-06 19:19] mbiebl opened #2628 "fmhttp should not be enabled if --disable-libcurl is used"
Version: 8.34.0

The new fmhttp function module requires libcurl. So if ```--disable-libcurl``` has been passed to configure, the fmhttp function module should not be built.
If both ```--disable-libcurl``` and ```--enable-fmhttp``` are passed to ```./configure``` and error should be displayed that fmhttp requires libcurl.

[2018-04-06 19:36] mbiebl commented on #2628
I wanted to add a remark, that mmkubernetes has the same problem. I uses libcurl but apparently it adds a check for libcurl itself
[code]
So this is inconsistent.
Either we drop the ```--enable-libcurl``` configure switch, and every module which requires curl checks for it itself, or we make all modules, which use libcurl (mmkubernetes, omhttpfs, fmhttp) respect ```--disable-libcurl```

[2018-04-08 03:48] wanghonglei5181 commented on #2586
Thanks
I will have a try！！

[2018-04-09 13:43] rgerhards commented on #498
@Benjamintf1 that's actually an issue with long-open issues: the code has changed since this issue was created. It's actually a change in a some unfortunate, because inconsistent, state. The setting only applies for multiline reads in which a regex is used.

I am now looking at the issue to finally resolve it, and it looks like we need to bear quite some legacy notes with it in the doc.

I am also

[2018-04-09 20:34] naveen230 commented on #2626
Will this syntax work?

input(type="imtcp" port="8069" StreamDriver="gtls" StreamDriverMode="1")

Because it didn't work for me!

[2018-04-10 07:45] StrongestNumber9 opened #2633 "Sending RELP messages bigger than maxMessageSize never gets acked and will seg fault when rsyslog is stopped"
### Expected behavior
Receiver either acks and trims, or alternatively declines messages above maxMessageSize in a way client understands to stop sending them. Rsyslog shuts down correctly.

### Actual behavior
Both clients seg fault when stopped. Sender will keep on sending something that is rejected.

### Steps to reproduce the behavior
Prepare log
[code]

Sender configuration
[code]

Receiver (

[2018-04-10 07:52] StrongestNumber9 commented on #2633
Attached valgrind log for receiver
[valgrind-of-receiver.txt](https://github.com/rsyslog/rsyslog/files/1893612/valgrind-of-receiver.txt)

[2018-04-10 11:05] rgerhards commented on #2597
As an idea for renting a box, this was already floating around:

Recommended specifications on lparbox.com

OS:                 AIX 7.1
CPU rPerf:        4.0 rPerf
Virtual CPU:        2 (cores)
Memory:        4 (GB)
VPN users:        2 (concurrent user)
Nb of disks:        1
Disk 1 size:        30 (GB)
Options:
* Application Development Tools
* System backup (weekly)

[2018-04-10 13:07] rgerhards commented on #1782
I am finally trying to tackle this issue, together with some other librelp related work. Will keep you updated here. Now first need to review how librelp internally handles the message buffers on send and receive.

[2018-04-10 16:01] rgerhards commented on #1782
Question: assuming the RELP client (sender) is told to send an oversize message: what shall it do? I would tend to

* log a warning diagnostic (maybe error)
* truncate

If we just error out, this can (and probably will) trigger loops in the user app (here: omrelp). After all, if it did not check for the size, it is unclear if it will handle a size-related error code correctly.

Note: At this point

[2018-04-10 16:02] rgerhards commented on #1782
I should clarify that I talk about librelp, which is the first thing to be fixed. And, yes, I guess I found the right spots.

[2018-04-10 16:25] Dieken commented on #2231
And about the hash algorithms,  I feel a hash longer than 4 bytes and 8 bytes is safer,  blake2 mentioned by @Whissi  is a good candidate, it can generate variable length hash,  but it does introduce an extra dependency https://github.com/BLAKE2/libb2.

[2018-04-10 16:57] jay7x commented on #1782
Is it possible to negotiate max message size when `omrelp` is connecting to `imrelp`? Then we may configure behaviour on connection stage.

I think we should log warning on connection stage (once per connection attempt) and truncate message then.

[2018-04-10 17:03] jay7x commented on #2383
As I may guess keeping legacy configuration directives may be hard to support from code perspective.  That's why I told 'v9' :)
But if I'm wrong I'm fine to keep legacy then.

[2018-04-10 21:29] jsiwrk commented on #2599
Assigning to myself since I'm including a fix for this issue as part of PR #2629.

[2018-04-11 06:19] Cloud-Leung opened #2636 "rsyslog write log into the wrong file"
### Expected behavior
rsyslog can write log into /var/log/message
### Actual behavior
but it write into /var/log/messages-20180402
### Steps to reproduce the behavior

### Environment
- rsyslog version: [8.26.1 -- see rsyslogd -v]
- platform: [x86_64-redhat-linux-gnu]
- for configuration questions/issues, include rsyslog.conf:
rsyslog.conf
----------------------------------------------------------

[2018-04-11 06:56] rgerhards commented on #2636
It would be good if you could post the config in text form - I cannot search inside the images ;-) From looking over it, all looks well. I guess there is some include file that changes behavior. Be sure to show all include files (in text form!).

[2018-04-11 06:58] davidelang commented on #2636
what is in your /etc/rsyslog.d directory?

8.26 is getting fairly old (current is 8.34, so about a year old), can you
reproduce the problem with  current version?

[2018-04-11 07:15] Cloud-Leung commented on #2636
@rgerhards i'm sorry about that , this is the config file text .

# rsyslog configuration file
# note that most of this config file uses old-style format,
# because it is well-known AND quite suitable for simple cases
# like we have with the default config. For more advanced
# things, RainerScript configuration is suggested.

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
#

[2018-04-11 07:25] Cloud-Leung commented on #2636
@davidelang em, I updated rsyslog to 8.34 on a machine just now. but i need to observe one or two days to see if it is normal.
in rsyslog.d have two config file ,graylog-rsyslog.conf and listen.conf.
In order to avoid the format, I added a point at the beginning of the every line.
------------------------------------------------------------------------------------------
graylog-rsyslog.conf
.modul

[2018-04-11 07:31] Cloud-Leung commented on #2636
@davidelang
I updated rsyslog to 8.34 on a machine just now. but I need to observe one or two days to see if it is right.
/etc/rsyslog.d directory has two config file ,graylog-rsyslog.conf and listen.conf.

In order to avoid the format, I added a point at the beginning of the every line.

graylog-rsyslog.conf
-----------------------------------------------------
.module(load="imfile"  mode="inotif

[2018-04-11 07:36] rgerhards commented on #2636
@Cloud-Leung

I have edited your post. You can use three backticks to flag text that shall be displayed literally. Press the edit button on your post, then you see what I have done (I can't show it here as it would be interpreted as commands ;-)).

Doc is here: https://guides.github.com/features/mastering-markdown/

Note that the text immediately followed by a line of dashes (or similar chars) cre

[2018-04-11 07:39] rgerhards commented on #2636
Looking at the includes, this looks really strange. I admit I doubt that this is the correct config. Maybe it was diverted to another file via ```-f``` rsyslogd command line option? But let's see if the new version brings a change. If not, we need an actual debug log from startup.

[2018-04-11 08:02] Cloud-Leung commented on #2636
@rgerhards

the includes config graylog-rsyslog.conf has two input.

one is receive log from tcp port 10514, another is read log from /var/log/messages file.
The log will be assembled and sent to kafka, Graylog will receives the log from kafka and saves it in elasticsearch . This process is currently tested correctly.
This part of the operation will theoretically only read the messages file and do

[2018-04-12 02:59] Cloud-Leung commented on #2636
@rgerhards @davidelang
first thank you help me and i found the reason and already solve the problem.
the reason is my system earliest syslog version is 7.4.7，
i want to use omkafka module then i update it to 8.26.1.
well 7.4.7 save the pid to /var/run/syslogd.pid but 8.26.1 save it to /var/run/rsyslogd.pid, it's diferent.
The logrotate rotation log uses this configuration file /etc/logrotate.d/sys

[2018-04-12 04:08] deoren commented on #1782
From the [current docs](https://www.rsyslog.com/doc/v8-stable/configuration/modules/imrelp.html):

My 2 cents:

1. log the rejection (#2190), note the specific reason (mention the max size allowed and also the size of the message that was rejected) and consider that an error.
1. log a separate message for the truncation of the message.
    - I'm not sure if that would best be handled as a warning

[2018-04-12 04:14] deoren commented on #2383
It would definitely had a significant support load for a time, so lots of PR work would need to be done to get the message out.

If a v9 were ever developed with the intention to drop support for the [`obsolete legacy`](http://www.rsyslog.com/doc/v8-stable/configuration/conf_formats.html) configuration format, then stable versions prior to that major version change would need to start emitting inf

[2018-04-12 04:34] deoren commented on #2383
ACK. I suppose this is one reason (if at all possible/reasonable) to decide whether the [`obsolete legacy`](http://www.rsyslog.com/doc/v8-stable/configuration/conf_formats.html) configuration format will be dropped and start emitting info level messages warning of the future end of support of that format. As you note, it will take a long while before the PR push is successful at getting the word o

[2018-04-12 07:08] rgerhards commented on #2383
side-note: v9 will never happen, with the new release scheme this makes no sense - everything is done incrementally. So we'll stay at 8.x forever.

[2018-04-12 07:13] davidelang commented on #2383
On Thu, 12 Apr 2018, Rainer Gerhards wrote:

Sounds reasonable, but not a high priority to implement. Those people who want
to drop the old format should be the ones to make the patch.

[2018-04-12 07:55] surco1971 opened #2637 "rsyslog stucks with 100% CPU"
### Expected behavior
We have a centralized logging infrastructure within a public cloud from Huawei (OTC) where at the endpoint a rsyslog process listening on Port 10514 receiving log entries from around 400 clients and writing the results in separate files for every client. There are around 1000 log entries per minute.

### Actual behavior
The rsyslog process stucks with one CPU 100% after a cer

[2018-04-12 09:08] davidelang commented on #1782
On Thu, 12 Apr 2018, Rainer Gerhards wrote:

The problem is what to do when you hit a size limit. Especially if it's a matter
of the output of a template being too large as a result of including a JSON tree
in it.

As an admin, I want the ability to figure out that the message is too large to
send remotely, adn write it to a local file and modify the message to send a
smaller version to the remote

[2018-04-12 11:49] amihoya opened #2640 "Can't trace file after logrotate"
I am not very good at English, so I apologize in advance.

### Expected behavior

Imfile keep trace file after logrotate.

### Actual behavior

Imfile can't keep trace file after logrotate.

### Steps to reproduce the behavior

step1. run /usr/sbin/rsyslogd  -dn

step2. create "test.log" and append some line.
       (imfile can get lines)

step3. run /usr/sbin/logrotate -f -s /var/lib/logrotate/lo

[2018-04-12 20:10] bonnern opened #2641 "Rsyslog not writing to some files after logrotate"
### Expected behavior
After logrotate, rsyslog should begin writing to a new file.  This worked fine for years until recent changes in the CentOS build related to the pid file.  I have attempted to update the logrotate file to not use the pid file at all to avoid future issues but this is not working as expected.
### Actual behavior
Rsyslog does not begin writing to a new file.  It behaves as if i

[2018-04-13 07:49] rgerhards commented on #2480
While the assertion should not occur, I wonder if you run the debug code inside the production environment? If so, that is not recommended. Just FYI.

[2018-04-13 07:58] rgerhards commented on #2633
see also https://github.com/rsyslog/rsyslog/issues/2633

[2018-04-13 09:49] rgerhards commented on #2637
thx for the bug report. This is probably hard to reproduce. Can you do a stacktrace of the offending thread with gdb, best 3 or for times (stop, do bt, continue, stop, ...). Thanks.

[2018-04-13 10:14] rgerhards commented on #2480
that's (kind of) normal: debug builds are not designed to run detached (production) and so stdout is closed but assert still emits the message to there.

[2018-04-13 12:13] rgerhards commented on #2584
bug confirmed via #2644

[2018-04-13 12:31] kortemik commented on #2597
IBM provides Power Development Cloud which is free.

IBM Power Development Cloud:
Get no-charge remote access to IBM Power Systems for Development,
Porting and Functional testing

https://www-356.ibm.com/partnerworld/wps/servlet/ContentHandler/stg_com_sys_power-development-platform

Requirements:
registration
vpn connectivity
must reserve in advance, but could be used like before releasing

[2018-04-13 12:36] rgerhards commented on #2584
It's a debug only issue as far as the segfault is concerned. In non-debug mode, an error message is emitted and rsyslog continues to run (except of course for the wrongly configured mmjsonparse).

[2018-04-13 12:41] rgerhards opened #2645 "impstats: segfault if bound to non-existing ruleset"
### Actual behavior
segfault on startup

### Steps to reproduce the behavior
sole config, minimal:
[code]
It is important that the ruleset does not exist.

### Environment
- rsyslog version: 8.34.0

Detected while working on https://github.com/rsyslog/rsyslog/issues/2584

[2018-04-13 12:52] kortemik commented on #2566
the state-file and queue handling should be transactional.

This means that when we have input() for example configured for imfile, statefile is not incremented with new information unless the input event has processed the data to a queue that has accepted the data. In case of direct queues there may become situation where some action(s) in the processing flow fails and a transaction therefore is

[2018-04-13 12:54] kortemik commented on #2540
coverity has become available again

[2018-04-13 13:28] rgerhards commented on #2597
@kortemik Thanks a lot, this sounds veeery interesting. Do you yourself have AIX know-how and could participate in a project to setup the CI environment?

[2018-04-13 13:59] rgerhards commented on #2566
@kortemik I suggest to open a new issue tracker for your use case. This is far broader than what we have on our mind in regard to state files. You probably can do much of this when you do not use queues, but there still may be some edges where rsyslog core changes would be required. Transactional processing is not a design goal for rsyslog, so implementing it means adding a new feature that requir

[2018-04-13 14:03] rgerhards commented on #2540
@kortemik indeed, we are also using it for quite a while again (rsyslog QA automatically uses it when available). But infer is still interesting as an addition, albeit at a lower priority.

[2018-04-13 14:39] #2517 closed

[2018-04-13 14:43] rgerhards commented on #2621
@friedl as #2517 is settled now, we could possibly create the KSI packages again via a patch, based on this commit: https://github.com/rsyslog/rsyslog/pull/2631/commits/b56fd2bd2d972cc3de553408f16e6203e904c863

Alternatively, we could wait for the next release, which gives us a better baseline.

@joschi99 what's your thought on this?

[2018-04-13 15:51] rgerhards commented on #2597
@kortemik following the IBM registration process, it unfortunately looks like Open Source Projects can only use Linux on IBM hardware, but do not receive access to AIX. I'll still see how far we get, but this doesn't sound too promising :-(

[2018-04-13 19:02] joschi99 commented on #2621
@rgerhards,
I think that maybe is better to release the fix with next release.

[2018-04-13 22:06] portante opened #2646 "Disk assisted queues are very very slow to drain"
### Expected behavior

Data written to a disk assisted queue for sending off host via omfwd is drain at or near the rate data can be read from disk and send off host over the network.

### Actual behavior

Data written to a disk assisted queue for sending off host via omfwd is taking multiple days to drain.

### Steps to reproduce the behavior

Create a disk assisted queue with 2 GB of local data,

[2018-04-13 22:47] davidelang commented on #2646
I have experienced this before. In one case I moved the files to a different
directory and then fired up a different copy of rsyslog to drain the queues, it
went much faster, but still nowhere near as fast as it should have.

Rsyslog only pulls stuff from disk to the in-memory queue when the queue is
'idle enough', and if you have ongoing traffic, this ends up being _very_ slow
(it may be that it'

[2018-04-13 22:59] portante commented on #2646
Having the ability to change that priority is really important.  Has anybody thought about what it would take to do that?

[2018-04-14 15:17] kortemik commented on #2597
The corporate agreement is free also, and has AIX

On Fri, Apr 13, 2018 at 6:51 PM, Rainer Gerhards <notifications@github.com>
wrote:

[2018-04-16 01:48] wanghonglei5181 commented on #2586
I upgrade librdkafka!
in some time ,There is still have the problem! @friedl

[2018-04-16 03:11] yfliuyanyan opened #2647 "How to convey the character set information to utf-8"
### Actual behavior
I use ElasticSearch as output module.
There is a large number of errors in ES. Such as "Caused by: com.fasterxml.jackson.core.JsonParseException: Invalid UTF-8 middle byte 0x5c", which cause a so long time for response from the ES.
I think it is a character encoding question. I want to know how to convey the character set information to utf-8 for rsyslog input or output.
Thanks

[2018-04-16 11:35] Dinesh-Ramakrishnan commented on #1390
@rgerhards @PascalWithopf : Thank you very much for the supporting openssl on rsyslog.
1) Is there any timeline planned for this activity? Is it possible for you to share the current progress (if possible, doc,  code).  I would like to contribute (coding or testing)
2) Will there be any restriction on the openssl version that can be used with Rsyslog.

[2018-04-16 12:30] jgerhards commented on #2647
Have you tried using the mmutf8fix module already? This should fix the problems you are experiencing. You can read about it in the [documentation](https://www.rsyslog.com/doc/v8-stable/configuration/modules/mmutf8fix.html).

[2018-04-16 12:32] friedl commented on #2621
@allanpark What is your opinion on this? Should we push a new RPM version with the fix?

@joschi99 That would at least be the easiest way.

[2018-04-16 13:06] rgerhards commented on #1390
@Dinesh-Ramakrishnan thanks for your kind words and interest in this project! Unfortunately it is currently a bit stalled due to other things going on. If you would like to contribute, that would be much appreciated.

@PascalWithopf can you please point to your development branch and maybe provide some info of what was already achieved. Thanks a lot!

[2018-04-16 13:29] PascalWithopf commented on #1782
@jay7x @deoren @davidelang
I was assigned to this issue and read through it and related issues, but it is not really clear to me what exactly the issue is here.

**To sum up**
- The issue was created because messages get stuck in queues when using relp.
- Because everything is working when using omfwd and imtcp instead, it is assumed that the problem lies in relp.
- It was discovered that the imre

[2018-04-16 14:02] PascalWithopf commented on #1390
@rgerhards @Dinesh-Ramakrishnan  I'm sorry, I'm working on something else at the moment so I don't have much time for this.
This is the branch with the current changes:
https://github.com/PascalWithopf/rsyslog/tree/openssl
It fails at the handshake and there is no multi threading at the moment.

[2018-04-16 15:01] Dinesh-Ramakrishnan commented on #1390
@PascalWithopf , Thank you very much for sharing.  Will look into it and update my progress/findings.

[2018-04-16 15:18] bonnern commented on #2641
Turns out my logrotate config was working as written. It was ultimately an Selinux issue.

[2018-04-16 15:18] #2641 closed

[2018-04-16 17:36] deoren commented on #1782
Thanks to #2215, this is now logged in the debug output. As of https://github.com/rsyslog/rsyslog/issues/1782#issuecomment-352027757 the two were not in sync as shown in that output. I've not tested since then, but can do so if needed. https://github.com/rsyslog/rsyslog/issues/1782#issuecomment-352041870 shows the steps I took to replicate the results from the last test that I performed (showing t

[2018-04-16 17:38] deoren commented on #1782
I forgot to say it in the last post I made, but many thanks for taking this on.

[2018-04-16 17:48] deoren commented on #1782
@PascalWithopf I repeated the earlier steps from https://github.com/rsyslog/rsyslog/issues/1782#issuecomment-352041870 a few minutes ago and then grepped the debug log as shown below:

`root@ubuntu-1404-virtual-machine:~# grep -iE 'imrelp: max data|max message size|version' /var/log/rsyslog-debug-full.log`

Matched entries from the debug log:

[code]

[2018-04-16 18:59] jbyers-suse opened #2649 "Rsyslog 8.24 and omelasticsearch Content-Type header not supported (HTTP 406 errors)"
### Expected behavior

The omelasticsearch module obtains JSON from the template

### Actual behavior

I'm attempting to send logs to elasticsearch 6.0.0 using the omelasticsearch module from the rsyslog 8.24 package version on SLES 12 SP3. I'm receiving similar errors to https://github.com/rsyslog/rsyslog/issues/2611 and https://github.com/rsyslog/rsyslog/issues/2070

        "reply":        {

[2018-04-16 20:07] deoren commented on #2649
It appears that option wasn't added until v8.33 (perhaps v8.33.1) with #2347 and #2348.

I'm not familiar enough with Elasticsearch to say what the UTF-8 related error is about.

[2018-04-17 02:39] davidelang commented on #2647
Rsyslog is agnostic to the character encoding of the messages that it processes,
it treats them as a string of bytes and passes them through as-is

If you have a log source that isgenerating invalid UTF-8, rsyslog doesn't have
enough information to figure out how to fix it, because rsyslog has no way of
knowing what the actual encoding of the log message is to trnaslate it into
UTF-8. The only thi

[2018-04-17 05:56] rgerhards commented on #1390
In blunt words: but ready for merge ;-)

[2018-04-17 07:51] akaFalsh commented on #1605
Have the same problem with rsyslog. Enabling polling seems solved the problem. Keep monitoring.

[2018-04-17 07:55] rgerhards commented on #1605
@akaFalsh thanks for the info. I'll see that I do a code change so that  imfile will initiate some retires, but that may take a short while as I am busy with more pressing stuff.

[2018-04-17 07:57] akaFalsh commented on #1605
I also enabled reopenOnTruncate.

[2018-04-17 08:11] rgerhards commented on #1605
just be warned that this leads to various level of data loss - not by rsyslog fault but simply how it works ;-)

[2018-04-17 10:36] jgerhards commented on #2649
This problem was fixed in rsyslog v8.29. You can find the Entry in the changelog here: https://github.com/rsyslog/rsyslog/blob/master/ChangeLog#L1225
It appears that back then it caused only a warning, but now elasticsearch considers it an error.

[2018-04-18 00:35] mrworkman commented on #2560
If only the jerk who added `format_time` hadn't disappeared for 5 months.. who was that guy?

I think rainerscript supports basic arithmetic, doesn't it? Divide your timestamp by 1000 before sending to `format_time` ?

[2018-04-18 02:58] davidelang commented on #2560
nothing stops anyone else from adding features to that function. It's far less
work to add another feature to an existing function (especially when we have a
plan to do so) than to justify adding a new function to start with ;-)

If you want more, submit code (or sponsor someone else to submit code if you
don't have the skills or time to do it right)

[2018-04-18 10:08] akaFalsh commented on #1131
When enabling reopenOnTruncate on log4j files application receives thread block errors.

[2018-04-18 10:34] akaFalsh commented on #1131
When enabling reopenOnTruncate I receive this error on java side:
[code]

[2018-04-18 13:33] deoren commented on #2649
Thank you for the feedback! We'll go ahead and close this ticket since it appears that your question has been answered.

[2018-04-18 13:33] #2649 closed

[2018-04-18 13:55] sgiessl opened #2654 "segmentation fault reading certain queue files"
### Expected behavior
`rsyslogd` uses a queue for messages cached during offline operation. it is normally playing them back. queue files which are corrupted should be handled well, attempting to recover as much of the log's content as possible.

### Actual behavior
Occasionally, rsyslog creates queue files which look slightly wrong (see separate report), and which lead to segmentation faults of r

[2018-04-18 14:19] sgiessl opened #2655 "rsyslogd creates corrupted queue files"
### Expected behavior
`rsyslogd` creates queue files in `/var/spool/rsyslog` in a custom ASCII based file format. The persistent queue is used to replay messages that could not be delivered while the machine was offline, even throughout machine reboots.

### Actual behavior
Running this in larger scale seems to lead to corrupted queue files sporadically (leading to issues described in https://gith

[2018-04-18 14:52] Dinesh-Ramakrishnan commented on #1390
@PascalWithopf, Thank you for sharing the repo.  I have built the rsyslog with your changes and hit with the TLS Handshake failure,  Currently I am debugging the same.  Meanwhile is it possible for you to provide me some hints/overview about this driver? I prefer to have a small chat.

[2018-04-18 15:03] PascalWithopf commented on #1782
@deoren thanks for the explanation. I'm working with @rgerhards in librelp on a parameter to specify how messages that are to long should be handled and other issues.

[2018-04-18 19:29] davidelang commented on #2640
copytruncate is going to cause you to loose logs, even with reopen on truncate.

rsyslog has to detect the truncation, which if the log is being written to fast
enough, may not happen, then there is a window between then rsyslog last looked
at the log and when it was truncated that will be lost entirely

and there are other known issues as well.

reopening the file when we detect truncation is a b

[2018-04-18 19:33] davidelang commented on #2654
There is a tool for recreating the queue file indexes (.qi files) if they get
corrupted, writing them in such a way that they cannot be corrupted would
involve a lot of very expensive fsync() and fdatasync() calls, probably causing
you to loose logs because you can't write them fast enough.

now, it would be good for rsyslog to not segfault if there are problems with the
queue or .qij files, so th

[2018-04-18 19:35] davidelang commented on #2655
was this from a system crash, rsyslog being killed, or normal rsyslog exit?

[2018-04-18 21:00] sgiessl commented on #2655
In general it is possible that the systems are likely to suffer from power-off situations or system crashes. Not using `fsync()` and system crashes could maybe explain those partial messages - I assume that this is a possible scenario then: 1. the object is written partially, 2. system reboots, 3. new logs are appended to the previous queue file?

This might actually be an explanation for the seco

[2018-04-18 21:11] sgiessl commented on #2654
How is this tool called? You are probably referring to `tools/recover_qi.pl` - I will try it out on the faulty queue files that I have collected. Ideally, there would be an automated way of detecting that a queue recovery is required, or even an option that would direct rsyslogd to do unattended and optimistic recovery.

I agree about that it should not segfault - rsyslog would ideally just skip t

[2018-04-18 21:44] davidelang commented on #2654
On Wed, 18 Apr 2018, Sandro Gießl wrote:

That the tool.

unfortunantly it can take a long time to run, so I don't think it's best to run
it (or something like it) automatically.

We possibly should try to auto-create a 'corrupt_queue_files_XXX' subdirectory
and move the entire set of queue files into that directory for future recovery,
meanwhile starting up and creating new files as needed.

I se

[2018-04-19 03:27] lishengjia commented on #1771
same problem in rsyslog-8.34.0-2.

[2018-04-19 05:43] kortemik commented on #2597
of course i am available for the setup although i know very little about
buildbot

On Sat, Apr 14, 2018, 18:16 kordex <kordex@gmail.com> wrote:

[2018-04-19 06:27] rgerhards commented on #1771
I would apprecieate a fresh and detailled report in a new issue - this one seems to cluttered and is hard to understand now after being closed for month.

[2018-04-19 06:34] rgerhards commented on #2597
@kortemik we got a small team started working on this yesterday, but I am not sure if they want to discuss publically (it's outside of Adiscon, so I can't speak on that). Anyhow, I'll alert them on this ticket and hope they will either contact you via the issue or some other way. In any case, I would deeply appreciate your help in getting this going.

I have also applied for the coporate account,

[2018-04-19 06:47] jgerhards commented on #2640
Hi akaFlash,
could you please let me know which version you are using?

[2018-04-19 09:01] rgerhards commented on #2480
@PascalWithopf can you please try to add a testbench test for this

[2018-04-20 00:46] mdreed234 opened #2658 "rsyslog using omrelp takes 178 seconds to terminate following SIG_TERM"
### Expected behavior
omfwd does terminate within a few seconds.  I expect omrelp to also terminate within at most a few seconds of receiving SIG_TERM.

### Actual behavior
In my test system, using omrelp takes 178 seconds to terminate. There are two queue files in /var/lib/rsyslog/ and it takes rsyslog approximately 89 seconds to complete processing of each, and they appear to be handled sequenti

[2018-04-20 01:55] davidelang commented on #2658
could you gather stats via impstats to make sure that the queues are of similar
sizes for the two tests? If the relp test has thousands of messages in the queue
at the time of termination, but the fwd test only has dozens, that could account
for a significant time difference

[2018-04-20 05:35] rgerhards commented on #2658
I would assume that omrelp chokes on an oversize message, which is injected via imfile (two bugs working together). We are currently working on this. see https://github.com/rsyslog/rsyslog/issues/1782

[2018-04-20 05:36] rgerhards commented on #2658
nevertheless, impstats can help enlight if it really is what I assume (just like @davidelang said).

[2018-04-20 09:24] PascalWithopf commented on #2480
I added a test and was able to reproduce it.

[2018-04-20 10:34] #2584 closed

[2018-04-20 10:34] #2645 closed

[2018-04-20 10:42] #2403 closed

[2018-04-20 10:42] #2599 closed

[2018-04-20 10:42] #2600 closed

[2018-04-20 17:03] mdreed234 commented on #2658
I'd be happy to gather stats.  I've not done this before so will take a little bit of learning.

I used "wc -L" on my input files and observe the max line length is 40,173.  I have omrelp configured for max message of 64k.  Global also configured for 64k.

[2018-04-20 17:16] mdreed234 commented on #2658
Er, apologies.  What I meant is that imrelp is configured to receive 64k. (Need coffee!)

[2018-04-20 17:53] mdreed234 commented on #2658
Additional information.  I compared the file sizes written to the aggregation server before and after rsyslog shutdown.  No difference in size before and after shutdown.  This is true whether using omrelp or omfwd.

I've noticed that the log lines in at least some aggregated files are in a different order than the source files.  Same number of lines, just a different order.  This is also independe

[2018-04-20 18:41] mdreed234 commented on #2658
I've attached a compressed statistics log.  The interval was every 5 seconds.  Uncompressed it's roughly 1 MB.  Time of SIG_TERM was Fri Apr 20 11:28:51 PDT 2018.  Time of completion of first queue was Fri Apr 20 11:30:21 PDT 2018.  TERM complete at Fri Apr 20 11:31:51 PDT 2018.  There were no stats gathered after SIG_TERM was delivered.
[rsyslog_pstats.LOG.gz](https://github.com/rsyslog/rsyslog/f

[2018-04-20 19:42] bbb31 commented on #1487
Support, when I upgrade logging cluster (IP change) I have to also rolling restart `rsyslog` on all servers as well.

[2018-04-21 01:28] richm commented on #2595
This was fixed as part of https://github.com/rsyslog/rsyslog/pull/2635
please close this issue

[2018-04-21 06:08] #2595 closed

[2018-04-22 05:56] drdivano opened #2659 "rsyslog imfile fails to detect log rotation"
### Expected behavior

Rsyslog imfile should detect log file rename and start reading from the new log file.

### Actual behavior

Rsyslog fails to detect input log rotation (rename operation) on most runs of my test.

### Steps to reproduce the behavior

### Environment
- rsyslog version: [e.g. 8.34.0 -- see rsyslogd -v]
- platform: Alpine 3.7  / Docker 18.03.0-ce

I created a docker image that r

[2018-04-24 17:46] bjhaid commented on #1531
Is there a way I can determine versions of rsyslog affected by this? We run v8.25 and we seem affected, I did a core dump of rsyslog after observing that it's memory usage was growing linearly and has been for a while.

I found entries similar to:

[code]

in coredump (after running `strings` on it), which I believe is similar to this issue. Note that the coredump was done yesterday (Tue Apr 24 17

[2018-04-24 18:29] rgerhards commented on #1531
The pull request above days 8.27. in doubt, check the ChangeLog.

[2018-04-24 18:32] bjhaid commented on #1531
Do you know what version the bug(s) was(were) introduced? Not when it was fixed

[2018-04-24 18:34] rgerhards commented on #1531
No idea.

[2018-04-24 18:35] bjhaid commented on #1531
thanks

[2018-04-25 08:28] StrongestNumber9 opened #2660 "Regex startmsg timeout does not read until EOF, only until last EOL"
### Expected behavior
It reads until the end of the file.

### Actual behavior
It reads until last newline, cutting out rest.
[code]

### Steps to reproduce the behavior
Message that will be split
[code]

Module settings
[code]

Imfile settings
[code]

### Environment
[code]

[code]

[2018-04-25 08:48] rgerhards commented on #2660
This is expected behaviour. A line that has not (yet) a newline (LF) is not a complete line. However, you can use the timeout feature to make imfile consider such incomplete lines as being finished.

[2018-04-25 08:58] StrongestNumber9 commented on #2660
We are using the timeout function.

[code]

Then one of the two happens, neither is wanted:
 - Writing newline and new event will then try to send "this will be cut" alone.
 - Not writing a newline but starting a new event message will have this prepended instead.

[2018-04-25 09:07] rgerhards commented on #2660
mhhh... you are right on the timeout. However, an incomplete line is an incomplete line - we do not know when it will be completed.

One thing we could do is change this to a feature request that take incomplete lines upon timeout. However, that is inherently racy, as the logging application could just in that instant write the missing line end. Albeit this obviously is much less likely in the tim

[2018-04-25 09:16] rgerhards commented on #2660
@StrongestNumber9 well, to be sure let me verify the CI tests if my memory is correct. but I am 99% sure...

[2018-04-25 10:57] alorbach commented on #1390
Hi @Dinesh-Ramakrishnan, are you planning on contributing to the code in near future?
If not I will be taking over the code state from Pascal and continue on the OpenSSL implementation.

[2018-04-25 11:15] StrongestNumber9 opened #2661 "Writing just a newline after regex timeout dumps memory"
### Expected behavior
I would assume it is just a normal event with exactly no content, just "".

### Actual behavior
~~Memory leaks~~ Dumps garbage from memory, nothing gets processed?
[code]

### Steps to reproduce the behavior
Briefly

Input
[code]

Module (small for just testing purposes)
[code]

Reproduce
[code]

### Environment
[code]

[code]

[2018-04-25 12:17] rgerhards commented on #2661
I don't understand that fully. Do you experience a memory leak?

Re the expectation, empty messages will not be generated. But it looks like instead garbage occurs. Did I understand that correctly?

[2018-04-25 12:48] StrongestNumber9 commented on #2661
My bad with the wording, what I meant to say is that it seems like it accesses invalid location in memory and dumps it

[2018-04-25 15:15] n2N8Z opened #2662 "imfile new state file naming results in files being re-read from start."
### Expected behavior
State files are used to resuming reading from previous offsets.

If state file naming is changed, existing state files are converted to the new naming and internal format.

### Actual behavior
After upgrading to 8.34, all previous state files are ignored, and all watched files are read again from start.

### Steps to reproduce the behavior
Configure some file to be watched.
U

[2018-04-26 02:46] zhs077 opened #2663 "CPU use 1300%"
### Expected behavior

### Actual behavior
CPU use 1300%
 3254 root      20   0 4269m 1.7g 2208 R 56.9  1.3  11:13.37 rs:main Q:Reg
 3272 root      20   0 4269m 1.7g 2208 R 50.3  1.3  11:13.66 rs:main Q:Reg
 3249 root      20   0 4269m 1.7g 2208 R 48.9  1.3  10:55.97 rs:main Q:Reg
 3262 root      20   0 4269m 1.7g 2208 R 46.9  1.3  11:11.06 rs:main Q:Reg
 3255 root      20   0 4269m 1.7g 2208 R 46

[2018-04-26 06:30] rgerhards commented on #2662
Thanks for the bug report. Unfortunately it is not as easy to reproduce as you assume. Everything works as expected in our environment (including the testbench) and also at all other places I know that did the upgrade. So I would assume that the bug is triggered by something in your config (not say it is wrong, just it is a trigger).

To debug this, it would be best if I could get a debug log for

[2018-04-26 07:05] rgerhards commented on #2663
can you describe how to reproduce this behavior? If not, we need to think about how we can debug this in your environment.

[2018-04-26 07:15] fluential commented on #2662
@n2N8Z would you be able to provide required info?
@rgerhards - it seems to me that "somehow" this comes from the actual state of the "state file directory", I can observe multiple state files for a single logfile mostly corresponding to the restart times. I've managed to remove "obsolete" state files and this somehow (not always the most recent was the correct) fixed the issue, but I can't really

[2018-04-26 07:31] drdivano commented on #2640
Would it be safer to deallocate blocks in log files (create holes) instead of truncation?

E.g.  `fallocate --punch-hole -l {hole-size} /var/log/syslog`

[2018-04-26 07:32] rgerhards commented on #2640
no, this doesn't remove the racyness. Just don't use that mode!

[2018-04-26 07:39] drdivano commented on #2640
What if I deallocate blocks before the rsyslog read position?

E.g.:

[code]

[2018-04-26 07:58] rgerhards commented on #2640
might work, might not, may break rsyslog or may not. No guarantees here.

[2018-04-26 09:51] rgerhards opened #2665 "internal error in config optimizer"
if call_indirect is used, rsyslog reports an internal error:

[code]

[2018-04-26 12:26] n2N8Z commented on #2662
With 8.29 the state files had the names of the watched files in them like /var/lib/rsyslog/imfile-state:-path1-path2-path3-filename.
After the upgrade the state files were named based on their inodes e.g. /var/lib/rsyslog/imfile-state:21620797

Based on that new naming scheme, it made sense that the old state files were not used.

Due to the large amount of imfile refactoring, I was concerned that

[2018-04-26 12:33] rgerhards commented on #2662
no, there is code that reads the old state file and converts it to new format.

No, inode numbers are what they should be. This is to survive renames. The name can also contain a hash, but that's right now not the case. Re the selinux errors, the old code possibly just did not output error messages and silently ignore the files.

Why is it not well-formed? It should be.  Please show what your issu

[2018-04-26 12:35] rgerhards commented on #2662
@fluential

Can you create a debug log from such a startup run? That would be helpful to understand what is going on here.

[2018-04-26 13:39] n2N8Z commented on #2662
8.29 may have been silently ignoring the errors, but it wasn't ignoring the files, and neither was 8.34.

e.g.
{ "filename": "\/path1\/path2\/path3\/filename", "prev_was_nl": 0, "curr_offs": 10485768, "strt_offs": 10485768 }"prev_msg_segment": "msg segment " }partial msg segment" }partial msg segment" }partial msg segment" }" }partial msg segment" }

"prev_msg_segment" is not part of an object, an

[2018-04-26 13:43] alorbach commented on #2399
I got it reproduced with the dockerfile, but it's running based on rsyslog 8.32.
I create a test based on the docker environment but I was not able to produce a crash. I am waiting for a more recent rsyslog version for the docker environment in order to see if this is an already fixed issue.

[2018-04-26 14:48] rgerhards commented on #2399
@alorbach as far as I know, @StrongestNumber9 builds his own packages, so he would need to provide that version. To double-check, could you checkout v8.32.0 and check if the test fails with that version?

It's likely that 8.34 fixes the issue, as a lot of work has been done on "small nits" which could have caused that.

[2018-04-26 15:31] rgerhards commented on #2662
I have crafted a path, but I am not sure if it explains everything discussed here in the tracker. Let's apply that patch and see if the issue goes away.

Can anyone from you build and deploy yourself or do you need a package update (this takes a while longer as I need to involve more folks).

[2018-04-26 15:44] #2647 closed

[2018-04-26 15:46] rgerhards commented on #498
we need to tackle this from a different angle: as @davidelang suggested, this should probably done inside a core component. MsgSub() and friends sound like a decent choice. I keep the associated PR open, just in case I can re-use something...

[2018-04-26 17:58] davidelang commented on #2663
32 worker threads could very well be the problem. We have found that when you
have too many worker threads, they end up fighting over the queue locks and also
end up processing very small batch sizes.

What drove you to defining so many threads? I've run hundreds of thousands of
logs per second with 1-2 worker threads. I don't see anything in your config
that would benefit from multiple threads. I

[2018-04-27 02:47] zhs077 commented on #2663
how confiure thread num ?

[2018-04-27 03:58] davidelang commented on #2663
On Fri, 27 Apr 2018, zhenghuashan wrote:

start with one thread, increase the number of threads only when you see evidence
that the single thread can't keep up.

What is the rate of logs that you are expecting to process?

[2018-04-27 04:01] davidelang commented on #2663
On Thu, 26 Apr 2018, David Lang wrote:

Adding to this, the fact that the only thing your config file does is write to
local files, makes it even less likely that multiple threads will help you. You
cannot have multiple threads writing to the same file at the same time, the
threads will have to take turnes, and when one thread is writing, the other
threads are going to either be idle (waiting), or

[2018-04-27 06:48] #2480 closed

[2018-04-27 06:51] #2665 closed

[2018-04-27 06:59] alorbach commented on #2399
I will wait for a 8.34 package to reproduce the problem with the docker environment.

[2018-04-27 07:36] alorbach commented on #2399
Still could not reproduce a crash, only some debug print issues in debug mode only. Here is valgrind output from the testoutput:

`==75454== Memcheck, a memory error detector
==75454== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==75454== Using Valgrind-3.11.0 and LibVEX; rerun with -h for copyright info
==75454== Command: ../tools/rsyslogd -C -n -irsyslog.pid -M../runtime/.lib

[2018-04-27 11:03] rgerhards commented on #2399
I should add that @alorbach did this test with 8.32.0, so the environment is the same. I have seen that valgrind errors, and these are definitely pointing to something wrong. It's the non-existing ruleset, and I'll craft a patch for that.

@StrongestNumber9 how exactly do you build your packages? I mean which compiler, CFLAGS, options, etc...

[2018-04-27 11:05] StrongestNumber9 commented on #2399
Pinging @kortemik for more details

[2018-04-27 11:12] rgerhards commented on #2399
some background: I ask as we are still unable to reproduce outside of the docker container -- the only difference most probably now is how the binary is being created. The fix I crafted does not cause an abort, it's really cosmetic.

[2018-04-27 12:48] rgerhards commented on #2399
@StrongestNumber9 @kortemik this is very strange - are your sure this really is rsyslog 8.32? If I enable debug logging inside the container, I see that parts of the processing flow do now happen, namely the script optimizer is not called. That is also the cause of the abort.

Have you patched part of the code out? This is definitely not what we know as 8.32.

[2018-04-27 12:52] rgerhards commented on #2399
This, for example, is completely missing in the debug log:
[code]

[2018-04-27 13:31] #2662 closed

[2018-04-27 13:34] kortemik commented on #2399
We have 393bb03de47a625751534f425164d53dbb2259ba (tag v8.32.0) plus omfile-hardened and very minimal changes back-ported from development of 8.33.0 (the issues we created back then).

[2018-04-27 13:41] rgerhards commented on #2399
well... all I can say is that your binary works quite different from regular rsyslog. How can we go forward? Maybe you should build a package from plain v8.32.0 tag or v8.34.0 tag. I really can't debug this further, as the code is for some reason different and I also cannot add additional instrumentation. If I use our versions, everything works differently (and works).

[2018-04-27 13:52] kortemik commented on #2399
i hope we can find the reason why recompiling does cause such issues, i sent the source via a drive link to email. however there is nothing big there, just fixes that got merged with 8.33.0 and the omfile-hardened patch as were in the pull request back then

[2018-04-27 14:04] rgerhards commented on #2399
It's very strange. It would still be helpful if you just could use normal 8.34, package it and see what happens. If it then still fails, we could outrule a number of possibilities and so we would not need to explore them.

[2018-04-27 22:57] mdreed234 opened #2673 "rsyslog reorders log file content"
When using imfile to tail a log file and write content to either a local (same host) or remote (different host) logging server, the content of the tailed file is reordered in the destination file.  The size of the source and destination files is the same.  The number of lines in each file is the same.

imfile -> omfile
-or-
imfile -> omfwd (tcp) -> omfile

(Non-trivial rules included.)

### Expect

[2018-04-27 23:12] davidelang commented on #2673
Yes, this is a common thing. Rsyslog uses multiple threads to process messages,
and can relay through multiple network connections (and can use UDP which does
not provide in-order guarantees), plus can be relayed through multiple systems
in parallel.

As a result of all of these things, we made the decision about a decade ago that
trying to guarantee in-order delivery was doomed to failure, and so

[2018-04-28 06:28] rgerhards commented on #2399
ahhhh! Things begin to clear up a little. The test instrumentation seems to play a role here and changes behavior. I am now able to reproduce the missing optimizer call if I remove the instrumentation. Will keep you posted.

[2018-04-28 06:33] rgerhards commented on #2399
I now see - if there are no actions at all in the config, the optimizer is not called. Test instrumentation adds a test and so everything works. Let me see what is the best way forward: possibly make rsyslog terminate if no actions exist, as it really cannot do anything useful in that case...

[2018-04-28 06:42] rgerhards commented on #2399
yes - if I add an action to your container's rsyslog.conf, it also works.

[2018-04-28 06:50] #2673 closed

[2018-04-28 08:30] kortemik commented on #2399
termination would be possibly the best case, although someone might want to have a /dev/null kind of a target for performance testing or so

[2018-04-28 09:34] rgerhards commented on #2399
well, if you want to write to /dev/null, than you need an action and so the condition is satisfied. But, granted, it might be handy for extreme tests to permit this, so I'll probably add a non-user option to let it keep running. Nevertheless, in such cases it can possibly segfault, it's no use case that we really support (aka "do not turn on this option and complain").

[2018-04-28 12:01] #2399 closed

[2018-04-28 17:16] mdreed234 commented on #2673
Thank you for the excellent clarification.

Would you have time to offer some configuration guidance for settings that will minimize the inherent out-of-orderness that you describe above?

[2018-04-29 04:52] davidelang commented on #2399
I agree,

I was thinking that the ability to have a config with no outputs could be
usefule for benchmarking purposes.

[2018-04-30 23:09] wbotelhos commented on #2134
Hi @rgerhards ,

I'm having this problem with version **8.34.0**:

[code]

My `rsyslog -d` mention about PID like you said in the begin:

[code]

- This problem just happen on a fresh machine, since I'm trying create a AMI with [Packer](https://www.packer.io/intro/index.html);
- When a run Packer in debug mode I can log in the temporary machine and try restart manually, but it still fails with tim

[2018-05-01 00:10] davidelang commented on #2134
There was a request by distro maintainers to have rsyslog no longer create a pid
file by default when run under systemd. That has created a few problems (mostly
related to log rotation)

But this sounds like the systemd config for rsyslog needs to be updated to not
look for the pid file (or pass the -i option to have it create a pid file like
it used to)

[2018-05-01 02:00] alecswan commented on #1703
I am seeing a similar issue on CentOS 7 with 8.34.0 which I was finally able to build myself. What was the compatibility problem that you fixed in your repo?

[code]
Here are rsyslog related packages on my system.

# rpm -qa | grep 'rsyslog\|liblogn\|libfast'
rsyslog-mmnormalize-8.34.0-2.el7.centos.x86_64
libfastjson4-0.99.8-1.el7.centos.x86_64
rsyslog-8.34.0-2.el7.centos.x86_64
rsyslog-gnutls-8.3

[2018-05-01 07:44] bsmojver opened #2676 "systemd service file broken with 8.34.0-2 rpm"
### Expected behavior
The service file should consider /etc/sysconfig/rsyslog file.

### Actual behavior
Ignored.

### Steps to reproduce the behavior
Run the RPM on RHEL7 with customised /etc/sysconfig/rsyslog file.

### Environment
- rsyslog version: 8.34.0.2
- platform: RHEL7

The root cause is that rsyslog-8.24.0-sd-service.patch was dropped from the RPM build. Probably because recent versions

[2018-05-01 07:53] bsmojver commented on #2676
Patch that applies:

[code]

[2018-05-01 08:58] rgerhards commented on #1703
looking the conversation as it is a packaging issue and I guess any new such issues that comes up is not related to the old one in any case. If you have a similar issue, please create an issue tracker in the right packaging project. Then it also directly goes to the right people.

[2018-05-01 09:02] rgerhards commented on #2676
@friedl could you have a look? Let me know when we can close this.

[2018-05-01 09:38] rgerhards opened #2677 "AMQP input module?"
rsyslog carries a contributed AMQP output module, but not input module. It may be useful to have an input as well. For example, Microsoft Azure supports event consumers via AMQP:

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#publishing-an-event

So it would probably be nice to have such a capability.

[2018-05-01 10:41] rgerhards commented on #2399
OK. I am still tempted to say that in almost all cases, this should be treated as a fatal startup error. Do you agree on this?

If so, we could add an option specifically to permit actionless configs. But that would explicitly need to be set.

Note: up until now, this was accepted with just a warning message, but I really think that behavior is not appropriate - especially given the fact that most

[2018-05-01 17:32] davidelang commented on #2399
On Tue, 1 May 2018, Rainer Gerhards wrote:

I think it is very reasonable to have a "I'm doing very wierd stuff, skip sanity
checks" switch to enable things that make no sense in a normal config, but are
useful for testing or very odd situations like this.

That would allow us to add more sanity checks for bad conditions, beyond this
one (nothing in the default ruleset, etc)

[2018-05-01 21:13] 2rs2ts commented on #1531
It doesn't appear to happen in 8.24.0 (the version in the debian stretch repo) so it seems to have been introduced in 8.25.0; can't say with 100% certainty though

[2018-05-02 05:53] AmyChang-yh opened #2679 "rsyslog imfile fails to keep record full logs"
### Expected behavior
We load the module "imfile" and set the input file to "mTerm.log," output file to "console.log."
If there is many data from mTerm.log store into console.log, the console.log fails to keep record full logs.

### Actual behavior
We generated Host console messages by 'hexdump -C /dev/sda1', these messages store into mTerm.log.
But the console.log only stored about 557 KB then st

[2018-05-02 06:03] wiwAmyChang commented on #2421
Hello @rgerhards ,
Thank you to fix this memory leak issue.
When we update the rsyslog version to 8.34.0, the memory leak issue is gone :+1:

But we found there was a situation that we could not receive full log from output file.
So we create another issue for that.
[rsyslog imfile fails to keep record full logs #2679](https://github.com/rsyslog/rsyslog/issues/2679)
Please help track this problem.

[2018-05-02 07:06] davidelang commented on #2679
please provide your complete config file.

from the clues you provide, it sounds like your config file is also configured
to send to a remote destination, and delivers some messages and then a queue
fills up and messages get stuck.

But it's hard to tell without seeing the full config

[2018-05-02 08:26] wiwAmyChang commented on #2679
Hi
Here is our complete config.
Thank you!
[code]

[2018-05-02 08:44] #1728 closed

[2018-05-02 08:44] #1459 closed

[2018-05-02 09:50] rgerhards commented on #2659
thx for the bug report - unfortunately it's a busy time. We will look at this ASAP.

[2018-05-02 09:50] #2640 closed

[2018-05-02 09:52] #2636 closed

[2018-05-02 10:00] yfliuyanyan commented on #2560
**my conf as follows:**
module(load="builtin:omfile")
module(load="imkafka")
module(load="mmjsonparse")

set $.formatedTime=format_time($!time, "date-rfc3339"); # declare local variable
set $.xx = "quux";

template(name="var_test" type="list") {
    constant(value="time=")
    property(name="$!time")
    constant(value="-formatedTime=")
    property(name="$.formatedTime") # test local variable for

[2018-05-02 10:06] rgerhards commented on #2560
The
[code]
is not part of your ruleset, so it is not executed. Move it down into the ruleset.

[2018-05-02 10:10] rgerhards commented on #2633
fix needs updated librelp 1.2.16 (to be released at latest with rsyslog 8.35.0)
as well as PR https://github.com/rsyslog/rsyslog/pull/2656

With #2656, the default is to truncate.

[2018-05-02 10:50] rgerhards opened #2681 "add central handling of oversize input messages"
In the community we frequently discuss handling of oversize messages. @davidelang rightfully suggested to create a central capability inside rsyslog core to handle them.

We need to make a distinction between input and output messages. Also, input messages frequently need to have some size restrictions done at a lower layer (e.g. protocol layer) for security reasons. Nevertheless, we should have a

[2018-05-02 10:50] hryamzik opened #2682 "librdkafka1 missing in v8-stable"
### Expected behavior

rsyslog-kafka installs fine

### Actual behavior

[code]

### Steps to reproduce the behavior

[code]

### Environment
- platform: Amazon Linux AMI release 2018.03

[2018-05-02 10:54] rgerhards commented on #2682
The rsyslog version is too old. It has a requirement that no longer exists. As a side-note, kafka would not really work with 8.26, as it had some very serious bugs. So no point at all in trying to obtain an old librdkafka (which BTW had another set of very serious bugs).

[2018-05-02 10:54] #2682 closed

[2018-05-02 10:55] rgerhards commented on #2682
@friedl maybe we should remove the too-old librdkafka packages that we still store?

[2018-05-02 10:57] hryamzik commented on #2682
Thanks man, we've spend huge amount of time selecting `rsyslog` and `rsyslog-kafka` versions that works with kafka in a stable way.

[2018-05-02 11:08] rgerhards commented on #2682
well, if you thin 8.26 was stable, happy message loss ;-) I know, because I made the design error that caused that message loss. A quick glimpse on kafka inside the ChangeLog also reveals many, often serious, problems that were fixed in later release.  So you "huge amount of time" was actually ill-spent.

[2018-05-02 14:31] friedl commented on #2682
The rsyslog-kafka packages for pre-8.28.0 versions are gone for good now. With 8.28.0 the refactored omkafka module was introduced, including static linking to librdkafka in the RPMs we provide.

For using any of the Kafka modules, it is recommended to use the latest version of rsyslog (8.34.0) because it has all the fixes that are currently available and uses the most recent librdkafka library.

[2018-05-02 21:18] davidelang opened #2683 "Add central handling of oversized and corrupt output messages"
This is the other half of the problem outlined in #2681

When sending a message out, the template can cause the message size to grow and exceed the max message size.

In addition, there can be other things in the message that can cause delivery to fail only for one specific message (non UTF-8 bytes when sending to a destination that requires UTF-8 for example)

omelasticsearch has a 'errorfile' th

[2018-05-03 02:28] yfliuyanyan commented on #2560
Wow, it works! @rgerhards Thank you so much!

[2018-05-03 05:57] #2560 closed

[2018-05-03 07:31] rgerhards commented on #1741
fixed in https://github.com/rsyslog/rsyslog/pull/2656
requires librelp 1.2.16

[2018-05-03 07:31] #1741 closed

[2018-05-03 07:32] rgerhards commented on #1782
fixed in #2656
requires librelp 1.2.16

[2018-05-03 07:32] #1782 closed

[2018-05-03 07:32] rgerhards commented on #2496
fixed in #2656
requires librelp 1.2.16

[2018-05-03 07:32] #2496 closed

[2018-05-03 14:16] rgerhards commented on #2683
I would implement it so that it checks the result of template operation, so we know for sure how long the message gets.

Regarding batches, we already have the batchSize, which limits the number of messages inside a batch.

[2018-05-04 03:06] selivan opened #2685 "imklog: both old-style $KLogPermitNonKernelFacility and new-style PermitNonKernalFacility parameters are broken"
### Expected behavior
Successfully pass configuration test with both old and new style parameter.

### Actual behavior
Old-style option

[code]

gives this error:

`rsyslogd: command 'KLogPermitNonKernelFacility' is currently not permitted - did you already set it via a RainerScript command (v6+ config)? [v8.16.0 try http://www.rsyslog.com/e/2222 ]
`

New-style option:

[code]

gives this error:

[2018-05-04 03:08] selivan commented on #2685
It's OK, documentation error: parameter name was had typo, and I copied it from there.

[2018-05-04 03:08] #2685 closed

[2018-05-04 11:31] rgerhards commented on #1359
@portante Is there still interest in this issue tracker? I just had a look at it and I agree that it is wrong. I also have seen that ```strtok()``` is used, which is not thread-safe. So the module will potentially make rsyslog segfault.

Given the fact that besides this tracker here we never received any attention regarding mmgrok, I wonder it if it really is useful to try to make it behave differ

[2018-05-04 11:37] rgerhards commented on #1359
oh, oh, there are many more issues with that module:
[code]

[2018-05-04 12:35] rgerhards commented on #1571
@jendamozna does the problem still exist?

[2018-05-04 12:38] rgerhards commented on #2016
valgrind looks too outdated there - giving up for now.

[2018-05-04 12:38] #2016 closed

[2018-05-04 12:40] rgerhards commented on #2462
@PascalWithopf could you craft a testbench test for this?

[2018-05-04 12:42] rgerhards commented on #2273
closed via #2465

[2018-05-04 12:42] #2273 closed

[2018-05-04 12:46] #2491 closed

[2018-05-04 12:47] #2542 closed

[2018-05-04 12:47] jendamozna commented on #1571
sorry, environment was turned off :(

[2018-05-04 12:47] #1571 closed

[2018-05-04 12:48] #2574 closed

[2018-05-04 12:49] rgerhards commented on #2395
implement via #2598

[2018-05-04 12:49] #2395 closed

[2018-05-04 13:36] friedl commented on #2676
@bsmojver the dropping of the patch was indeed introduced the release of 8.33.0, where `-iNone` was first used.

The big question is, if we should retain the `-iNone` from the `rsyslog.service.in` file from the tarball or dismiss it for the sake of the package.

But, I assume you are right, that the patch should be continued to be applied to get the options set in `/etc/sysconfig/rsyslog` to be ap

[2018-05-04 13:42] bsmojver commented on #2676
On Fri, 2018-05-04 at 06:37 -0700, friedl wrote:

Yeah, I agree with you. If people want to put -iNONE into their
sysconfig files, that's their own decision. For instance, I actually
have multiples of rsyslogd running and each gets their own PID file.

BTW, the patch adds Restart=on-failure, which is already there, so that
can be removed from it. Just realised, sorry.

Thanks,
--
Bojan

[2018-05-04 13:45] friedl commented on #2605
Hm ... actually on Ubuntu there is a rsyslog-redis package for most of the current releases.

For CentOS, this wasn't a requirement yet, but I can enable it and see if it builds.

[2018-05-04 13:48] rgerhards commented on #2467
Yeah, it's a bug, but the cure is actually to depend on the rate limiter for rsyslog internal messages. It was most probably not yet available when this code was crafted. Also, we should consider adding an impstats counter for this case. Would probably be more useful.

[2018-05-04 14:08] friedl commented on #2676
Thanks. I think it's a good path then. I'll see if I can apply the patch on Monday and publish new packages. I don't really want to do that on a Friday when I am not entirely sure it works fine ;)

[2018-05-04 14:46] bsmojver commented on #2676
On 5 May 2018 12:08:15 am AEST, friedl <notifications@github.com> wrote:

Thanks!

--
Bojan

[2018-05-04 17:27] waster commented on #1605
I agree to use use polling mode, but unfortunately it does not support wildcards

[2018-05-04 17:35] rgerhards commented on #1605
With 8.34 it does

[2018-05-04 17:45] waster commented on #1605
oh, sorry, my mistake, great news!

[2018-05-04 18:17] akaFalsh commented on #1605
8.34 is not supported by Debian wheezy. But anyway thanks for good news.

On Fri, May 4, 2018, 20:45 waster <notifications@github.com> wrote:

[2018-05-07 11:00] #2467 closed

[2018-05-07 11:11] #2663 closed

[2018-05-07 11:11] #1735 closed

[2018-05-07 11:11] #1199 closed

[2018-05-07 11:12] #2074 closed

[2018-05-07 11:12] #1596 closed

[2018-05-07 11:16] rgerhards commented on #2628
The ```--enable-libcurl``` switch was actually added to be able to disable libcurl functionality inside the rsyslog core, see https://github.com/rsyslog/rsyslog/commit/46f4f43b8f911d11d9076bc9b2870d5eb339f71a As this is no longer the case, it needs to be removed. This also means the modules need to check themselves.

[2018-05-07 12:05] Dinesh-Ramakrishnan commented on #1390
Hi @alorbach ,  I have made a small progress by fixing the TLS handshake issue.  Now we are able to establish the connection and transfer the messages securely.  But there are lot more of TODOs and Multithread Support to be addressed.  It would be helpful you could continue further on this.  Please keep me updated on the progress ( may be sharing the commits) so that we can collaborate and complet

[2018-05-07 15:26] wess1984 opened #2692 "Rsyslog kafka 8.26.0 rpm package is removed from rpms adiscon list"
### Expected behavior
Rsyslog kafka module rpm package version 8.26.0 need to be found in [rpms adiscon list](http://rpms.adiscon.com/v8-stable/epel-6/x86_64/RPMS)
### Actual behavior
Rsyslog kafka 8.26.0 is removed

### Environment
- rsyslog version:  8.26.0
- platform: Centos 6.9

[2018-05-07 15:56] alorbach opened #2693 "shutdown loop if queue.maxDiskSpace is smaller than queue.maxfilesize"
if queue.maxDiskSpace is smaller than queue.maxfilesize, rsyslogs fails to shutdown properly and loops with the following debug output:

[2018-05-08 05:51] #2500 closed

[2018-05-08 06:23] #2628 closed, assigned to nobody

[2018-05-08 08:16] rgerhards commented on #1350
@PascalWithopf could you add a bit to the doc?

[2018-05-08 09:30] rgerhards commented on #2692
This package has been removed because it was heavily broken. You need at least 8.30 for a working kafka version.

[2018-05-08 09:30] #2692 closed

[2018-05-08 15:14] wess1984 commented on #2692
We work with rsyslog gnutls and  we got the error  **Ohhhh jeeee: Assertion 'pool_is_locked' failed(random-csprng.c:1078:add_randomness**
The rsyslog gnutls version 8.26.0 is the only version that doesn't generate this problem. That's why we use rsyslog, rsyslog-kafka and rsyslog-gnutls of the version 8.26.0.

Any help ! thanks

[2018-05-09 09:23] jkvbe opened #2695 "logaudit facility name"
### Expected behavior
I wanted to filter on  logaudit facility in the rsyslog configuration file using selectors.  This is a facility that is defined in the standard RFC5424

### Actual behavior
This gives the error: unknown facility name. Is there any reason why it's not supported?

### Steps to reproduce the behavior
See above.

### Environment
rsyslogd 8.34.0, compiled with:
	PLATFORM:				x86_6

[2018-05-09 09:44] rgerhards commented on #2695
the traditional name for this facility inside syslogds is ```audit```. The RFC does not give mnemonic names but rather a short description (thus the spaces in the names).

[2018-05-09 09:44] #2695 closed

[2018-05-09 12:49] alorbach commented on #1390
Hi @Dinesh-Ramakrishnan, I started already working on the OpenSSL support.
However I had to start from scratch as the previous implementation try doesn't blend into the rsyslog network framework drivers properly. You can see my progress on my personal fork:
https://github.com/alorbach/rsyslog-1/tree/openssl2

[2018-05-10 02:42] wbotelhos commented on #2134
@davidelang Do you have a solution for this problem?

[2018-05-10 09:57] Dinesh-Ramakrishnan commented on #1390
Hi @alorbach,  Thank you very much for the information.  Could you please share the list of pending items and the targeted milestone?

[2018-05-10 13:12] dirker opened #2697 "Compilation broken if liblogging-stdlog is installed into custom path"
### Expected behavior

The rsyslog configure script should find liblogging-stdlog via pkg-config and add its include and library paths to cflags.

### Actual behavior

The rsyslog configure script find's liblogging-stdlog via pkg-config, but does not add the include nor the library paths to cflags and ldflags. Build fails in imfile.c:

[code]

### Steps to reproduce the behavior

Install libloggin

[2018-05-10 17:58] mrworkman opened #2698 "Discussion: Extending format_time() and parse_time()"
I started trying to put together some `strftime()`-like functionality for `format_time()` the other day, and thought there may be some discussion that needs to be done around how it should behave. I'm opening this issue as a place we can do that.

@rgerhards, I think you want to stay away from directly using `strftime()` as much as possible in implementation due to portability reasons, right?

So

[2018-05-10 18:59] davidelang commented on #2698
what are the portability limits of strftime()

my knee jerk reaction is that rather than re-writing strftime for all platforms,
we may be better off using strftime and documenting that this isn't available
for platform X yet.

there is a LOT of value in using the standard library, so unless it is extremely
limited, we should try to use it.

[2018-05-10 19:12] rgerhards commented on #2698
Worse: it modifies the TZ variable, so all calls related to it (and potentially existing calls) would need to be mutex protected. A no-go caused by the braindead time apis...

[2018-05-10 19:32] mrworkman commented on #2698
Right, I totally forgot about how it behaves in relation to the TZ variable.  That is a huge pain...

[2018-05-11 05:35] wiwAmyChang commented on #2679
Hello @davidelang,
Do you have any update or idea for this question?
Thank you!

[2018-05-11 08:02] PascalWithopf commented on #2462
@rgerhards the problem can be reproduced. When parameter rulebase is used parsesuccess is always OK, but when parameter rule is used instead it works just fine.

[2018-05-11 09:11] PascalWithopf commented on #2462
@radu-gheorghe to make it work simply add ```version=2``` as the first line in your rulebase file.

The parameter rulebase uses version 1 as the default, and the error only occurs in version 1.
Because the parameter rule uses version 2 as the default it works without adding the line.

[2018-05-11 09:14] wess1984 commented on #2692
That's a good news, thank you @rgerhards . I am eager to see the 8.36 version

[2018-05-11 12:02] FlyingPengu opened #2700 "omhiredis produce "could not load module '/usr/lib64/rsyslog/omhiredis.so', dlopen: /usr/lib64/rsyslog/omhiredis.so: undefined symbol: redisConnectWithTimeout""
After rebuilding the rsyslog-RPMs with hiredis, rsyslog always logs
`rsyslogd: could not load module '/usr/lib64/rsyslog/omhiredis.so', dlopen: /usr/lib64/rsyslog/omhiredis.so: undefined symbol: redisConnectWithTimeout  [v8.24.0 try http://www.rsyslog.comand/e/2066 ]`
and the redis-support isn't working.

I already tried the SRPM from Adiscon with the newest version and the SRPMs from RedHat and C

[2018-05-11 13:10] rgerhards commented on #2700
mhhh... ```redisConnectWithTimeout``` seems to be a redis API. This would mean that the redis lib is too old  or for some other reason does not support it? Or maybe the lib is actually not linked in? I am guessing here, as omhiredis is a contributed module and I do not have any know-how at all about it... Maybe it still helps.

[2018-05-11 13:12] rgerhards commented on #2700
not sure if that helps, but: https://bugzilla.redhat.com/show_bug.cgi?id=1056671

[2018-05-14 07:17] rgerhards commented on #2700
@brianknox do you have an idea what might be causing this?

[2018-05-14 07:32] rgerhards commented on #2464
@PascalWithopf can you pls try to reproduce this via a testbench test?

[2018-05-14 07:35] rgerhards commented on #2473
Note to myself: this probably is related too too-low default enq timeout for this use case (like the diskq test)

[2018-05-14 07:39] rgerhards commented on #1280
@davidelang did my comment address your concern?

[2018-05-14 07:41] rgerhards commented on #2190
for ```imrelp```, this is implemented in 8.35.0.

[2018-05-14 08:24] rtlfu opened #2702 "uncompression error with imptcp, compression.mode=none, parser=pmnull"
### Steps to reproduce the behavior
1. connect to imptcp socket
2. send a line of text beginning with the character 'z'

### Expected behavior
the line of text appears in the log file, no errors.

### Actual behavior
- rsyslog reports an uncompression error

- despite the 'Message ignored', the line of text appears in the log file.

### Environment
- rsyslog version: 8.24.0
[code]

[code]
- platfo

[2018-05-14 09:02] #2463 closed

[2018-05-14 09:28] ilovezfs commented on #2697
This PR fixes it: https://github.com/rsyslog/rsyslog/pull/2703

[2018-05-14 10:39] rgerhards opened #2705 "by default, do not use libloggin-stdlog dependency"
Liblogging-stdlog was introduced to provide a broader ability to send rsyslog internal logs to different sources. However, most distros did not pick up that capability and so instead we do a regular ```syslog()``` call. We assume that the actual functionality is never used in practice, so we plan to retire it. That makes building rsyslog from source easier.

The plan is to disable use of libloggin

[2018-05-14 10:44] rgerhards opened #2706 "remove libloggin-stdlog dependency"
Liblogging-stdlog was introduced to provide a broader ability to send rsyslog internal logs to different sources. However, most distros did not pick up that capability and so instead we do a regular syslog() call. We assume that the actual functionality is never used in practice, so we plan to retire it. That makes building rsyslog from source easier.

#2705 disabled the use of liblogging-stdlog b

[2018-05-14 10:56] rgerhards commented on #2698
That's to complex thing. I would try to obtain this from the OS if possible. Otherwise I would simply not support it. If we have UTC and local time numerical values, that should be great for most applications.

[2018-05-14 10:58] #498 closed

[2018-05-14 10:58] #2681 closed

[2018-05-14 11:15] rgerhards commented on #2633
now merged, closed via #2689

[2018-05-14 11:15] #2633 closed

[2018-05-14 13:55] #2697 closed

[2018-05-14 15:06] #1350 closed

[2018-05-14 18:13] davidelang commented on #1280
sorry I missed your response, I was concerned that trying to remove a directory would fail if there was a filehandle open to the file/socket in the directory.

I just tested on linux and with a normal file, this is not a problem. I didn't test with a unix socket, but I would expect the same behavior. It's probably worth double checking on other *nix flavors.

[2018-05-15 07:47] rgerhards commented on #2323
asked again, this time on the clang developer's list: http://lists.llvm.org/pipermail/cfe-dev/2018-May/057957.html

If we can't solve it now, this probably means we need to close the issue tracker as unresolved and need to stay away from using TSAN in CI runs.

[2018-05-15 11:12] rgerhards commented on #2621
packages created as part of the 8.35.0 release process

[2018-05-15 11:12] #2621 closed

[2018-05-15 15:46] stefanizota opened #2710 "Disk-assisted queues missing the first message and name serialization issues"
## Expected behavior
I have the following configuration: a rsyslog instance (the client) that listens on TCP and forwards the messages to another rsyslog (the server) using omrelp. The omrelp action is configured to use a disk-assisted queue.
If the server rsyslog is not responding and I shutdown the client rsyslog, I am expecting that all the messages are persisted to disk.
## Actual behavior
The

[2018-05-15 16:42] jbyers-suse opened #2711 "omrelp question on session timeout and conn.timeout"
### Expected behavior

The RELP session automatically recovers if/when the destination (target) is available after maintenance activities (including configuration file changes as an example)

### Actual behavior

RELP sessions stop working if the destination (target) host is not reachable for a specific period of time.

### Steps to reproduce the behavior

Installation of the rsyslog package and m

[2018-05-15 23:05] atc0005 opened #2712 "imrelp: librelp too old, oversizemode defaults to "abort" [v8.35.0 try http://www.rsyslog.com/e/2186 ]"
### Expected behavior

Perhaps an info level message noting what oversizemode option is set on startup

### Actual behavior

This message is shown:

[code]

### Steps to reproduce the behavior

1. `sudo apt-add-repository ppa:adiscon/v8-stable`
1. `sudo apt-get update`
1. `sudo apt-get install rsyslog rsyslog-relp packages`
1. Modify `/etc/rsyslog.conf` to load `imrelp`
1. `sudo service rsyslog re

[2018-05-15 23:08] atc0005 commented on #2712
Confirmed same behavior on Ubuntu 14.04.

`dpkg -l | grep relp`

[code]

[2018-05-15 23:17] davidelang commented on #2712
there was a new version of relp released a few days ago, are you including that
in your updates?

[2018-05-16 02:51] atc0005 opened #2713 "Severity level for "lookup table reloaded from file" messages set to 3"
### Expected behavior

Severity level of 6, *maybe* 5.

### Actual behavior

Severity level of 3 (error) for a condition that I believe justifies an informational level message.

From `/var/log/rsyslog.log`:

[code]

When capturing the message using the debug template this is what I found:

[code]

### Steps to reproduce the behavior

### Environment
- rsyslog version: 8.35.0
- platform: Ubuntu 16

[2018-05-16 04:59] davidelang commented on #2713
I agree that error is too high a level for a routine reload where everything
works.

[2018-05-16 05:00] davidelang commented on #2713
Adam, do you want to create a PR to change this message?

[2018-05-16 06:54] rgerhards commented on #2712
This looks strange. Maybe it's a problem with packaging. We are investigating.

Re the information message on startup: I don't think we should do that. If we did, we would need to do so consistently, and that would end up in a config dump on startup. Of course, I'll let me overrule by good arguments.

[2018-05-16 07:17] rgerhards commented on #2712
It's indeed a bug - the conditional logic is actually missing :-( I had not noticed that when merging the PR.

[2018-05-16 12:58] qha opened #2717 "imrelp.so fails to load from rsyslog-relp-8.35.0-1.el7.centos"
### Expected behavior
* imrelp.so loads and listens for messages on configured port.

### Actual behavior
* Rsyslogd complains about undefined symbol in imrelp.so:
[code]
* Rsyslog does not listen on configured port.

### Steps to reproduce the behavior
install Rsyslog and rsyslog-relp from Adiscon yum repo.
Configure Rsyslog to use imrelp.

### Environment

Packages from Adiscon yum repo: http://

[2018-05-16 13:08] rgerhards commented on #2717
thx for the bug report. Can you double-check that librelp 1.2.16 is actually installed?

[2018-05-16 13:36] atc0005 commented on #2713
Hi @davidelang,

I briefly looked at the lookup.c file and found where the message is being emitted:

[code]

My initial impression is that the equivalent of "all is well" is being returned, which I would expect would be mapped to a different code, but evidently something else is causing the error code (vs informational message).

Unfortunately I've not worked with C in years and even then I never

[2018-05-16 13:43] qha commented on #2717
My apologies. The rsyslog-relp package only required librelp 1.2.15 (see below) so it only got updated after i downgraded the other packages.

With the latest librelp i get a warning about "imrelp: librelp too old, oversizemode defaults to "abort"" and Rsyslog listens on the configured port.

Thank you for your prompt response!

[code]

[2018-05-16 13:46] deoren commented on #2717
Confirmed bug: #2712 (looks to be fixed in the next release?)

[2018-05-16 13:57] qha commented on #2717
@deoren Yep, thanks!

That bug seems not to be a problem in our configuration so the only remaining part of this bug report is the require librelp version in the rpm spec.

[2018-05-16 14:13] rgerhards commented on #2717
I hope that  @friedl can apply the fix tomorrow. Re the invalid warning message, I also talk to him if he can apply a local patch to our packages.

[2018-05-16 14:16] rgerhards commented on #2661
We could not reproduce exactly, but @PascalWithopf crafted a testbench test that fails under ASAN with what looks like you see. Just there is no garbage in our debug log, so we could not see it. I guess it all depends on the runtime memory layout. That said, I would assume that there are cases where it also could cause a segfault.

[2018-05-16 14:32] rgerhards commented on #2661
@StrongestNumber9 I would appreciate if you could double-check if #2718 fixes the issue for you as well. Even if not, it fixes an issue we see and so I merge it in any case - but it would be good to know if your issue is actually different.

[2018-05-16 15:09] rgerhards commented on #2712
The message is more or less "cosmetic". It is always emitted. So the real problem is that you do not know when you actually have the old version. Other than that, it is safe to use and provides full functionality.

I'll still see if we can apply the patch to our packages, as this removes uncertainty.

[2018-05-16 15:36] #2661 closed

[2018-05-16 15:37] jbyers-suse commented on #2253
Question: I'm currently using the "name" authentication mode for TLS using RELP. According to the documentation [1], "In “name” mode, certificate validation happens. Here, the matching is done against the certificate’s subjectAltName and, as a fallback, the subject common name. If the certificate contains multiple names, a match on any one of these names is considered good and permits the peer to

[2018-05-16 15:37] #2712 closed

[2018-05-16 15:38] jbyers-suse commented on #2253
I intended to include the link to the documentation that I referenced in the earlier update.
[1] https://www.rsyslog.com/doc/v8-stable/configuration/modules/omrelp.html

[2018-05-16 15:39] #2549 closed

[2018-05-16 15:54] #1092 closed

[2018-05-16 20:50] atc0005 commented on #2713
Thanks, that's a good point; I guess I just assumed that there was only one variation of "LogSomething" that used an argument to identify the type of message it was handing.

I took a quick look and found that in addition to LogError there is also LogMsg. I'll try to dig further later and see what other variations exist.

[2018-05-16 21:14] davidelang commented on #2713
Thanks, while you are willing to keep digging, I'll keep advising/hinting. If
you get to a point where you think this is too much work, let me know and I'll
try to find time to do the same research (or it will sit until someone more
familiar with the code gets time to do it)

[2018-05-16 23:00] Whissi opened #2720 "mmkubernetes-basic.sh fails: FileNotFoundError: [Errno 2] No such file or directory: 'mmkubernetes-basic.out.json'"
After #2719 was fixed, test is really failing:
[code]

[2018-05-16 23:02] Whissi commented on #2720
Turns out it is another missing file. Will add it to #2719.

[2018-05-16 23:08] Whissi opened #2721 "mmkubernetes-basic.sh test failure: Error: record for pod pod-name2 not found in output"
OK, but this time it looks like a real test failure and not like a missing file:
[code]

[2018-05-17 02:58] bsmojver commented on #2676
I see 8.35 was released with the same .service file. Any chance we can
get that patch in?

The patch is here:

https://github.com/rsyslog/rsyslog/issues/2676#issuecomment-385619552

--
Bojan

[2018-05-17 05:50] rtlfu commented on #2702
The goal of this setup is to collect the output (errors, debug messages, etc...) of the processes of a specific application that lacks 'proper' logging.

None of those log items have proper 'syslog format', hence the pmnull parser.

[2018-05-17 08:10] PascalWithopf commented on #2464
@rgerhards I could reproduce this.

[2018-05-17 08:51] rgerhards commented on #2713
2018-05-16 22:50 GMT+02:00 Adam Chalkley <notifications@github.com>:

Thanks for trying to work on this. Do a

$ grep -r --include "*.c" LogMsg

on the source base directory. You are on the right path and what the grep
brings up should immediately make clear what can be changed ;-)

Rainer

[2018-05-17 09:17] friedl commented on #2676
Sorry for not informing earlier. I had trouble with the patch and had to forge my own, but had some trouble with that as well. I got it now working and will release a new package version later, because I have to implement another change as well.

You should be able to install 8.35.0-2 soon.

[2018-05-17 09:35] bsmojver commented on #2676
On 17 May 2018 7:17:21 pm AEST, friedl <notifications@github.com> wrote:

Cool, thanks.

--
Bojan

[2018-05-17 10:43] rgerhards commented on #2605
If somebody knows how to solve dependency issues for CentOS, pls let us know. Right now, I close the tracker, but will re-open when we get new information.

[2018-05-17 10:43] #2605 closed

[2018-05-17 11:03] friedl commented on #2676
I did try the change you suggested. My patch was applied, though content is basically the same to yours. You can review the changes here: https://github.com/rsyslog/rsyslog-pkg-rhel-centos/blob/7a65ce40ba0101720dcf9d2b8cdf5238d6411409/rpmbuild/SOURCES/rsyslog-systemd-centos7.patch

But, when building the RPM, rsyslog cannot be started afterwards. I only get a failure message:
`Process: 13696 ExecS

[2018-05-17 11:05] PascalWithopf commented on #2464
@xiagujinqiao FreshStartTail discards all messages that are already in the file when rsyslog starts. Following happens in your issue.
- rsyslog starts
- input file is created and message is written
- rsyslog finds file and processes it for the first time. It sees that there is already messages written and discards them because it doesn't know if these messages were written before or after the star

[2018-05-17 11:10] rgerhards commented on #2720
thx! I need to check why CI did not detect this -- I thought we have enabled mmkubernetes.

[2018-05-17 11:17] rgerhards commented on #2721
@richm would you be willing to have a look?

[2018-05-17 11:19] rgerhards opened #2723 "CI: ensure mmkubernetes tests run"
looks like this currently is not the case (to be investigated).

Doing this depends on https://github.com/rsyslog/rsyslog/issues/2721 being fixed as otherwise CI would always fail.

see also: https://github.com/rsyslog/rsyslog/issues/2720

[2018-05-17 11:45] bsmojver commented on #2676
On 17 May 2018 9:03:36 pm AEST, friedl <notifications@github.com> wrote:

I can try downloading -1 of the RPM and editing the service file to reflect the patch and then start it. I'll let you know what I get.

--
Bojan

[2018-05-17 11:52] ajrpayne commented on #2547
Rsyslog 8.33.0 from from git checkout.
Debian 9.3

Finding the same issue. Only first cert in chain is being sent to client from server. Had to add the rest of the chain to trust store as work-around

[2018-05-17 14:41] atc0005 commented on #2713
@davidelang @rgerhards

Thanks for the encouragement and direction. I've submitted PR #2725 just now for review. Please let me know whether I'm anywhere close.

[2018-05-17 20:27] linsomniac commented on #2229
Also note that if you do not use freshStartTail and you do use inotify mode, it will re-process the log file everytime cronolog restarts writing to the sym or hard link.  I believe this is because inotify will tell rsyslog about the brief unlink and recreate.

We have been tracking this because we were seeing weird spikes after releases and I tracked it down to the logs being loaded again from scr

[2018-05-17 20:29] linsomniac commented on #2229
It would be nice if rsyslog sees a new file that has the same inode as the old file, and is the same size or larger than the old file, it didn't restart processing it from the beginning.

[2018-05-17 20:32] rgerhards commented on #2229
If the file is not deleted in the interim, the state file has all Infos and imfile does exactly what you say.

[2018-05-18 00:40] richm commented on #2721
https://github.com/rsyslog/rsyslog/pull/2726

[2018-05-18 03:27] mrworkman commented on #2698
I spent a bit of time looking into whether this locale-specific stuff can be gotten from the OS (well, GNU) without having to use `strftime()`, and it doesn't seem promising. So, maybe just the numerical values at least for the time being.

[2018-05-18 05:17] wiwAmyChang commented on #2679
Hello @rgerhards,
Do you have any update or idea for this question?
Thank you!

[2018-05-18 07:07] bsmojver commented on #2676
On Thu, 2018-05-17 at 04:03 -0700, friedl wrote:

Here is the service file from Fedora 28 (the patch used there is
essentially the same), which works just fine:
----------------------
[Unit]
Description=System Logging Service
;Requires=syslog.socket
Documentation=man:rsyslogd(8)
Documentation=http://www.rsyslog.com/doc/

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/rsyslog
ExecStart=/usr/

[2018-05-18 09:53] jerry-chen-315 opened #2728 "Rsyslog v8.34.0 omkafka not works,no connection to kafka cluster"
## Expected behavior
  omkafka works fine,which can output log to kafka cluster

## Actual behavior
  No log output to kafka cluster.The kafka port 9092 can be telneted on the server,but no rsyslogd process connected the port.
  It should be like below:

    tcp        0      0 10.200.220.5:47993          162.30.10.214:9092          ESTABLISHED 30933/rsyslogd
    tcp        0      0 10.200.220.5:4

[2018-05-18 14:49] fdeschamps commented on #2676
LimitNOFILE=16384 should be in [Service]

I get systemd warnings on ubuntu xenial with rsyslog 8.35.0-0adiscon1xenial1 :
systemd[1]: [/lib/systemd/system/rsyslog.service:19] Unknown lvalue 'LimitNOFILE' in section 'Install'

[2018-05-19 01:29] bsmojver commented on #2676
On Fri, 2018-05-18 at 07:49 -0700, fdeschamps wrote:

This may be a Fedora packaging bug. I'll bring it to devs attention
there. Doesn't prevent rsyslog from starting on F28, that's for sure.

--
Bojan

[2018-05-21 05:53] bsmojver commented on #2676
On Fri, 2018-05-18 at 07:49 -0700, fdeschamps wrote:

Service file patch that works (tested on RHEL7):

diff -ruN rsyslog-8.35.0-v/rsyslog.service.in rsyslog-8.35.0/rsyslog.service.in
--- rsyslog-8.35.0-v/rsyslog.service.in	2018-05-14 05:38:35.000000000 -0400
+++ rsyslog-8.35.0/rsyslog.service.in	2018-05-21 00:14:38.056649498 -0400
@@ -6,14 +6,16 @@

 [Service]
 Type=notify
-ExecStart=@sbindir@/rs

[2018-05-21 14:51] Blefisca opened #2730 "Rsyslog imfile"
### Expected behavior
Rsyslog imfile can read files under the /var directory when the default SELinux context of var_t is used.

### Actual behavior
Rsyslog is configured to use imfile to read logs in /var/log/httpd. Starting with version 8.34.0, rsyslog is denied permission to read the files by SELinux. All SELinux contexts are correctly set. If rsyslog is downgraded to 8.33.1, all input files ca

[2018-05-22 06:00] xiagujinqiao commented on #2464
Whether it is possible to obtain all the current file lists at the time of rsyslog startup, and files not in this list belong to new files? the new files use freshStartTail = off,thanks

[2018-05-22 10:09] vdmitrief opened #2731 "imfile wildcart except .gz"
Hi,
I have a directory with the following files:
ssl-proxy-access-yyyyMMDD
ssl-proxy-access-yyyyMMDD.gz
How do I configure File in imfile to collect files of type ssl-proxy-access-yyyyMMDD and ignore files *.gz ?

[2018-05-22 17:57] bluca commented on #2564
Maybe I'm missing something, but shouldn't the test check for the message in rsyslog.out.log where the im module should have forwarded it to? Given it uses journalctl, as far as I can see at the moment it's just testing that the journal_print helper program injects the message in the journal?

[2018-05-23 17:53] guptarishu opened #2734 "Custom property via local variable returns empty"
### Expected behavior
May 23 17:49:58 testvar: **text**
May 23 17:49:58 message: some log

### Actual behavior
May 23 17:49:58 testvar:
May 23 17:49:58 message: some log

### Steps to reproduce the behavior (Sample rsyslog.conf)
$ModLoad imuxsock
$ModLoad imjournal

**set $.testvar="text";**
template(name="test-template" type="list") {
  constant(value="testvar:")
  property(name="$.testvar")
  co

[2018-05-23 18:38] #2734 closed

[2018-05-23 21:25] guptarishu opened #2735 "Not able to read the environmental variable in rsyslog config"
### Expected behavior
{
	"@timestamp": "2018-05-23T21:05:46.919925+00:00",
	"host": "10.11.1.1",
	"severity": "INFO",
	"syslog-tag": "test-Log:",
	"**tenant**": "tenant 1",
	"message": "some log"
}

### Actual behavior
{
	"@timestamp": "2018-05-23T21:05:46.919925+00:00",
	"host": "10.11.1.1",
	"severity": "INFO",
	"syslog-tag": "test-Log:",
	"**tenant**": "",
	"message": "some log"
}
### Steps to

[2018-05-24 00:06] diepes commented on #2503
I also had rsyslogd fail/stop sending logs.
Had to delete /var/spool/ryslog/imfile-state:xxxx file refering to the log file and restart rsyslogd

[2018-05-24 05:26] lurenx opened #2736 "how to guarantee rsyslog relp deliver exactly once"
### Expected behavior
guarantee rsyslog relp deliver logs exactly once from edge rsyslog to Central rsyslog.
or let me know which msg is duplicated
### Actual behavior
sometime, there are some logs duplicate.

### Steps to reproduce the behavior

### Environment
- rsyslog version: 8.35.0
- platform: centos 6.8
- omrelp config:
[code]
Thank you.

[2018-05-24 05:56] lurenx commented on #2728
what's the version of your kafka broker?

[2018-05-24 18:06] davidelang commented on #2736
the relp protocol can duplicate messages when the network connection is broken
(involving keeping state across failures). You would need to do a lot more work
to eliminate duplicates in all cases. so far, it's been considered acceptable to
duplicate mesages that were in flight when failures happen.

David Lang

[2018-05-25 03:05] jerry-chen-315 commented on #2728
kafka version 1.1.0

[2018-05-25 08:34] akarri opened #2737 "rsyslog core dumps at the function rs_send_to_aggr"
### Expected behavior
It shouldn't generate the core dump.
### Actual behavior
The rsyslog core dumps are generated on the node with the name
core.ubuntulxc.1506454191.rs_send_to_aggr.10688
Type "apropos word" to search for commands related to "word"...
Reading symbols from rsyslogd...Reading symbols from /usr/lib/debug//usr/sbin/rsyslogd...done.
done.
[New LWP 720]
[New LWP 719]
[New LWP 723]
[Ne

[2018-05-25 10:08] vladcioabatremend opened #2738 "Local variable uppercase naming."
### Expected behavior
You should be able to set variables with  uppercase characters as well or at least DOCUMENT IT!

set  $!VARIABLE_ID = "something";
Nothing will show in the string.

set  $!variable_id = "something";
Will work.

### Actual behavior
Nothing happens.

### Steps to reproduce the behavior
1. Try to define a local variable using uppercase.
set  $!VARIABLE_ID = "something";
2. Try t

[2018-05-27 03:46] davidelang commented on #2737
please post your config.

[2018-05-27 03:47] davidelang commented on #2738
there is a global config option that makes names case sensitive, are you using
that?
k

[2018-05-27 17:10] jsiwrk commented on #1144
Most probably, the reason was omprog not closing the child process when a worker was unscheduled. It was fixed in v8.23.0 by PR #1155 ([commit](https://github.com/rsyslog/rsyslog/commit/ba22858037af402b9071881976a25ced72463b2d#diff-e3cb3014ecfd8b9782b9274c6a7fa343)).

[2018-05-27 17:44] jsiwrk commented on #473
(I'm reviewing the omprog documentation, and I'm trying to understand the purpose of the `forceSingleInstance` flag. Here is my analysis.)

Most probably, this (old) bug was in fact a duplicate of #1144: omprog was not closing the child process when a worker was unscheduled. It was fixed in v8.23.0 by PR #1155 ([commit](https://github.com/rsyslog/rsyslog/commit/ba22858037af402b9071881976a25ced7246

[2018-05-28 05:42] akarri commented on #2737
Hi David,
Thanks for consideration of the issue. Here are the config files.

root@ubuntulxc:~# cat /etc/rsyslog.conf
#Managed by puppet
###########################
#### GLOBAL DIRECTIVES ####
###########################

global(
    MaxMessageSize="32k"
    WorkDirectory="/var/spool/rsyslog"
    )

#
# Set the default permissions for all log files.
#
$FileOwner root
$FileGroup adm
$FileCreateMode

[2018-05-28 12:06] rmetrich opened #2741 "Asynchronous logging may deadlock"
### Expected behavior

No deadlock when using Asynchronous logging

### Actual behavior

Deadlock of AsyncWriterThread + deadlock of Main thread (after sending SIGHUP, typically done by logrotate).
I wasn't able to reproduce the issue using the regular rsyslog code, but one of Red Hat's customers is hitting this regularly.
To reproduce in my environment, I modified slightly the rsyslog code (see b

[2018-05-29 13:23] StrongestNumber9 opened #2742 "Queue corruption when omrelp is blocked and rsyslog force-terminated"
### Expected behavior
Queue file works as expected

### Actual behavior
Seems like events in queuefile gets corrupted / duplicated and eventually the whole queuefile vanishes. Ruleset getting malformed is one easily visible example;

[code]

### Steps to reproduce the behavior
Bind imrelp to ruleset which has omrelp action with disk queue configured, and omrelp target cannot be reached.

### Envir

[2018-05-31 08:00] #2711 closed

[2018-05-31 08:20] vladcioabatremend commented on #2738
I did not know about the case sensitive field in templates. Perhaps it
would be a good idea to make a link to that page from the variable
definition page (
https://www.rsyslog.com/how-to-set-variables-in-rsyslog-v7/ ) and also put
a NOTE at the beginning of the page.
Apparently there are some others who get confused at this step.
https://github.com/rsyslog/rsyslog/issues/1116

On Sun, May 27, 2018

[2018-05-31 10:33] vladcioabatremend commented on #2738
Perhaps there is another constant somewhere which prevents me from using
this?
$!processedMessage = replace($!processedMessage, "{", "\\{");
Apparently is not working for { and }.

On Sun, May 27, 2018 at 6:47 AM David Lang <notifications@github.com> wrote:

--
[image: Tremend Logo]

Vlad Cioaba
Senior Software Engineer
[image: Mobile] +40766262172 <javascript:void(0);>   [image: Phone]
+40-212-23

[2018-05-31 10:37] rgerhards commented on #2738
I think the core issue is that you are using a very outdated version. With current ones (8.35.0, probably all way back to 8.30.0) there is no issue at all.

[2018-05-31 12:10] vladcioabatremend commented on #2738
The thing is that i'm trying to do something advanced in rsyslog scripting,
i firstly propesed a custom solution for message parsing in python but the
management sugested rsyslog so i want to take messages, parse them as json
and send it to loggly, my problem is that i can't escape json lookalike
structures from message string ...

I think i'm already at the latest version.

Building dependency tr

[2018-05-31 23:15] davidelang commented on #2738
In your first post, you say you are on v8.4.2

The current version is 8.35, so you are 30+ releases (almost 4 years of development) behind the latest version.

It's very possible that you are on the most recent version packaged for your distro, but if that's the case, you need to upgrade to a community supported current version or the amount of help that the community can provide is going to be ve

[2018-06-01 07:32] StrongestNumber9 opened #2743 "omrelp causes segfault when sending message if tls.authMode is set to invalid value"
### Expected behavior
-N9 check fails and/or warning on startup

### Actual behavior
After sending a message:
[code]

### Steps to reproduce the behavior
Have omrelp with invalid tls.authMode value and send a message.
[code]

### Environment
[code]

[code]

[code]

[2018-06-01 08:18] jvymazal opened #2744 "Invalid config statements recreating socket"
### Expected behavior
More explicit error report/failure when this happens. It is very hard to find out what happened in this case. You get basically no hint to what is wrong if you do config typo like the one below.

### Actual behavior
restarting rsyslog recreates /dev/log socket, possibly breaking other input (such as imjournal)

### Steps to reproduce the behavior
-  apply below config
- `stat

[2018-06-01 08:21] jvymazal commented on #2744
@rgerhards any ideas on how to make it more clear? Maybe complete abort on such config problems?

[2018-06-01 08:29] jvymazal commented on #2744
No, they can co-function if configured properly, what I meant is that if you do some kinds of config typos (like the `set $var;` in the example) you break logging and it is very hard to find out what is wrong because rsyslog appears to function.

[2018-06-01 08:34] rgerhards commented on #2744
there is an ```$AbortOnUncleanConfig``` to make rsyslog abort if something is not right. The core idea - and requirement for many years - was that it is better to keep rsyslog running vs shut it down on all errors. This is what the option controls. See https://www.rsyslog.com/doc/v8-stable/configuration/global/options/rsconf1_abortonuncleanconfig.html

I fear there is no new-style equivalent at th

[2018-06-01 08:38] jvymazal commented on #2744
Ok, understood, however the new-style equivalent would be nice.

[2018-06-01 08:55] rgerhards commented on #2744
definitely!

[2018-06-01 10:03] vdmitrief opened #2745 "Rsyslog v5 multiline input and TCP-output"
Hi, experts!
How do I configure Rsyslog v5 to collect multiline log-file and transport it to TCP-output?
The same thing I do at Rsyslog v8< but I need it on Rsyslog v5 (security policies do not allow updating v5 on v8).
Thanks!

[2018-06-01 10:14] rgerhards commented on #2745
no way except to change the security policies - sorry for that.

[2018-06-01 10:14] #2745 closed

[2018-06-01 11:11] StrongestNumber9 opened #2747 "imrelp using tls and tls.mycert segfaults if tls.myPrivKey is not set"
### Expected behavior
-N9 fails and refuse to startup, as this is hard error

### Actual behavior
[code]

[code]

### Steps to reproduce the behavior
[code]

### Environment

[code]

[code]

[code]

[2018-06-03 22:28] selivan opened #2752 "rsyslog 8.35.0: config check rsyslogd -N 1 fails if imfile is loaded without files to monitor"
### Expected behavior

If `imfile` is loaded without any files to monitor: `rsyslogd -N 1` should print warning, but return code should be success.

Loading `imfile` without files to monitor is not always a problem. In my case, I load the module in common role for all hosts, and files to monitor are added in roles for particular software. Not all hosts have software that writes log files.

Ability

[2018-06-04 04:50] vdmitrief commented on #2745
Hi, Rgerhards
https://www.rsyslog.com/doc/v5-stable/configuration/examples.html This example shows how you can send by TCP. Can I use this function for my task and could you show an example of a working configuration for rsyslog v5?

[2018-06-04 09:03] vdmitrief commented on #2745
I got a solution to this task...
Maybe someone will come in handy for my decision.
Here is the working configuration in Rsyslog v5 that sends multiline logs to the tcp-output

[code]

[2018-06-04 09:21] vladcioabatremend commented on #2738
Yes, indeed the docker image I use has an outdated rsyslog application
installed. Right now i'm trying to find a way to upgrade rsyslog from
adiscon because just adding "add-apt-repository ppa:adiscon/v8-stable" will
result in some errors on " apt-get install rsyslog" .....

On Fri, Jun 1, 2018 at 2:15 AM David Lang <notifications@github.com> wrote:

--
[image: Tremend Logo]

Vlad Cioaba
Senior So

[2018-06-04 09:45] vladcioabatremend commented on #2738
PS.
This is my docker:
root@4f9a990:~# lsb_release -a
No LSB modules are available.
Distributor ID:    Raspbian
Description:    Raspbian GNU/Linux 8.0 (jessie)
Release:    8.0
Codename:    jessie

And apparently there is no jessie in
http://ppa.launchpad.net/adiscon/v8-stable/ubuntu/dists/

On Mon, Jun 4, 2018 at 12:21 PM Vlad-Marius Cioaba <vlad.cioaba@tremend.com>
wrote:

--
[image: Tremend Logo

[2018-06-04 12:54] rgerhards commented on #2742
an important triggering conditions seems to be that rsyslog is force-terminated. So required order of events:

1. rsyslog starts up
    a. omrelp blocks
    b. rsyslog is force-terminated (e.g. by OS script)
2. rsyslog starts up again
    only know the queue corruptions seems visible.

[2018-06-04 12:59] rgerhards commented on #2742
@StrongestNumber9 have you ever seen this problem on any run but the second? I mean

- initial startup
- initial force-termination
- 2nd startup
  mangled messages here
- 2nd force-termination
- n+1 startup
  no grabled messages
- ...

I mean if you have seen it in any of the n+1 steps?

[2018-06-04 13:09] Mrten commented on #2134
I'm seeing this also on Ubuntu 16.04 with rsyslog 8.35.0-0adiscon3trusty1

[2018-06-04 13:16] StrongestNumber9 commented on #2742
If I remember correctly, the broken ruleset error appeared on just one startup. On further restarts I noticed my queuefiles started having duplicated events, some with broken ruleset:

originally 10 events
restart, events from 10 -> 18 (+8 events)
18 -> 24 (+6)
24 -> 28 (+4)
28 -> 30 (+2)
30 -> 31 (+1)
31 -> statefiles disappeared on shutdown

[2018-06-04 13:19] rgerhards commented on #2742
thx. I still cannot reproduce with a proper testbench test, unfortunately. But the core problem seems to be that rsyslog gets force-killed. That is possibly caused by the retry handler not sufficiently fast giving up on termination request. But as I cannot reproduce it in a productive debug environment, it's currently very hard to get hold of the actual trigger.

[2018-06-04 13:50] rgerhards commented on #2742
@StrongestNumber9 Can you send me, via private mail, the patched rsyslog source you use for building. I need to lookup lines and I have the feeling that some line numbers are different from 8.32.0 official.

[2018-06-04 13:57] StrongestNumber9 commented on #2742
@kortemik ping --^

[2018-06-04 14:06] rgerhards commented on #2742
ok, I am getting somewhat closer. Current idea is that

1. omrelp thread is cancelled because it cannot finish (that is OK)
1. ruleset gets destructed
1. cancel cleanup handler from 1. is now executed
    --> this leaves the ruleset name undefined

I will try to craft a test based on that idea, but it is probably getting tricky getting the exact timing. I need to think what we can do in this case,

[2018-06-04 14:07] rgerhards commented on #2742
I forgot: the trigger is not that rsyslog is force-terminated (via signal 9), but rather that the output thread is force-terminated via pthread_cancel.

[2018-06-04 14:15] rgerhards commented on #2742
@StrongestNumber9 @kortemik looks like I do not necessarily need the patched source at the moment

[2018-06-04 14:16] kortemik commented on #2742
Hi,

I think I've already also sent the patched source via the drive link as
well :)

-MIkko

On Mon, Jun 4, 2018 at 5:15 PM, Rainer Gerhards <notifications@github.com>
wrote:

[2018-06-04 15:13] rgerhards commented on #2742
The trigger actually seems to be that a ruleset r1 bound to imrelp calls into another ruleset  r2 (which does not have a queue). It looks like the r1 gets destructed before r2, but the msg object refers back to r1 and that part of the information needs to be read when r2 is being destructed (at which time r1 is already freed). Unfortunately, I still cannot reproduce this with a proper test.

[2018-06-04 16:20] rgerhards commented on #2742
This looks related to https://github.com/rsyslog/rsyslog/issues/1122, but in regard to the action/ruleset name. Unfortunately, I still cannot manage to get a proper test. So once I craft a fix, I guess I need @StrongestNumber9 to verify that it really works. Is that OK?

[2018-06-04 18:25] mmonson opened #2753 "I'm getting a build error in /plugins/ommongodb/ommongodb.c"
### Expected behavior
No compile errors on the v8-stable or main branch
### Actual behavior
make[2]: Entering directory '/opt/rsyslog/rsyslog/plugins/ommongodb'
  CC       ommongodb_la-ommongodb.lo
ommongodb.c: In function ‘initMongoDB’:
ommongodb.c:204:3: error: unknown type name ‘mongoc_ssl_opt_t’
   mongoc_ssl_opt_t ssl_opts;
   ^
ommongodb.c:205:31: error: ‘mongoc_ssl_opt_t’ undeclared (first

[2018-06-04 19:52] davidelang commented on #2745
I think that you will find that multiline logs will be broken up on the
receiving side with this config.

you would need to use octet counting mode on your output

David Lang

[2018-06-05 02:53] wiwAmyChang commented on #2679
Hello @davidelang,
Could you help reply this question?
Thank you!

[2018-06-05 06:30] kortemik commented on #2742
Yea we have capability execute test on-demand. Did the provided container images reproduce the problem in your environment?

[2018-06-05 06:47] rgerhards commented on #2742
Yes, this did work. So it was good to have it. The downside is that I have very limited ability to debug in that environment (albeit as good as possible under the circumstances, so it is well-crafted). That makes it so hard for me to get to a decent point in debugging and fixing. Also for CI I would really love to have a proper test, but well...

I think I can provide a patch soon and I also think

[2018-06-05 08:13] rgerhards commented on #2742
I have posted the potential fix as PR #2755 - it would be great if you could try it out and report back. Please also let valgrind run. The patch is against master, but should apply to your version of 8.32.0 as well.

[2018-06-05 08:37] rgerhards commented on #2753
I guess your version of libmongo-c is too old. Configure should probably check for a minimum version.

[2018-06-05 09:15] #2737 closed

[2018-06-05 11:27] rgerhards commented on #2660
@StrongestNumber9 do you still see this issue with the current version?

[2018-06-05 11:55] StrongestNumber9 commented on #2660
Just took newest from repos, these are the results:

[code]

[code]

[code]

[code]

[2018-06-05 14:45] n2N8Z opened #2757 "omelasticsearch silent failure"
### Expected behavior
Logs are either inserted, or an error is reported.

### Actual behavior
A whole dequeued batch can silently fail.

### Steps to reproduce the behavior
Unfortunately I don't have steps to reproduce.
I ran a test import of multiple files which together equal around 10M events. After the import finished the count in ES was exactly 5000 less than the count of the events in the fi

[2018-06-05 18:03] davidelang commented on #2757
did the messages end up in the errorfile?

[2018-06-06 08:20] akaFalsh opened #2758 "Latest build of rsyslog for debian stretch"
Is it planned to have a repo for debian stretch for latest version of rsyslog? Also it would be nice to have a latest version for other debians.

[2018-06-06 09:14] iksaif opened #2759 "lock contention caused by regexec"
On a large setup, we found that regexec in https://github.com/rsyslog/rsyslog/blob/0d52ea8a918a5148c4be773fae5c64a63aea4c12/runtime/msg.c#L3925 could cause a lot of lock contention

[code]

[code]

https://sourceware.org/bugzilla/show_bug.cgi?id=11159 advises to use one regexp_t object per thread.

Because it might be hard to do correctly for all callers, it might be worth considering a wrapper th

[2018-06-06 09:32] rgerhards commented on #2757
I just want to set the expectations straight: as this seems not reproducible, chances are around 0 that we can fix it. I'll keep it open in case someone actually wants to try to tackle this.

[2018-06-06 09:35] rgerhards commented on #2759
good find, albeit I really think the regexec implementation is buggy, as the man page says it is MT-save...

[2018-06-06 09:36] iksaif commented on #2759
Yep, but https://sourceware.org/bugzilla/show_bug.cgi?id=11159#c6 doesn't give much hope of this being fixed :)

[2018-06-06 09:38] rgerhards commented on #2759
yup, saw that - still there is a bug. I think at least the man page needs to be fixed (what also means glibc is not POSIX compliant here). If I only I would think it would not be wasted effort to open a bug tracker against glibc ;-)

[2018-06-06 09:59] #2743 closed

[2018-06-06 10:02] #2747 closed

[2018-06-06 10:16] kortemik opened #2760 "queued messages are duplicated until queue file is mis-deallocated when output blocked"
### Expected behavior
Messages should stay in queue without duplication and queue should not be deallocated before all messages in the queue have been processed
### Actual behavior
Messages are duplicated between restarts when output is blocked, related to #2742
### Steps to reproduce the behavior
Container image with configuration and binaries provided via email, sources are available as well.
##

[2018-06-06 10:21] rgerhards commented on #2760
please note: duplication can occur depending on circumstances. So that part is within the spec.

[2018-06-06 10:48] akaFalsh commented on #2758
I see it is possible to host repo on github pages like this https://github.com/philiptzou/tsuru-deb/tree/gh-pages.

[2018-06-06 11:03] akaFalsh commented on #2758
Yes, sure. I would be grateful to contribute.

On Wed, Jun 6, 2018, 11:33 Rainer Gerhards <notifications@github.com> wrote:

[2018-06-06 11:10] rgerhards commented on #2758
Sounds good! The repo is not so much a problem, we have some server sponsoring from Digital Ocean. It's more the process of building the packages (and doing so right) etc. I personally would like to use SuSe OBS as this would probably give us many platforms with relative ease. I started playing with it but never had enough time to make real progress. If OBS sounds appealing to you, I can post repo

[2018-06-06 11:20] n2N8Z commented on #2757
Is there any other way that rsyslog could have lost a batch, other than due to an ES error that rsyslog did not report ?

I did have quite a lot of lost events previously when not using the bulk api, with an earlier version of rsyslog, and with around 20 worker threads configured. Perhaps I can go back to that and try to find some more details, or perhaps try to get a debug capture of it happening

[2018-06-06 11:30] rgerhards commented on #2760
I possibly have good news: I think I can reproduce a case where message loss occurs during each start. Need to check it's not a bug in the test, but so far looks good. Not sure if it translates to what you see, but I guess that's at least progress.

[2018-06-06 11:32] akaFalsh commented on #2758
SuSe OBS is completely ok for me. I see had made much here https://rainer.gerhards.net/2018/01/experimental-debian-rsyslog-packages.html.

[2018-06-06 22:20] unbrice commented on #2759
Just passing by but "MT-safe" does not mean "lock-free". I indeed doubt the glibc authors would agree this is a bug.

[2018-06-07 06:37] rgerhards commented on #2759
@unbrice you are right, my bad. That happens if you try to do too much in parallel - I misread "locking contention" with "deadlock"...

So in conclusion this issue is not a bug report but a feature request.

[2018-06-07 11:23] mbiebl opened #2762 "rsyslog-gnutls: TLS server does not send intermediate certificates, breaking verification"
Version: 8.24.0-1

This was filed downstream as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=887637.

I'm not the original bug submitter but I'm merely forward the issue.

The setup consists of a TLS-enabled rsyslog server and TLS-enbled rsyslog clients without using client certificate authentication.

When DefaultNetstreamDriverCertFile on the server specifies a file with a single cert (whic

[2018-06-07 12:43] rgerhards commented on #2762
@alorbach is this supported by the new openssl driver as well? Do we have a test for it? It may be good to check if the openssl driver works with Let's Encrypt.

[2018-06-07 12:50] rgerhards commented on #2762
thx @mbiebl for forwardig this!

[2018-06-07 15:46] #2720 closed

[2018-06-07 16:11] rgerhards commented on #2760
commit https://github.com/rgerhards/rsyslog/commit/1ea3be5198aa7f7d1d06055d0e8077b42eab300a most probably is the solution for this problem. I cannot merge at the moment, as the previous patch (that it requires) seems to have run into some CI issues, which I think are actually testbench problems. Still need to check.

In any case, you can apply the patch and run it in your environment. 98% sure it

[2018-06-08 03:54] cloudancer opened #2765 "how collect different logs on the same client host and tranfer them to remote rsyslog server save as the logfiles on clients"
### Expected behavior
I want collect different logs on the same client host and tranfer them to remote rsyslog server save as the logfiles on clients
just like sync the logfiles to remote log server
### Actual behavior
client: I config two queue on the client, read different two log file
server: receive two logfile, but they have the same content.
### Steps to reproduce the behavior
I don't kown h

[2018-06-08 07:49] rgerhards commented on #2758
great! what about if for starters you just fork my repo and continue to work on it? If someone is actively working on it, we may potentially draw in other contributors. Once we come to a real good state, we can request an official repo. How does this sound?

[2018-06-08 07:55] rgerhards commented on #2758
great! what about if for starters you just fork my repo and continue to work on it? If someone is actively working on it, we may potentially draw in other contributors. Once we come to a real good state, we can request an official repo. How does this sound?

[2018-06-08 11:09] StrongestNumber9 commented on #2760
First impression is that this patch fixes the problem. 25 events in -> restarts & duplication n times -> 25 events out, clean queue file removal once all got processed.

[2018-06-08 12:46] JPvRiel commented on #552
I tried this and it seemed to work.

[code]
I think the main issue now is that this is not documented anywhere as far as I can tell. E.g. http://rsyslog-doc.readthedocs.io/en/stable/search.html?q=escapecontrolcharactertab&check_keywords=yes&area=default.

I had to dig in the source code to find it. I noticed `parser.escapecontrolcharactertab` is in `runtime/glbl.c`. Also `parser.escapecontrolchara

[2018-06-08 15:19] akaFalsh commented on #2758
Super. Good plan.

[2018-06-09 10:44] towolf commented on #2615
This entirely fixed our problems with rsyslog and we can now hold inbound TCP connections from 2500 hosts. Thank you, @rgerhards!

[2018-06-09 19:00] rgerhards commented on #2615
Thx for confirming, much appreciated!

[2018-06-11 11:21] #2742 closed

[2018-06-12 14:51] DigiAngel opened #2770 "Help with getting help"
Didn't want to do the github route, but here I am...I'll say this in pictures:

forum.adiscon.com:
![2018-06-12 08_50_35-temporarily offline for gdpr reasons](https://user-images.githubusercontent.com/947191/41298022-b9d0aabe-6e1d-11e8-9eae-210734700610.png)

http://lists.adiscon.net/mailman/listinfo/rsyslog:
![2018-06-12 08_51_10-503 service unavailable](https://user-images.githubusercontent.com/

[2018-06-12 15:12] DnDDD opened #2771 "Issue with failover and new Action syntaxe"
### Expected behavior
I wanted to test the hability of server failover inside rsyslog to send log to remote a remote server and a backup server in case the central one is failing.

So I visited the page https://www.rsyslog.com/doc/master/tutorials/failover_syslog_server.html to have an exemple on how to do it.

But I'am used to the new Action syntax so instead of
`local3.* @@server.domain.com:port

[2018-06-12 16:03] rgerhards commented on #2770
Sorry for the issues. Co-incidentally I tried to re-establish the list subscription page a couple of hours ago - it, too, was not GDPR compliant and surprisingly mailman did not support the necessary footer customization. You can access the page via https://www.adiscon.com/adiscon-mailing-lists/

Note that https support will be added tomorrow morning CEST. So if you are concerned, you may want to

[2018-06-12 16:03] #2770 closed

[2018-06-12 16:04] rgerhards commented on #2770
oh, and I forgot to mention that the forum will be permanently closed as it does not support user data export and removal functionality required by GDPR.

[2018-06-12 16:07] DigiAngel commented on #2770
Perfect...thanks Rainer..always appreciate your hard work and responsiveness.

[2018-06-12 16:19] rgerhards commented on #2770
thx for the nice words!

[2018-06-12 16:30] rgerhards commented on #2771
You cannot mix old and new style in this way. The action object needs to have all parameters in new style. Doc is here:

https://www.rsyslog.com/doc/master/configuration/actions.html

And sorry for the outdated guide. I have asked @PascalWithopf to update it. Hope he'll be able to tomorrow.

[2018-06-12 18:38] davidelang commented on #2771
On Tue, 12 Jun 2018, DnDDD wrote:

This is mixing old and new syntax, you can't do that. When you use action()
anything set via the old multi-line syntax is ignored.

[2018-06-13 06:54] Dieken commented on #2659
my config snippet:
[code]

[2018-06-13 08:30] DnDDD commented on #2771
Ok, thanks for the information, the following configuration work as expected

`
local3.* Action (type="omfwd" Target="server1.domain.com" Port="514" Protocol="tcp")
Action (type="omfwd" Target="server2.domain.com" Port="514" Protocol="tcp"  action.execOnlyWhenPreviousIsSuspended="on")
`

[2018-06-13 08:46] daniftodi opened #2772 "Log error message when log over $MaxMessageSize"
### Expected behavior
Log error message when log over $MaxMessageSize
### Actual behavior
Truncates log message
### Steps to reproduce the behavior
Log a message with size over $MaxMessageSize
### Environment
- rsyslog version: 8.35.0
- platform: Centos 7

This is not a bug, it's a feature that I'm trying to achieve if possible. I need to configure **rsyslogd** to log an error message if logged me

[2018-06-13 11:20] #1352 closed

[2018-06-13 11:20] #1390 closed

[2018-06-13 11:20] #1702 closed

[2018-06-13 11:20] #1840 closed

[2018-06-13 13:14] #2771 closed

[2018-06-13 15:29] rgerhards commented on #862
looks like this was fixed externally in journal - if not, please reopen/repost

[2018-06-13 15:29] #862 closed

[2018-06-13 15:30] rgerhards commented on #83
no interest in this module, finally closing issue tracker. If someone wants to take up the work, please still let us know.

[2018-06-13 15:30] #83 closed

[2018-06-13 15:34] #2762 closed

[2018-06-13 15:39] rgerhards commented on #2713
fixed via #2725

[2018-06-13 15:39] #2713 closed

[2018-06-13 15:40] rgerhards commented on #1503
This should be fixed with the new openssl drivers that are now present in the source tree.

[2018-06-13 15:41] rgerhards commented on #1503
well, let's keep it open for a moment, maybe we can fix it in gnutls as well...

[2018-06-13 15:44] rgerhards commented on #2772
Can you be a bit more precise with reproduction steps. We just added such a message, so it would be good to know on which path none is emitted (e.g. imuxsock, imptcp, ...).

[2018-06-14 08:48] lego12239 opened #2776 "omprog: start program on rsyslog startup"
It would be conveniently if omprog module has some option(like delayStart, for example) to start specified program on rsyslog startup instead of first arrived message. This is needed in some configurations.

[2018-06-14 08:53] rgerhards commented on #2776
It would be good to have an explanation of why this may be needed. I admit I have no idea for a use case.

[2018-06-14 09:17] #2464 closed

[2018-06-14 11:03] daniftodi commented on #2772
@davidelang  could you give an example please?

@rgerhards steps to reproduce this:
1. Set $MaxMessageSize to 255
2. Log a message with size greater than 255 ( ex: 512 )

[2018-06-14 11:10] lego12239 commented on #2776
On Thu, Jun 14, 2018 at 01:53:11AM -0700, Rainer Gerhards wrote:

My use case is a fail2ban replacement that run with help of omprog module
and thus be faster than reading log files from disk(I'm sure that it would
even faster if i write a needed rsyslog module, but i have no experience
in this :-); may be later).

Since this is a ban program, it use iptables and must start working
after iptables

[2018-06-14 11:14] rgerhards commented on #2776
I understand that you just want to start a program when rsyslog starts up. It's not really meant to receive messages from rsyslog? Is that right?

Isn't that a functionality that you could easier implement via systemd? I mean if you craft a unit file that depends on rsyslog or even network start (assuming that iptables is up at that stage.

[2018-06-14 11:16] rgerhards commented on #2772
Can you be a bit more precise with reproduction steps. We just added such a message, so it would be good to know on which path none is emitted (e.g. imuxsock, imptcp, ...).

[2018-06-14 12:15] lego12239 commented on #2776
On Thu, Jun 14, 2018 at 04:14:30AM -0700, Rainer Gerhards wrote:

  In my case yes.

I'm not use systemd :-). But yes, i can make an init script with dependency
of rsyslog and iptables. And in this script i would place a "kill -USR1 `cat /var/run/my.pid`"
which switch the program already run by rsyslog to working mode.

--
Олег Неманов (Oleg Nemanov)

[2018-06-14 12:22] rgerhards commented on #2776
Well... omprog is not meant for such a thing. I am not sure if you run into troubles. I guess when the program does not read from the pipe, rsyslog will at least emit error messages once it gets full. But I would say it's really the wrong tool for the job.

well, then rsyslog will re-spawn the program, as it detects it died.

I think I will close the issue tracker now as this is not something with

[2018-06-14 13:01] lego12239 commented on #2776
On Thu, Jun 14, 2018 at 05:23:01AM -0700, Rainer Gerhards wrote:

  I incorrectly expressed. Sorry. I mean, when the program start it discard
all input from rsyslog. It _read_ it, but not processed. It wait when a
special event is occured(iptables is initialized in my case) and after this
it not only read input, but do input processing.

  Why do it must die?

--
Олег Неманов (Oleg Nemanov)

[2018-06-14 13:05] rgerhards commented on #2776
OK

do you pass it all messages or just a select subset? If so, why does it need to start as early as possible and not when the first interesting event comes in?

my fault, I think I misunderstood

[2018-06-14 14:21] lego12239 commented on #2776
On Thu, Jun 14, 2018 at 06:05:49AM -0700, Rainer Gerhards wrote:

On different servers i use different settings.

Because my program do some initialization on startup and i cann't
guarantee the order of init script on all distro/servers. That is,
i need the order - (rsyslog,iptables,ANY_OTHER_DEPENDANCY,my_prog_init).
Where my_prog_init is just an execution of init() function of my program.
Actual

[2018-06-14 17:10] raphaelcohn commented on #1390
@alorbach @rgerhards @Dinesh-Ramakrishnan  Thank you very much!

[2018-06-14 18:19] davidelang commented on #2772
On Thu, 14 Jun 2018, Dan Iftodi wrote:

set maxmessagesize = 256
if len($rawmsg)== 256 then { oversized message arrived}

David Lang

[2018-06-14 18:28] davidelang commented on #2776
On Thu, 14 Jun 2018, Oleg wrote:

Well, if ryslog were to start it, the order could be

rsyslog, my_prog_init, iptables, anything else

or if your init system just starts rsyslog then continues, you still have race
conditions because there is always going to be some variable amount of time
after rsyslog starts before it can start anything else.

rsyslog has _no_ way of detecting that other program

[2018-06-14 21:17] waster opened #2780 "rsyslog rotate failed on Ubuntu 16.04"
### Expected behavior
log files are rotated
### Actual behavior
`invoke-rc.d rsyslog rotate` failed
### Steps to reproduce the behavior
`invoke-rc.d rsyslog rotate`
### Environment
- rsyslog version: 8.35.0-0adiscon2xenial1 installed from adiscon ppa
- platform: Ubuntu 16.04

I guess these problem is related to non-existent pid file as systemd runs syslog with '-iNONE'. So rotate action can't be d

[2018-06-15 06:51] rgerhards commented on #2772
I would still like to point out that this **should not** be necessary, as rsyslog is expected to emit a message by itself in that case. This is why I would prefer to solve the root issue.

[2018-06-15 11:36] rgerhards commented on #2780
@friedl can you pls comment

[2018-06-15 11:38] rgerhards commented on #2753
@mmonson did you try with an updated libmongo-c?

[2018-06-15 11:39] rgerhards commented on #2753
alternatively, please post config.log so that we can check what configure saw

[2018-06-15 11:40] #2637 closed

[2018-06-15 11:41] rgerhards commented on #2757
not that I am aware of

[2018-06-15 11:52] cyber035 commented on #2728
have you tried turning off selinux, that helped me pin down the problem...

[2018-06-15 12:17] friedl commented on #2780
@waster We have just published a new revision of the packages. The new ones are now creating the pid file again on service startup. This should also solve the logrotate issue.

[2018-06-15 12:19] #2780 closed

[2018-06-15 12:37] lego12239 commented on #2776
David, you didn't understand me :-).

No. The order will:

rsyslog, my_prog, iptables, OTHER_DEPENDANCY, my_prog_init_script

where my_prog_init_script can be(very simplified):

[code]

[2018-06-15 12:59] lego12239 commented on #2776
Forgot to say, when my_prog receive SIGUSR1, it executes my_prog_init().

[2018-06-15 14:47] AlexClineBB commented on #2659
We may be hitting this as well. We launched new systems on May 4th, and May 5th rsyslog stopped collecting logs for them.

We've downgraded to 8.33.1 to resolve the issue temporarily.

[2018-06-15 15:03] friedl commented on #2676
We released a new package version. We decided it would be best to just create the pid file again for various reasons and requests. This should solve this issue.

Please confirm.

[2018-06-15 17:55] davidelang commented on #2776
On Fri, 15 Jun 2018, Oleg wrote:

how would rsyslog know to wait for iptables, etc before running your stuff? I
thought you needed iptables started before my_prog?

[2018-06-16 01:09] coreyappleby commented on #2659
Could this be related to #1605? If so setting the imfile mode to "polling" might fix it.

[2018-06-16 10:12] Dieken commented on #2659
@coreyappleby  If I don't get it wrong, #1605 refers to log file truncation, same fd is reused, but according to my comment above, the log files were renamed and new file was created, Rsyslogd didn't pick the new file inode.

I have lost faith on the refactoring of imfile, will stick to old version although it stopping reading too time to time (but will resume later).

[2018-06-17 06:38] daniftodi commented on #2772
@davidelang  sorry for stupid question but where do you insert such configuration? ( as I know, the rsyslog.conf has a different formatting).

[2018-06-18 07:55] lego12239 commented on #2776
rsyslog needn't know about it. Look, the order of init scripts:

1. rsyslogd
2. iptables
3. OTHER_DEPENDANCY
4. my_prog_init_script (wait my_prog to start and send SIGUSR1 to it)

Corresponding actions:

1. run my_prog with help of omprog
2. -
3. -
4. my_prog_init() is executed (my_prog receives SIGUSR1 from my_prog_init_script)

rsyslogd needn't know about anything related to my_prog. All actions

[2018-06-19 14:37] norpol commented on #2780
Related commit in [rsyslog-pkg-ubuntu](https://github.com/rsyslog/rsyslog-pkg-ubuntu/commit/0492acfe50836bbf1d26201b9423149a738f63c2).

@friedl Do you think the rsyslog-pkg-debian also needs a fix? Why does the change is so much smaller in the [rpm build repo](https://github.com/rsyslog/rsyslog-pkg-rhel-centos/commit/f04f7a17ebef28a8e0675347ed19d9888fc5469f)? Is this patch going to be merged back

[2018-06-19 14:43] friedl commented on #2780
Since we do not provide current packages for Debian, there is no intent to port the patch over to rsyslog-pkg-debian.

Also, this patch will stay for now in the packaging projects and will not be merged into rsyslog master.

[2018-06-19 19:34] matt-garman commented on #2659
Just wanted to add another "me too".  On CentOS 6.5, using rsyslog v8.35.0-2.el6 RPM from the [Adiscon repo](http://rpms.adiscon.com/).  Logrotate is v3.7.8-17.el6 (native CentOS 6.5 version).

The relevant part of my /etc/rsyslog.conf is very simple:
[code]
And /etc/logrotate.conf:
[code]

And /etc/logrotate.d/httpd:
[code]

I will switch to polling mode for now.

[2018-06-19 19:42] rgerhards commented on #2659
@friedl can this be caused by missing our file, as logrotaze seems to still use it?

[2018-06-20 03:20] jerry-chen-315 commented on #2728
@cyber035 yes,it has turned off before rsyslog restart.It's works fine since downgrade version of rsyslog to 8.33.1

[2018-06-20 08:29] iksaif commented on #2759
I'll try working on that today and see what I can get done.

[2018-06-20 09:18] norpol commented on #2780
Hi, thank you for your fast response.
Shall I create a new ticket for fixing this in rsyslog master itself then?
I'm building from the source tarball and the official `.service` file was fine until 8.32 for us too.

[2018-06-20 15:31] iksaif commented on #2759
Work in progress on https://github.com/iksaif/rsyslog

[2018-06-21 12:50] norpol commented on #2780
Just if someone else is building from source, here is my adopted patch-file from @friedl...

[code]
[code]

[2018-06-21 12:53] norpol commented on #2752
With out the `-N 1` option I'm also getting the warning, but rsyslogd is starting successfully.
What is the recommended way, should I specifically disable the options in `/etc/rsyslog.conf` by creating an overwrite in `/etc/rsyslog.d/000-disable_unconfigured.conf`?
I'd expect that the standard configuration won't show warnings on startup.

[2018-06-21 13:50] selivan commented on #2752
@norpol It does start successfuly, which means the config is correct, but it fails config check. That does not play right with automation systems, like ansible/etc.

[2018-06-21 14:48] lego12239 opened #2787 "omprog: stdout/stderr of child process assigned unpredictably"
Hi!

A strange behaviour with outputing to stderr from program started by omprog module.
A program code:
[code]
### Expected behavior
See in log:
[code]
or
[code]

### Actual behavior
[code]

### Steps to reproduce the behavior
Compile specified earlier source code and place in rsyslogd conf something like this:
[code]
and then execute:
[code]

### Environment
- rsyslog version: 8.34.0
- platform:

[2018-06-22 01:59] hmoffatt opened #2789 "ommail documentation examples incorrect"
### Expected behavior
rsyslog should sent emails with a body following the specified template, when using the example configuration in the documentation: https://www.rsyslog.com/doc/v8-stable/configuration/modules/ommail.html

### Actual behavior
email body is blank.

### Steps to reproduce the behavior
Use the example configuration, log a matching message.

It appears that you need to explicitly

[2018-06-22 08:19] friedl commented on #2659
If I am not mistaken, CentOS 6.5 should not be affected by the change about the pid file, because it does not use systemd for starting the service. Instead it uses the old init scripts.

In fact, I just tried `rsyslog-8.35.0-2` on a CentOS 6 system and the file `/var/run/syslogd.pid` was present.

[2018-06-23 14:53] micoq opened #2790 "Mutex contention in omrabbitmq when using multiple actions/connections"
Currently, all `omrabbitmq` workers share a [single mutex](https://github.com/rsyslog/rsyslog/blob/9411a6e5b6ed9a84438b3f6432a341c0b88c98f4/contrib/omrabbitmq/omrabbitmq.c#L58)

librabbitmq-c doesn't allow multiple threads [to access to the same connection](https://github.com/alanxz/rabbitmq-c) (apparently not even with multiple channels)

However, we could use multiples AMQP connections to distri

[2018-06-24 11:19] rgerhards commented on #2323
unfortunately this seems to be unresolvable, so we cannot use clang in CI testing.

[2018-06-24 11:19] #2323 closed

[2018-06-24 13:40] norpol commented on #2758
@akaFalsh Are you planing to reuse this Debian build files? https://github.com/rsyslog/rsyslog-pkg-debian

[2018-06-24 14:19] basilabbas commented on #2503
You have to do the following one shot:

    systemctl stop rsyslog; rm /var/spool/rsyslog/the_state_file_you_want_to_delete; systemctl start rsyslog

[2018-06-25 06:58] rgerhards commented on #2790
omrabittmq is a contributed module - the core defs do not have insight into it. As such, we would even more appreciate if you could craft a PR against it.

[2018-06-25 07:17] rgerhards commented on #2007
@PascalWithopf did we try to reproduce this via a test?

[2018-06-25 07:21] rgerhards commented on #2534
@PascalWithopf can you craft a test for this?

[2018-06-25 07:57] friedl commented on #2717
The patch was applied to the packages, so newer 8.35.0 packages than the first have the imrelp patch.

8.36.0 has the fix included and the patch will be obsolete again.

[2018-06-25 08:02] #2717 closed

[2018-06-25 08:03] PascalWithopf commented on #2007
@rgerhards I don't remember, I will try to reproduce this to be sure.

[2018-06-25 08:18] rgerhards commented on #2007
If you do, pls add the info to the issue tracker.

[2018-06-25 08:33] lego12239 commented on #2776
David, you forgot the example of my_prog_init_script i wrote above. All needed synchronization with my_prog startup i do myself. This is not the task or problem of rsyslog.

This is a good feature that will make rsyslog an even more better. If it will be implemented, i will make needed guarantee myself.

[2018-06-25 08:35] PascalWithopf commented on #2789
The default for the parameter enable.body was wrong, so the body was disabled.

You will need to set ```enable.body="on"``` or wait for my pull request to be merged.

[2018-06-25 20:30] JustinAzoff opened #2793 "omrelp misleading error message"
### Expected behavior

omrelp error messages should mention the correct error and underlying cause

### Actual behavior

omrelp[xx:1514]: error 'error connecting', object  'conn to srvr xxx:1514' - action may not work as intended [v8.35.0 try http://www.rsyslog.com/e/2353 ]

### Steps to reproduce the behavior

Configure omrelp with a destination that is unreachable for some reason.

### Environme

[2018-06-26 06:59] rgerhards commented on #2793
that would be useful, thx!

[2018-06-26 07:15] rgerhards commented on #473
@jsiwrk The original intent of ```forceSingleInstance``` was (and is) to support program that cannot run in multiple instances. For example, SEC (IIRC), needs to have all data fed to a single instance, else it cannot correlate the data as expected.

So it looks like this is a bug, and a bug we should fix.

[2018-06-26 20:09] JPvRiel opened #2799 "pmnull module not included in rpm packages"
### Expected behavior

Given the content of http://rpms.adiscon.com/v8-stable/epel-7/x86_64/RPMS/, `pmnull.so` should either included in core rsyslog package or have a rsyslog-pnull-<ver>.rpm package available to install it.

The pseudo config below would ideally be viable without needing to compile rsyslog and pmnull from source:

[code]

### Actual behavior

Attempting to use the null parser mod

[2018-06-27 07:00] rgerhards commented on #2799
I guess the differences between distro packages are because we try to keep close to the distros - so we get different package structure.

@friedl can you comment?

[2018-06-27 07:04] rgerhards commented on #2799
@JPvRiel pls note: I cannot assign @friedl here as he has no write access to the source repository.

[2018-06-27 07:09] rgerhards opened #2800 "CI: reduce Travis runtime"
While it is nice to have Travis do checks as early as possible, the runtime is becoming very long and actually this hinders working with PRs. So we should offload some Travis tests to Buildbot. We should try to do this with those tests that are least likely to happen (so that users can still get a good experience in their personal testing via Travis before submitting a PR).

[2018-06-27 09:00] rgerhards commented on #2787
I am not sure what you are trying to do. omprog is meant to receive messages and then process them. Actually, stderr should not go to the log at all. I see that you give this also as a correct scenario. Is rsyslog started via systemd? If so, systemd and the journal may play an important role here.

In any case, please use the ``output`` parameter and let's see how this changes things. Full doc at

[2018-06-27 09:03] rgerhards commented on #342
I close this issue w/ the new code merged. Let's see if the module name is sufficient info. If not, we can create a new issue for more enhancements.

[2018-06-27 09:03] #342 closed

[2018-06-27 10:41] nike38rus commented on #2659
Same here. We have a lot of Java applications, which rotate their logs via logging frameworks like Logback and Log4j. They use move&rename strategy on roll-over, just like Logrotate default behavior (nocopytruncate).
There is also such feeling that rsyslog doesn't delete stale StateFiles on IN_DELETE and/or IN_MOVED* signals, and in situations when inum is reusing by another file that should be re

[2018-06-27 12:06] rgerhards commented on #174
giving this another shot in the hope to also reduce Travis runtime.

[2018-06-27 12:08] rgerhards commented on #378
now a duplicate of #174 as make distcheck tests were totally disable some time ago. Will handle as part of #174.

[2018-06-27 12:08] #378 closed

[2018-06-27 15:49] jvymazal opened #2804 "possible NULL dereference"
https://github.com/rsyslog/rsyslog/blob/55b3e4e5e2fae7fb21f95acbf2afb5a1d2b7db88/contrib/mmkubernetes/mmkubernetes.c#L740

Unless I overlooked something in case of fopen() failure we are closing NULL pointer.
@richm can you please verify?

[2018-06-27 16:31] richm commented on #2804
This is a valid bug.

[2018-06-27 20:55] mmonson commented on #2753
Yes that seems to be working
I tried running (sudo /usr/sbin/rsyslogd -nd) with the attached rsyslog.conf file and I get this error  I get this same error with the TCP and UDP listeners commented out and with
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

2688.264121771:main Q:Reg/w0  : ommongodb.c: ommongodb: ts_gen is 0
2688.264146325:main Q:Reg/w0  : ommongodb.c: ommongodb: secfrac i

[2018-06-28 06:51] #2789 closed

[2018-06-28 07:13] #2804 closed

[2018-06-28 07:49] #2744 closed

[2018-06-28 14:37] csrl commented on #523
@rgerhards we are trying to identify changed behavior since the 8.34 rewrite, and would like to be able to go back to old versions, but we're having trouble tracking down .deb packages for specifically 8.33.1-0adiscon2trusty1.  Are those available somewhere?  Or do we have to build from source?

[2018-06-28 19:56] mmonson commented on #2753
Thanks ommongodb wasn't in the rsyslog/lib directory. After installing rsyslog-ommongodb things work as long as I don't have a username and password in the action.  Using:
*.* action(type="ommongodb" server="127.0.0.1" db="syslog" collection="log" uid="user" pwd="pwd")   I get

Cleanup: popping token $end ()
Cleanup: popping nterm conf ()
2018/06/28 19:45:37.0161: [21338]:    DEBUG:      cluster:

[2018-06-28 20:52] davidelang commented on #2753
check your mongodb config, it sounds as if it doesn't support the authentication
method "plain"
k

[2018-06-29 09:32] rgerhards commented on #2723
looks fixed, actually in 8.36 timeframe. If problems persist, re-open.

[2018-06-29 09:32] #2723 closed

[2018-06-29 09:33] rgerhards commented on #390
this seems to have been fixed long ago.

[2018-06-29 09:33] #390 closed

[2018-06-29 10:46] rgerhards commented on #1323
suggestions for text improvement of the accompanying website page is appreciated: https://www.rsyslog.com/mm-no-queue/

[2018-06-29 16:00] mmonson commented on #2753
Looking through Authentication Options here : https://docs.mongodb.com/manual/reference/program/mongo/
authentication method PLAIN is only supported by mongo enterprise edition  default security is now SCRAM.  It appears the PLAIN may have been supported prior to mongo 2.6 (or possibly 3.0)

I do not see any way to enable the PLAIN authentication method in mongo

[2018-06-29 16:19] JPvRiel commented on #2799
@friedl thanks for looking into this.

Basically, I'm using rsyslog `imkafka` to take in messages already fully / correctly parsed into a syslog format from another system and want to relay them via `omfwd` without needing (or wanting) rsyslog to try parse the headers, hence `pmnull`. Indeed, I can leave the default parsers and use `%rawmsg%` in a string template for the output (which will ignore/

[2018-06-29 23:10] jsiwrk commented on #473
@rgerhards I don't understand what would be the difference between setting `queue.workerthreads` to 1 and the intended behaviour of `forceSingleInstance`. With only one worker thread, only a single instance of the external program is executed. Why is a specific flag needed to achieve this behaviour?

Perhaps this flag could have made sense (if correctly implemented) in previous versions of rsyslog

[2018-06-30 01:38] davidelang commented on #2753
On Fri, 29 Jun 2018, mmonson wrote:

If they have removed the ability to do PLAIN authentication, then we will need
to modify the module to use a different authentication method. Picking the new
default is convienient for now, but will leave us in a lurch when they change
the default again. I'm surprised at how limited their authentication options
are.

Rainer, is this something the core team can

[2018-06-30 01:49] virtualjmills commented on #184
Old, but important. This directive (late rsyslog 8.x code) now uses a quoted-integer from zero (0) to ten (10), with most useful output emitted at level "3" or higher. The "on" value simply throws a configuration file parser error.  :-)

Example rsyslog.conf line:
global(debug.gnutls="3")

[2018-06-30 01:50] virtualjmills commented on #219
Old, but important. The GnuTLS debug directive (late rsyslog 8.x code) now uses a quoted-integer from zero (0) to ten (10), with most useful output emitted at level "3" or higher. The old "on" value (such as referenced in https://github.com/rsyslog/rsyslog/issues/184) simply throws a configuration file parser error.  :-)

Example rsyslog.conf line:
global(debug.gnutls="3")

[2018-07-02 07:34] #1323 closed

[2018-07-02 07:40] rgerhards commented on #2753
Well... it's in the ./plugins tree, so in theory we can check and fix. But my mongo know-how is pretty weak and rusted (nothing done for a couple of years). So it's not very tempting for me to try to fix this, as it probably requires quite a bit of reading and learning again. @HugoSoszynski would you be willing to have a look?

[2018-07-02 07:42] rgerhards commented on #2753
oh, wait, I see the string "PLAIN" inside the plugin: https://github.com/rsyslog/rsyslog/blob/master/plugins/ommongodb/ommongodb.c#L677

I can patch it. Would someone willing to test that?

[2018-07-02 13:36] lego12239 commented on #2787
This is exactly what my program do :-). But i'm detect the strange behaviour of debug outputing and now just try to find the reason.

I'm not sure what is a correct scenario :-). I just try to find a logic in what i see :-). If you say that stderr should not go to the log at all, then the only possible correct scenario is:

[code]

But i see:

[code]

And this is break my mind. Because in addition

[2018-07-02 15:18] mmonson commented on #2753
I’m no longer set up to build rsyslog, but if someone can send me the omongodb.so plugin I’ll test it…

From: Rainer Gerhards [mailto:notifications@github.com]
Sent: Monday, July 2, 2018 2:43 AM
To: rsyslog/rsyslog <rsyslog@noreply.github.com>
Cc: Mark Monson <Mark.Monson@lairdtech.com>; Mention <mention@noreply.github.com>
Subject: Re: [rsyslog/rsyslog] I'm getting a build error in /plugins/ommon

[2018-07-02 22:09] jsiwrk opened #2813 "omprog: 'forceSingleInstance' flag not working as intended"
The intended purpose of the `forceSingleInstance` flag was to force omprog to start only one instance (process) of the external program. However, all this flag does is serializing the execution of `doAction` between the worker instances (i.e. preventing two worker threads from concurrently executing `doAction`).

See [this conversation](https://github.com/rsyslog/rsyslog/issues/473#issuecomment-39

[2018-07-02 22:13] jsiwrk commented on #473
@rgerhards I suppose you meant "other actions on the same queue". I have opened a separate issue for this: #2813. Continuing there.

[2018-07-02 22:50] jsiwrk commented on #2813
@rgerhards : OK, I think I now understand the use case. To clarify: the situation of having one queue with multiple actions can only happen for the main queue, right? (when no action queues are used).

Implementing the `forceSingleInstance` flag correctly doesn't seem trivial: omprog will need to keep the housekeeping data of the child process (pid, fd's, etc.) in two possible places: in the actio

[2018-07-03 07:22] rgerhards commented on #2813
No, it can always happen if a queue is defined at a ruleset-basis (what actually is the case with the main queue and the default rule base). I'd say that's a pretty common scenario for more complex setups.

I don't remember how it was initially. But how about this: if the flag is enabled, always use worker 0 instance? That still might require an additional data structure. But wait until my final c

[2018-07-03 08:02] davidelang commented on #2813
On Tue, 3 Jul 2018, Rainer Gerhards wrote:

this is a bad week to ask me, I've got a fireworks show to get together and
launch in the next 40 hours or so, so it takes priority.

we do need some way to do this.

SEC is one instance, writing to a compressed file is another instance (which may
have it's own work-around, but if so, that's just an example of having specific
solutions for what's really

[2018-07-03 08:06] rgerhards commented on #2813
definitely! Appreciate the time you have taken, but I think you have now more important things to do ;- The rest of the comments for later, as far as you are concerned!

that's a different thing, as the compression can go on in parallel (and actually gains a lot here), just the final write needs to be synchronized (and I think it is).

We can do, but than we must forbid DA queues. It must be eithe

[2018-07-03 09:26] jvymazal opened #2814 "Rsyslog not clearing drained queue files"
### Expected behavior
Rsyslog deletes saved.to-disk queue files after draining them
### Actual behavior
Queue files are left on this until rsyslog restart
### Steps to reproduce the behavior
* Configure remote endpoint with DA queues and `queue.saveOnShutdown="on"`
* disable connection to remote, log data, shut down rsyslog
* verify queue files are there, make remote available, start rsyslog again

[2018-07-03 11:37] rgerhards commented on #2814
It's expected behavior if one file is kept open (plus  .qi file, depending on config): https://rainer.gerhards.net/2013/07/rsyslog-why-disk-assisted-queues-keep-a-file-open.html

If more than one file is kept open that sounds like queue inconsistencies. But these should not go away on shutdown and will possibly also be logged on startup (depending on circumstances).

[2018-07-03 13:52] eseres commented on #2659
We seem to be experiencing this very issue as well.

[2018-07-03 13:53] rgerhards commented on #2659
could somebody post a debug log?

[2018-07-03 20:35] bansal2219 opened #2815 "Need urgent help: want to specify date in inputfilename in rsyslog.conf"
### Expected behavior
actually i have logs generated in /data1/syslog/ip-2018-07-03.log like this, with current date and after that it will be archived, so my requirement is to give date in inputfilename in below code, can anyone help me in this.

$ModLoad imfile
$InputFileName /data1/syslog/10.112.254.199-2018-07-03.log
$InputFileTag tag_app_log
$InputFileStateFile app_log1
$InputFileFacility loc

[2018-07-03 23:33] jsiwrk commented on #2813
OK, understood and agreed this flag is useful. The case of the DA queue is a good reason.

After reviewing again the [original code](https://github.com/rsyslog/rsyslog/blob/f75395172eac1dfcc63c06ec050739b952eb5cb8/plugins/omprog/omprog.c#L331-L339), I'm pretty sure the flag has never worked: a lock is performed in `doAction` on the instance data, but the `bIsRunning` flag (and the rest of the chil

[2018-07-04 02:12] Whissi opened #2816 "xxhash configure check incomplete"
[code]
From a quick view it looks like https://github.com/rsyslog/rsyslog/blob/master/configure.ac#L364 is missing a "not-found-action".

[2018-07-04 05:51] jvymazal commented on #2814
Ok, that is solved then, will have to bookmark the blogpost. Many thanks for taking time to answer.

[2018-07-04 05:51] #2814 closed

[2018-07-04 09:50] jjourdin commented on #2753
In fact there is no need to hardcode "?authMechanism=PLAIN" in ommongo.c as it appears mongo will use the default one: SCRAM-SHA-1 (Tested with SCRAM-SHA-1 on v8.34.0 on mongoDB 3.4.).

Moreover one can choose the appropriate authentication mechanism by providing ?authMechanism=whatever in the uristr.

[2018-07-04 12:07] esazarain opened #2817 "extracting message parts by "fields""
### Environment
- rsyslog version:
- platform:
- for configuration questions/issues, include rsyslog.conf and included config files

Hi
I'm Elham. I am going to create a log manager with rsyslog and elasticsearch.  I used of omelasticsearch module then defined a template for fetching IP from message.
In my template, message string was seprated base on space deliminator and the fieldnumber. The 6th

[2018-07-04 12:08] esazarain opened #2818 "omelasticsearch module"
### Environment
- rsyslog version:
- platform:
- for configuration questions/issues, include rsyslog.conf and included config files

Hi
I'm Elham. I am going to create a log manager with rsyslog and elasticsearch.  I used of omelasticsearch module then defined a template for fetching IP from message.
In my template, message string was seprated base on space deliminator and the fieldnumber. The 6th

[2018-07-04 17:28] rgerhards commented on #2813
I think I broke it in this commit: https://github.com/rsyslog/rsyslog/commit/0453b1670fc34c96d31ee7c9a370f0f5ec24744a#diff-e3cb3014ecfd8b9782b9274c6a7fa343

v7.6.7 (the latest v7) had the working code. So I broke it roughly 3.5 yrs ago after it worked for a couple of yrs :-(

Ack to your other notes!

[2018-07-05 08:31] rgerhards commented on #2818
duplicate of #2817

[2018-07-05 08:31] #2818 closed

[2018-07-05 08:31] rgerhards commented on #2817
pls post your config and a sample message

[2018-07-05 08:33] #2799 closed

[2018-07-05 08:34] rgerhards commented on #2799
@JPvRiel I think the time saving by pmnull is very marginal, so unless you run several 100,000 messages per second, you won't notice it. Just wanted to make this clear. The reason is that pmnull also needs to populate the standard properties, and it does so with the same defaults the standard parser uses. So what can be saved is some comparisons during the parsing.

[2018-07-05 10:06] #2753 closed

[2018-07-05 15:07] iksaif commented on #2759
Finally got a way to test this:

Without the patch (notice that cpu is capped at ~100%):

{code}
$ ps  aux | grep rsyslog
c.chary   6997  108  1.2 1277632 396836 pts/0  SNl+ 17:03   0:23 ./local/sbin/rsyslogd -i /home/cchary/dev/rsyslog/rsyslogd.pid -n -f rsyslog.conf

(gdb) info threads
  Id   Target Id         Frame
* 1    Thread 0x7f38c6006c40 (LWP 6997) "rsyslogd" 0x00007f38c4a6103f in __GI___

[2018-07-06 02:17] nike38rus commented on #2659
@rgerhards Here https://gist.github.com/nike38rus/4057412e15d74cfe1ade7d1c7b86b76c

I've written tiny Java app that writes dummy log message every 5s through logging framework (Logback). Logback configured to rotate log every 1 minute and gzip it after that. That log added to imfile inputs.

At 7621.105902666 log was rotated

[2018-07-06 07:05] rgerhards commented on #2659
thx for the log. It looks like the "reopenOnTruncate" option is not set: https://www.rsyslog.com/doc/v8-stable/configuration/modules/imfile.html#reopenontruncate It is required to make rsyslog try to detect cases where a file is truncted. It is off by default because truncate leads to some data loss (the busier the system, the more). Can you set this option and re-try? If it still does not work, a

[2018-07-06 07:06] rgerhards commented on #2659
@nike38rus mmh... reading your previous comment it looks like this is not the case. Could you provide me a test Java application plus some instructions on how to run it? Possibly it would be good to have something like this in the testbench (but my Java is weak ;-)).

[2018-07-06 07:16] rgerhards commented on #2659
looking once more in-depth at the debug log, it looks a bit like a race where the file detection may not work properly when the file is deleted and very quickly recreated (a very valid case!). I am not yet sure this really is the issue, but it smells a bit into that direction. In theory, imfile should detect that as it checks the inode number. Well.. bottom line... we need to see if we need additi

[2018-07-06 07:19] rgerhards commented on #2815
have a look here:

* https://www.slideshare.net/rainergerhards1/using-wildcards-with-rsyslogs-file-monitor-imfile
* https://www.rsyslog.com/doc/master/configuration/modules/imfile.html

[2018-07-06 07:21] rgerhards commented on #2790
implemented via https://github.com/rsyslog/rsyslog/pull/2795

[2018-07-06 07:21] #2790 closed

[2018-07-06 07:22] rgerhards commented on #2787
@jsiwrk do you have an explanation?

[2018-07-06 09:29] nike38rus commented on #2659
@rgerhards download archive from https://github.com/nike38rus/testlog/archive/master.zip, configure rotation policy by editing the logback.xml file (log file path, roll-over frequency, gzipping), and then execute run.sh with bash

[2018-07-06 09:43] nike38rus commented on #2659
@rgerhards As you've noticed earlier, there is no file truncation on roll-over. Here's example.
1. There is log file with inum X
1. On roll-over it is renamed. It has the same inum X
1. New log file is created with inum Y
1. In my case there is one more step - compression of rotated log file. As result of compression I got new file with inum Z, and rolled-over log with inum X is being deleted

The

[2018-07-06 11:22] JPvRiel opened #2821 "impstats module does not bind to a specified rule set if log.syslog="off", does not warn it's a config mistake, and docs are not explicit about the dependency"
https://www.rsyslog.com/doc/v8-stable/configuration/modules/impstats.html doc does not make it clear that if a user sets `log.syslog="off"`, then `ruleset=` will have no affect. It's probably implied and users with a deeper understanding of rsyslog might expect this, but it caught me out. It would probably be a good safeguard if rsyslog impstats module raised a warning or error when  `log.syslog="

[2018-07-06 13:10] JPvRiel commented on #2821
https://github.com/rsyslog/rsyslog-doc/pull/703

First time doing PR to the project and using restructured text, so please double check.

[2018-07-06 13:15] rgerhards commented on #2821
thx, CI for the doc pr so far looks good. The buildbot slave also has created a preview for you: docker pull gentoo/portage -- you'll find that URL when you check the CI run (just so that you know).

[2018-07-06 13:16] rgerhards commented on #2821
updated CI link as my clipboard was not with me ;) http://ubuntu16.rsyslog.com/doc/doc-2018-07-06-13-10-24-ca87efb/configuration/modules/impstats.html

[2018-07-07 06:42] esazarain commented on #2817
Thanks.
This is my template in /etc/rsyslig.d/ap.conf

constant(value="\",\"ip_sender\":\"")    property(name="msg" compressspace="on" field.delimiter="32" field.number="6" format="json")

This is my first message:"Jul  4 17:02:25 wbl03 app3: "172.30.60.25" ..."

This is my second message:"Jul 14 17:02:25 wbl03 app3: "172.30.60.25" ..."

At first message "ip_sender" is "app3"

At second "ip_sender

[2018-07-07 16:33] jsiwrk commented on #2787
When the `output` parameter is NOT specified, omprog does not capture the stdout or stderr of the program. Also, it [does NOT close](https://github.com/rsyslog/rsyslog/blob/v8.34.0/plugins/omprog/omprog.c#L170) the stdout/stderr FDs, so these are inherited from the parent process (rsyslogd). Therefore, if the program prints to stdout/stderr, the data will be send to the destination these FDs are a

[2018-07-07 16:46] jsiwrk commented on #2776
I've not fully read the conversation, but just wanted to note that this feature (start external program on startup) could be easily supported when omprog is refactored to correct issue #2813. When the `forceSingleInstance` flag is enabled, the natural place to keep the data of the child process (running state, pid, FDs...) is the action instance. The child can then be started in [createInstance](h

[2018-07-08 07:03] #2615 closed

[2018-07-08 07:30] davidelang commented on #2817
please log the message with the format RSYSLOG_DebugFormat so that we can see
what all the pased fields are.

the msg field should not have the contents that you are showing (it should start
with ' "')

and please post the full config, not just the snippet.

David Lang
k

[2018-07-09 08:43] lego12239 commented on #2787
For my case and from my point of view this would be fine. Thus, stderr messages willn't go to syslog socket.

jsiwrk, thank you for the explanation!

[2018-07-09 08:47] lego12239 commented on #2787
So, i should close the issue on openrc page.

[2018-07-09 12:57] rgerhards commented on #2731
you should check with bash ```glob```. imfile essentially uses the same functionality.

[2018-07-09 12:58] rgerhards commented on #2772
I am closing this topic as I did not get sufficient information in order to check the root cause. Any new information, feel free to post - I'll reopen when appropriate.

[2018-07-09 12:58] #2772 closed

[2018-07-09 12:59] #2736 closed

[2018-07-09 13:00] #2721 closed

[2018-07-09 13:03] rgerhards commented on #2659
just as a side-note: I have found out that when you run rsyslog inside a docker container and use AUFS inotify does not work correctly. There are quite some bug reports regarding that on the Internet, for example here: https://github.com/libuv/libuv/issues/1201

This problems happens e.g. with an Ubuntu docker host at 16.04, but works fine at 18.04.

I have been able to reproduce that problem. I h

[2018-07-09 14:49] JPvRiel opened #2827 "Cannot assign boolean, null or numeric types for JSON properties or local variables which encumbers JSON template output"
I might be missing something fundamental, but it seems cumbersome or complicated to output JSON formats with non-string data types for JSON fields? After reading documentation, it's unclear how JSON boolean, null or numeric types can be coerced (other than via very explicit / verbose 'hand crafted' templates):
- JSON message property values can be set via [`$!`](https://www.rsyslog.com/doc/v8-stab

[2018-07-09 14:54] JPvRiel commented on #2827
By the way, a major motivation for this is because of how elastic does not like differing types for fields. E.g. if the structured data element doesn't parse due to `-` in the RFC5424 field, then the JSON `null` type for `$!rfc5424-sd` is more technically correct than the single character string of `-` or empty string. Elasticsearch data mappings will either expect a string or an object (nested) b

[2018-07-09 18:47] davidelang commented on #2827
the json-c library (and libfastjson that is derived from it) doesn't handle null
json values nicely IIRC, or it may have been mulls in the string data that were
the problem)

You are the first person to ask for null values. How is a null better than not
providing the field? (if $!foo == '-' then unset $!foo;)

rsyslog is primarily setup to deal with strings, which is why you are running
into this

[2018-07-09 20:06] eseres commented on #2659
We are not running rsyslog in Docker and yet we experience this issue. Our env is Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-49-generic x86_64).

[2018-07-09 20:16] JPvRiel commented on #2827
Fair comment that this is a corner case. Unsetting a var/JSON subtree is a good suggestion as alternative to null. But then, I can't reference that vaule in a template (unless I also conditionally apply diffrent templates). The result is that, say for 4 fields that may or may not exist, one then gets at least 4 templates (more accounting for possible combinations). Your suggestion is a good option

[2018-07-09 20:44] rgerhards commented on #2827
I thought I implemented a number format in the json generator, but I can't
find a trace of it in the doc. Maybe I got side stepped when I worked on
that. Boolean should not be hard either. Null is a bit fuzzy, as
libfastjson still use the strange implementation of it that json-c has. But
could probably be worked around. I'd say if done at the template level, all
should be moderate work.

Rainer

S

[2018-07-11 12:42] #2821 closed

[2018-07-11 13:00] jaydev3646 commented on #2099
Hi Team,

I am using RSYSLOG-8.24 and my Cisco Devices are not working. I can see it is listening on UDP and TC port 514 but not collecting any log. Please help me in this . I am not sure how the conf file should look like.

[2018-07-11 13:07] rgerhards commented on #2099
@jaydev3646 please open a new issue - what you posted has nothing to do with this issue here. I will delete it to avoid confusion. Thx.

[2018-07-11 15:38] rgerhards opened #2830 "imkmsg builds unclean with newer compilers"
we get a couple of warning, which prevents us from checking this in CI with newer compilers.

currently missing in:
* ubuntu 18.04
* centos 7

[2018-07-12 02:45] sinontaylor commented on #2560
yes this is excellent! Is there a list of additional functions like format_time() providing different functionality? Could not find in the search on rsyslog.com or in the property replacer page (where I thought they might be). Cheers, Simon

[2018-07-12 09:53] rgerhards opened #2833 "test hostname-getaddrinfo-fail.sh fails on BSD"
This looks like a general problem, which only occurs here due to debug build (current idea, unconfirmed). I'll disable the test there for now so that I can also check other parts of the CI for missing coverage.

Later, I'll fix and re-enable (or provide explanation).

sample build log:
[code]

[2018-07-12 11:54] #2830 closed

[2018-07-12 14:35] rajubi1981 opened #2834 "rsyslogd: user name '...' too long - ignored [v8.24.0]"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior
Install rsyslogd RPM in RHEL7
rsyslog-8.24.0-16.el7_5.4.x86_64.rpm
Give list of user after this username in :omusrmsg
Example
kern.warn       :omusrmsg:useradmin1,useradmin2;<template>
if user name is more than 8 bytes we get the error as put in the headline as
 rsyslogd: user name 'useradmin1 ...' too long - ignored [

[2018-07-13 09:03] JPvRiel commented on #1262
Just to nudge this along, when I try set `jsonRoot` to something and I fail to understand the nuances of how to set the value, I get this kind of error (v8.36):

[code]

E.g.
- `!$structured-data` is not permitted as a value. I get this error: "rsyslogd: internal error:  getJSONRootAndMutex; invalid indicator char $(24)"
- And `structured-data` is not permitted: "rsyslogd: internal error:  getJSON