[2019-03-06 07:23] rgerhards commented on #3530
no problem! add `tls.tlslib="openssl"` to the `module(...)` config object for relp.

[2019-03-06 07:30] rgerhards commented on #3534
You need to install the module:
[code]

[2019-03-06 09:25] qqq1484043 commented on #3530
that's a error with tls.tlslib !~~
####################
Mar  7 01:20:07 localhost systemd: Stopping System Logging Service...
Mar  7 01:20:07 localhost rsyslogd: [origin software="rsyslogd" swVersion="8.1903.0" x-pid="38448" x-info="https://www.rsyslog.com"] exiting on signal 15.
Mar  7 01:20:07 localhost systemd: Starting System Logging Service...
Mar  7 01:20:07 localhost rsyslogd: error during

[2019-03-06 13:55] hxwang1024 opened #3536 "omkafka.c:40:32: fatal error: librdkafka/rdkafka.h: No such file or directory"
compile rsyslog with general account.

export LIBRDKAFKA_CFLAGS=-I$LIBKAFKA_OBJ"/include"
export LIBRDKAFKA_LIBS=-L$LIBKAFKA_OBJ"/lib/ -lrdkafka"

enable omkafka module, compile error info:

[2019-03-06 21:48:58] omkafka.c:40:32: fatal error: librdkafka/rdkafka.h: No such file or directory
[2019-03-06 21:48:58]  #include <librdkafka/rdkafka.h>
[2019-03-06 21:48:58]

[2019-03-06 13:56] hxwang1024 commented on #3536
I have try compile rsyslog on version 8.38.0/8.39.0. and it is same error info.

[2019-03-06 14:41] rgerhards commented on #3536
your dependency is not properly installed. check config.log. I guess the pkgconfig file for librdkafka is not correct.

[2019-03-06 14:44] hxwang1024 commented on #3536
I install librdkafka:
tar -zxvf librdkafka-1.0.0-RC8-test-deps9.tar.gz
cd librdkafka-1.0.0-RC8-test-deps9
./configure --prefix=$LIBKAFKA_OBJ

os:  centos6.3

[2019-03-06 16:12] hxwang1024 commented on #3536
I find there not found sasl/sasl.h file in config.log.

where can find gssapi source code ?
I  want to install gssapi by source code way.

[2019-03-06 17:33] mattpr commented on #3164
Howdy.  I have the same issue.  Captured two cycles of start and shutdown of debug.  Hope it helps.

https://www.dropbox.com/s/xvr8pxjl3tttoin/rsyslog-disk-queue.log.zip?dl=0

[2019-03-06 17:34] jgerhards commented on #3536
do you mean librdkafka or rsyslog?

[2019-03-06 17:42] darakian commented on #3534
So I do. My bad on that. Looking at http://rpms.adiscon.com/v8-stable/epel-6/x86_64 I don't see an rpm for omhttp. Do I still need to make the module myself?

[2019-03-06 19:31] strikaco commented on #3341
This turned out to be the result of an erroneous leading hyphen in a logrotate extension template, not anything to do with rsyslog.

Thanks for your time, sorry to distract.

[2019-03-06 19:45] rgerhards commented on #3341
NP, great it now works!

[2019-03-07 08:50] fdg33 commented on #3301
Hello,
I'm on Centos 7.6 and there is a similar problem (except that there is no memory consuption).
Because of 403 forbidden errors, to test I put selinux in disabled mode. Restart. Test (SELinux wasn't in cause). Put it in enforced mode. Restart. And then on reboot Mysqld failed to start. Problem pointed on
imjournal.state, same as you mentionned : rename() failed... I tried to change context bu

[2019-03-07 09:10] jgerhards commented on #3534
You can either build it yourself or use the repositories at

https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog

note: For some platforms, there is no omhttp package because of missing or too old dependencies.

[2019-03-07 13:24] onyxmaster opened #3537 "SIGABRT/SIGSEGV crash for 8.1903.0 possibly related to journald reloading"
### Expected behavior
Should not crash when imjournal reloads.

### Actual behavior
This is the output of journald logs:
[code]

[code]

Every time the `sd_journal_get_cursor()` fails and imjournal reloads journal the rsyslog process dies with either SIGABRT or SIGSEGV.
The 8.1901.0 did not exhibit this issue:
[code]

### Steps to reproduce the behavior
Install the 8.1903.0 and enable imjournal al

[2019-03-07 13:54] rgerhards commented on #3537
@jvymazal could you have a look? This is the only commit since 8.1901.0:

https://github.com/rsyslog/rsyslog/commit/920c28ff705aac74f389b4613815b14b9482e497#diff-b1ea6478b8060f07cd30ecde78bfdc49

Of course, it could also be a side-effect of some other change - among others different jounal libs on the  distro.

[2019-03-07 14:50] jvymazal commented on #3537
I will have a look, and try to verify once more the current free calls actually match allocations within journal (that is if the journal calls do the malloc()s per documented state, if they do not then I am afraid we are out of luck without help from someone from systemd people)

[2019-03-07 18:56] darakian commented on #3534
@jgerhards I don't see omhttp available for centos6 via your link. Is this due to old dependencies?

[2019-03-07 20:12] onyxmaster commented on #3537
My Linux debugging skills are bit, well, flaky and I'm (yet) too lazy to build rsyslogd from source with debug info, but please take a look at this:
[code]

P.S. Thanks for making rsyslogd. It's ability to easily ship everything everywhere without installing any extra software it's truly indispensable for us.

[2019-03-07 20:30] onyxmaster commented on #3537
I took a look at the diff mentioned here, and [line 474](https://github.com/rsyslog/rsyslog/commit/920c28ff705aac74f389b4613815b14b9482e497#diff-b1ea6478b8060f07cd30ecde78bfdc49R474) looks particularly suspicious. The `last_cursor` is a global, which is `free`-d, then potentially assigned by `sd_journal_get_cursor` on the next line. It _looks_ to me like if the `sd_journal_get_cursor` fails, the v

[2019-03-08 07:55] vrotenberg commented on #2462
Hi, I tried it in the version 2.0.5-1 and had the same problem. The "version=2" doesn't change anything.
Please help.

[2019-03-08 08:08] Katulus commented on #1503
Hi, this is Jiri from Loggly team.
As @Arnix mentioned we both spent some time investigating this (big thanks to him for that) and this is something that's causing issues to multiple of our customers. We are getting repeated support requests due to this exact issue. Right now we have to suggest customers to use some periodic heartbeat to generate syslogs and keep connection alive. Having the fix w

[2019-03-08 08:09] rgerhards commented on #1503
@Katulus would you consider contributing a fix? Or sponsoring it?

[2019-03-08 08:11] rgerhards commented on #1503
we always used non-blocking sockets.

We'll review the fix, but it takes some time, especially as we need to evaluate the effect on all those installations that have no issues.

[2019-03-08 13:20] jgerhards commented on #3534
unfortunately, it is not available for CentOs6 due to the dependencies. However, it looks like the backwards compatibility broke with https://github.com/rsyslog/rsyslog/pull/3423. Could you try to build the module yourself and tell me, if it works or if it is broken for you as well?

[2019-03-08 17:43] darakian commented on #3534
Build is working for me, but I think I'm bundling omhttp into the rsyslog binary. Build steps are
[code]
I had to install `libfastjson4-devel`, `libfastjson4`, and `libestr-devel` from rpms at
http://rpms.adiscon.com/v8-stable/epel-6/x86_64 as well

[2019-03-09 00:24] strikaco opened #3538 "Setting dynamic attributes/keys?"
Does rsyslog provide any mechanism by which to set dynamic attributes/JSON keys without hard-coding them?

Trying to limit explosion of key names by renaming them via entries in a periodically-reloaded lookup table.

[code]

[2019-03-09 13:22] jgerhards commented on #3534
that's interesting. Maybe @rgerhards can have a closer look inside CI.

[2019-03-11 07:09] Katulus commented on #1503
@rgerhards, as we don't have people with C expertise on the team I'm not sure we're able to contribute the fix at this point.

[2019-03-12 07:56] yfliuyanyan opened #3541 "How to config rsyslog's error log"
### Expected behavior
We use rsyslog to collect our business logs, and send them to my fwd by relp. But sometimes, business logs are not sent to my fwd.
To find out the reason, I want to see the error log of rsyslog itself. But I don't know where it is and how to set it.
Any help? Thanks.

### Environment
- rsyslog version: 8.36.0
- platform:
- for configuration questions/issues, include rsyslog.c

[2019-03-12 08:21] jvymazal commented on #3537
You are definitely NOT completely wrong =) Actually you are very much correct, thank you for saving me some time with hunting this down, PR is already open so hopefully this will be resolved soon.

[2019-03-13 00:59] hxwang1024 opened #3542 "omkafka: segfault in version 8.38.0"
omkafka maybe segfault in version 8.38.0, when I run mutlithreading .

I hav try to run rsyslog in mutlithreading .

[2019-03-13 03:16] hxwang1024 commented on #3542
rsyslogd: omkafka: Failed to produce to topic 'abcdef11c4b98d4183bb724c26b1ad96f3__demo' (rd_kafka_producev)partition 4: -184/Local: Queue full - MSG '10.107.23.23 [13/Mar/2019:11:03:47 +0800] 10.39.45.34 - - [13/Mar/2019:11:03:47 +0800] "GET /index.html HTTP/1.1" [13/Mar/2019:11:03:47 +0800] 10.39.45.34 - - [13/Mar/2019:11:03:47 +0800] "GET /index.html HTTP/1.1" [13/Mar/2019:11:03:47 +0800] 10.39

[2019-03-13 03:19] hxwang1024 commented on #3542
how to core dump rsyslog.

I have set core file size is unlimited.

[qqqq@123456 output]$ ulimit -a
core file size          (blocks, -c) unlimited
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 769826
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m)

[2019-03-13 08:29] hxwang1024 commented on #3542
![](file:///Users/wanghongxiang/Library/Caches/BaiduMacHi/Share/images/04b9a037e956b5f8391f48218c5b397c.jpg)

[2019-03-13 08:30] hxwang1024 commented on #3542
![04b9a037e956b5f8391f48218c5b397c](https://user-images.githubusercontent.com/33044973/54264104-46bd9880-45ad-11e9-9581-79e2e7ef109e.jpg)

[2019-03-13 11:21] radu-gheorghe opened #3543 "Reproducible slow disk assisted queue drain with Elasticsearch output"
There have been multiple reports of the disk part of the disk-assisted queues draining slowly (more recently https://github.com/rsyslog/rsyslog/issues/2646). This time **I'm able to reproduce it consistently in an isolated environment**. I'm attaching [an archive](https://github.com/rsyslog/rsyslog/files/2961131/rsyslog_queues.zip) with the following:
- a docker-compose with Dockerfiles for rsyslo

[2019-03-13 16:15] alorbach commented on #3541
Hi,

I recommend you use the rsyslog mailing list for help, github is for reporting actual bugs.
This is more a configuration issue.
See here for how to debug rsyslog:
https://www.rsyslog.com/doc/v8-stable/troubleshooting/index.html

[2019-03-13 16:16] alorbach commented on #3542
can you try the latest version of winsyslog to rule out this is a existing bug / issue already fixed?

[2019-03-13 16:30] alorbach commented on #3536
You can find the dependencies in our package control files:
https://github.com/rsyslog/rsyslog-pkg-ubuntu/blob/master/rsyslog/bionic/v8-stable/debian/control

[2019-03-13 17:22] hxwang1024 commented on #3542
why rsyslog can not core dump ?

[2019-03-13 17:23] marian-craciunescu opened #3544 "Netflow V9 traffic"
I'm trying to use rsyslog as an load balancer(just a dumb proxy)
What it receives on udp port 5620 to distribute it over to 3 other host.
The traffic received is actually Netflow v9

I've also done this in parallel with nginx .
### Expected behavior
Frame size should be the same

### Actual behavior
Frame size is abnormaly large.

### Steps to reproduce the behavior

### Environment
- rsyslog vers

[2019-03-13 17:29] rgerhards commented on #3541
Messages are reported to the syslog stream as syslog.=error. Done depending on config via journal or direct .

[2019-03-13 19:12] davidelang commented on #3542
On Wed, 13 Mar 2019, hxwang1024 wrote:

You probably don't have something set right, there's nothing in rsyslog to
prevent you from doing a core dump, but systemd makes it hard to set core dump
filename and size limits.

David Lang

[2019-03-13 19:15] davidelang commented on #3544
On Wed, 13 Mar 2019, Marian Craciunescu wrote:

that is not what rsyslog is designed for, yo may be ableto abuse it to do this
by setting the output template to be just rawmsg, but you may also need to set
the input parser to noparse.

you are trying to use a cordless screwdriver as a hammer, it may work, but it's
not the right tool for the job.

David Lang

[2019-03-13 23:28] Whissi commented on #3465
@mbiebl Would be nice if you could cherry-pick this for Debian backports, thanks.

[2019-03-14 00:07] davidelang commented on #3530
unfortunantly I don't have a good handle on TLS related errors.

[2019-03-14 00:30] mbonsack commented on #3534
Not there for CentOS 7 either?  Don't see it here:
http://rpms.adiscon.com/v8-stable/epel-7/x86_64/RPMS/
So, for what distros is there a pre-compiled omhttp module?

[2019-03-14 02:12] hxwang1024 opened #3545 "there is not lexer.c in grammar directory in rsyslog latest version."
compile fail.
There is not lexer.c file in grammar directory in rsyslog latest version.

I add lexer.c into grammar directory, successfully compile.

[2019-03-14 02:23] jay7x commented on #3340
Just got another case when this feature will help. We have legacy graylog cluster of 3 nodes. There are some clients writing syslog to global graylog inputs. Clients are using round-robin DNS to connect to syslog tcp input on graylog. After maintenance when all graylog nodes are restarted one-by-one all clients usually connected to first node restarted because it was available for longer time. Thi

[2019-03-14 03:25] davidelang commented on #3340
I did a presentation on how you can load balance at LISA '12
https://www.usenix.org/conference/lisa12/technical-sessions/presentation/lang_david

[2019-03-14 04:35] hxwang1024 commented on #3542
there is same problem in latest verion 8.1901.0

![image](https://user-images.githubusercontent.com/33044973/54331550-71fbc280-4655-11e9-8c3b-d547c740129b.png)

after 3~5min， I continue test rsyslog.
![image](https://user-images.githubusercontent.com/33044973/54331574-88a21980-4655-11e9-8e9e-c81f599b4a85.png)

![image](https://user-images.githubusercontent.com/33044973/54331598-9b1c5300-4655-11e9-

[2019-03-14 05:39] hxwang1024 commented on #3542
Mar 14 13:31:30 instance-001 rsyslogd: writeRemoteData:Reg: worker thread 15b98f0 terminated, now 3 active worker threads [v8.1903.0 try https://www.rsyslog.com/e/2439 ]
Mar 14 13:31:30 instance-001 rsyslogd: writeRemoteData:Reg: worker thread 1597350 terminated, now 2 active worker threads [v8.1903.0 try https://www.rsyslog.com/e/2439 ]
Mar 14 13:31:30 instance-001 rsyslogd: writeRemoteData:Reg:

[2019-03-14 07:17] jay7x commented on #3340
@davidelang thank you for that recording!
Don't understand me wrong. I'm able to do workaround. But I'd prefer to have built-in way to distribute load across upstreams. We're not in 90s anymore. I have no real servers anymore. I'm still lucky as I have virtual machines in cloud at least. But I can't just implement routing in cloud in the way I'd like to. I can't change configuration of cloud-manag

[2019-03-14 07:55] davidelang commented on #3340
In the cloud you have load balancers that know how many target machines you have
(and can spin up more as needed)

point the output of rsyslog to the load balancer and have it balance across your
targets.

It is not reasonable to have rsyslog implement a load balancer that can tie in
to every cloud provider to know what targets exist, check their status, etc. So
Rsyslog implements the rebind inter

[2019-03-14 08:26] jay7x commented on #3340
I'm still thinking `rebindInterval` is kind of ugly workaround. But I see you point, thank you! I'll think how to deal with it.

[2019-03-14 08:40] davidelang commented on #3538
On Fri, 8 Mar 2019, Johnny wrote:

rsyslog does not allow for indirect addressing in the variable names

I'm not sure if this is even possible given the startup-time compilation of the
config file (Rainer??)

I would want to see the syntax being something like:

set $!data!{$.fieldname} = $.somevalue;

if we were to support it.

David Lang

[2019-03-14 08:49] davidelang commented on #3340
On Thu, 14 Mar 2019, Yury Bushmelev wrote:

In many ways it is, but it's also the minimum capability needed to make other
load balancing able to adapt to changes.

Given how TCP connections will loose messages in flight when the connection is
cut, I don't like the idea of keeping many connections open (and vulnerable to
being cut and loosing messages).

It may make sense to have relp support multi

[2019-03-14 09:01] hxwang1024 commented on #3542
Mar 14 13:32:10 instance-001 **rsyslogd: writeRemoteData:Reg: high activity - starting 1 additional worker thread(s), currently 1 active worker threads. [**v8.1903.0 try https://www.rsyslog.com/e/2439 ]
Mar 14 13:32:10 instance-001 kernel: rs:writeRemoteD[26687]: segfault at 0 ip 00007f24fb064bf7 sp 00007f24e54e4878 error 6 in libc-2.17.so[7f24faf0f000+1c2000]

![图片](https://user-images.githubuser

[2019-03-14 09:22] jay7x commented on #3340
So what I'm proposing is actually to have way to distribute messages across some kind of resource pool (actions in ruleset). When implemented on this level it will support any outputs including `omrelp`.

[2019-03-14 09:36] davidelang commented on #3340
On Thu, 14 Mar 2019, Yury Bushmelev wrote:

there is an ability to do 'call $.var', so if you can calculate a hash on the
message and key from that it could work.

We do have global variables ($\), but they are very expensive to use

David Lang

[2019-03-14 09:53] jay7x commented on #3340
That will fail if action fail in ruleset. Can have N rulesets with same M actions though.. should work but looks like maintenance hell if you writing config manually.

[2019-03-14 11:18] duylong opened #3546 "rsyslog segfault with omkafka"
Hi,

I have a segmentation error for a while with omkafka, updating to the latest version does not correct this problem.

[code]

[code]

[code]
[code]

My valgrind output:

[code]

Do you see the problem?

[2019-03-14 11:30] hxwang1024 commented on #3546
I have the same problem in my machine.

[2019-03-14 12:31] duylong commented on #3546
The origin of the problem did not seem the same as you, so I recreated another ticket.

[2019-03-14 12:37] hxwang1024 opened #3547 "can not exit rsyslog"
![image](https://user-images.githubusercontent.com/33044973/54357392-f15eb580-4698-11e9-86b2-0d64e35878c0.png)

[2019-03-16 10:08] yfliuyanyan commented on #3541
@rgerhards Thanks for your reply.
But where can I find it?
Where can I config journal or direct?

[2019-03-16 11:05] rgerhards commented on #3541
post your **full** conf

[2019-03-16 12:32] AnjanMukherje opened #3548 "rsyslog imfile to reread full file on timestamp change"
### Expected behavior
I'm using rsyslog 8.36.0 version on CS6.0 . I have an application which writes to a file "/tmp/1". This file gets overwritten everytime the application runs (every 20mins/30mins).

We want rsyslog to read this file using imfile. The issue we are facing here is that, rsyslog reads full file initially and sends to /var/log/messages. Then when there are updates to the file where

[2019-03-16 16:26] rgerhards commented on #3548
timestamp is not evaluated, as this does not provide a reliable indication of a rewritten file. You need to set `reopenOnTruncate="on"` as this tries to support overwrites. However, the version you are using has probably some issues with truncation detection. I recommend moving to the current 8.1903.0.

doc on imfile options: https://www.rsyslog.com/doc/master/configuration/modules/imfile.html

[2019-03-17 06:48] rgerhards commented on #3545
`lexer.c` is an **output** file generated by `flex`. So it MUST NOT be present. It looks like you build incorrectly, `make` will generate it Follow `autoreconf`, `./configure.sh`, `make` build sequence.

[2019-03-17 06:48] #3545 closed

[2019-03-17 14:24] rgerhards commented on #3530
As I wrote, you need to add that setting to `module()`, not `input()`:
[code]

[2019-03-17 14:27] rgerhards commented on #3538
I don't see anything obviously that's against it...

... but it's a lot of work. Given this is the first question ever for such a feature and looking at the todo list, I think somebody needs to step in to do it.

[2019-03-17 14:54] rgerhards commented on #3546
see also #3542 (albeit it may be a different issue)

[2019-03-17 14:56] rgerhards commented on #3546
@duylong this looks like an issue in rsyslog core, and it most probably is either data or environment induced. Could you create a debug log?

Also, just to be sure: I assume you installed from our packages?

[2019-03-18 07:11] AnjanMukherje commented on #3548
Thank You Rainer , yes it solved the issue . But this is working only on polling mode not in notify mode .So I have also added following

module(load="imfile" PollingInterval="10")
reopenOnTruncate="on" PersistStateInterval="1"

Right now i am not going for latest version since this require lot of changes in my setup.

[2019-03-18 07:29] rgerhards commented on #3548
maybe with your old version - I don't remember. With rsyslog current, it works in all modes.

[2019-03-18 07:29] #3548 closed

[2019-03-18 07:34] rgerhards commented on #3547
version?

[2019-03-18 08:11] rgerhards commented on #3537
closed via https://github.com/rsyslog/rsyslog/pull/3540

[2019-03-18 08:11] #3537 closed

[2019-03-18 08:11] anirbans opened #3549 "generate a warning during config parsing for potentially blocking operations"
When a large timeout value is set for the action queue and rsyslog is configured to forward logs to a remote server using TCP, it can lead to lockups and blocking of critical processes when the remote server becomes unavailable for a long time. The default value of the timeout has been reduced to 50 ms for the action queue but it can always be configured to have a higher value using the rsyslog co

[2019-03-18 08:27] rgerhards commented on #3474
looks like this is closed by #3496

[2019-03-18 08:27] #3474 closed

[2019-03-18 08:30] rgerhards opened #3550 "imfile-symlink occasionally fails"
reports: http://build.rsyslog.com/testbench-showtest.php?testname=imfile-symlink%

Not all may show actual errors, but given the volume I am sure some are at least races.

@jvymazal could you have a look?

[2019-03-18 08:53] duylong commented on #3546
Yes, I installed RSYSLOG from rpm package on RHEL7. Only the package librdkafka is installed from CentOS repository.

I have a lot of logs and running in debug mode, I can not isolate the problem. By restarting with systemd, I have segfault again which appears randomly in dmesg.

[2019-03-18 09:09] #2253 closed

[2019-03-18 09:14] rgerhards commented on #3546
Please un-install librdkafka - our packages should be statically linked to a known-good version (there are ample issues with librdkafka). I would like to verify that actually the correct version of librdkafka is used. If not, we know where the segfault stems from.

[2019-03-18 09:24] duylong commented on #3546
Same problem with adisconbuild-librdkafka1 package.

[code]

[2019-03-18 09:34] rgerhards commented on #3546
ok, so I need a debug log ;-)

[2019-03-18 09:35] davidelang commented on #3546
it's best to install all rsyslog components from the same repo, just in case
there are compilation differences that matter for the loadable modules.

David Lang

[2019-03-18 11:09] rgerhards commented on #3546
full ack, but...

librdkafka is really special: it is not needed at all because it is statically linked into rsyslog's kafka modules (at least this is how it is intended to be...). librdkafka has had some very serious issues, and so we need a fixed version. But we do not want to take responsibility by providing out own kafka package. The `adisconbuild-librdkafka1`is not inteded to be installed on

[2019-03-18 11:12] rgerhards commented on #1108
OK, old issue, and something strange happened in the interim: connection count has been reduced. But I think I can reproduce the core issue.

[2019-03-18 11:26] duylong commented on #3546
Okay, I do not know why I had manually installed libkafka. So I removed everything ;)

However, I still have segfault problems. Very strange, no segfault in my debug.log, but when I disable this mode, I have segfault again in dmesg...

[2019-03-18 11:52] rgerhards commented on #3546
Can you send me a debug log? Instructions: https://www.rsyslog.com/doc/v8-stable/troubleshooting/howtodebug.html

[2019-03-18 13:03] duylong commented on #3546
Yes I have seen the documentation ;)

A full debug can go quickly up to 1GB, but I do not know when there is a segmentation fault to stop the debug. I will investigate further.

[2019-03-18 13:35] hxwang1024 commented on #3542
core dump file bt info:

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/libthread_db.so.1".
Core was generated by `/home/test/rsyslog/output/sbin/rsyslogd -f /home/test/rsyslog/output/conf/r'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007fbdb1522e20 in __memcpy_sse2_unaligned () from /bin/gcc/lib/libc.so.6
(gdb) bt
#0  0x00007fbdb1522e

[2019-03-18 13:40] malsumis opened #3552 "segfault on imfile read"
Hi,

we are experiencing sporadic segfaults on our loggers using imfile. Removal of the affected file causes rsyslog to start properly. The file /var/log/rsyslog/app/app.log was not written to since two days now.

Debug log:
 `     5701.360799843:imfile.c       : imfile.c: poll_tree:  found '/var/log/rsyslog/app/app.log', File: 1 (config file: 1), symlink: 0
    5701.360802683:imfile.c       : imf

[2019-03-18 13:49] rgerhards commented on #3542
can you run rsyslog under valgrind control and post the result?

[2019-03-18 14:03] rgerhards commented on #3552
* please post **full** config
* can you run rsyslog under valgrind?

[2019-03-18 14:12] malsumis commented on #3552
I can try. I need some time to set myself up. In the meantime, full config follows:

[code]

[2019-03-18 15:13] duylong commented on #3546
Is there a reason that Rsyslog does not crash in DEBUG mode?

I have temporarily solved the problem by disabling queuing on the forward (queue.type = "LinkedList").

[2019-03-18 15:23] hxwang1024 commented on #3542
==36513== Process terminating with default action of signal 11 (SIGSEGV): dumping core
==36513==  Access not within mapped region at address 0x0
==36513==    at 0x4C2BE47: memcpy@@GLIBC_2.14 (vg_replace_strmem.c:1034)
==36513==    by 0x47DC38: tplToString (template.c:233)
==36513==    by 0x477700: prepareDoActionParams (action.c:991)
==36513==    by 0x478CED: processMsgMain (action.c:1516)
==36513

[2019-03-18 15:24] hxwang1024 commented on #3542
how to fix bug  in rsyslog version 8.38.0?

[2019-03-18 16:09] rgerhards commented on #3542
Was the valgrind run with the old or the current version?

[2019-03-18 21:53] davidelang commented on #3546
On Mon, 18 Mar 2019, Rainer Gerhards wrote:

my point was that installing rsyslog from the RHEL repo and omkafka from the
adiscon repo is not the best idea.

David Lang

[2019-03-19 01:12] hxwang1024 commented on #3542
valgrind version: 3.14.0
rsyslogd: 8.38.0

[2019-03-19 01:24] hxwang1024 commented on #3547
rsyslog version: 8.38.0

[2019-03-19 01:56] hxwang1024 commented on #3542
rsyslog: 8.38.0
valgrind: 3.14.0

valgrind memcheck log:

......

==36513== Process terminating with default action of signal 11 (SIGSEGV): dumping core
==36513==  Access not within mapped region at address 0x0
==36513==    at 0x4C2BE47: memcpy@@GLIBC_2.14 (vg_replace_strmem.c:1034)
==36513==    by 0x47DC38: tplToString (template.c:233)
==36513==    by 0x477700: prepareDoActionParams (action.c:991

[2019-03-19 03:36] djzort commented on #440
I've had mixed results with $client using 8.24.16.el7 (what ships with rhel/centos) - but after that version redhat have backported major changes to imfile which entirely break it.

[2019-03-19 04:00] nbrownus commented on #440
Support for unix domain sockets exists in `imptcp` #850

[2019-03-19 04:51] djzort commented on #440
Will imptcp be sufficiently fooled by a fifo to think its a unix domain socket?

[2019-03-19 07:29] rgerhards commented on #440
I think the best approach would be to write a short spec of how such a module should work, which config parameters it's needs, special cases, etc... Then look for somebody who has interest in implementing it.

Given the discussion, I think `imfile` is the wrong place to support pipes.

[2019-03-19 07:44] rgerhards commented on #3542
Is there any specific reason that you always revert back to the old and unsupported version?

[2019-03-19 08:03] hxwang1024 commented on #3542
I find the same problem in rsyslog latest version 8.1903.0.

[2019-03-19 08:04] rgerhards commented on #3542
That doesn't really help me. If I want to debug this, I need you on the supported version. Else I never know we are talking about the same thing.

[2019-03-19 08:05] hxwang1024 commented on #3542
[root@instance001 rsyslog]# ./sbin/rsyslogd -version
rsyslogd  8.1903.0 (aka 2019.01) compiled with:
	PLATFORM:				x86_64-unknown-linux-gnu
	PLATFORM (lsb_release -d):		Description:	CentOS Linux release 7.6.1810 (Core)
	FEATURE_REGEXP:				Yes
	GSSAPI Kerberos 5 support:		No
	FEATURE_DEBUG (debug build, slow code):	No
	32bit Atomic operations supported:	Yes
	64bit Atomic operations supported:	Yes

[2019-03-19 08:08] rgerhards commented on #3542
hehe... yeah, I now you can post the version info from the different version ;-) The key point is that you actually use it. Can you redo the valgrind test with it so that source locations are correct? Do you intend to use the new version for further testing?

[2019-03-19 08:14] rgerhards commented on #3547
If you want to cancel rsyslog via ctl-c, you need to enable it: `shutdown.enable.ctlc`

doc: https://www.rsyslog.com/doc/master/rainerscript/global.html?highlight=ctlc

[2019-03-19 08:14] #3547 closed

[2019-03-19 08:32] hxwang1024 commented on #3542
![image](https://user-images.githubusercontent.com/33044973/54591028-4701dc00-4a64-11e9-861e-def3eb3319be.png)

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `'.
Program terminated with signal 11, Segmentation fault.
#0  0x0000000004c2e223 in _vgr20180ZZ_libcZdsoZa_memcpyZAZAGLIBCZu2Zd14 (dst=0x0, src=<optimized out>

[2019-03-19 08:34] hxwang1024 commented on #3542
![image](https://user-images.githubusercontent.com/33044973/54591289-e6bf6a00-4a64-11e9-901d-5cc587994176.png)

[2019-03-19 08:47] rgerhards commented on #3542
can you create a debug log? see https://www.rsyslog.com/doc/master/troubleshooting/howtodebug.html?highlight=debug%20log

I probably need the last 10,000 lines before the segfault, best the complete log. With just the tail it may be I do not see the real cause.

[2019-03-19 08:52] rgerhards commented on #3542
**full** config pls in addition to debug log. Stack trace is now useful.

[2019-03-19 09:00] rgerhards commented on #3543
thx for sharing this. Will try to look ASAP, but have been away for some days and now the pile of work is even larger ;-)

[2019-03-19 09:01] rgerhards commented on #3543
Can answer this quickly in a generic way: I would really love to do a rewrite of the disk queue subsystem, but it's a real big bunch or work. I do not have enough free time and nobody wants to sponsor it...

[2019-03-19 10:35] djzort commented on #440
My specific use case is creating a pipe as follows, and then using it as the "log file" in various applications (apache being one such application)

# mkfifo /var/spool/access_log

(in apache config file)
CustomLog "/var/spool/access_log" UTM

I am then using imfile to read that fifo and add tag, severity, facility
input(
  type="imfile"
  File="/var/spool/access_log"
  Tag="apache:"
  Severity="n

[2019-03-19 10:47] rgerhards commented on #440
kind of - we need this turned into a developer spec - or an actual code contribution. Nevertheless, it's good to understand the use case.

[2019-03-19 10:51] djzort commented on #440
At a higher level, we've been containerizing apps and using fifos (aka named pipes) to trick their logs to being fed into syslog and transmitted elsewhere. The alternative so to redo the logging in the code (which is largely what we are facing with inconsistent results using fifos and imfile)

(How correct this is according to container purists is secondary)

[2019-03-19 11:21] rgerhards commented on #3546
I misunderstood - mixing that is indeed calling for problems ;-)

[2019-03-19 11:46] radu-gheorghe commented on #3543
Thanks for following up on this! I totally get the "pile of work" situation :)

I would like to understand more about how the disk queue subsystem currently works. Any place of me to look at besides the code?

I'm also curious why the pure disk queue is faster (at least in these tests) than the disk-assisted queue. Because by the logic of it, disk-assisted should be faster - I can even see in stat

[2019-03-19 11:50] rgerhards commented on #3543
actually I'd say the code is best bet nowadays -- all doc on it is 10+ yrs old

I agree this should be the case. My gut feeling might be locking contention. Maybe a strace would show what is going on.

In a nutshell, the in-mem queue (on n threads) runs in parallel to a real disk queue (on one thread). But they use the same lock (and need to). The mem queue forwards to disk queue if it goes above

[2019-03-19 11:51] radu-gheorghe commented on #3543
Also, regarding the disk queue subsystem rewrite: can you give more details? Like, what's wrong with it now, what can be improved and how. I can totally get that some items might not be 100% clear, but I'm curious what you have in mind.

[2019-03-19 11:53] radu-gheorghe commented on #3543
Oh, wow! So the disk queue is single-threaded even if I set workerthreads to N? Or is it single-threaded just in the context of a DA queue? If it's the latter, it would explain everything.

[2019-03-19 11:59] rgerhards commented on #3543
El mar., 19 mar. 2019 a las 12:53, Radu Gheorghe (<notifications@github.com>)
escribió:

It's always single-threaded. We use sequential files, and we cannot handle
far different i/o ops on different places on them. Did I mention I think a
rewrite would be desirable? ;-)

Rainer

[2019-03-19 12:31] radu-gheorghe commented on #3543
Sorry if my question sounds dumb, then: if I have a disk queue, I'm only going to write to Elasticsearch on one thread? That would explain a lot, indeed...

[2019-03-19 13:31] rgerhards commented on #3543
Not a dumb question. That's exactly how it is.

[2019-03-19 13:55] malsumis commented on #3552
[code]

[2019-03-19 14:15] radu-gheorghe commented on #3543
Thanks a million for explaining this, Rainer! The whole behavior makes a LOT more sense now.

[2019-03-19 14:30] hxwang1024 commented on #3542
I have send rsyslog debug log by mail.

[2019-03-19 15:46] mfeagley opened #3554 "cannot find error in my config file"
### Expected behavior

### Actual behavior
I'm experiencing an issue with rsyslog in that something in my .conf file is not correct causing the errors included below.  I wish to use "if/then" to route four different types of "mcafee" events to separate log directories.  I have included the related portion of my /etc/rsyslog_tls_splunk.conf file below.  BTW...line 79 is the last line of the .conf f

[2019-03-19 15:47] mfeagley commented on #3554
Thank you in advance!

[2019-03-19 16:10] rgerhards commented on #3542
@hxwang1024 thx - pls also send the config.

Did rsyslog segfault like in the other cases when the debug log was active? I ask, because the log looks a bit strange when I compare it to the backtrace / valgrind report.

[2019-03-19 16:21] rgerhards commented on #3543
@radu-gheorghe let me drop this link: https://www.rsyslog.com/doc/v8-stable/concepts/queues.html

not sure if you were aware of it - it is an in-depth description of queues. Granted, it needs some love, and the "diskq is single-threaded" probably is hidden too much in the wall of text ;-) Still thought I let you know.

That said, I think the disk queue part of a DA queue should not be that much sl

[2019-03-19 16:22] rgerhards commented on #3542
@hxwang1024 I really need your full config (or full debug log) to make sense out of the debug log you sent.

[2019-03-19 17:33] davidelang commented on #3554
please post your complete config. When there is a syntax error it is frequently
caused by something prior to the part of the file that shows up in the error
message (and it's much easier to see where line 79 is with the entire file than
with a portion of it)

David Lang

[2019-03-19 17:35] davidelang commented on #3543
On Tue, 19 Mar 2019, Rainer Gerhards wrote:

does the DA thread move the messages to the in-memory queue and then deliver
them? or does it deliver them directly from the disk queue?

David Lang

[2019-03-19 17:46] radu-gheorghe commented on #3543
@rgerhards thanks, I was aware of that article and read it many times, but it sounds like I still don't know it well enough :(

@davidelang I believe it delivers data directly from the disk queue. i.e. the two queues run in parallel rather than being chained. Which is where the lock that Rainer was talking about may come in.

[2019-03-19 17:52] mfeagley commented on #3554
#
$MaxMessageSize 256k
#
# Set gtls driver
$DefaultNetstreamDriver gtls
#
# Certs
$DefaultNetstreamDriverCAFile /xxx/xxx/xxx/xxx/xxx/xxx-ca-bundle.pem
$DefaultNetstreamDriverCertFile /xxx/xxx/xxx/certs/xxxxxx.xxx.com.pem
$DefaultNetstreamDriverKeyFile /xxx/xxx/xxx/certs/xxxxxx.xxx.com.key
#
# Listen for TCP
$ModLoad imtcp #tcp listener
#
$InputTCPServerStreamDriverMode 1

# Auth mode
$InputTCPServ

[2019-03-19 18:42] jchivian commented on #3329
Another way of implementing this requested functionality would be to add Time-Related System Properties $second for clock second, $msec for millisecond, and $usec for microsecond which, like the existing $year, $month, $day, $hour and $minute, would be set from the system clock upon reference.

[2019-03-19 18:56] jchivian commented on #3452
Perhaps the clock could be used?   Instead of, or in addition to...

PersistStateInterval = 1000

...you could also have...

PersistStateTime = 300s
PersistStateTime = 5m

[2019-03-20 08:06] #1108 closed

[2019-03-20 09:00] rgerhards commented on #3543
yes, it really is independent. If mem queue gets full, it simply does not process data but enq in disk queue. Disk queue then totally independently dequeues messages and processes them. They only share the queue mutex, as at the higher level all must look like one queue.

So with an active disk queue, a DA queue has a minimum of 2 wrkr threads (one for each queue). wrkrmax for mem queue is configu

[2019-03-20 09:01] rgerhards commented on #3452
@jchivian an additional timeout adds additional complexity and costs some performance

@snaix would you like to show the PR or should we close this issue?

[2019-03-20 09:06] rgerhards commented on #3554
missing brace. buggy:
[code]
fixed:
[code]
Hard to detect by parser. Not sure if the current version can generate a better error message, bug I fear that's not the case.

[2019-03-20 11:17] mfeagley commented on #3554
Added ending brace:

{
   if $rawmsg contains "McAfee Endpoint Security" then
   {
      action(type="omfile" fileOwner="splunk" dirOwner="splunk" dirCreateMode="0755" fileCreateMode="0644" dynaFile="endpoint")
   }
}

Error is now:

Mar 20 05:13:13 lacross systemd[1]: Starting System Logging Service...
Mar 20 05:13:13 lacross rsyslogd[2569]:  [origin software="rsyslogd" swVersion="8.24.0-34.el7"

[2019-03-20 11:18] rgerhards commented on #3554
As @davidelang said, it would be useful to have your full config. With just the include file I don't see the issue.

[2019-03-20 11:40] mfeagley commented on #3554
Error is now:

Mar 20 05:37:50 %hostname% rsyslogd[4432]: error during parsing file /etc/rsyslog_tls_splunk.conf, on or before line 80: syntax error on token '' [v8.24.0-34.el7 try http://www.rsyslog.com/e/2207 ]
Mar 20 05:37:50 %hostname% rsyslogd[4432]: CONFIG ERROR: could not interpret master config file '/etc/rsyslog_tls_splunk.conf'. [v8.24.0-34.el7 try http://www.rsyslog.com/e/2207 ]

#
$Max

[2019-03-20 11:44] rgerhards commented on #3554
This is still not the **full** config, just an include file. The problem may exist outside of that file. Include doc: https://www.rsyslog.com/doc/master/rainerscript/include.html

Oh, but I see what happens: you open many more blocks than you close! I use an editor which matches braces, and now the mismatch is on the one before. You need to close each brace that you open.

[2019-03-20 11:52] rgerhards commented on #3554
or better do not use blocks for the else part if what you really want to do is an else-if chain. I have condensed the ruleset definition and remove the (invalid) block structure in else:
[code]
I haven't tested it, but I think it should work. It's so much easier to read as well.

As you only use a single action, you could also reduce the `then` part a bit further:
[code]
You need braces only for b

[2019-03-20 12:01] rgerhards commented on #3554
For further reference. What you actually did looks, with proper indention like this:
[code]
Now it is easy to see that the closing braces are matching.

It saves a lot of trouble if you indent each time you open a brace and go one level back when you close one.

[2019-03-20 12:06] mfeagley commented on #3554
I included:

ruleset(name="writemcafee")
{
   if $rawmsg contains "VirusScan Enterprise" then
      action(type="omfile" fileOwner="splunk" dirOwner="splunk" dirCreateMode="0755" fileCreateMode="0644" dynaFile="virusscan")
   else  if $rawmsg contains "ProductName=*MSME*" then
      action(type="omfile" fileOwner="splunk" dirOwner="splunk" dirCreateMode="0755" fileCreateMode="0644" dynaFile="msme"

[2019-03-20 21:24] jnovack commented on #2611
The `omelasticsearch: could not parse JSON result` seems to be pretty much a catch-all.  I ship thousands of syslogs and I see the message infrequently (otherwise I'd be able to capture the circumstances).

In fact, 30 mins ago, I just hit 5.

[code]

For me, they are always tripped by a bulk insert (`"url": "http://elasticsearch:9200/_bulk?timeout=5s"`) and the answer is always:
[code]

The ES no

[2019-03-20 22:29] davidelang commented on #2611
configure rsyslog to write a failure log, a file that shows the messages that
couldn't be written to elasticsearch. Then you can look at those messages to
figure out what went wrong.

David Lang

[2019-03-20 23:04] jnovack commented on #2611
In my instance (not to hijack the original issue), that error is FROM the errorFile.

[2019-03-21 04:11] hxwang1024 commented on #3542
So sorry,  too busy the last few days. I have send full config to your mail.
Look forward to your reply.

[2019-03-22 13:50] rgerhards opened #3561 "openssl component test fails on Fedora 29"
It looks like there are some problems with the openssl component. This needs to be investigated.

sample: https://build.rsyslog.com/#/builders/197/builds/4

container for reproduction: rsyslog/rsyslog_dev_base_fedora:29

[2019-03-23 21:46] mymtw commented on #3534
same error for ubuntu
[code]
I have installed rsyslog via apt-get wtf?!

[2019-03-23 21:55] davidelang commented on #3534
On Sat, 23 Mar 2019, Igor Komar wrote:

what repo are you using? I believe you need to use the Adiscon (or PPA) repo,
not the stock Ubuntu repo.

David Lang

[2019-03-23 21:57] mymtw commented on #3534
@davidelang thx ofc,
repo `sudo add-apt-repository ppa:adiscon/v8-stable`
as in documentation
I do not know repo `Adiscon`

[2019-03-23 22:04] mymtw commented on #3534
https://github.com/rsyslog/rsyslog-pkg-ubuntu/issues/89

[2019-03-23 22:05] davidelang commented on #3534
and if you do apt search rsyslog what do you get?
a lot of modules require separate packages to be installed.

David Lang

[2019-03-23 22:08] mymtw commented on #3534
@davidelang
[code]

[2019-03-24 01:36] mbonsack commented on #3534
Again, it looks like none of the repos include pre-built modules for omhttp() -- neither ubuntu nor CentOS/RHEL.

[2019-03-24 08:11] hxwang1024 commented on #3542
@rgerhards If you have any question, you can test rsyslog with my full config.

[2019-03-24 08:17] hxwang1024 opened #3562 "how to record rsyslog runtime error log to file."
I want to record rsyslog runtime error log to file. But I don't know how to config.

[2019-03-24 09:58] jgerhards commented on #3534
As i wrote, you need to use the OBS repositories. More info at:
http://jan.gerhards.net/2019/03/rsyslog-packages-on-obs.html

Direct link to repository:

https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog

[2019-03-24 12:09] mymtw commented on #3534
Still do not understand how to fix strange errors about not installed omhttp package for ubuntu

[2019-03-24 13:29] mymtw opened #3563 "could not load module 'omhttp', errors: trying to load module /usr/lib/rsyslog/omhttp.so"
### Expected behavior
It Should work
### Actual behavior
[code]

## Steps to reproduce the behavior
$ repo sudo add-apt-repository ppa:adiscon/v8-stable
as in documentation
https://www.rsyslog.com/ubuntu-repository/
### Environment
- rsyslog version: 8
- platform: ubuntu 18.04
- for configuration questions/issues, include rsyslog.conf and included config files

[2019-03-24 14:27] saurabhnanda opened #3564 "What does error-code LN_WRONGPARSER (-1000) really mean?"
### Expected behavior

`mmnormalize` should successfully parse the log

### Actual behavior

[code]

### Steps to reproduce the behavior

Check out the configuration files below. I am trying to setup rsyslog such that is parses unstructured log messages into structured JSON and inserts them into a Postgres table. But, before that, I just wanted to output parsed JSON into a regular text file, where

[2019-03-24 15:18] mbonsack commented on #3534
Those links do _not_ show show the OP how to get a binary package that includes the omhttp output module.  In fact, when searching this repo, it shows that omhttp_fs_ is available, but not omhttp.  Can you outline the _exact_ steps needed to do download an installation of rsyslog containing this output module?

[2019-03-24 16:28] saurabhnanda commented on #3564
For anyone else who is scratching their heads about this, try the following:

- don't use rawmsg

[code]

- modify your ruleset to remove the prograname, hostname, etc from the prefix:

[code]

[2019-03-24 16:28] #3564 closed

[2019-03-24 16:30] saurabhnanda commented on #1238
I seem to be hitting the exact same bug. I have used `mmnormalize` to parse a log message and want to output the entire JSON to a log file:

[code]

but here's what I see in the debug log:

[code]

... and there is no data in `/var/log/parsed.log`

I've tried sending a SIGHUP to rsyslogd, but that didn't help.

[2019-03-24 17:39] rgerhards commented on #3542
busy... how do you test rsyslog w/ wrk? Is it a syslog sender, doesn't look so...

[2019-03-24 19:18] davidelang commented on #3564
asyou figured out, your pattern doesn't match rawmsg, probably because of the
<pri> at the beginning of the actual rawmsg

when you have problems like this, write a log with the template
RSYSLOG_DebugFormat just before you try parsing the messages, that will let you
see exactly what you are working with.

Personally, since some messages may arrive with the old format, some with the
new, and some m

[2019-03-24 19:20] davidelang commented on #1238
Please create a log with the template RSYSLOG_DebugFormat at this point in your
ruleset so we can see exactly what the variables are at that point in
processing.

David Lang

[2019-03-25 03:14] saurabhnanda commented on #1238
Here's the output of `RSYSLOG_DebugFormat`:

[code]

Here's how this debug log was generated:

[code]

PS: From the docs at https://www.rsyslog.com/doc/v8-stable/configuration/templates.html , it isn't very clear whether `RSYSLOG_DebugFormat` is something that is pre-defined or is recommended to be manually defined as given in the docs.

[2019-03-25 08:16] rgerhards commented on #3534
using a docker container and following the instructions from posted link:
[code]
This was on Ubuntu 16.04 (`docker run ubuntu:16.04`).

[2019-03-25 08:19] mymtw commented on #3534
@rgerhards
mtw@mtw:/etc/rsyslog.d$ sudo apt-get install rsyslog-omhttp
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package rsyslog-omhttp

[2019-03-25 08:21] rgerhards commented on #3534
platform? did you all steps I did - most importantly add the **right** repository?

[2019-03-25 08:21] mymtw commented on #3534
18.04 ...

[2019-03-25 08:25] mymtw commented on #3534
sorry, it installed, but, I still get same error:
[code]

[2019-03-25 08:29] rgerhards commented on #3534
aha! This is interesting. Let's check what can be the cause.

[2019-03-25 08:31] rgerhards commented on #3534
pls do: `sudo dpkg -l|grep rsyslog`

[2019-03-25 08:32] mymtw commented on #3534
[code]

[2019-03-25 08:35] rgerhards commented on #3534
not sure if that is the best way to list install sources, but pls do `grep "deb " /etc/apt/sources.list /etc/apt/sources.list.d/*`

[2019-03-25 08:36] mymtw commented on #3534
`/etc/apt/sources.list.d/home:rgerhards.list:deb http://download.opensuse.org/repositories/home:/rgerhards/xUbuntu_16.04/ /
`

[2019-03-25 08:49] mymtw commented on #3534
maybe smth wrong with my config
[code]

[2019-03-25 08:52] rgerhards commented on #3534
interesting use case! I wish we would know more about such use cases so that they could be documented...

On the problem: I think it's packaging related. Unfortunately, this is the first report, so we need to investigate (alongside with the other activities).

[2019-03-25 12:42] Karl90 commented on #3452
Dear @snaix , we have detected the same situation,
Please, can you share the PR?

Thanks in advance!

[2019-03-25 14:35] mbonsack commented on #3534
I have two questions:

1. What does the package listing (still) show "contributed" for omhttp?  I thought it was released to master:
rsyslog-omhttp                            8.1903.0-1                                  amd64        omhttp module (contributed).
2. Why, when you search here:
https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog
does omhttpfs show up,

[2019-03-25 14:55] rgerhards commented on #3534
because there is nobody on the rsyslog core team who maintains it. for contributed modules, we can not guarantee they are maintained.

I don't know - as I said a myriad of times, we are not packagers. And nobody wants to help with packaging. Maybe we should stop providing binary packages, it gets more any more annoying.

It would help if you folllowed the posted links and actually read them. Does

[2019-03-25 15:46] mbonsack commented on #3534
OK, at least in my case I believe I have it sorted; I'll also respond to rgherhards comments above:
1.  I thought when a module transitioned to "master", that the core team _did_ maintain it.  I apologize if this is not the case.
2.  I am a simple administrator who simply wants to use what I thought was a new capability in the core product.  Packaging in OSS is a challenging thing; I understand yo

[2019-03-25 16:54] #3561 closed

[2019-03-25 20:48] JackSlateur opened #3567 "Get certificate common name in template"
Hi,

Today, I am using a template on a rsyslog server to split out files based on where they came. RELP over TLS is used.
This template uses the `%hostname%` property
However, it is known that this property is not trustworthy : the syslog client can put whatever it wants here.

https://github.com/rsyslog/rsyslog/issues/436 wants to enforce the hostname, as it must be equal to the certificate's com

[2019-03-26 13:26] malsumis commented on #3552
sorry about the late response. Actually we are using the adiscon PPA and running rsyslog in a docker.

[2019-03-26 13:55] DpoBoceka opened #3569 "Grouping similiar messages by identical field set"
Is it possible to group, say, firewall messages by the same ip_dest && port_dest && ip_src values?
I need to combine those messages into single one with enumeration  of used source ports.

[2019-03-26 14:47] kulikjak opened #3570 "Some tests are failing on Solaris SPARC"
Hi,

since 8.1903.0, we have four tests fail on SPARC version of Solaris. Those tests are:

- diskqueue.sh
- rsf_getenv.sh
- queue-persist.sh
- rcvr_fail_restore.sh

Since all of them seem to have the same problem, I debugged **diskqueue.sh** only.

All tests fail during `seq_check` and the reason is, that output log contains `00` lines (sometimes only those, sometimes there are also correct lines

[2019-03-26 14:49] kulikjak commented on #3570
Oh, I forgot to attach full logs:

[diskqueue.log](https://github.com/rsyslog/rsyslog/files/3008661/diskqueue.log)
[example.out.log](https://github.com/rsyslog/rsyslog/files/3008664/example.out.log)

[2019-03-26 16:02] malsumis commented on #3552
Ok, I have re-run rsyslog 8.1903 under valgrind and I think that now all debug symbols are present. You can view it at https://bpaste.net/show/d4aa67b0dca3

[2019-03-26 16:09] davidelang commented on #3569
what do you mean by 'combine these messages'?

do you mean to combine them into one file or into one message?

David Lang

On Tue, 26 Mar 2019, DpoBoceka wrote:

[2019-03-26 17:07] rgerhards commented on #3552
Just a sample from the log to keep a permanent record:
[code]

[2019-03-26 17:07] rgerhards commented on #3552
@malsumis thx - this is useful!

[2019-03-26 17:09] rgerhards commented on #3552
@malsumis if you compile on your workstation, it would be great if you could add `-g` to your `CFLAGS`, e.g.:
[code]
This would give us line number information. Not absolutely vital, but at least nice to have.

[2019-03-26 18:04] DpoBoceka commented on #3569
I meant into one message. Basically, I'd discard every message that meets the filter and produce just one message every "t" time or every "n" grouped messages.
So I just need a message with an array of src_ports instead having many of them separately

[2019-03-26 19:59] davidelang commented on #3569
Rsyslog operates on each message individually (and potentially in parallel),
what you are looking for is event correlation, which is not what rsyslog is
designed for.

depending on exactly what you are looking for, you may be able to use the
dyn_stats to create counts for messages and periodically output one message with
that info in it. Search for the impstats module and dyn_stats to set your own

[2019-03-27 06:29] malsumis commented on #3552
Sure, no problem.  See attached file.
[valgrind.txt](https://github.com/rsyslog/rsyslog/files/3011814/valgrind.txt)

[2019-03-27 08:05] DpoBoceka commented on #3569
Yes, I've seen through dyn_stats topic already, but it does counting, not consolidation.
Thank you for advices!

[2019-03-27 08:05] #3569 closed

[2019-03-27 09:44] hxwang1024 commented on #3542
wrk->nginx->rsyslog

[2019-03-27 10:15] mbiebl commented on #3570
I think I ran into the same issue on Debian, see e.g.
https://buildd.debian.org/status/fetch.php?pkg=rsyslog&arch=sparc64&ver=8.1903.0-2&stamp=1553601459&raw=0
(it also failed on various other architectures like mips, s390x, ppc64, ...)

A git bisect pointed at 1255a67fdec2fc44cd49b6ea8c463f4319910812 as the first faulty commit and it helped reverting that commit which I did in https://salsa.debia

[2019-03-27 10:49] chenbowalker commented on #322
apt-get install libjson-c-dev

[2019-03-27 10:59] rgerhards commented on #3570
@jvymazal can you have a look at 1255a67? I admit I have no idea why it creates this types of problems, but it seems to do so. Did you test it on RHEL on s390? If not, could you do? @mbiebl reproduces it reliably on s390x in debian build farm.

[2019-03-27 11:12] Grummfy opened #3571 "logger doesn't send message anymore soince version 8.32 on centos"
### Expected behavior
logger outputed in /var/log/messages

### Actual behavior
no output

### Steps to reproduce the behavior
* install centos 7 (in my case *CentOS Linux release 7.6.1810 (Core)* )
* use ```logger something``` command
* see it appears in /var/log/messages
* add adiscon repository (wget http://rpms.adiscon.com/v8-stable/rsyslog.repo + update)
* use ```logger something``` command
*

[2019-03-27 12:04] kulikjak commented on #3570
I tried it with given change reverted and now all tests pass. Although I also don't know why exactly is this a problem for sparc...

[2019-03-27 12:41] rgerhards commented on #3571
@friedl can you have a look please?

[2019-03-27 13:14] jvymazal commented on #3570
@rgerhards thanks for notice, I do not understand it any better then you, but I will try to figure something out. I never touched solaris/sparc, but I think I can get some s390x RHEL if I try...

[2019-03-27 16:39] rhessing commented on #1507
"If you tell rsyslog not to loose any messages, and it can't deliver the messages, all it can do is hang onto them until it fills up it's queues"

I beg to differ. Basically what you are saying is that your software is more important then the soul reason why the server is being used in the first place. Wrong configuration should cause an application to crash not the entire system to go down or to

[2019-03-27 17:30] rhessing opened #3572 "[Documentation enhancement] Server hangs due to rsyslog runs out of queue space"
I've noticed that when the remote syslog server is not available rsyslog will 'hang on' to the logs until it is back online. However, if the queue runs out of queue space then the inputs begin to block,  which causes the log socket to block and finally the apps (including the kernel) that write to the log socket will hang causing a system wide hang.

According to other issues in regards to this to

[2019-03-27 17:49] rgerhards commented on #3572
It's not actually blocking, but the main queue timeout is 2sec (per msg). So it drains veeery slowly.

ack - are you up for a PR?

[2019-03-27 17:49] rgerhards commented on #3572
doc source is here, just in case: https://github.com/rsyslog/rsyslog-doc

[2019-03-27 20:41] davidelang commented on #1507
You misunderstand me.

Rsyslog cannot make assumptions about what you really want, it can only do what
you tell it to.

If you tell it you don't want to loose any messages, Rsyslog is not going to
decide that you didn't really mean it and that it should throw away logs.
Rsyslog is going to believe your instructions.

The syslog spec for writing to /dev/log has no feedback mechanism to tell the
pro

[2019-03-28 03:36] snaix opened #3573 "Wrong semantics in omelasticsearch createMsgFromRequest()"
### Expected behavior
As createMsgFromRequest() comment said in plugins/omelasticsearch.c :

An expected behavior is rsyslog can get rawmsg as data part.

### Actual behavior
Only message format that contains "message" filed can be extracted from request, but not for custom message format.
If there is no message field, all request text will be filled for rawmsg.
It's confusing when use omelasticse

[2019-03-28 03:40] davidelang commented on #3573
can you please show a message written with the RSYSLOG_DebugFormat that has the
problem you are describing?

I am not understanding the issue.

David Lang

[2019-03-28 03:56] snaix commented on #3573
For instance:
I have a ruleset A for a normal omelasticsearch action, and another ruleset B for retryRuleset when  omelasticsearch failed for 429 status .
Obviously, the original, failed message  from ruleset A is needed in ruleset B .
Current, ruleset B extract the original message from elasticsearch reqeuset like:

The original message is the data part, we needed:

But only data part contains "m

[2019-03-28 07:35] rgerhards commented on #3573
I admit I do not fully understand the question. @richm I guess you can shed some light?

[2019-03-28 07:46] rgerhards commented on #3570
I may be able to reproduce this on a OpenCSW-provided Solaris builder. It's unfortunately a very slow machine, so it cannot run the testsuite by default. I let you know how this works out.

[2019-03-28 08:19] rgerhards commented on #3570
good news: looks like I can reproduce it inside CI! https://build.rsyslog.com/#/builders/96/builds/2116/steps/6/logs/test-suite_log

[2019-03-28 09:46] rhessing commented on #3572
Sure, I'll create a PR

[2019-03-29 03:00] richm commented on #3573
The problem is here:
[code]
If the original request has a field `"message"` we use the value of that field as the `$rawmsg` value for the record.  If it did not have  `"message"`, we just use the entire request - the metadata + the data.  I'm not sure, but I'm guessing the presence of the extra newline `\n` in the rawmsg causes problems when the data is resent to Elasticsearch?  Are you sending th

[2019-03-29 08:45] questmaster opened #3576 "Module omhttp not included in omhttp package for debian"
### Expected behavior
Installing rsyslog-omhttp package for Debian 9 from https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog#
should include omhttp.so module to be used with rsyslog.

### Actual behavior
omhttp.so module is not included. rsyslog cannot use/load/find omhttp module.

### Steps to reproduce the behavior
Install rsyslog-omhttp package from apt source

[2019-03-29 11:26] dwerder commented on #1463
Is there any progress on that issue? We have the same problem, with staled omrelp connection, which never get re-established.

[2019-03-29 21:26] richm commented on #3573
@snaix if you are able to run from source, please try https://github.com/rsyslog/rsyslog/pull/3577

[2019-03-30 23:02] Thermi opened #3578 "imjournal crash on rsyslog start"
### Expected behavior
No crash.
### Actual behavior
Crash.
### Steps to reproduce the behavior
Unknown, possibly cause an invalid journal file to exist by, for example, crashing the device.

### Environment
[code]

[code]

Binary files:
[core.rsyslogd.0.71eb1def632843d2969cfe61b95c0bf1.9262.1553986598000000.zip](https://github.com/rsyslog/rsyslog/files/3026052/core.rsyslogd.0.71eb1def632843d2969cf

[2019-03-30 23:27] #3458 closed

[2019-04-01 08:54] huoarter opened #3580 "discardTruncatedMsg bug that caused the log format to be garbled"
### Expected behavior
The docker log is transferred to rsyslog, rsyslog trims the data so that the single-line log is less than 64k.However, after the first line of the multi-line log pruning data, the following lines of the log will add characters to change the programname, causing the rsyslog to match the log of the specified programname.
### Actual behavior
Only trim the current line log, it do

[2019-04-01 09:00] rgerhards commented on #3580
does this happen with the current version (as of this writing: 8.1903.0) as well?

[2019-04-02 05:53] huoarter commented on #3580
My rsyslog version:
[code]

[2019-04-02 06:11] huoarter commented on #3580
Thank you for your help in your busy schedule.
I upgraded rsyslog to the new version （ 8.1903.0. The same problem is still exists.
The error message:
[code]

[2019-04-02 09:23] #3570 closed

[2019-04-02 16:32] davidelang opened #3584 "have a flag to have the config optimizer output what it generates"
wishlist item.

Add a flag that would cause the config optimizer to output a config file (probably using the new syntax) that is the functional equivalent of what it just parsed.

This will not always be the most human understandable, but it would make it easy to convert configs and may help make it more clear what's happening when a config isn't doing what the admin expects.

[2019-04-03 14:03] rgerhards commented on #1503
potentially fixed by https://github.com/rsyslog/rsyslog/pull/3535

[2019-04-03 15:36] snaix opened #3586 "rsyslog crash when using omelasticsearch"
### Expected behavior
A normal omelasticsearch behavior
### Actual behavior
Crash in computeMessageSize() at  omelasticsearch.c:650, because of an illegal action param.

The omelasticsearch config like: dynSearchIndex = "on", searchIndex ="foo(template name)", template = "bar"
so we have two templates in one action.

the call stack is:
[code]

In coredump file, I saw that a wrong iparam content in

[2019-04-03 16:27] darakian commented on #3534
@rgerhards Not to badger, but is the plan to not include omhttp in the rsyslog repos for the foreseeable future? I wouldn't mind helping with the packaging process, but I'm also have zero packaging experience.

[2019-04-03 16:37] rgerhards commented on #3534
Well, the OBS repository **is** a rsyslog repo. The plan is to transfer all package build to it and dump the legacy ones. But we probably need to have a larger discussion as nobody seems to want to help - so probably goodby to the idea to provide packages not only for Ubuntu and CentOS.

[2019-04-03 16:49] darakian commented on #3534
Yes, but the omttp package isn't in the OBS repo.
https://download.opensuse.org/repositories/home:/rgerhards/CentOS_6/x86_64/
Listing the packages I see
[code]

[2019-04-03 16:55] mbonsack commented on #3534
@darakian It's in the CentOS 7 one though.  Dependencies may be inhibiting its inclusion in CentOS 6.  Where _I_ have the problem is that the kafka destination is in one repo, and the http one in another.  And the base rsyslog packages are named differently, so you can't install one with the other!

[2019-04-03 16:57] darakian commented on #3534
Ah, so it is. Thanks for the clarification @mbonsack

[2019-04-03 19:23] davidelang commented on #3534
On Wed, 3 Apr 2019, mbonsack wrote:

This is why we need someone to help with this. Is there anyone who either knows,
or has time to dig in and learn the OBS stuff to figure out what's happening?

David Lang

[2019-04-03 19:30] mbonsack commented on #3534
I'm with @darakian; I have no packaging experience and would be starting from ground zero.

[2019-04-03 19:37] davidelang commented on #3534
On Wed, 3 Apr 2019, mbonsack wrote:

Even starting from ground zero, if you have the time and interest to figure it
out you can be a big help. Rainer is pulled in many directions, and I'd
(somewhat selfishly) prefer that he work on core rsyslog functionality and
bugfixes rather than fighting to figure out OBS :-)

we all had to start somewhere. I have made packages that work in my environment,
but

[2019-04-03 20:01] rgerhards commented on #3534
Sent from phone, thus brief.

David Lang <notifications@github.com> schrieb am Mi., 3. Apr. 2019, 21:23:

Kafka is a different beast. The version of the client library (librdkafka)
that is in most distros segfaults and/or leaks memory and/or loses
messages. Adiscon has done some quite dirty tricks to create a
rsyslog-kafka package that works.

I don't like to reproduce this. We really need help th

[2019-04-03 21:07] mbonsack commented on #3534
Are you saying Adiscon had to create code to work around librdkafka bugs, or did you rewrite portions of librdkafka and ship that, or both?

[2019-04-04 04:15] huoarter commented on #3580
@rgerhards  Hello, new version, I can still measure the problem.

[2019-04-04 07:39] rgerhards commented on #3534
El mié., 3 abr. 2019 a las 23:08, mbonsack (<notifications@github.com>)
escribió:

Neither - we just use the current version ;-) Distros tend to ship buggy
old versions with only commonly visible bugs fixed.

BUT: this means we need to package librdkafka, and that opens a can of
worms. If I have time, I'll describe it in more depth. Its along the same
issue why omhttp will not work on CentOS6 - th

[2019-04-04 07:47] rgerhards commented on #3580
great, so we know it's not an already-fixed issue. Could you create and post a debug log of when this happens? https://www.rsyslog.com/doc/v8-stable/troubleshooting/howtodebug.html

[2019-04-04 08:44] rgerhards commented on #3584
This would be good to have, but it's much more work that  it looks. It requires changes to the plugin interface and upgrades to rsyslog core and plugins. The point is that plugins keep part of the config, so they need to collaborate in re-createing the conf. Also, the plugin compiles a final config, but at that stage we do not know if that is the result of a) code default, b) module parameter, c)

[2019-04-04 08:59] alorbach opened #3587 "openssl: check for random SSL_ERROR_SYSCALL errors on fedora 29"
When build machines are on load, openssl tests appear to fail random with SSL_ERROR_SYSCALL on fedory 29, sample buildlog:
https://build.rsyslog.com/#/builders/197/builds/99/steps/4/logs/test-suite_log

[2019-04-04 09:01] davidelang commented on #3584
On Thu, 4 Apr 2019, Rainer Gerhards wrote:

I would say to take the easy way out and assume that whatever is set at the
lowest level possible, and set explicitly.

yes, this is wasteful as you are explicitly setting things that are default, and
you set things many times when you could set them once, but as an educational
matter, this is actually useful to see what the defaults are and what the
res

[2019-04-04 09:02] rgerhards commented on #3584
sounds good - I'll see if I can do it as a side-activity.

[2019-04-04 09:02] rgerhards commented on #3584
milestone assigned as **reminder only** ;-)

[2019-04-04 09:06] davidelang commented on #3584
at some point in the distant future, having an option to create the minimum
config that matches (taking into account defaults and inherited paramters) is a
nice to have, but I see it as more valuable to get a dump that shows the most
verbose config, making zero assumptions about defaults because it can show the
admin that something is going on that they didn't know about (because of
defaults or in

[2019-04-04 10:28] antry opened #3588 "omkafka: not detect all brokers failure."
### Expected behavior
When all kafka brokers down switch to failover due to suspend message.

### Actual behavior
When all kafka brokers down and rsyslog restarted  outgoing queue start increasing in omkafka
and no messages suspended and didn't switch to failover.
librdkafa 0.11.5 return no error in case if all brokers down.
starting with librdkafa 0.11.6 error code KAFKA_RESP_ERR__ALL_BROKERS_DOW

[2019-04-04 14:03] rgerhards commented on #1503
#3535 caused quite some issues, as it rapidly break connections. So I reverted it. Back to previous state...

[2019-04-04 14:04] alorbach commented on #1503
@Arnix: Can you check if our last PR3565 fixes your problem? As Rainer wrote we had to revert your PR3535 as it broke sender connection checking.

[2019-04-04 14:05] rgerhards commented on #3587
regression from #3535

[2019-04-05 04:41] huoarter commented on #3580
[rsyslog.debug.log](https://github.com/rsyslog/rsyslog/files/3046366/rsyslog.debug.log)
Thanks again. This is my a debug log.

[2019-04-05 05:27] minhtuanmt1 opened #3592 "Can't use $msgid to filter rsyslog message"
Hi All,

I'm using rsyslog 8.4.0 and try to log a msg with RFC5424 with msgid.
For example:
logger "Testing testing" --msgid "testmsgid" --rfc5424

But when I configure the rsyslog.conf to filter the msg base on msgid, I can't see that log msg.
Here is my rsyslog.conf
if $msgid contains "testmsgid" then {
    *.* /var/log/test.log
}

I still can see "testmsgid" in the rawmsg, but I can fetch it vi

[2019-04-05 07:19] rgerhards opened #3594 "imdocker: Coverity-detected issues"
unfortunately, Coverity scan can only be run "after the fact" and not as part of CI. So it now reports problem with `imdocker`, which has recently merged:
[code]

@n2yen can you have a look? I can enable full access to coverity, which usually is pretty helpful. Just request it.  rsyslog homepage on Coverity: https://scan.coverity.com/projects/rsyslog-rsyslog

[2019-04-05 07:53] #3587 closed

[2019-04-05 08:06] rgerhards commented on #3592
Not sure if the old version supports that, but in current rsyslog you can disable the special parser:
[code]
more info: https://www.rsyslog.com/doc/v8-stable/configuration/modules/imuxsock.html

[2019-04-05 08:14] rgerhards commented on #3580
Thx, looks useful on first look.

[2019-04-05 08:19] rgerhards commented on #3580
mhhh... strange. I don't see why it does not work and also cannot reproduce. Can you submit a debug log that contains rsyslog startup as well (some info is only emitted on startup).

[2019-04-05 11:21] davidelang commented on #3592
Please write a test log using the template RSYSLOG_DebugFormat, that will show
us exactly what you are receiving and then we can figure out what's happening.

David Lang

[2019-04-05 11:57] rgerhards opened #3596 "imdocker: unit tests do not run and cause testbench failure"
#3330 introduced imdocker plus tests. Unfortunately only after merge it appears that `imdocker-unittests` does not work because they seem to be disabled. This causes rsyslog to hang (and the test invalidly return SUCCESS) and that in turn aborts other tests because of the core file.

@n2yen can you please check and suggest how we can proceed? PR would be best.

For the time being, I'll disable the

[2019-04-05 15:08] n2yen commented on #3596
@rgerhards I will have a look and produce a pr. I’m actually not sure if the specific test ‘imdocker-unittests’ is still needed as imdocker-basic and imdocker-long-logline do a better job.

[2019-04-05 15:10] rgerhards commented on #3596
If that is the case, we may consider removing the unit test plumbing completely - don't keep no longer used things inside code, they'll bite sooner or later ;-)

[2019-04-05 15:14] n2yen commented on #3596
Yes, agreed.

[2019-04-05 20:25] Whissi opened #3599 "omhttp fails tests with Python 3"
All omhttp tests are failing on Gentoo. Example output:
[code]
Python 3.6 incompatibility?

[2019-04-06 02:29] saurabhnanda opened #3601 "Unable to define a "catch-all" input in new configuration syntax"
### Expected behavior

**All** messages should be output to `/tmp/debug.log`

### Actual behavior

_Most_ messages are being output to `/tmp/debug.log` **except** those generated by the `znapzend` program.

Messages generated by the `znapzend` programs seem to be matching the following config line written in the old syntax...

[code]

...but do not seem to be matching the following config written

[2019-04-06 04:12] davidelang commented on #3601
do you have systemd running on your system? if so, it takes over /dev/log and
you have to fetch the messages from journald.

try writing logs using the template RSYSLOG_DebugFormat so that we can see what
one of the logs you are missing looks like

the fact that you have imuxsock loaded with the old syntax (which defaults to
listening to /dev/log) and then have another input for /dev/log added may

[2019-04-06 05:29] huoarter commented on #3580
[rsyslog.debug.log](https://github.com/rsyslog/rsyslog/files/3050186/rsyslog.debug.log)
Dear, this is all the debug logs you want from the start.

[2019-04-06 06:02] saurabhnanda opened #3602 "Correct way of parsing "timereported" from an external log file?"
### Question

When the `imfile` is used in conjunction with `mmnormalize`, what is the correct way?
### Expected behavior

Logs should be inserted in the DB with `timereported` timestamp (as parsed from the input file).

### Actual behavior

`timereported` is being ignored, and current-time is being used instead.

### Steps to reproduce the behavior

Configuration given below.

### Environment
- r

[2019-04-06 06:02] saurabhnanda commented on #3602
Submitted incomplete description. Still editing...

[2019-04-06 06:14] saurabhnanda commented on #3602
Okay - I have completed the issue description. Help would be appreciated.

[2019-04-06 06:19] saurabhnanda commented on #3601
Yes, I have systemd running. If it takes over `/dev/log`, how is the following working in all cases _except` znapzend?

[code]

I've tried that by making this the first action within the ruleset, but it seems to be working for everything _except_ znapzend:

[code]

Will try this, but if this is a misconfiguration, shouldn't this behave similarly for every log source? Now that I think about it, is

[2019-04-06 06:43] davidelang commented on #3601
On Fri, 5 Apr 2019, Saurabh Nanda wrote:

thanks to journald, /dev/log doesn't go directly to rsyslog, it goes to journald
which then sends it to another socket.

in addition, you have two statement that listen to /dev/log, one going to the
default ruleset, one going to the dbrules ruleset. This can create race
conditions as to where the messages go.

I don't know that app, so I don't know how it'

[2019-04-06 07:34] saurabhnanda commented on #3601
It's pretty interesting that this is causing a race condition for _exactly_ the znapzend program. Btw, shouldn't rsyslog refuse to start if this one input is attached to multiple rulesets (if that is known to cause bizarre behaviour?)

Isn't the `*.*` part supposed to be conceptually similar to `input(type=...)` ? Or, am I confused?

Btw, I've tried a simplified log format, where I've commented ou

[2019-04-06 07:35] saurabhnanda commented on #3601
Again, I can re-confirm -- it's ONLY the following line that is able to process incoming log messages from znapzend. If you remove this line, logs from znapzend are lost.

[code]

[2019-04-06 07:43] saurabhnanda commented on #3601
Okay, now I have the following config _outline_ with TWO debug actions:

[code]

And I can confirm that znapzend logs are showing up ONLY in /tmp/debug2.log and NOT in /tmp/debug.log. Here's what shows up in /tmp/debug2.log:

[code]

If I compare this with a cron log from /tmp/debug.log...

[code]

...I see no reason why the znapzend logs should behave so differently. Am I missing anything?

[2019-04-06 08:36] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

I don't know what's going on with that one type.

no, input() is defining a source of logs. Any logs from this source are added to
the queue

*.* is a filter for which of the logs that are in the queue and being processed
should by output by this action() statement

*.* is everything, so you can just leave it out in the new format

the equivalent of

*.*;a

[2019-04-06 08:37] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

This tells me nothing because I don't know what ruleset this is part of or what
inputs feed into that ruleset.

David Lang

[2019-04-06 08:39] saurabhnanda commented on #3601
Does https://github.com/rsyslog/rsyslog/issues/3601#issuecomment-480483200 give enough context about the config? Or should I post all config files here?

[2019-04-06 08:42] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

ok, this says that it's on the input imuxsock, but it's not being written inside
the dbrules ruleset, it's being written by the default ruleset, so that says
that the log messages are not being processed by your input line. This may be
because your module load is grabbing /dev/log. And I have no idea why it would
be doing so for only some sources of logs a

[2019-04-06 08:43] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

Since you are changing the config, please post the full config you are currently
testing here (probably after you make the changes that I just outlined in
another e-mail)

David Lang

[2019-04-06 09:05] saurabhnanda commented on #3601
I have a feeling the subtle difference in behaviour is due to this line in the docs:

In my case, I can confirm that `/run/systemd/journal/syslog` exists. Further, `dbrules` ruleset is explicitly binding to `/dev/log`. I tried removing the `socket` param, but it doesn't work:

[code]

So, we're looking at two things, which are subtly different:

- the `dbrules` ruleset that is explicitly bound to

[2019-04-06 09:12] saurabhnanda commented on #3601
I tried the following...

[code]

... but it's throwing the following error:

[code]

[2019-04-06 09:17] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

try doing

lsof |grep /dev/log

and see what is returned

I believe that you will need to set SysSock.use='no' in the module() statement
(replacing the $modload line from your original config), and then you can set an
input statement that binds to /dev/log with a ruleset defined. Although, since
journald has already grabbed /dev/log, I think you are going

[2019-04-06 09:18] davidelang commented on #3601
On Sat, 6 Apr 2019, Saurabh Nanda wrote:

SysSock.Use is a parameter for the module() command, not for the input()
command.

David Lang

[2019-04-06 16:22] zhang-jc commented on #3534
I have compiled omhttp.so successfully. You can download it for CentOS 6.5 from http://zhang-jc.github.io/2019/04/06/CentOS-6-5-%E7%BC%96%E8%AF%91-omhttp-so-%E4%B8%8B%E8%BD%BD/.

[2019-04-06 18:15] rgerhards commented on #3534
How did you solve the libcurl issue?

Sent from phone, thus brief.

zhang-jc <notifications@github.com> schrieb am Sa., 6. Apr. 2019, 18:22:

[2019-04-06 21:40] questmaster commented on #3576
Is there a way to contribute a PR to the debian package config?

I checked the debian/rules file and there is a `--enable-omhttp` missing for the parameters of `configure` to build the omhttp.so module.
Additionally a `rsyslog-omhttp.install` file has to be added with the following content to include the built module into the deb-package.

[2019-04-08 04:44] saurabhnanda commented on #3601
So, if I'm understanding this correctly, the `$ModLoad imuxsock` directive (or the equivalent in new syntax), not only loads the module, but also establishes an input channel, right? And the exact input that this establishes, in presence of `systemd`, is governed by the complex set of rules specified at https://www.rsyslog.com/doc/v8-stable/configuration/modules/imuxsock.html#imuxsock-systemd-deta

[2019-04-08 04:56] davidelang commented on #3601
On Sun, 7 Apr 2019, Saurabh Nanda wrote:

you can't.

you can tell the module() command to not implicitly define this input and then
define it yourself (where you can specify a ruleset)

David Lang

[2019-04-08 06:17] saurabhnanda commented on #3601
I am trying to make sense of https://www.freedesktop.org/wiki/Software/systemd/syslog/ Do you know what the following means...

..especially the following sentence:

You can't bind to /dev/log because you will lose logs sent to STDOUT and STDERR. But  you cannot bind to /run/systemd/journal/syslog as well. What exactly do you bind to, then?

[2019-04-08 06:21] saurabhnanda commented on #3601
I can confirm that the following works, but I am not sure if this is the best way to achieve this. Any thoughts?

[code]

[2019-04-08 06:22] saurabhnanda commented on #3602
Any thoughts on this?

[2019-04-08 06:45] saurabhnanda commented on #3601
I found a problem, the following command used to work earlier, but with the new config, it throws as an error:

[code]

[2019-04-08 07:50] rgerhards commented on #3576
improvement to the packaging would be appreciated. Please create a "PR" via OBS. Instructions are found on that platform (I am far from being an expert as well).

[2019-04-08 07:55] rgerhards commented on #3576
side-note: as far as I can see, the package is actually there. http://download.opensuse.org/repositories/home:/rgerhards/Debian_9.0/i386/

Which error do you get when you try to install it?

[2019-04-08 08:20] Dinesh-Ramakrishnan opened #3605 "Option to configure TLS version"
Is it possible to configure the minimum TLS version supported by rsyslog?

For eg., we would like an option to choose one of the following

TLS 1.0   ( this should allow TLS connection over version 1.0, 1.1,1.2 and future version)
TLS 1.1   ( this should allow TLS connection over version 1.1,1.2 and future version)
TLS 1.2   ( this should allow TLS connection over version 1.2 and future version)

[2019-04-08 08:33] rgerhards commented on #3573
closed via #3577

[2019-04-08 08:33] #3573 closed

[2019-04-08 11:29] lingtjien opened #3606 "How to single instance an external plugin?"
How do I tell rsyslog to only run a single instance of an external plugin? The [threading section](https://github.com/rsyslog/rsyslog/blob/master/plugins/external/INTERFACE.md#threading-model) only tells me it's possible but it doesn't tell me how to do it. (If this has already been answered then please feel free to close this issue and direct me to that issue, but I wasn't able to find it)

[2019-04-08 13:49] davidelang commented on #3601
On Sun, 7 Apr 2019, Saurabh Nanda wrote:

you can either bind to /run/systemd/journal/syslog where journald sends a copy
of the logs, or you use imjournal (which is what most people do) to use the
systemd APIs to get the logs.

David Lang

[2019-04-08 13:50] davidelang commented on #3601
On Mon, 8 Apr 2019, Saurabh Nanda wrote:

you either do this or you use imjournald instead of imuxsock

test both, and watch the CPU usage of not only rsyslog, but also of journald to
compare the load.

David Lang

[2019-04-08 14:00] davidelang commented on #3605
rsyslog has the option to pass a config string to gnutls or openssl, that can
set this (but you would need to look at the documentation for those libraries to
see how to do this config)

David Lang

[2019-04-08 14:03] davidelang commented on #3601
that is a systemd problem, it's what manages /dev/log

I would love to know how you managed to disable this.

David Lang

On Sun, 7 Apr 2019, Saurabh Nanda wrote:

[2019-04-08 14:03] davidelang commented on #3606
unless you configure multiple threads, it will be single threaded by default.

David Lang

[2019-04-08 18:10] questmaster commented on #3576
Yes the package is there, but when you list its contents with `dpkg -c <package>.deb` there is no omhttp.so included. So, the module is not installed.

I'll check OBS for PR instructions...

[2019-04-08 18:52] questmaster commented on #3576
Created request on OBS -> https://build.opensuse.org/request/show/692361

[2019-04-09 02:08] saurabhnanda commented on #3601
I think I understood how I managed to get my system in such a horribly confused state.

- after a fresh reboot, `/dev/log` is a symlink to `/run/systemd/journal/dev-log` and `lsof | grep /dev/log` proves that no process is explicitly listening to `/dev/log`

[code]

- however, during my experimentation, I ended up doing the following, which clobbered the `/dev/log` symlink and created a fresh sock

[2019-04-09 02:20] davidelang commented on #3601
glad that you have things working.

going back to the original problem, with rsyslog and systemd fighting each other
for ownership of /dev/log, I'll bet that the app you weren't seeing was getting
it's logs to journald while everything else was going to rsyslog due to the race
condition of when each app started and what /dev/log looked like at that point
in time.

David Lang

[2019-04-09 03:59] saurabhnanda commented on #3601
I think here's what was happening originally:

- the default ruleset was bound to `/run/systemd/journal/syslog` which is why the following was receiving `znapzend` logs (probably because that's where znapzend sends them, by default):

[code]

- however, since the `dbrules` ruleset was explicitly bound to `/dev/log` **and** it ended up breaking the `/dev/log -> /run/systemd/journal/syslog` symlink,

[2019-04-09 04:03] saurabhnanda opened #3607 "Possible bug wrt overwriting existing socket files and not cleaning up properly"
Following up from https://github.com/rsyslog/rsyslog/issues/3601#issuecomment-481073354

### Expected behavior

- Ideally if the socket already exists, rsyslog should fail with an error message, unless some parameter _explicitly forcing_ clobbering of existing files is enabled.
- Upon exit (or restart), the socket should be cleaned-up as mentioned at https://www.rsyslog.com/doc/v8-stable/configura

[2019-04-09 07:46] lingtjien commented on #3606
Okay thank you, while I was reading this section I got the impression that it would always spawn multiple instances when needed.

[2019-04-09 10:43] rgerhards commented on #3576
@questmaster Thanks a lot, much appreciated! Just merged it, package rebuild is in process. It would be great if you would also be interested in helping with the packaging project in general - we really need some help here.

[2019-04-09 10:43] #3576 closed

[2019-04-09 11:04] alorbach commented on #3605
Technically that won't be a problem if we implement SSL_CONF_cmd API and pass parameters described here: https://www.openssl.org/docs/man1.1.1/man3/SSL_CONF_cmd.html

For example setting Protocol to: ALL,-SSLv2,-SSLv3,-TLSv1,-TLSv1.1
Would allow all protocols except for:
SSLv2, SSLv3, TLSv1 and TLSv1.1

[2019-04-09 12:04] Dinesh-Ramakrishnan commented on #3605
@davidelang Thank you very much for your response.   I searched the rsyslog documentation [here](https://www.rsyslog.com/doc/v8-stable/concepts/ns_ossl.html) and [here](https://www.rsyslog.com/doc/master/configuration/modules/omfwd.html?highlight=streamdriver)
 but couldn't find any such configuration to change the TLS version.  Could you please point me to the right configuration.
Thank you very

[2019-04-10 03:44] snaix commented on #3573
@richm Yes, that's what I want to say. I want to get the data part but not entire raw message (meta + data), because I can't parse it.
Thank you for your excellent work!

[2019-04-10 06:56] alorbach commented on #3605
It's not possible yet. But we discussed this yesterday and decided to implement SSL_CONF_cmd with configureable commands. to make it configureable to users. I will keep this issue in the development state.

[2019-04-10 07:00] rgerhards commented on #3605
well.. actually the gnutls driver supports this via imtcp parameter `gnutlsPriorityString`. Doc: https://www.rsyslog.com/doc/master/configuration/modules/imtcp.html
same for omfwd: https://www.rsyslog.com/doc/master/configuration/modules/omfwd.html

It is "just" missing in the openssl driver.

@alorbach When implementing this, I would use the same parameter name, even though "gnutls" is misleading

[2019-04-10 09:37] alorbach commented on #3605
gnutlsPriorityString won't be sufficient as we could set multiple types of commands with SSL_CONF_cmd API. We can do that but we are limited to setting Protocoll and as you wrote it's missleading.

I would recommend to implement it as array parameter which lets you set commands / values as described in the API:
https://www.openssl.org/docs/man1.1.1/man3/SSL_CONF_cmd.html

Configuration for omfwd w

[2019-04-10 09:39] rgerhards commented on #2007
confirmed by new testbench test

[2019-04-10 09:50] rgerhards commented on #3605
@alorbach can you give an example were actually more than one string is involved? The example given could also done with a single string, or am I overlooking something?

[2019-04-10 09:59] alorbach commented on #3605
OsslTlsCommands=[	"Protocol=ALL,-SSLv2,-SSLv3,-TLSv1,-TLSv1.1",
				"Options=Bugs",
				"VerifyMode=Request"

or

	OsslTlsCommands=["MinProtocol=TLSv1.2]

[2019-04-10 10:04] dscaravaggi opened #3609 "melasticsearch add programname and syslogtag per default"
It is not an issue,
just a nice to have setting per default

there two common filed in syslog proto that are not bounced to ES

APP-NAME, and TAG.  internally to rsyslog they are mapped as programname and syslogtag

I made a workaround with template custom,
why not add them per default ?

### Environment
- rsyslog version: latest
- platform: debian stretch backport
- for configuration questions/is

[2019-04-10 10:16] jpastuszek commented on #3361
Not sure if this is the right place but I do have problem with `omprog` and `output` running version `8.39.0` on AmazonOS (RedHat like).
The moment I set `output`, rsyslogd will not be able to spawn any process (tried with `tee -a /tmp/log` and my own process), the output file won't be crated and I will be getting this messages:
[code]

Sometimes it will complain `error sending message to program:

[2019-04-10 10:27] rgerhards commented on #3605
ah, ok, now I see - it's still bad we need to have different mechanisms to pass this to the lower layer. On the other hand, it's highly driver specific in any case. Let's do it with the new parameter - we can always think about a different passing interface without touching the rest of the code.

@davidelang what do you think?

[2019-04-10 10:28] rgerhards commented on #3609
It would break existing configurations. Can you give an example of why exactly you think this needs to be changed?

[2019-04-10 10:29] rgerhards commented on #3609
I mean can you give a comparison of
* I **would like** to do it this way
* but I **need** to do it that way

[2019-04-10 10:35] Dinesh-Ramakrishnan commented on #3605
Could this be supported for Openssl version 1.0.2 also or does it need 1.1.1?  Currently I am using nsd_ossl with openssl version 1.0.2 and it works fine.

[2019-04-10 10:36] alorbach commented on #3605
@Dinesh-Ramakrishnan : OpenSSL 1.0.2 also supports this API :
https://www.openssl.org/docs/man1.0.2/man3/SSL_CONF_cmd.html

[2019-04-10 10:39] dscaravaggi commented on #3609
I think that ELK is robust, they are just 2 additional fields:

these are fields added in my template:
`
constant(value="\",\"programname\":\"")    property(name="programname")
constant(value="\",\"syslogtag\":\"")   property(name="syslogtag")
`
from a user perspective the lackness of programname in ES Kibana may produce record that are difficult to filter.

[2019-04-10 10:55] rgerhards commented on #3609
@radu-gheorghe can you help me understanding the issue here -- and if it introduces a problem in regard to the existing deployments? Would be great!

[2019-04-10 14:52] davidelang commented on #3605
I'm surprised that there is a need for more than a single string to set the
encryption modes. It's very common to have apps that provide only a single
string for doing this. But if we are going to define a general purpose config
parameter for passing things to the encryption engine, I don't see that it hurts
to have it support an array.

Is it possible to support an array, but also support a singl

[2019-04-10 15:35] alorbach commented on #3605
We have found a middle way to do it, details in the PR #3611 description.
Setting TLS protocols can be easily done using the gnutlsPriorityString setting now.

[2019-04-10 15:42] rgerhards commented on #3605
just a side-note to answer this question. but as @alorbach said we got a simple solution on a side-channel conversation.

A single value is also a 1-element array ;-) That's exactly how arrays are implemented in rsyslog config parser. So in general, for an array parameter, you can say `arrayParameter=["aa", "bb"]` or for a single value either `arrayParameter=["aa"]` or just `arrayParameter="aa"`.

[2019-04-10 15:44] #2007 closed

[2019-04-10 15:45] #1296 closed

[2019-04-11 10:45] mymtw commented on #3563
Closing this issue thanks, looks like last update of omhttp module for ubuntu 18.04 fixed my problem

[2019-04-11 10:45] #3563 closed

[2019-04-11 10:48] mymtw commented on #3534
@rgerhards earlier I wrote in this issue (above) that rsyslog "could not load module omhttp". I've just got update for ubuntu of omhttp module, it looks like it resolved the problem. thx

[2019-04-11 10:52] mymtw commented on #3534
I configure rsyslog for sending messages to telegram
[code]
but rsyslog writing:
`rsyslogd: omhttp: checkResult error http status code: 400 reply: {"ok":false,"error_code":400,"description":"Bad Request: message text is empty"}`
how to fix it?

[2019-04-11 11:06] rgerhards commented on #2462
I know it's an old issue, but I finally got to it. Using the current version I cannot reproduce. @radu-gheorghe could you give 8.1903.0 a try?

[2019-04-11 11:23] rgerhards commented on #2462
I'll close this for the time being, please let me know if the problem persists. Testbench test has been added and will be merged via #3612. So we can ensure problems are automatically detected in the future.

[2019-04-11 11:23] #2462 closed

[2019-04-11 12:50] mymtw opened #3614 "omhttp how to use rest api interface"
### Expected behavior
[code]
### Actual behavior
omhttp: checkResult error http status code: 400 reply: {"ok":false,"error_code":400,"description":"Bad Request: message text is empty"} [v8.1903.0 try https://www.rsyslog.com/e/2218 ]

### Steps to reproduce the behavior

### Environment
- rsyslog version: latest
- platform: Ubuntu 18.04

How to use restful api interface for send messages from rsysl

[2019-04-11 14:20] davidelang commented on #3534
This is a message from the server you are trying to post to. I would guess that
the format you are sending doesn't match what the server you are posting to is
expecting.

you don't indicate which action is having the problem.

David Lang

[2019-04-11 14:52] mymtw commented on #3534
@davidelang yes, error in restpath `restpath="bot731686324:AAElGaB6MLCil7o0cYX6Sjfg1hK5ngma8vs/sendMessage?chat_id=370756877&text="`
But maybe you know how to send log message in text arg like &text=mylogmsg as `GET` request?

[2019-04-11 15:33] #3605 closed

[2019-04-12 07:34] rgerhards commented on #3550
I will add to the doc that imfile symlink functionality is flaky and should be avoided. I'll also see to disable the test. We can redo this once the issue is fixed. Better plainly state it doesn't work than the make user fall into a trap.

[2019-04-12 07:39] jvymazal commented on #3550
Probably good approach, I got snowed under other stuff and although I still plan to look into it, it does not look like it will be a quick fix...

[2019-04-12 07:42] rgerhards commented on #3550
same with me ;-)

[2019-04-12 09:12] rgerhards commented on #49
I will initially implement this with a configurable timeout, not DNS TTL. The latter is more work to do and would not fit in the time I have. We probably should open a new issue tracker for this.

[2019-04-12 09:19] davidelang commented on #49
On Fri, 12 Apr 2019, Rainer Gerhards wrote:

not all name resolution comes from DNS, gethostbyname() and equivalent ask the
system to resolve the name, but don't get info back on how the system gets the
name.

so a configurable timeout is a good first step, I would say that the ability to
flush the cach (or possibly flush items in the cache older than X) would be the
next step. Initially this coul

[2019-04-12 09:42] simmel commented on #49
Not to hijack this thread but it's not possible to make rsyslog never
cache DNS answers, is it? Maybe that can be included in the first step
too?

On Fri, 2019-04-12 at 09:19:46 +0000, David Lang wrote:

[2019-04-12 09:50] davidelang commented on #49
On Fri, 12 Apr 2019, Simon Lundström wrote:

having to do a name lookup on every log message would cripple rsyslog
performance, and would also probably overload your DNS server. Some amount of
caching is needed.

David Lang

[2019-04-12 09:56] rgerhards commented on #49
never the less, if you set the default TTL to 0, nothing will ever be cached ;-)

[2019-04-12 10:13] rgerhards commented on #49
Do you think that an explicit flush is necessary when the cache can be enabled to discard entries older than xx seconds? I see some very few border cases where this may be needed. But I think these few cases could be handled by a restart. I think about changing an IP range in the internal setup.

[2019-04-12 10:18] davidelang commented on #49
On Fri, 12 Apr 2019, Rainer Gerhards wrote:

I thought you were talking about flusing every X minutes, not flushing all
entries over X minutes old.

If you do the latter, how frequently do you check for old entries?

It would be a good idea to have pstats on this cache, eventually with an option
to indicate how long it waits for lookups when there is a cache miss.

David Lang

[2019-04-12 10:26] rgerhards commented on #49
@davidelang It will work like DNS TTL: when a lookup is requested, I check if the configured TTL expires. If so, entry is discarded and re-queried. So no periodic checks, just on demand.

[2019-04-12 10:28] rgerhards commented on #49
Just to be ultra-clear: TTL is on the scope of a **single** host entry. It is **not** on cache-global scope.

If we decide we need to query DNS (where possible), this enables me to use the same code for DNS-provided entries. All others will still use the configured default TTL. I currently set the default to 24hrs.

[2019-04-12 12:25] waster opened #3618 "imfile stopped working after logrotate again"
We use rsyslog to send logs via RELP for icecast logs with imfile module.

After some time (in 1-2 weeks) it can silently stop to monitor some files and send most of the RELP messages and recover after next log rotate. No any warnings or errors are stored in rsyslog log file.

We observe such persistent problem last few releases after 8.31.0.
Log rotation is done internally via Iceast with "<logsi

[2019-04-12 12:57] rgerhards commented on #3618
do you use symlinks? If so that may explain problems. Symlinks do not properly work, see https://github.com/rsyslog/rsyslog/issues/3550

I think it should (but I had only a very brief look plus it is only a snippet). Polling has some higher latency than inotify, so it may miss updates (file being recreated twice within the polling interval). Other than that, the modes are equivalent.

Do you rotat

[2019-04-12 13:44] simmel commented on #49
Well, a local caching resolver would solve that problem. Having DNS cache in multiple layers only makes it harder to debug TBH.

But making it configurable with a sane default is crucial!

[2019-04-12 14:09] rgerhards commented on #49
nevertheless, this was a top requested performance enhancement.

But I realize something important: rsyslog's DNS cache is a reverse lookup cache (it takes a socket structure and returns the hostname). It is not used for forward-lookups. So some of the postings should probably go into a different issue. I didn't notice earlier, sorry...

[2019-04-12 14:27] rgerhards commented on #1487
note that rsyslog's DNS cache is a reverse only cache. For forward lookups we do not do caching at all.

[2019-04-12 16:19] rgerhards commented on #3550
@jvymazal I added some more debug to the test and noticed something interesting. Full log: https://build.rsyslog.com/#/builders/144/builds/2254/steps/3/logs/test-suite_log, excerpt:
[code]

Do you have an idea of why `rsyslog-link.9.log` does not exist while `ln -s rstb_717260_e3639ad4.targets/9.log rsyslog-link.9.log` seems to have worked?

[2019-04-12 19:25] waster commented on #3618
No, we don't use symlinks at all. Log rotation is done internally with Icecast itself when _logsize_ setting in configuration file is configured.

So will _inotify + statefilealwaysremove_ imfile options help us to provide consistent and stable imfile work in that case?

[2019-04-12 20:48] rgerhards commented on #3618
statefilealwaysremove does not exist. It was part of a PR that did not work.

So this looks like an issue. We probably need a debug log to see what happens.

[2019-04-12 20:49] rgerhards commented on #3618
It would help to know how overcast actually rotates the log.

[2019-04-15 07:11] jvymazal commented on #3550
Unless there is some weird way to silence error from `ln -s` output, I do not think I ever encountered situation where the symlink would not exist without preceding error message.

[2019-04-15 07:15] rgerhards commented on #3550
yeah, same with me. I have added `-v` to `ln`. Let's see if we get some more info the next time (of course, over the weekend it didn't occur ;-)).

[2019-04-15 07:42] #2924 closed

[2019-04-15 07:45] #49 closed

[2019-04-15 07:45] #1487 closed

[2019-04-15 07:48] #3599 closed

[2019-04-15 09:55] rgerhards commented on #3543
@radu-gheorghe given the current state of discussion - does it make sense to pursue this any further or should I close?

[2019-04-15 10:01] rgerhards commented on #2912
this seems to be solved now; if it turns up again, let's handle it in that context.

[2019-04-15 10:01] #2912 closed

[2019-04-15 10:09] rgerhards commented on #2909
I now add the ubuntu18 codecov builder to the set of nightly workers. This should work pretty well and also cover kafka, We need to check tomorrow what actually happened.

[2019-04-15 10:11] rgerhards commented on #2909
Well... the question actually is if we still need nightlies now that we run codecov tests on each master update. Sounds like this is better than the original idea.

[2019-04-15 16:16] foxpluto opened #3622 "error starting up action queue"
Dear support,

I have a remote rsyslogd configured to log to a logcollector via RELP TLS, the purpose of the remote installation is to send all the logs to the logcollector in a secure way via internet, dealing with disconnection and power outage of the server.

For this reason I have configured a sending action with a local disk queue as indicated above.

I have experience a couple of strange pro

[2019-04-15 19:25] davidelang commented on #3622
queue type 'disk' is very slow, it means no messages are kept in memory,
everything is written to disk and all queue activities reqire disk I/O.

If you have a very fast disk (say a PCI connected SSD), this may only be a
slowdown of 1000x or so, if you don't have a fast disk, it could be much slower.

Is this what you are intending?

David Lang

[2019-04-15 19:28] foxpluto commented on #3622
Yes,

I don't care about slowness, actually I am writing on an SSD which is good enough for my purpose.
What I am trying to achieve is to never loose a line of log in any occasion.

Regards,
S.

P.S. as indicated above my question is not related to slowness, anyway.

[2019-04-15 19:51] davidelang commented on #3622
then you need to do more, look at the syncing/commit options.

also, you set the queue size rather small, when the queue fills up, it will stop
processing logs, so you will then either loose logs on the sender, or the
sending systems will stop running (including you being unable to login to them
as the login process writes logs)

David Lang

[2019-04-15 21:44] foxpluto commented on #3622
Hi Davidlang,

I think you missed the point.
I agree with you, the queue is slow but:
* it could never miss a log, my log source is a reliable TCP source and as described in the documentation perform a slow down in case of congestion (read the chapter Filled-Up Queues in https://www.rsyslog.com/doc/v8-stable/concepts/queues.html)
* even if the queue fill up and no slow down mechanism is in place,

[2019-04-15 21:54] foxpluto commented on #3622
ok, better reading you post....
yes you are right, in case the queue will be filled up some problem will occur but let me be more clear on the software I have in place:
* I have a software written be me which use rsyslog with RELP like a reliable way to move line of logs (actually these logs are data read from a source) to a log collector;
* the same queue is used to logcollect even the system log

[2019-04-15 23:44] davidelang commented on #3622
On Mon, 15 Apr 2019, foxpluto wrote:

note that TCP logging is not always reliable
https://rainer.gerhards.net/2008/04/on-unreliability-of-plain-tcp-syslog.html

no, that file is created on shutdown or as needed (I think there is an option in
the most recent versions to make this file sooner).It sounds as ifyou may have
had an unclean shutdown.

there is a utility that will rebuild the .qi file.

[2019-04-16 07:25] wu0407 commented on #3607
it is not create and clean on shutdown, system Ubuntu 16.04,rsyslog is  8.1903.0-0adi

[2019-04-16 07:57] Ra-fiki opened #3623 "unexpected GnuTLS error -110 in nsdsel_gtls.c:178"
Connection **TCP with TLS** from rsyslog A to rsyslog B listening on log server.
**A** sending to **B**.

### Expected behaviour
During connection from A to B admin/system/program cut down the connection and restore after few hours rsyslog still try to send every message(if failure then message wait in queue). When connection back and rsyslog send first message to B then according to config rsyslo

[2019-04-16 09:52] foxpluto commented on #3622
Hi DavidLang,

thanks for your quick an very detailed answer.
Could you point me to the utility to rebuild the cache you mention in your post?
Do you think is it possible to launch this utility every time rsyslogd start?
In my installation I cannot avoid the power outage so this problem will reappear sometimes in the future but if every time the system startup the cache is cleaned but the utility

[2019-04-16 13:17] foxpluto commented on #3622
Ok,

probably the tool you are referring is this one on github: https://gist.github.com/wilrnh/9373137

I read that a lot of people are facing the very same problem as mine since a lot of years.
Rsyslog should perform a queue check at startup and recovery by itself the main problems regarding queue corruption.
Starting up with a warning in the messages without any other indication that the queue i

[2019-04-16 13:42] rgerhards opened #3625 "test imtcp-tls-ossl-basic-tlscommands.sh fails in CI"
sample: https://build.rsyslog.com/#/builders/143/builds/2797/steps/4/logs/test-suite_log

may be related to TLS options in our CI run, **Test currently SKIPs to permit CI to finish**,

[2019-04-16 16:48] Whissi opened #3626 "test failure: mmkubernetes-cache-expire"
Test `mmkubernetes-cache-expire` is failing with rsyslog-8.1904.0:

[code]

[2019-04-17 03:38] wu0407 commented on #3607
find the solution
[code]

[2019-04-17 07:45] yoowy90 opened #3628 "ㅎㄷㅅ ㅑㅜㄴㅅ미ㅣ"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Environment
- rsyslog version:
- platform:
- for configuration questions/issues, include rsyslog.conf and included config files

[2019-04-17 08:25] huoarter commented on #3580
@rgerhards Dear Rainer, is this a bug ?

[2019-04-17 08:39] davidelang commented on #3580
if you truncate a structured message (say JSON) the result will be corrupted,
there's no way to truncate the message and not corrupt structured message. you
probably want to not truncate, but flag the message in some way for manual
attention.

or are you talking about some other type of corruption?

David Lang

On Wed, 17 Apr 2019, arterforyou wrote:

[2019-04-17 08:41] Turgon37 commented on #3204
Hello,
Have you any news about this issue ?
I'm encountering the same problems

Regards

[2019-04-17 08:53] huoarter commented on #3580
@davidelang This scenario is like: Multi-line log larger than MaxMessageSize. When the first line is trimmed, the head of the next line will insert some extra characters, which can not be used by (if $programname == 'docker' then ?ContainerFile;&) match this condition

[2019-04-17 09:52] Turgon37 commented on #3204
I'm using debian, so I've tried to switch from 8.24.0-1 to 8.1901.0-1
Under 8.24.0-1, the statefile statement was working but under 8.1901 I've a lots of imfile-state:[inode]:[hash] in spool directory. So theses are not documented in https://www.rsyslog.com/doc/v8-stable/configuration/modules/imfile.html
The state filename must contains the path to the input file, not it's inode or a hash.

[2019-04-17 12:55] rgerhards commented on #3204
Sorry, this is a doc omission. Thanks for pointing it out. Actually, the doc was far more specific than useful. State file name is an rsyslog internal. What you see is right. I'll update the doc.

[2019-04-17 13:07] rgerhards commented on #3580
unfortunately I could not work on this in the mean time. But it's still on the plate.

@davidelang from what  I have seen so far, it looks like there is a bug somewhere

[2019-04-17 16:03] #3628 closed

[2019-04-17 19:08] waster commented on #3618
Problem is that it is rarely happen, more often in inotify mode. I'll try to enable debug with rsyslog and increase a frequency of the icecast log rotations.

[2019-04-18 09:17] rgerhards commented on #3314
As can be seen in https://github.com/rsyslog/rsyslog/issues/3314#issuecomment-446119279, **this** issues was the over-sized queue. Any new issues, please create a new issue tracker plus evidence of what happens (pstats log plus a valgrind report would be great).

[2019-04-18 09:17] #3314 closed

[2019-04-19 17:44] jsiwrk commented on #3361
At a first glance I have no idea what's going on... the internal fd's used by omprog to communicate with the program seem to be messed up in some way ("Resource temporarily unavailable" means errno=EAGAIN which can only occur for non-blocking fds, but all fds are blocking...).

@jpastuszek: could you please create a separate issue? Include please the config you are using.

Other things that could

[2019-04-23 04:30] snaix opened #3631 "missing docs and unreachable codes."
Hi rsyslog

After reading omelasticsearch.c, I found something can be optimized.
1. There are some config docs missing, like erroronly, interleaved... I can't find it out in docs in [omelasticsearch](https://www.rsyslog.com/doc/v8-stable/configuration/modules/omelasticsearch.html). seems those configs work well but nobody knows, Is there any historical reason for this?

2.  in writeDataError() (ma

[2019-04-23 08:17] rgerhards commented on #3631
@CodeHarsh can you comment? As far as I can see, this was part of your contribution. I didn't notice at the time of merge.

@snaix If they are not documented, I guess the safest thing is to assume these params do not exist aka may be changed at any time.

Can you also explain why you think the statements are unreachable? I think they are reached when interleaved==0 and errorOnly == 0. Maybe I am o

[2019-04-23 10:54] #3334 closed

[2019-04-23 14:20] CodeHarsh commented on #3631
@rgerhards @snaix
For missing doc: I can't recall why I didn't add docs for these configs. We should definitely add these configs in doc.
For unreachable code: I added "else" to be worst case fall back. It is more of a default handler of a swtich-case statement. So even if in future anyone changes current check from being a simple zero/non-zero conditions to something else, we still have some sens

[2019-04-24 05:59] snaix commented on #3631
@rgerhards @CodeHarsh
in fact, the erroronly or interleaved are useful.
current, in bulk mode, a batch of(maybe 1000+ ) logs were sent to ES, but all of them will be recored in errorfile(if configured with errorfile parameter) , even only one error (for example 429) response existed.
A 429 status is a normal, frequent occurrence response, it will be fine after retrying.
So "error file" becomes "al

[2019-04-24 06:16] rgerhards commented on #3631
@snaix how about crafting a PR for a doc update?

[2019-04-24 14:25] snaix commented on #3631
@rgerhards
 It's my pleasure ;)
 and, it will be test in practice.

[2019-04-25 08:14] rgerhards commented on #3165
We are currently evaluating a disk queue re-write, for which we may have some sponsoring. Postponing this issue as it may be solved with that effort.

[2019-04-25 14:17] rgerhards commented on #3631
@snaix if you need help with the PR, just let me know!

[2019-04-25 22:42] jmbills opened #3633 "imjournal: double free error"
### Expected behavior
No double free error in log

### Actual behavior
The error message 'free(): double free detected in tcache 2' is added to my log file and rsyslog stops logging.

### Steps to reproduce the behavior
I'm having trouble reproducing the "double free" message at the moment, but it happened when I was running a test that added to the log and rotated the journal (`journalctl --rotat

[2019-04-26 06:47] rgerhards commented on #3633
@jvymazal might this be related to https://github.com/rsyslog/rsyslog/pull/3435?

[2019-04-26 06:48] rgerhards commented on #3633
or a glibc bug? https://bugzilla.redhat.com/show_bug.cgi?id=1652495

[2019-04-26 07:27] jvymazal commented on #3633
Yes, it was introduced by #3435, however was caught quickly after release and should be fixed in #3566
(see https://github.com/rsyslog/rsyslog/pull/3566/files#diff-b1ea6478b8060f07cd30ecde78bfdc49L452 )

[2019-04-26 07:36] rgerhards commented on #3633
ah, I see. #3566 was in 8.1904.0 @jmbills you need to upgrade (or backport the patch to your version)

[2019-04-26 07:36] #3633 closed

[2019-04-26 07:38] #2558 closed

[2019-04-26 07:49] rgerhards commented on #3057
The past couple of weeks seem to indicate we have fixed this by now.

[2019-04-26 07:49] #3057 closed

[2019-04-26 07:51] rgerhards commented on #2752
coming back to here. The question is if the automation system should generate the module load if not needed. But as it looks what we need to "solve" the issue is have a global setting (or command line option) that makes rsyslog ignore warnings during config check and just check for hard errors.

Note that I would consider loading an unneeded module an error for a manually crafted config. It usuall

[2019-04-26 08:53] davidelang commented on #2752
On Fri, 26 Apr 2019, Rainer Gerhards wrote:

One common reason to do this is to have the module load in rsyslog.conf so that
config snippets that use the module can be dropped into /etc/rsyslog.d without
having to try and figure out if a module load needs to be added (or risking
duplicate module loads)

David Lang

[2019-04-26 09:04] selivan commented on #2752
@rgerhards I think this would be the best solution: `-N 1` makes a soft check, returning 0 if rsyslog can start with this config, and `-N 2` makes a hard check, returning 0 only if there is no warnings.

Example of multiple module load statement: I have multiple ansible roles that add configs to `rsyslog.d` for forwarding log files from disk to logserver. Host can have none of this roles, only one

[2019-04-26 09:53] rgerhards opened #3634 "add a capability to create consolidated config file"
This goes as a side-line to https://github.com/rsyslog/rsyslog/issues/3584

We should have a capability to create an output config file that explodes all "includes" into a single file. This provides a much better overview of how exactly the configuration is crafted. That could often be a great troubleshooting aid.

[2019-04-29 11:27] ganeshbms commented on #3464
Sorry for late come back ..

Ok .. I tried with "ossl" as NetStream Driver name. I'm seeing below error ..
`0168.550313773:main thread    : errmsg.c: Called LogMsg, msg: could not load module 'lmnsd_ossl', errors: trying to load module /usr/lib64/rsyslog/lmnsd_ossl.so: /usr/lib64/rsyslog/lmnsd_ossl.so: cannot open shared object file: No such file or directory
0168.550326147:main thread    : operat

[2019-04-29 13:20] #3634 closed

[2019-04-29 13:29] rgerhards commented on #3614
does this help? https://www.rsyslog.com/doc/master/configuration/modules/omhttp.html

[2019-04-29 13:31] rgerhards commented on #3626
@richm do you have an idea?

[2019-04-29 13:36] #2909 closed

[2019-04-29 13:36] richm commented on #3626
@Whissi what version of python are you using?

[2019-04-29 13:43] rgerhards commented on #3626
@richm based on past conversations, I am pretty sure it is python 3

[2019-04-29 13:58] rgerhards commented on #2502
@pclouds sorry it took me so long to finally fix this in the official version. Your analysis was right. Many thanks! Should be present in master branch soon.

[2019-04-29 15:09] #2502 closed

[2019-04-29 15:24] rgerhards commented on #3580
sorry it took a while to come back to this. Good news: I can now reproduce the issue with a testbench test!

[2019-04-29 16:40] mymtw commented on #3614
unfortunately no.

I did not get from `omhttp` docs, how to pass `log message` as `query string argument`

1. I wanted smth like `restpath="myroute/sendMessage?text={$MY_LOG_MESSAGE}"`
2. Also there are not info how to set query type: `GET` or `DELETE`, or `POST`, or `PUT` request

where {$MY_LOG_MESSAGE} - `2019-04-29 my log message`

anyway, thx for your reply

[2019-04-29 16:41] rgerhards commented on #3626
closed via https://github.com/rsyslog/rsyslog/pull/3636

[2019-04-29 16:41] #3626 closed

[2019-04-29 16:43] rgerhards commented on #3614
@gintrator can you help?

[2019-04-29 17:13] atc0005 opened #3639 "RFE: Mention external lookup table use on reload and restart"
### Expected behavior

rsyslog mentions that it is referencing a lookup table on reload and restart.

### Actual behavior

rsyslog mentions external lookup table file(s) upon reload only.

### Steps to reproduce the behavior

Here is a reference to the lookup table being used when reloading rsyslog:

[code]

A useful enhancement (e.g., for troubleshooting purposes) would be to mention use of such

[2019-04-29 17:15] rgerhards commented on #3639
well... I think it is absolutely clear that when you stop and start rsyslog it will load the lookup table on start. Do we **really** need to log a message each time we start?

[2019-04-29 17:19] atc0005 commented on #3639
I don't think there is a *need* for this, but I believe it could be a useful enhancement.This would provide an indication (aside from the results of using the file) that the file was indeed read and that no issues were encountered. In other words, this would be a useful "checkbox" of sorts to use when troubleshooting to confirm that not having a mapping available for use by rsyslog is not due to a

[2019-04-29 18:59] gintrator commented on #3614
@mymtw I think the `dynrestpath` parameter should allow you to create a dynamic path based on your log message. This allows you to use the output of a template as the path + query string. See https://www.rsyslog.com/doc/master/configuration/modules/omhttp.html#dynrestpath.

Currently on POST is supported in omhttp, though it should be relatively straightforward to add support for other HTTP method

[2019-04-29 21:01] mymtw commented on #3614
@gintrator `DELETE` request is really not make sense, but `GET` yes, the reason why I did mention `GET` request - is that in `telegram` messenger for posting message to users you need to `GET` request, and provide message as argument (?text=) in query string (here is api https://core.telegram.org/bots/api#sendmessage)

[2019-04-30 03:38] gintrator commented on #3614
Looks like GET and POST requests do the same thing, if I understand this section correctly?

`https://api.telegram.org/bot123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11/getMe`
We support GET and POST HTTP methods.

From https://core.telegram.org/bots/api#making-requests.

In any case, there's a valid use case to specify the HTTP method via a `method="GET"|"POST"|"PUT"` parameter to omhttp, this is a go

[2019-04-30 04:07] mymtw commented on #3614
tested, yes, they are taking both types

+1

[2019-04-30 04:12] davidelang commented on #3614
On Mon, 29 Apr 2019, Gabriel Intrator wrote:

they are similar, but not the same. There are cases where they do very different
things.

I agree.

David Lang

[2019-04-30 07:04] rgerhards commented on #3639
@davidelang @mbiebl @Whissi @richm what do you think?

[2019-04-30 07:14] davidelang commented on #3639
logging on reload makes sense as you are changing the behavior (new file)

At startup, it's much less clear. The "Unix Way" is to say nothing when things are working, only log when something has gone wrong, so a failed load of the file needs to be logged. I'm far less confident that a successful load needs to be logged. If it is logged, it should be at a very log severity (debug)

I don't see that

[2019-04-30 07:16] davidelang commented on #3639
If you start enabling debugging logs, I'm pretty sure that the reading of the file will show up there, as will any issues with doing a lookup

[2019-04-30 07:17] rgerhards commented on #3639
I should have mentioned that. Along the same lines we should/could log module load. And opening of output file as part of the action. Success in connecting to remote system. IMHO they are all in the same class. We don't even mention file closure at HUP as this seemed to be too verbose.

[2019-04-30 07:19] rgerhards commented on #3639
plus: I added more diagnostic messages the past year or so. Idea is to help users detect issues. I got more than one complaint about verbosity and irritating users. I also do not want to add a ton of options to enable/disable various messages.

[2019-04-30 11:00] #3580 closed

[2019-04-30 11:07] Whissi commented on #3639
I think @davidelang is right. Normal start don't need to mention such details. Would be the first software I am aware of which would show such information. If you want to see what's going on you start in debug mode or increase verbosity.

So in theory I would also remove the output from reload command in default mode. Should be enough to log that signal X was received and processed.

[2019-04-30 11:26] rgerhards commented on #2908
old Suse is BTRFS - we will keep it until we change another machine to run on this FS. It caught some issues in the past.

[2019-04-30 11:27] rgerhards commented on #2908
CentOS 6 has also gone away - so closing this issue.

[2019-04-30 11:27] #2908 closed

[2019-04-30 17:21] atc0005 commented on #3639
Many good points here.

@rgerhards thanks for considering this request, but after reading the points against accepting it, I understand why this may not be worth implementing.

As this GitHub issue indicates, I'm biased towards more feedback than less, but I would suggest keeping it as it seems a useful indicator that the `reloadOnHUP` setting has taken effect as intended.

Reference:

[code]

[2019-04-30 17:23] rgerhards commented on #3639
let's keep the issue open for a moment - I think it may be useful to have a generic severity filter for internally-generated messages. That would be just one setting and still give a bit flexibility. Thinking about it...

[2019-04-30 17:41] davidelang commented on #3639
something between 'log only when something goes wrong' and the super-verbose
debug logs would be useful to have.

On Tue, 30 Apr 2019, Rainer Gerhards wrote:

[2019-05-01 15:20] travis5491811 opened #3643 "Having trouble forwarding original source IP"
Hello, I'm having trouble forwarding original source IP.

### Expected behavior

Appending the following to the bottom of `/etc/rsyslog.conf` to forward the traffic unmodified (including origin IP) to port `1514`
[code]

### Actual behavior

The application listening on port '1514' always see's data as coming from `127.0.0.1` instead of it's real origin.

### Steps to reproduce the behavior
- Inst

[2019-05-01 21:04] davidelang commented on #3643
This is because the app receiving the logs on port 1514 is ignoring the hostname
in the message and instead only paying attention to what IP address it received
the log from.

This is what the omudpspoof module was created to deal with. It doesn't have
nearly the performanceof regular UDP messages, but it lets you deal with broken
receivers like this.

David Lang

[2019-05-01 21:28] travis5491811 commented on #3643
Hello @davidelang the app on `1514` is recording the correct `hostname` from all sources. The only thing i can see that it's not receiving correctly is the original source ip address. And just to be sure it's not the app (graylog in this case) i've tested sending logs directly to `1514` and it has no problems recognizing both the correct source `IP` and `hostname`. The issue is only when logs are

[2019-05-01 21:57] davidelang commented on #3643
On Wed, 1 May 2019, travis5491811 wrote:

When you forward a message, the source IP of the connection is the relay box,
that's the way normal network communications work. The packet is generated by
rsyslog on the relay box, so when it arrives at the destination, the source IP
on the packet is the relay box.

you set a template for the source template to be fromhost-ip (which is the
default accordi

[2019-05-01 22:46] travis5491811 commented on #3643
@davidelang thanks. i will try the `omudpspoof` this week and post back with a working config if i figure it out. I need to learn/understand more about how templates work before i change `/etc/rsyslog.conf`. I'm not sure on how the changes will affect the current logs or even the correct place/config to write. Especially after reading the following which to me suggest my change might not change an

[2019-05-01 23:29] davidelang commented on #3643
On Wed, 1 May 2019, travis5491811 wrote:

each action is completely independent, so changes to one or to templates have no
effect on the other actions (as long as those actions don't also use the
template you change)

the defaults for omudpspoof probably do what you want.

David Lang

[2019-05-02 06:51] ganeshbms commented on #3464
[valgrind_Apr30_15_03.log](https://github.com/rsyslog/rsyslog/files/3136946/valgrind_Apr30_15_03.log)

Attached valgrind memcheck tool summary with rsyslog debug symbols enabled. Please have a look.

Thanks

[2019-05-02 08:16] #1778 closed

[2019-05-02 11:29] lhycz opened #3645 "orphaned imfile-state file after log deletion"
### Expected behavior
After deleting watched logfile, the associated persisted state file should be deleted as well.

### Actual behavior
Statefile cleanup works when logfile is small, and statefile filename is in format `imfile-state:<inode>`. When the logfile is big enough and the statefile changes to `imfile-state:<inode>:<hash>`, then it is not deleted on log deletion.
From debug log it seems

[2019-05-02 11:58] lhycz opened #3646 "in some cases, inode-only statefile is left after creation state file filename with hash"
### Expected behavior
when logfile grows, statefile should rename itself from `imfile-state:<inode>` to `imfile-state:<inode>:<hash>` so only the state file with relevant filename remains.

### Actual behavior
When rsyslogd starts and processes logfile from configuration, then it calculates hash/file_id and correctly tries renaming old inode-only statefile to the new filename including hash.
This

[2019-05-03 14:30] travis5491811 commented on #3643
In `/etc/rsyslog.conf` I replaced
[code]

with

[code]

But i get the error `module name 'omudpspoof' is unknown [v8.32.0 try http://www.rsyslog.com/e/2209 ]`. The URL comments: `Module (config name) is unknown. This is a stub entry: If you have questions please post a comment or visit the github issue tracker`

The rest of my config is the same as original post. Any idea what is wrong?

[2019-05-03 14:51] rgerhards commented on #3643
it's a module that is very infrequently needed, thus it is not in the rsyslog core package. You need to install it. Usually there should be a package named along the lines of `rsyslog-omudpspoof`.

[2019-05-03 14:55] travis5491811 commented on #3643
These are the options that show up for `apt install` with `rsyslog` autocomplete
[code]

[2019-05-03 15:23] rgerhards commented on #3643
I have update the error description (thx btw for mentioning the issue!). It should now have all the info: https://www.rsyslog.com/rsyslog-error-2209/

[2019-05-03 15:45] travis5491811 commented on #3643
thanks for the update

[2019-05-03 15:45] #3643 closed

[2019-05-03 17:36] nokiabaitanik commented on #3534
I have build omhttp so for redhat7. but when I take that so file ,and copy it some other rhel system, while reloading rsyslog it is giving following error .

 could not load module '/usr/lib64/rsyslog/omhttp.so', dlopen: /usr/lib64/rsyslog/omhttp.so: undefined symbol: r_dbgprintf  [v8.24.0 ...com/e/2066 ]

I have used  ./configure --enable-omhttp to build it

[2019-05-03 17:42] darakian commented on #3534
@nokiabaitanik you'll probably also need the `libfastjson4` and `libestr` packages. My deploy uses those in addition to the base rsyslog package, gnutls, and omhttp.

[2019-05-03 17:47] davidelang commented on #3534
you should build all of rsyslog, not just one module.

in theory you can build just one module, but there are so many things that have
to be the same (including possible issues with RedHat modifying the source for
their packages) that it's just not worth tracking down the problems.

David Lang

[2019-05-04 04:33] nokiabaitanik commented on #3534
yeah.. .. the omhttp.so file I built from the latest source code in rhel7. and then copied omhttp.so to a node (rhel7) where rsyslog verison is 8.24.0.
Probably that is why it is not able to load.

[2019-05-05 03:33] snaix opened #3647 "Why not change allocator to jemalloc?"
Hi rsyslog
Recently, I'm using rsyslog in a very busy system(about 2w logs per seconds per instance with complex rules).
Rsyslog is a significant heap memory user, so it will call malloc/free frequently.
Usually I can see that malloc/free takes up a lot of CPU time.  In my test, it can even trigger bugs in Linux([major performance problem in glibc malloc _int_free](https://partner-bugzilla.redhat.

[2019-05-05 07:14] rgerhards commented on #3647
We used it for a couple of months but had often enough segfaults. Not using it solved that. You are free to use but then need to build yourself.

[2019-05-06 10:57] #1385 closed

[2019-05-06 11:04] rgerhards commented on #3550
Finally, the problem re-occured (CI is not that busy ATM):
[code]

[2019-05-06 11:13] rgerhards commented on #3550
@jvymazal I think I finally know what happens! Have a look (only relevant part):
[code]
As we can see, the symlink is created - but then it disappears. The reason is inside the framework! Upon (every!) test exit, rsyslog-link.*.log is deleted. So a parallel test ran the exit procedure just at the "right" time and removed that file.

So the root cause is that we did not notice that the test was not

[2019-05-06 12:31] jvymazal commented on #3550
That is good news indeed, great catch, many thanks for the debugging effort.

[2019-05-06 15:39] #3550 closed

[2019-05-06 20:19] darakian commented on #3534
Didn't expect this to be open for two months, but I've gotten more than I expected out of the issue. Thanks @rgerhards and @jgerhards for the help. I'll be closing this now.

[2019-05-06 20:19] #3534 closed

[2019-05-07 09:02] #3647 closed

[2019-05-07 09:09] rgerhards commented on #3639
well... we kind of have/had this. The reload message, e.g.  is logged via info severity. So in rsyslog.conf you can filter rsyslog messages on severity, just like any other. But with systemd, we now emit primarily to the journal, and this does not filter. So here the problem begins. Logging to journal is good, because finally folks begin to see the messages. I'll implement a global setting for a s

[2019-05-08 14:41] #3639 closed

[2019-05-09 12:54] rgerhards opened #3656 "create ruleset queue defaults"
just like action defaults - start with the current set of 4, can be extended if needed.

[2019-05-09 15:21] #3656 closed

[2019-05-09 17:08] qha commented on #3404
And again on another host:

    % uname -srvmpio
    Linux 3.10.0-957.12.1.el7.x86_64 #1 SMP Mon Apr 29 14:59:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-05-09 17:10] rgerhards commented on #3404
Thx, this is interesting as I think it rules out a kernel issue. @jvymazal what do you think?

@qha and others ... please keep posting, looking for something common

[2019-05-09 22:04] davidelang commented on #3584
as part of the output, dumping the lines that are startup time items vs per-log items would be useful

[2019-05-10 06:37] #2833 closed

[2019-05-10 07:32] rgerhards commented on #3584
ack, working (slowly) towards that. I hope the ability I implemented these days to have the config output as one file is also useful. Not sure I can get the config optimizer output in with 8.1907.

[2019-05-10 14:19] gleventhal commented on #1487
@rgerhards As it stands now, if a host is rebuilt, and the name is changed but the IP is not, due to this reverse resolver cache, it will log using the wrong name, or at least log to the wrong path if fromhost is used.  In my environment, whenever a box is renamed, we need to restart rsyslog, dumping the entire resolver cache for thousands of hosts, just because one box was rebuilt, which seems li

[2019-05-10 14:24] rgerhards commented on #1487
well, you either set a timeout to discard the entry or do not. If you do not, you need not wonder if it's rused. If you do, a requery happens when the entry is timed out. If you want to have it quicker, you need to set the timeout lower. If you want to have it immediately, the restart is probably your best choice. We can't do magic ;-)

[2019-05-10 14:33] gleventhal commented on #1487
Where can I set the rsyslog reverse resolver timeout?  Or do you mean the DNS record's own TTL when you say timeout?

[2019-05-10 14:47] gleventhal commented on #1487
Ah, I see upstream has dnscacheEnableTTL.  Very cool!

[2019-05-10 15:33] lhycz commented on #3646
This behaviour can be easily tested in rsyslog workbench in test script imfile-statefile-no-file_id-TO-file_id.sh, by swapping lines
[code]

resulting log from the changed test script shows this clearly
[code]

[2019-05-13 14:14] Programie opened #3661 "Add nested JSON properties and arrays to message"
As of today, the JSON formatter in templates (`option.jsonf="on"`) only allows to modify properties on the top level using either the `property()` or `constant()` methods. But those methods don't allow to add properties to nested objects in the resulting JSON object.

For example, it is not possible to create the following JSON structure:

[code]

In the example above, it's possible to set the `fo

[2019-05-13 14:45] rgerhards commented on #3661
Did you try subtree mode?

[2019-05-13 15:27] Programie commented on #3661
I just tried the subtree type, but that resulted in not logging anything to my output file.

I also found a way to use type string which almost got the correct result, except for not allowing me to define an array of values.

That's what I got so far:

[code]

[2019-05-14 02:35] minhtuanmt1 commented on #3592
Hi Rainer Gerhards and David Lang,

I tried but it doesn't work. I still can't fetch value for msgid attribute.

I tried to use RSYSLOG_DebugFormat and log a test message and it seems there is no msgid field at all. Please see log example below:
# logger "Testing testing" --msgid "testmsgid" --rfc5424

Debug line with all properties:
FROMHOST: 'node1', fromhost-ip: '127.0.0.1', HOSTNAME: 'node1',

[2019-05-14 04:08] wsp1991 opened #3662 "Duplicate logs appear when the log is printed continuously"
### Expected behavior
logs not duplicate
### Actual behavior
"testcases 743343" log duplicate
May 03 17:43:10 localhost.localdomain root[23110]: print by testcases 743341
May 03 17:43:10 localhost.localdomain root[23123]: print by testcases 743342
May 03 17:43:10 localhost.localdomain root[23156]: print by testcases 743343
May 03 17:43:10 localhost.localdomain root[23156]: print by testcases 74334

[2019-05-14 04:15] wsp1991 commented on #3662
“Fetching journal cursor only for valid journal” this patch has a issue

		if (cs.stateFile) {
		/* If we have locally saved cursor there is no need to read it from state file */
		if (cs.bWorkAroundJournalBug && last_cursor)
		{
			if (sd_journal_seek_cursor(j, last_cursor) != 0) {------>**Here should get the next position**
				LogError(0, RS_RET_ERR, "imjournal: "
					"couldn't seek to cursor

[2019-05-14 07:00] double-7 commented on #3661
I have a similar problem. The subtree model can't work.Result in not logging anything to my output.
version：8.32.0
`set $!usr!tpl2!msg = $msg;
set $!usr!tpl2!dataflow = field($msg, 58, 2);
template(name="tpl2" type="subtree" subtree="$!usr!tpl2")`

[2019-05-14 07:01] rgerhards commented on #3592
answer in https://github.com/rsyslog/rsyslog/issues/3592#issuecomment-480186237

[2019-05-14 08:04] #2520 closed

[2019-05-14 10:24] liveder commented on #933
Since it's impossible to append GZ file after receiving HUP signal there is an option to solve this issue with other way.
If we will append to DYNFILE template additional variable something like %RSYSLOG_PROCID%(not implemented) or %RSYSLOG_STARTTIME%(not implemented) then it will be possible to split files into several each time rsyslog restarts. So GZ file won't be corrupted.

[2019-05-15 10:59] Programie opened #3664 "rsyslog-redis depends on libhiredis0.10 which is not available in Debian Stretch"
### Expected behavior

Package "rsyslog-redis" should be installable on Debian Stretch.

### Actual behavior

rsyslog-redis can't be installed in Debian Stretch because of a missing package libhiredis0.10 only available in Debian Jessie. Debian Stretch only provides libhiredis0.13 (Stable) and libhiredis0.14 (Backports).

[code]

### Steps to reproduce the behavior

* Add Debian 9 repository (`deb

[2019-05-15 13:05] qha commented on #3404
And again on a similar kernel to the one quoted, probably the same host:
[code]

[2019-05-15 16:51] tru-cstavares opened #3665 "imfile-state with inode"
### Expected behavior
The state filename must contains the path to the input file, not it's inode or a hash.

Example:

### Actual behavior
rsyslog started creating state file with inode instead of input file name.

Example:

### Steps to reproduce the behavior
NA

### Environment
- rsyslog version: 8.24.0-34.el7
- platform: CentOS Linux release 7.6.1810 (Core)
- for configuration questions/issues

[2019-05-15 20:17] strikaco opened #3666 "Feature Request: Implement toupper() method"
### Expected behavior
Among rsyslog's string functions are a `tolower()` method, but not a `toupper()` method.

The functionality exists in the template/property replacer but there does not appear to be a way to invoke similar within RainerScript.

Adding it would be appreciated. Thanks!

[2019-05-16 06:44] rgerhards commented on #3665
can you double check that you actually use 8.24? It sounds like a much more current build. This is expected behavior.

[2019-05-16 07:19] StrongestNumber9 opened #3667 "Leading space is lost on message when using RFC5424, SD is set and message starts with space"
### Expected behavior
Space is reserved when structured data is used and message starts with space

### Actual behavior
Leading space is lost as seen in the 'sd-sp' part
[code]

[code]

### Steps to reproduce the behavior
[code]

[code]
Behaviour is consistent whether or not 'mmpstrucdata' is used.

### Environment
[code]

[code]

[code]

[2019-05-16 07:20] StrongestNumber9 commented on #3667
Ping @kortemik who thinks https://github.com/rsyslog/rsyslog/blob/master/tools/pmrfc5424.c#L171 is the root cause for this

[2019-05-16 09:22] tru-cstavares commented on #3665
Hi @rgerhards,

Thanks for replying. Yes, rsyslog version is correct.

The strange is starting from 5 of April rsyslog started to right imfile-state with inode instead of path to input file. Here a printout of dir:

Which conditions makes rsyslog to use inode on filename?

BR

[2019-05-16 09:26] rgerhards commented on #3665
using a current version and file too small to generate a hash. There actually is doc on this, but I noticed that the doc gen process seems stuck, so the doc on site seems to be outdated. I am checking this. Will post more when current is online.

[2019-05-16 10:13] rgerhards commented on #3665
ah, the doc fix was appliead post 8.1904. Check the fixed doc in current master branch: https://www.rsyslog.com/doc/master/configuration/modules/imfile.html

[2019-05-16 10:15] #3204 closed

[2019-05-16 12:29] rgerhards commented on #3665
@tru-cstavares Whatever happened on the system, the state file name are a clear indication this is not a plain 8.24.0. Did you mix some packages?

[2019-05-16 13:03] tru-cstavares commented on #3665
Seems that lastest version is instaled on my system. I do not see nothing wrong here..

BR

[2019-05-16 13:06] rgerhards commented on #3665
8.24.0 does not have the code that generates new-style state files. Maybe Red Hat has backported some things - unsupportable for me. But in any case, all seems to be well except for the strange version.

[2019-05-16 13:44] #3665 closed

[2019-05-16 14:12] josuegonzalezm opened #3668 "problem using ( & stop ) / STOP is followed by unreachable statements!"
### Expected behavior
● rsyslog.service - System Logging Service
   Loaded: loaded (/usr/lib/systemd/system/rsyslog.service; enabled; vendor preset: enabled)
   Active: **active (running)** since Wed 2019-05-15 16:53:50 EDT; 15h ago **...**

May 15 16:53:50 syslog002.ny5.pragmafs.com systemd[1]: Stopped System Logging Service.
May 15 16:53:50 syslog002.ny5.pragmafs.com systemd[1]: Starting System

[2019-05-16 14:15] rgerhards commented on #3668
Is this a dot at the start of the second line? If so, what do you think it does?
[code]

[2019-05-16 14:17] rgerhards commented on #3668
I also guess you meant `info` instead of `infp`?

[2019-05-16 14:42] josuegonzalezm commented on #3668
thanks for your response @rgerhards , it was just a visual error, edit the publication and I also saw the word "information", I changed it, but unfortunately, it is not the problem, I have corrected it before (I am referring to the word "information"). The template works when I comment "& stop", but if I do not, i receive that error and I do not know why.

[2019-05-16 14:45] rgerhards commented on #3668
Back to the dot: what do you think it does?

[2019-05-16 14:56] josuegonzalezm commented on #3668
i really do not know why i am receiving this error: / ... i need to discard all the logs that are being evaluated on the templates before to pass through the local rules because i receiving logs from multiple applications and servers and if i do not stop then, the logs going to be stored in my local folders. I used a template in other server that runs Rsyslog version 5 and there i am using the com

[2019-05-16 14:59] rgerhards commented on #3668
I want to help you - but you need to tell me what `. ?Messages` is supposed to do. Else I can't help.

[2019-05-16 15:04] josuegonzalezm commented on #3668
oh sorry, it was just a visual error on the post... this are the command on the rsyslof.conf

[code]

[2019-05-16 15:08] rgerhards commented on #3668
ah! OK, now it is easy.

You tell rsyslog the following: For all messages (*.*) store them the the dynafile Messages and then stop processing. This means no matter what you configure below these lines will ever be done by rsyslog. Thus it emits a warning. Old versions did not warn you.

[2019-05-16 15:09] rgerhards commented on #3668
so the solution is to remove the rest of the config, if that really is what you desire. Sorry, skipped that part ;-)

[2019-05-16 15:12] rgerhards commented on #3668
giving your previous postings, I guess this is not what you want. Can you give a textual description of what shall happen in regard to `store_temp` and `messages`?

[2019-05-16 15:23] josuegonzalezm commented on #3668
@rgerhards  well, i am trying just to move all the logs except all the logs with cron and mail to the path:/syslog/%fromhost%/programname/%programname%.log" and also store all the logs messages in all facilities and levels on a file called messages. And also i want to discard then after evaluating them in order to store the local logs in the default folders

[2019-05-16 15:30] rgerhards commented on #3668
so you intend this (in pseudo-code)?
[code]

[2019-05-16 15:33] #2827 closed

[2019-05-16 15:33] josuegonzalezm commented on #3668
@rgerhards ok, i going to try it, and let you know in a moment. Thanks!

[2019-05-16 15:34] rgerhards commented on #3668
no, no, no ;-) I asked if this is what you want. These are not config statements!

[2019-05-16 15:34] rgerhards commented on #3668
I expect a "yes" or "no, I instead want ..." response from you.

[2019-05-16 15:37] josuegonzalezm commented on #3668
ohhh yes, well i would like to have all the logs even cron and email in the "messages" file but actually, those do not matter...

[2019-05-16 15:39] rgerhards commented on #3668
ok, this sounds you just need to reverse order of statement in legacy configuration:

[code]

Is this what you want. This time it's actual config statements. If this is what you want, I will suggest a better way to do it in the next posting.

[2019-05-16 15:43] josuegonzalezm commented on #3668
well, if you know a better form, of course, i will prefer it and i could try it i just want to see is the " & stop" command won't generate me again a problem :-)

[2019-05-16 15:45] rgerhards commented on #3668
please try this - I admit I am not 100% sure this is what you want (@davidelang could you step in?).

The `& stop` is **not** a command. It means: "whatever the previous action was, append 'stop' to it". So the filter you select in the previous action applies. The current config format makes such cases much more obvious. But first let's see if what I posted really is what you want.

[2019-05-16 16:00] josuegonzalezm commented on #3668
@rgerhards yes i know that is not a command i just said that as an expression sorry ;-) and yes i tested it and it didn't give me an error! This is amazing .. I don't understand why if i put
[code]
during config processing: STOP is followed by unreachable statements! but if i write your answer this doesn't give it

[code]
anywise, thanks ! i going to generat some of logs and see what happen

[2019-05-16 17:28] davidelang commented on #3668
Rsyslog is doing exactly what you are telling it to do, but it's generating a
warning that what you are telling it is probably not what you intended

What you told it to do is to stop processing message, and then follow that with
additional actions to process the log (which will never be used because you
told it to stop processing)

It's far clearer to use {} to group messages than to use the &

w

[2019-05-16 17:45] josuegonzalezm commented on #3668
Now it is so clear! I had not seen the {} before and now i understand some more things. I tested and works! Now i just going to try to get all the logs that are separated using% programname% by Stor_Temp and storage also in the messages file. I really appreciate your time and your help @rgerhards @davidelang

[2019-05-16 18:59] josuegonzalezm commented on #3668
@rgerhards well .... i am testing the configuration generating some of logs. I used the first solution that you gave me
[code]
and it is capturing some logs, but not all of them ... i really don't know why ... the only logs that it is taking are:
E. g: May 16 14:54:01 app102 CROND[12355]: (root) CMD (/usr/lib64/sa/sa1 1 1)

nothing else  :-(

[2019-05-17 06:43] rgerhards commented on #3662
@jvymazal could you have a look?

[2019-05-17 06:43] rgerhards commented on #3662
@wsp1991 rsyslog version? platform?

[2019-05-17 06:47] rgerhards commented on #3625
fixed via #3660

[2019-05-17 06:47] #3625 closed

[2019-05-17 09:04] thangld322 opened #3669 "How to install imkafka omkafka?"
### Expected behavior
---{ input plugins }---
    file input module enabled:                yes
    imkafka module will be compiled:          yes

---{ output plugins }---
    omelasticsearch module will be compiled:  yes
    omkafka module will be compiled:          yes

### Actual behavior
---{ input plugins }---
    file input module enabled:                no
    imkafka module will be compile

[2019-05-17 09:23] jvymazal commented on #3662
I will verify this, looks like with next imjournal update I will need to craft some test for duplicates.

[2019-05-17 09:40] rgerhards commented on #3662
@jvymazal thx a lot!

[2019-05-17 09:49] rgerhards commented on #3669
Version? Platform? Did you build yourself (looks so)? How?

Sent from phone, thus brief.

thangld322 <notifications@github.com> schrieb am Fr., 17. Mai 2019, 11:04:

[2019-05-17 10:34] Programie opened #3670 "Key signature in Debian 9 repository is invalid"
Trying to fetch packages using `apt-get update` on Debian Stretch currently fails with a "BADSIG C6326869D2017333" error. On Debian Jessie it works fine.

I checked the Release.gpg and Release.key file in Debian_8.0 and Debian_9.0 and it looks like the Release.key is the same while the Release.gpg file is different.

Full error returned by `apt-get update`:

[code]

[2019-05-17 10:42] rgerhards commented on #3670
I just tried a fresh docker Debian 9 container and followed the instructions on the OBS site. This works for me without any issues. Did you download the key file from there?

https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog

If this does not work, we need to open an issue with OBS or create a forum post. It would speed up things considerably if you could do tha

[2019-05-17 10:59] Programie commented on #3670
I just checked the Release.key:

[code]

[code]

I also tried to add the repository in a newly set up Debian Stretch Vagrant VM (using the box image "debian/stretch64") which works fine. So I guess there is something wrong on my side.

[2019-05-17 10:59] #3670 closed

[2019-05-17 11:15] StrongestNumber9 commented on #3667
[code]
[code]

Seems like @kortemik was right and this does indeed fix the problem. Can this be confirmed and fixed upstream?

[2019-05-17 11:26] rgerhards commented on #3667
A PR would be much appreciated. I need to craft a testbench test for confirmation, I'll try to do this ASAP but it may take a short while.

[2019-05-17 11:36] Programie commented on #3670
I just found the issue: Our internal proxy seems to cache the Release.gpg file which has been updated today.

[2019-05-17 13:47] josuegonzalezm commented on #3668
I solved the problem, i just change the form of the templates for the legacy form and everything starts to work again, it's not clear the reason but that works for me.

before:
[code]

after
[code]
Thank you !
@rgerhards @davidelang

[2019-05-17 13:47] #3668 closed

[2019-05-17 14:50] rgerhards commented on #3667
confirmed via testbench reproducer

[2019-05-17 14:53] #3667 closed

[2019-05-17 15:16] rgerhards commented on #3670
I admit it's a bit strange, but I also do admit that I do not know how exactly OBS handles this. It's an OBS key, not mine.

[2019-05-17 18:14] DG12 opened #3673 "CONTRIBUTING.md broken link"
on page
https://github.com/rsyslog/rsyslog/blob/master/CONTRIBUTING.md

help with the documentation; you can either contribute
to the rsyslog doc directory, which is shown on http://rsyslog.com/doc

The **rsyslog doc directory** points to
https://github.com/rsyslog/rsyslog/tree/master/doc

produces. 404

[2019-05-17 20:36] RobChrystie opened #3674 "freshStartOnTail does not appear to be working"
While using imfile module I have the following configuration to tail /var/log/audit/audit.log:
`...
input(type="imfile" tag="sys-audit" file="/var/log/audit/audit.log" freshStartTail="on")
...`
I go ahead and start rsyslog and stream audits to the receiving machine without any issues. I shut down the rsyslog service for 15 minutes then I start rsyslog service and it picks up where it left off in t

[2019-05-17 20:42] rgerhards commented on #3674
See doc: https://www.rsyslog.com/doc/v8-stable/configuration/modules/imfile.html

Works exactly like it should.

[2019-05-17 20:45] RobChrystie commented on #3674
Okay I did read it but must of not understood. The first time rsyslog is started it will ignore all old logs and the first time only? All subsequent stop and starts will pick up where they left off?

[2019-05-17 21:05] davidelang commented on #3674
If there is not a state file, it will ignore everything in the file (the other
option is to send everything in the file)

but if you have a state file, it knows where it left off and makes use of that
knowledge.

so yes, the config option only matters the first time rsyslog sees the file, but
if you remove the state file, it will again be the 'first' time rsyslog sees the
file :-)

David Lang

[2019-05-18 02:12] thangld322 commented on #3669
Hi,

I downloaded rsyslog from here
[rsyslog-8.1904.0](https://www.rsyslog.com/downloads/download-daily-build/)

After I installed rsyslog following this
[guide](https://www.rsyslog.com/tag/installation/) , it told me this:

[code]

I overwrited the default rsyslog.conf with the about config I copied from
[here](https://sematext.com/blog/recipe-rsyslog-apache-kafka-logstash/)

**OS version** = Deb

[2019-05-18 08:47] rgerhards commented on #3669
you need to add `--enable-imkafka --enable-omkafka` to the configure command. Any specific reason you do not use the binary packages - I am just curios...

Rainer

[2019-05-18 08:51] rgerhards commented on #3674
I also wonder why one want to actively loose logs just because rsyslog is stopped for a while. I can somewhat understand to not get logs from existing files when rsyslog is first installed, but after that...?

[2019-05-18 08:58] rgerhards commented on #3664
can you give it a try? We bumped the dependency, but it looks like it still does not work. Would be great to have some outside verification.

[2019-05-18 09:44] thangld322 commented on #3669
@rgerhards Thank you sir! Work like a charm!

I solved my problem with this line:

`./configure --prefix=/usr --enable-omkafka --enable-omelasticsearch
--enable-omhiredis --with-hiredis-dir=/usr/include`

I think you should add enable module guide to the documents. Newbies like
me are very confusing to start using rsyslog :D

[2019-05-18 10:28] thangld322 commented on #3669
@rgerhards Thank you sir! I successfully cònfigure with line:

`./configure --prefix=/usr --enable-omkafka --enable-omelasticsearch
--enable-omhiredis --with-hiredis-dir=/usr/include`

Then, I run `make`, it gives me this error:

[code]

[2019-05-20 07:58] Programie commented on #3664
I was able to install rsyslog-redis which now depends on libhiredis0.13 instead of libhiredis0.10.

But after restarting rsyslog it complaints about an unknown module "omhiredis". Listing the files in the rsyslog-redis package states it only contains the changelog files:

[code]

[2019-05-20 10:48] thangld322 commented on #3669
@rgerhards after reinstall all dependencies, I have successfully installed
rsyslog with imkafka and omredis but I can't not install omelasticsearch.
Error:

`configure: WARNING: unrecognized options: --enable-omelasticsearch`

Please help!

[2019-05-20 12:41] RobChrystie commented on #3674
Thank you for the responses I figured out that workaround shortly after my post!

Sometimes in a maintenance situation we do not care to stream the logs so stopping rsyslog then restarting it would flood the listening server with logs we don't need. Similar to the freshStartOnTail situation.

[2019-05-20 12:41] #3674 closed

[2019-05-20 13:42] lhycz commented on #3645
[patch-issue-3645.txt](https://github.com/rsyslog/rsyslog/files/3198136/patch-issue-3645.txt)
Hi, this change seems to fix this issue for me.
The patch contains quick fix in imfile.c and some tests, without the patch only one of them passes.
But I don't see deep enough into the codebase, so hopefully it doesn't break something else.

[2019-05-20 18:13] strikaco opened #3676 "function 'ipv42num' not found"
Not sure if I'm doing something wrong but I thought this was a built-in function not requiring any external utilities? The `ipv42num` function does not seem to exist in my environment.

### Actual behavior
[code]
### Steps to reproduce the behavior
[code]

### Environment
- rsyslog version: v8.1904.0
- platform: Ubuntu 16.04
[http _localhost 5000_services_.txt](https://github.com/rsyslog/rsyslog/f

[2019-05-20 18:43] josuegonzalezm opened #3677 "Losing logs"
### Expected behavior
I am running a new Rsyslog server in Centos v7.6 and my old server is running in Centos v6.5. The version of the new one is Rsyslog v8.24 and in the old is Rsyslog v7.4. My problem is that in my old server i am receiving all the logs for example when i do ssh connection, but in my new one i am just receiving a part of them.. so to test what is the problem, i installed Rsyslog

[2019-05-20 19:13] davidelang commented on #3677
are the messages you are loosing from the local server, or from a remote host?

if it's from the local server, it could be a journald issue, or an imjournal
issue (there have been a lot of fixes to imjournal in the recent releases adn
8.24 is about two years old now)

if these are from a remote system, are they arriving over TCP or UDP?

David Lang

[2019-05-20 20:17] josuegonzalezm commented on #3677
@davidelang the logs are arriving from a remote system using UDP, but i ran the New, the Old and the Test server with "tail -f " to see if they received the logs and the Old and the Test server received the logs but the New server just a part of them as you can see in the top ( Expected behavior / Actual behavior ). I tried 3 times with the same result. But checking the difference between the conf

[2019-05-20 20:21] davidelang commented on #3677
imjournal is not involved with logs arriving viea UDP

If you are having problems receiving logs via UDP, the first thing I would check
is the OS buffers.

David Lang

On Mon, 20 May 2019, josuegonzalezm wrote:

[2019-05-20 20:35] josuegonzalezm commented on #3677
okay i going to check that to see if it's that

[2019-05-20 20:40] josuegonzalezm commented on #3677
@davidelang i did a test where i sent a message to my email and checking if i could see it in the folder but the result was this one:
 received email: Rsyslog alert for app002 msge=' pam_sss(sshd:auth): authentication success; logname= uid=0 euid=0 tty=ssh ruser= rhost=10.80.1#.## user=testlogin'

but in the folder

May 20 16:17:01 app002 sshd[31077]: Accepted publickey for pragma from 10.70.4.91

[2019-05-21 10:32] simonsunx commented on #1615
@gleventhal @rgerhards Could you share ossl driver config?

I caught same issue (pool_is_locked) in CentOS 6.8 with rsyslog 8.1904.0. My experiments with ossl config failed.

May be tail of rsyslog -dn will be helpful:
[code]

[2019-05-21 11:00] qha commented on #1615
@simonsunx I think this is what i have configured to receive logs with Openssl:

    global(defaultnetstreamdrivercafile="/path/to/ca-cert.pem"
           defaultnetstreamdrivercertfile="/path/to/receiver-node-cert.pem"
           defaultnetstreamdriverkeyfile="/path/to/receiver-node.key.pem")
    module(load="imtcp"
           streamdriver.name="ossl"
           streamdriver.mode="1"
           s

[2019-05-21 12:42] josuegonzalezm commented on #3677
Hello, if someone can guide me a little bit more about this issue this would be great. Thank you @davidelang

[2019-05-22 02:35] thangld322 opened #3678 "How can I get time from logs field: timestamp, @timestamp"
Logstash -> rsyslog -> elasticsearch

### Expected behavior
Writing to ES index: logstash-2019-05-19
### Actual behavior
Writing to ES index: logstash-2019-05-22
### Steps to reproduce the behavior
I use rsyslog to write this event into elasticsearch:
`{"@timestamp":"2019-05-19T16:58:09.327Z","message":"lalaland","timestamp":"1558285089327"} `

My rsyslog.conf:
[code]
I want it to write into logst

[2019-05-22 02:39] #3669 closed

[2019-05-22 04:09] davidelang commented on #3678
you need to write out logs with the template RSYSLOG_DebugFormat so you can see
how the message has been parsed.

you can also write logs using the template the omelastcsearch uses when
delivering the message

By using timerported, you are telling rsyslog to use the time that the message
arrived at rsyslog (IIRC).

The logstash message you show is not a valid syslog message, and so the
@timestamp

[2019-05-22 09:59] ganeshbms commented on #3464
Could somebody look at the attached valgrind report ? Thanks

[2019-05-22 15:00] josuegonzalezm commented on #3677
I solved it downgrading the version of Rsyslog from 8 stable to 7 stable.
Thanks

[2019-05-22 15:00] #3677 closed

[2019-05-22 17:18] davidelang commented on #3464
I think I saw a bigfix for docker in the last few weeks, can you check if it's
still happening with the latest code?

David Lang

On Wed, 22 May 2019, Sunkad Ganesh wrote:

[2019-05-22 17:25] davidelang commented on #3677
version 7 stable is over 5 years old, not maintained, and there have been many
bigfixes since then. go to an older 8.x instead.

David Lang

[2019-05-22 22:23] dch commented on #2827
*** thank-you *** looking forwards to applying this diff already!

[2019-05-23 13:19] deoren opened #3679 "Setup sponsorship for rsyslog repo(s)"
https://github.blog/2019-05-23-announcing-github-sponsors-a-new-way-to-contribute-to-open-source/

@rgerhards

Not sure if you're interested, but wanted to make sure you were aware of the option.

[2019-05-27 03:08] erickonavarro opened #3680 "Send email when certain log received"
I'm currently working on a project that involves receiving events from my /var/log/conpot/conpot.log file in my rsyslog client. My rsyslog server receives them though TCP on /var/log/conpot/CONPOT.log; what I want to do is use ommail whenever there is an event that has "HTTP" on it that comes from conpot.log
I have created a .conf file on /etc/rsyslog.d with the following:

[code]

I'm a missing s

[2019-05-27 03:12] davidelang commented on #3680
don't you have to authenticate to gmail to send the message?

David Lang

On Sun, 26 May 2019, erickonavarro wrote:

[2019-05-28 03:28] erickonavarro commented on #3680
Already did. I activated the access for non-secure apps.

El dom., 26 may. 2019 a las 22:12, David Lang (<notifications@github.com>)
escribió:

[2019-05-28 09:32] JayTeli commented on #2276
invalid or yet-unknown config file command 'InputFileFaility' - have you forgotten to load a module? [v8.24.0 try http://www.rsyslog.com/e/3003 ]

I am getting similar error. i tried to load
$ModLoad imfile

[2019-05-28 09:41] ganeshbms commented on #3464
Ok .. I will try that .. I'm building docker image which always picks latest rsyslog release version ..

[2019-05-28 17:05] strikaco commented on #3680
I'm not sure if this is valid syntax but I've never seen or used it myself:

[code]

IME it should be `module(load="ommail")`.

Also, you appear to be missing the actual `action()` invocation-- I just see an if-then and a bunch of parameters. You load the module but nothing says to actually call `ommail` and do anything with it.

Your action block should look more like this (change settings to tas

[2019-05-28 20:51] davidelang commented on #2276
we would need to see your full config file to begin to guess at what's wrong.
Please post it here.

David Lang

[2019-05-28 20:57] wadey opened #3681 "Segfault on 8.1905.0 with multiple queues with filename set"
### Expected behavior

No segfault

### Actual behavior

Segfault, valgrind stack trace:

[code]

I think this was introduced by https://github.com/rsyslog/rsyslog/pull/3644

### Steps to reproduce the behavior

Create an `action` with `queue.filename` set, and then set `queue.filename` on `main_queue` as well.

### Environment
- rsyslog version: 8.1905.0
- platform: Ubuntu 18.04

[2019-05-28 21:00] davidelang commented on #3681
do you set the filenames to the same value or to different values? rsyslog never
worked properly if multiple queues had the same filename, the recent change just
makes it a startup-time fatal flaw rather than a runtime silent data corruption
flaw.

David Lang

  On Tue, 28 May 2019, Wade Simmons wrote:

[2019-05-28 21:01] wadey commented on #3681
The filenames are set to different values.

[2019-05-28 21:03] davidelang commented on #3681
can you please post your full config?

David Lang

[2019-05-28 21:23] wadey commented on #3681
This reproduces it:

[code]

[2019-05-28 21:37] davidelang commented on #3681
thanks for the simple config to replicate, I don't see anything obviously wrong,
so we'll have to wait for Rainer to wake up (German time) and comment.

David Lang

On Tue, 28 May 2019, Wade Simmons wrote:

[2019-05-29 09:14] mbiebl opened #3682 "diag.sh uses ifconfig which is deprecated"
Looking at tests/diag.sh, it uses
[code]
Unfortunately, net-tools, which provides ifconfig, is deprecated on Linux and a lot of distros no longer install it by default, e.g. Debian.
See https://wiki.debian.org/NetToolsDeprecation or https://www.archlinux.org/news/deprecation-of-net-tools/

The alternative (that should be used on Linux) is iproute2, which provides the `ip` utility.
I'd suggest usin

[2019-05-29 09:22] JayTeli commented on #2276
# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides

[2019-05-29 09:23] JayTeli commented on #2276
`# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides

[2019-05-29 13:25] wadey commented on #3681
Here is a smaller reproduction config that can be tested without root:

[code]

[2019-05-29 16:55] davidelang commented on #2276
klogLocalPIF does not seem to appear in your rsyslog.conf file, is it in an
included file?

I also see that you have

way down in the file, I don't remember the details of the obsolete config
perfectly, but I'm pretty sure that you need that before you load the imjournal
config.

If you are having to use multiple lines to set the config for a module, you
really should switch to the new syntax so t

[2019-05-29 23:11] arsiesys commented on #2458
Hello @maximeguillet, I am testing and experimenting the same issue while trying to restart rsyslog.
It seems that when rsyslog shutdown, the "librdkafka" is going to make a lot of retry of connections to the broker before "failing" and then allow the "messages" being considered as "failed" by rsyslog and then save them...

It seesm that I need to increase the omkafka parameter closetimeout to a v

[2019-05-30 11:36] skupkosk opened #3683 "Reopen TCP sockets on HUP signal"
### Expected behavior
Would be nice to be able to reopen TCP sockets on HUP (or other) signal.
It might help in LVS balanced setups where after unavailability of one LVS node, the other took over all the connections. The reopening of omfwd/omrelp TCP sockets on clients might help to balance connections again.
Maybe other signal can be used for reopening sockets.

### Actual behavior
TCP sockets ar

[2019-05-31 17:23] Whissi commented on #3626
Please re-open. It's still failing in 8.1905:
[code]

[2019-05-31 17:25] Whissi opened #3684 "Lots of missing files in 8.1905 release tarball"
[code]

[2019-05-31 22:22] richm commented on #3626
I suppose you could reopen this issue, but the actual problem is different this time:
[code]
this file is committed to git - it should be there - is the problem that `.` is not the same as `$srcdir`?

[2019-05-31 22:28] richm commented on #3626
at any rate, I cannot reproduce on Fedora 30
[code]

[2019-05-31 22:49] Whissi commented on #3626
I cannot re-open.

Are you testing using git or release tarball (http://www.rsyslog.com/files/download/rsyslog/rsyslog-8.1905.0.tar.gz)? I guess the file wasn't added to Makefile so it isn't included in `make dist` target.

[2019-05-31 23:03] richm commented on #3626
https://github.com/rsyslog/rsyslog/pull/3685

[2019-06-01 05:04] gustavosoares opened #3686 "8.1905.0 rsyslog hangs after a while"
### Expected behavior

Rsyslog to start and keep running as any daemon, logging messages to /var/log/syslog uninterruptedly.

### Actual behavior

We noticed that after upgrading to the latest release 8.1905.0, rsyslog seems to hang after the initial boot of an ec2 instance and not messages are written to /var/log/syslog. The only way to make rsyslog back to life is to restart the service. It then

[2019-06-01 10:44] andvgal opened #3687 "Keep a few previous releases of the same stable in the package repositories"
### Expected behavior

Keep a few previous releases of the same stable branch.

### Actual behavior

Once a new version is released, the previous version packages are removed from the repo.

### Steps to reproduce the behavior

`apt-cache show rsyslog` - shows only the last released version.

### Environment
- rsyslog version: 8.1905.0-0adiscon1bionic1
- platform: Ubuntu 18.04

Related problem: ht

[2019-06-01 10:46] rgerhards commented on #3687
This is how PPAs work - I don't like it either. That's one reason why we work on OBS: https://www.rsyslog.com/downloads/download-other/

[2019-06-01 10:46] #3687 closed

[2019-06-01 19:46] andvgal commented on #3681
@davidelang  I hope it helps you.

Based on quick code review and the behavior, it seems there is use-after-free situation.

1. At least, `qqueueDoneLoadCnf()` must set `queue_filename_root` to `NULL` when it's done.
2. It seems, the problem gets triggered when main queue is being file backed as well. See below.

[code]

Here is the sequence of events.

[code]

So, @wadey seems to be right in his

[2019-06-01 19:56] andvgal commented on #3681
@wadey I can also confirm there is a quick workaround to move `queue.*` parameters from `main_queue()` to a `ruleset`.

[2019-06-02 16:30] atc0005 commented on #3681
We're also experiencing segfaults on our central receiver after upgrading from 8.1904 to 8.1905. I've been fighting with other unrelated issues, so I haven't had time (yet) to test whether the workarounds noted here will resolve the issue for us.

[2019-06-02 16:56] atc0005 commented on #3687
@rgerhards

How stable would you consider the OBS repo in comparison to the `ppa:adiscon/v8-stable` repo?

[2019-06-02 17:04] andvgal commented on #3687
BTW, I see some projects use scheme with two or more repositories on Launchpad. One is for proven stable, and another is for testing.

To motivate testing, it may be worth to keep the current as is, but to add some new "oldstable" repository with previous well tested versions.

The case of segfault seems have caused serious issues for a number of deployments and it was quite problematic to rollbac

[2019-06-02 18:01] atc0005 commented on #3687
Follow-up:

I switched over to OBS and found that the v8.1904.0 packages are missing files.

[code]

[code]

[code]

Installing the packages from the Adiscon PPA provides the missing files:

[code]

[code]

[2019-06-02 20:13] davidelang commented on #3687
I recommend pulling any Internet sources into a local repo that you then install
from. Keep the old copies locally.

Besides the PPA problem, there have been many cases where something has
happened to a project and they have completely taked down the source. I don't
expect this to ever happen with rsyslog, but just as a general practice, you
should never make yourself dependent on the Internet to

[2019-06-02 23:08] andvgal commented on #3687
@davidelang I agree when you build something in-house, but that does not work for open source automation like [cflogsink](https://github.com/codingfuture/puppet-cflogsink).

I've used to maintain FireHOL mirror for older OS versions, but it's not a good approach for open source when package repos get scattered.

[2019-06-02 23:42] davidelang commented on #3687
all automation should be able to point at local repos that can have old
versions.

The idea that an install MUST install the latest version is a concept that can
only be held by people who are lacking real-world experience in maintaining
production systems. It also indicates someone who is willing to bet their
company on the security of systems maintained by unknown people on the Internet
and the

[2019-06-03 00:00] andvgal commented on #3687
Yep, that's exactly what can be solved with local apt repo + git mirrors. That's the only option for setups with high security requirements in fact. That's why all repository URL gets [parameterized for example](https://github.com/codingfuture/puppet-cflogsink/blob/master/manifests/rsyslog/ubuntuapt.pp#L9).

However, such approach does require major resources to track and analyze all dependencies

[2019-06-03 01:16] davidelang commented on #3687
On Sun, 2 Jun 2019, Andrey Galkin wrote:

the ODS should have old versions in it, and if there are files missing, that's a
bug to be solved.

trying to maintain an oldstable or similar repo seems to be to be a time sink
(the build scripts are available on github, so if you see a way to modify them
to manage it automatically, I'm sure the updates would be accepted)

David Lang

[2019-06-03 01:21] davidelang commented on #3687
On Sun, 2 Jun 2019, Andrey Galkin wrote:

no, just mirror all the repos that you use (I agree that cpan and pip pose
problems, but they are also major causes of unexpected changes)

I agree. But you don't need to go to every binaries public repo, use your distro
repo + a handful of projects that are the 'important' apps you are running
(apache for your webservers, rsyslog for your log relays's etc

[2019-06-03 08:27] rgerhards commented on #3681
thx for the good bug report. I could just reproduce the issue with a testbench test. Looks like we actually had no coverage for this regular use case... :-(

[2019-06-03 09:45] rgerhards commented on #3686
could you create a debug log and post it? https://www.rsyslog.com/doc/master/troubleshooting/howtodebug.html This will possibly tell us why it hangs...

[2019-06-04 06:32] #3681 closed

[2019-06-04 07:05] rgerhards commented on #3684
thx for the report. This also means the distcheck definitions are not correct, otherwise CI should have detected that. Looking into it.

[2019-06-04 15:01] RRAlex commented on #3686
Same issue, after a logrotate at 00:17 (which is hourly, so strangely always at the midnight run?), every few days, some rsyslog die on our cluster and require a restart.

[2019-06-04 15:15] rgerhards commented on #3686
do you have a core dump which you could use to obtain a stack trace?

Rainer

El mar., 4 jun. 2019 a las 17:02, Alexandre Guédon (<
notifications@github.com>) escribió:

[2019-06-04 18:17] RRAlex commented on #3686
I don't have any hanged rsyslogd right now, but maybe tomorrow morning, if I do, I'll generate a coredump via `ulimit -Sc unlimited && killall -4 rsyslogd`.
On Ubuntu it seems to base64 a coredump in a report in /var/crash/, hopefully that works.

[2019-06-05 07:16] #3684 closed

[2019-06-05 08:24] Programie commented on #3664
Do you already have any news about how to continue with this issue?

[2019-06-05 08:44] rgerhards commented on #3664
It's being worked on. @jgerhards has just changed the devs, but for some reason Ubuntu 14 doesn't correctly build on OBS. Looking to fix this first. Reminder: it's a community project, so help is always appreciated!

[2019-06-05 10:04] tux21b opened #3691 "omelasticsearch drops messages when the index is read-only"
### Expected behavior

The action should be suspended so that messages will queue up. Once Elasticsearch is operational again, the messages should be re-transmitted.

### Actual behavior

Messages are sent to Elasticsearch, Elasticsearch respons with:

[code]

rsyslog assumes that there was an error parsing the message and drops it (or writes it to the errorLog). The messages are lost and none of

[2019-06-05 10:05] tux21b commented on #3691
Is there an API to suspend an action manually? E.g. is it possible to suspend the omelasticsearch action manually (without blocking traffic via iptables) once the monitoring systems detects an outtake?

[2019-06-05 14:03] DagOveH opened #3692 "8.1905.0 parameters missing"
I just upgraded to 8.1905.0 from 8.1901.0, but now I see new errors;
Jun 05 15:19:43 <node> rsyslogd[23930]: error during config processing: parameter 'action.reportsuspension' not known -- typo in config file? [v8.1905.0 try https://www.rsyslog.com/e/2207 ]
Jun 05 15:19:43 <node> rsyslogd[23930]: error during config processing: parameter 'action.resumeRetryCount' not known -- typo in config file?

[2019-06-05 14:05] rgerhards commented on #3692
Config?

[2019-06-05 14:35] DagOveH commented on #3692
Uhh, sorry, config pasted below.

Further investigation shows these 2 error messages are from the main_queue() block.
If I comment out these in that block
  action.resumeRetryCount="-1"
  action.reportsuspension="on"

... the error messages disappears.
(I have therefore removed (omkafka) from the title)

Platform:
Red Hat Enterprise Linux Server release 7.6 (Maipo)

Config; (
#### GLOBAL DIRECTIVE

[2019-06-05 16:55] davidelang commented on #3692
On Wed, 5 Jun 2019, Dag Ove Hegreberg wrote:

action.* parameters make no sense when applied to the main_queue(), which is why
they were generating errors.

additional comments inline below

you really should have all the global items in one block, I don't know if
multiple blocks with different items listed will combine them of have a 'last
one defined wins' approach.

global (net.ipprotocol="ipv4

[2019-06-06 07:04] rgerhards commented on #3692
As David said: The `main_queue()` object does not have these parameters, consequently they are rejected. I don't know why previous versions seem to have ignored them silently. If so, that was a bug. It was probably fixed as a side-effect of some other change.

[2019-06-06 07:04] #3692 closed

[2019-06-06 07:06] rgerhards commented on #3692
actually, in this case you can. These are `line comments`. The config processor understand this (commonly used) format. Everything in a line after `#` is a comment and ignored. No matter if inside an object definition or not. The same also applies to `/*` and `*/` if properly nested.

Tech info: comments are stripped very early in config processing. It is done via the lexer file while tokenizing.

[2019-06-06 07:08] davidelang commented on #3692
On Thu, 6 Jun 2019, Rainer Gerhards wrote:

good to know, thanks.

David Lang

[2019-06-06 07:54] DagOveH commented on #3692
I'm sorry for raising this without checking more myself.
I'm relatively new to rsyslog, being testing/using rsyslog to Kafka for some months now.
The config I have ended up with is the result of hours searching the web for information and examples.
I do appreciate the feedback from both @davidelang and @rgerhards and will use those to improve the setup.
One positive thing with the new version, I d

[2019-06-06 08:01] rgerhards commented on #3692
Keep positing things that concern you - without the feedback, it is hard to move forward!

[2019-06-06 10:29] zeising opened #3694 "[ enhancement ] Turning off UseSpecialParser for FreeBSD imuxsock"
### Summary
FreeBSD switched logging to use rfc5424 behaviour by defalt on logs arriving on log sockets and elsewhere. This seem to confuse rsyslog parsing, and the result is that rsyslog fails to parse out things like program name. This can be fixed by turning off the special parser, using `useSpecialParser=off`. This should probably be made the default for FreeBSD (or handled in another way, if

[2019-06-06 14:32] RRAlex commented on #3686
So i've tried setting the core limits to unlimited, locally and on the process:
`ulimit -Sc unlimited`
`prlimit --pid $(pidof rsyslogd) --core=unlimited:unlimited`
Then tried with `kill -4` or `kill -6`, and though I see cores for other things in `/var/lib/systemd/coredump`, rsyslogd is not getting its core memory dumped.

Any suggestions on how to go about it? I tried gcore in gdb and that seems

[2019-06-06 14:41] rgerhards commented on #3686
possibly systemd is interfering here. Anyhow, we also have anonther way to get useful information in that case. Have a look here:

https://www.rsyslog.com/doc/v8-stable/troubleshooting/troubleshoot.html#segmentation-faults

Read up the segmentation fault section (link should directly point to it). Follow the advise on debug symbols and the look at the info starting with this paragraph:

_The same

[2019-06-06 14:43] rgerhards commented on #3694
Would you be willing to help with FreeBSD 12 installation for CI purposes? I can provision a VM, but I need help with customizing it.

[2019-06-06 15:07] RRAlex commented on #3686
Alright, I'll look at that guide for live info. :)

Also, instead of `gcore` in gdb I used `generate-core-file` and that created a valid core this time.
So since it should happen again at midnight tonight, I'll send you at least that core tomorrow...
Is there a way to send it privately as it has some log lines inside?
Thanks!

[2019-06-06 15:44] zeising commented on #3694
Of course!
Looking at the repo, it looks like you're using travis. I don't know very much about it, but I'm willing to learn. I know cirrus CI has good github integration and FreeBSD support out of the box, that might be an option otherwise, but I'll run with whatever you feel is best.

[2019-06-06 16:26] rgerhards commented on #3694
Travis Supports only Linux, but we have large buildbot infrastructure.
There is an older FreeBSD in it, so that should run without issues. We have
vms e.g. sponsored by digital ocean.

https://build.rsyslog.com/#/

Sent from phone, thus brief.

[2019-06-06 16:55] zeising commented on #3694
Ah, I didn't know about that infrastructure.
Just let me know what you need help with or want me to do, and I'll help out!

[2019-06-07 07:09] rgerhards commented on #3694
Great! I'll see if I can provision a VM today ... but I may need until next week. Big holiday weekend is in front of use here in Germany and I still have to tackle the backlog... ;-)

[2019-06-07 07:09] rgerhards commented on #3694
@zeising pls send me a mail to rgerhards@adiscon.com so that we can get into direct contact

[2019-06-07 07:39] gecube commented on #3340
I believe that this feature is a must, but need more investigation and research how to be implemented. I'll explain. Now there is great abyss between classical simple Unix toolings (which realize some simple functionality, but very good) and big combines (like Zabbix - a number of integrations and very complex internal structure). Also there is tendency to make systems distributed (for example, Ka

[2019-06-07 10:43] davidelang commented on #3340
Implementing Load Balancing can be a very complex thing to do, there are a lot
of different load balancing strateges to implement. Rsyslog (like most
opensource projects) is always short on manpower, so we have to pick where to
spend our efforts (we also welcome contributions on things that we don't spend
our efforts on)

Rsyslog had a feature to allow it to support existing load balancers, you ca

[2019-06-07 13:27] RRAlex commented on #3686
So I have a 500+MB core if you want it (by email or other private mean), but meanwhile, for the PPA, on Xenial, with rsyslog 8.1905.0-0adiscon2, i'm getting the following with gdb, thread wise (as the guide suggested):
[code]

[2019-06-07 16:58] davidelang commented on #3686
Do you have impstats running and writing to a file (as opposed to going to the
main queue)? if so, what does it show while the system if hung?

I know I asked someone, I don't remember if I asked you

David Lang

[2019-06-08 16:50] RRAlex commented on #3686
I do not see any reference to "impstats" in my /etc folder (so rsyslog.conf or rsyslog.d/*.

[2019-06-09 04:29] davidelang commented on #3686
https://www.rsyslog.com/doc/v8-stable/configuration/modules/impstats.html

This is a module that outputs a lot of stats about what rsyslog is doing, it's
output can be very useful when troubleshooting as it will tell the difference
between no new logs arriving (or at least not being processed) and an output
that's failing and blocking processing of logs.

it can be configured to write a log file o

[2019-06-09 19:26] atc0005 commented on #3686
FWIW, we're still seeing hangs with the latest `8.1905.0-0adiscon2xenial1` packages. We rolled back to `8.1904.0-0adiscon1xenial1` and our receivers are functioning normally once more.

[2019-06-10 13:57] RRAlex commented on #3686
Are you aware of an official repository that keeps older PPA versions?
I could only find an ARM package...

[2019-06-10 17:10] atc0005 commented on #3686
Not sure if the problem has been officially reported or fixed, but when I tried OBS I found that some files were missing in one or more of the packages available here:

https://github.com/rsyslog/rsyslog/issues/3687#issuecomment-498052194

I've meant to file an issue against the packages, but haven't done so yet. If you have time to confirm the results and file a report I suspect the devs would ap

[2019-06-11 06:42] onyxmaster commented on #3404
[code]

Also, the message looks like this:
[code]

The file name and fd look like a result of a memory overwrite to me.
The invalid characters instead of a file name are 0x90 and 0xC0.
`875573794` is an ASCII `402"`,  not sure if this an accident or a tail of a string.

[2019-06-11 09:02] qha commented on #3404
That reminds me, the two hosts i remember seeing this error on are the ones i have configured with actions that use dynafile.

[2019-06-11 09:16] rgerhards commented on #3404
@qha do you see this regularly, kind of reproducible? If so, we could see if memory checker instrumentation would bring some extra info...

[2019-06-11 09:21] qha commented on #3404
Yes, about once per hour on the busier host, about once per day on the other one.

[2019-06-11 09:24] rgerhards commented on #3404
Would it be possible, for a test, to run that instance in a terminal window under `valgrind` control? Best with installed debug symbols.

[2019-06-11 09:35] qha commented on #3404
I'm sure i can do it on the less busy host, the busier one sees a lot of sensitive data.

Upon installing debuginfo i realise that those hosts also run our locally developed message modification module, just so you know.

[2019-06-11 09:42] qha commented on #3404
Leaving the office for lunch now, i this is still of interest i will try to run rsyslog with valgrind later. I haven't used valgrind before so i could probably do with some instructions.

[2019-06-11 09:58] Whissi opened #3698 "imfile-truncate-2GB-file.sh test fails in hppa"
On hppa, *imfile-truncate-2GB-file.sh* test is failing for some time now:
[code]
Downstream bug: https://bugs.gentoo.org/673870

[2019-06-11 10:01] rgerhards commented on #3698
I see - it looks like this system is extremely slow. We need to add a capability to the testbench to change the default timeouts. They are currently modeled after  our (already pretty slow) CI systems, but there seems to be room for further enlargement.

@Whissi could you lend me a hand when it comes to passing configure options to the testbench bash scripts? I am not 100% sure how to do that.

[2019-06-11 11:37] rgerhards commented on #3404
the good thing about valgrind is that it is super-easy to use. Just install it and then do
[code]
where program is your non-valgrind command line. For rsyslog I recommend doing it inside a terminal session for simplicity. It boils down to
[code]
where "other options" is the options that your startup file provides to rsyslog. The `-n` is important. Without it, rsyslog auto-backgrounds itself and th

[2019-06-11 11:52] qha commented on #3404
Ok, it is running under valgrind now. I will have a look tomorrow to see if this error has occurred. Will the Valgrind data that you are interested in be printed to the terminal?

[2019-06-11 12:07] Programie commented on #3664
Unfortunately, I have no experience with OBS and also don't know how to help with the OBS issue.

My current workaround for this issue is to grab the rpm package (e.g. the one for Fedora), which still contains the omhiredis.so, extract the rpm package and manually copy the omhiredis.so on the host to /usr/lib/rsyslog/omhiredis.so.

It looks like all packages for the same architecture are using the

[2019-06-11 12:17] rgerhards commented on #3404
yes, stdout and stderr

[2019-06-11 12:56] rgerhards commented on #3404
it's so-called "exceptions". Well, most probably I am interested in anything valgrind reports.

[2019-06-11 14:32] qha commented on #3404
Just in case i forget it when i paste in the valgrind results, i run the following commands with cron every five minutes so that i can look for these log messages on disk and know that log reception is working:

    echo '<109>log-canaries: redacted1.liu.se test message to redacted0000000002.liu.se over udp'|ncat --udp --send-only redacted0000000002.liu.se 514
    echo '<109>log-canaries: redacted

[2019-06-11 16:27] jchivian opened #3699 "impstats _sender_stat messages field value formatted as text (with quotes) not integer in JSON representation"
### Expected behavior

{ "name":"_sender_stat", "sender":"192.168.10.12", "messages":0}

Notice lack of quotes around messages value.

### Actual behavior

{ "name":"_sender_stat", "sender":"192.168.10.12", "messages":"0"}

Notice double quotes surrounding messages value.  Confuses type as string.

### Steps to reproduce the behavior

module(load="impstats"
  interval="60"
  resetCounters="on"
  f

[2019-06-12 07:16] ondrejkopka commented on #933
+1 exactly same issue here :(

[2019-06-12 09:06] liveder commented on #933
there is a workaround using veryRobustZip.
it will provide some extra overhead but it works great

[2019-06-12 10:32] rgerhards commented on #3686
@RRAlex Thanks for the backtrace - it's generally useful. But only limited because it misses the symbols. Did you install the rsyslog debug symbols? If not, generating a new backtrace with symbols installed would be much appreciated.

[2019-06-12 10:42] rgerhards commented on #3686
just to record this information: review of ChangeLog remotely brings up https://github.com/rsyslog/rsyslog/pull/3642/commits/86564757bfde2aff28f18194346c117e8560a89e as potential regression source.

No immediate action planned other than additional code review. We need to find a reproducer that we can actually work with.

[2019-06-12 10:44] rgerhards commented on #3686
@RRAlex can you share your full config? best via
[code]
where -f should point to the main config file and the file pointed to by -o contains the full config. Post the latter.

[2019-06-12 11:13] rgerhards commented on #933
I revisited this issue, and I am still unable to reproduce. @ondrejkopka could you provide a debug log of a session where this problem occurs?

[2019-06-12 12:45] rgerhards commented on #3680
As far as I remember ommail cannot directly talk to gmail. The solution is to deliver to the local MTA and make it deliver to gmail.

[2019-06-12 12:55] rgerhards commented on #3676
This problem is pretty strange. The function is in rsyslog core, and it is checked with every CI run. Maybe a mix of different rsyslog modules on the system?

If you can provide a debug log from startup, we may be able to provide a clue.

[2019-06-12 12:58] rgerhards commented on #3614
looks solved

[2019-06-12 12:58] #3614 closed

[2019-06-12 13:00] #3601 closed

[2019-06-12 14:28] RRAlex commented on #3686
Here is the configuration.
(For the version with symbols, I'm not sure I can get the source of the PPA and create a package easily though... at least `apt-get source rsyslog=8.1905.0-0adiscon2xenial1` is not helping.)

[code]

[2019-06-12 14:46] rgerhards commented on #3686
I thought the PPA creates these automatically, but I did just check and not see the symbols package. Will investigate. Why PPA and apt-get source doesn't work... I don't know.

[2019-06-12 14:50] rgerhards commented on #3686
mhhh... pretty plain config file ... kind of rules out a couple of things I thought about. Hard to understand what is going wrong here.

[2019-06-12 16:18] #3046 closed

[2019-06-13 13:46] frantz45 opened #3703 "[enhancement][imjournal] read journal received from other hosts"
### Expected behavior
journald can forward events thanks to systemd-journal-upload/systemd-journal-remote.
By default received events are written to /var/log/journal/remote/.
imjournal should be able to read these logs.
Maybe add a parameter Path to configure where imjournal should read events.

### Actual behavior
imjournal only reads the local journal.

### Steps to reproduce the behavior
On the

[2019-06-13 14:27] RRAlex commented on #3686
@rgerhards Perfect, I'll switch some nodes to the devel to test it and disable the cron I had in place to restart the rsyslog 3 minutes after they (sometime) froze.

[2019-06-14 06:35] rgerhards commented on #3686
@RRAlex If the problem re-occurs, we may actually do a git bisect as suggested by @mbiebl . It's a bit hard in this case, as I need to do the bisect and @friedl needs to build packages for it, but better a slow process than no progress! :-) If we take that route, you need to switch to yet another repo (one specifically created for you). But now let's see what the current daily stable shows.

[2019-06-14 06:46] Arnix commented on #1503
@alorbach I am sorry that this took ages. It did not fix the problem.
To be clear, our problem occurs being a sender (towards Loggly), using the omfwd module over OSSL (or GTLS).
I have made a new fix, that solves this for OSSL now. Again, my C coding is way back in the past. Do you want me to make a new "WiP" PR so you can have a look at it.

[2019-06-14 09:33] rgerhards commented on #1503
PR is always good!

[2019-06-14 09:48] Arnix commented on #1503
@rgerhards  - so here it is: https://github.com/rsyslog/rsyslog/pull/3704

[2019-06-14 12:03] rouja commented on #3686
Hi

It seems that we are facing the same issue. rsyslog stop working after a while.
A strace seems to show an infinite loop :
[code]

We are on an old ubuntu : Ubuntu 12.04.5 LTS \n \l

And the rsyslog version is :

ii  rsyslog                              8.1905.0-0adiscon2precise1        a rocket-fast system for log processing
ii  rsyslog-relp                         8.1905.0-0adiscon2precise1

[2019-06-14 13:47] aremai opened #3705 "'action 3' was resumed (module 'builtin: mfwd') 2359"
Hello,

I'm receiving lots of errors as below:

liblogging-stdlog: action 'action 3' resumed (module 'builtin:omfwd') [v8.24.0 try http://www.rsyslog.com/e/2359 ]
[rsyslog.conf.txt](https://github.com/rsyslog/rsyslog/files/3290865/rsyslog.conf.txt)

Any idea what this means and what is triggering this event?

### Environment
- rsyslog version: v8.24.0
- platform: Suse Linux Enterprise 11

[2019-06-14 16:57] jchivian commented on #3705
A. That's an ancient version, you should update if possible.
B. rsyslog assigns names like "action 3" to actions that aren't explicitly named.  So, the third action encountered in your configs is causing the issue.  To tell what that is you must also include the content of the following as they appear early in your master config file.
$IncludeConfig /run/rsyslog/additional-log-sockets.conf
$Includ

[2019-06-14 17:14] RRAlex commented on #3686
So I had the issue on one node with 8.1907. So the issue is still present.

[2019-06-15 09:10] rgerhards commented on #3686
@RRAlex

good and expected. Can you know do a backtrace with the symbols present (you need to install them first)? I hope that this gives a clue to where the problem is. At least the area.

[2019-06-17 06:35] #3680 closed

[2019-06-17 06:37] rgerhards commented on #3673
fixed via #3673

[2019-06-17 06:37] #3673 closed

[2019-06-17 07:52] skupkosk opened #3706 "Lookup table does not set variable"
### Expected behavior
With string lookup table and set call in configuration, the variable should be set with lookup return value.
### Actual behavior
The variable is not set.
### Steps to reproduce the behavior
Log message with logger:
`root@HOST-LOCO:~# logger -d -P 5514 -n localhost -t apache_site_access -i test message`
Then message looks like follows:
[code]

The lookup table
[code]

does not

[2019-06-17 07:53] skupkosk commented on #3706
Debug output from message processing
[code]

[2019-06-17 07:59] rgerhards commented on #3706
@janmejay could you have a look? This seems also to be the case with current rsyslog version.

[2019-06-17 09:25] skupkosk commented on #3664
Would recommend to list all [available libhiredis packages](https://packages.debian.org/search?keywords=libhiredis) in rsyslog-redis package dependencies as described in [Debian policy](https://www.debian.org/doc/debian-policy/ch-relationships.html).

Something like
`libhiredis0.13|libhiredis0.14`
should make sense if both are available in the distribution and are supported by rsyslog.

Then [debi

[2019-06-17 09:39] rgerhards commented on #3664
@skupkosk we currently have the issue that libhiredis is not found for Ubuntu 14.04 on OBS while it should be available. OBS unfortunately has no easy way (that we know of) to support different Ubuntu versions via separate files. So this currently really bugs us...

[2019-06-17 13:59] gsforza opened #3709 "Broken connection with HAproxy"
### The problem
I am trying to use HAproxy in front of a Graylog instance. Most of the time the connections are being established correctly, but from time to time I see the following errors in the client log:
[code]

### My rsyslog.conf
[code]

- rsyslog version:
[code]
- platform: `Ubuntu 16.04.6 LTS`

### rsyslog debug log
[code]