[2017-10-11 09:05] jay7x commented on #1839
I'd say even more. It seems it affects all messages in same batch at least even if only one message had field unset.

[2017-10-11 09:42] davidelang commented on #1741
I seem to remember that there is a code limit involved around the 128k message size

something along the lines that you could go up to 128k with just config changes, but to go past 128k message size required a code change.

@rgerhards does this ring a bell with you?

[2017-10-11 23:22] mgrimes123 commented on #1821
I see a comment in imklog.c which states:

The kernel rate-limiting is voluntary in that printk_ratelimited must be used instead of the more common printk.  Also, rate-limiting is not the same as repeated message reduction.  I'm not yet certain if the imklog comment associates rate-limiting to the message reduction.

[2017-10-12 08:21] crackytsi commented on #1071
@rgerhards If I can do anything that helps finding the issue, let me know. Right now I feel a Little lost, since I have no clue where the complex issue is...
btw: I haven't lost interest on this Topic ;)

[2017-10-12 09:04] janmejay commented on #1071
I think it'll be very useful if I can get a docker-image or
virtualbox-image to pull down or access to an environment where this
reproduces.

It never reproduces in my local env.

@kortemik Can you please share config, payload, lookup-table definition and
anything else that helps reproduce this?

On Thu, Oct 12, 2017 at 1:51 PM, crackytsi <notifications@github.com> wrote:

--
Regards,
Janmejay
htt

[2017-10-12 09:07] rgerhards commented on #1071
@PascalWithopf is currently also trying to reproduce it. I hope this leads to results, but I admit I am skeptic due to the discussion here.

[2017-10-12 09:12] janmejay commented on #1071
Awesome, really hope it reproduces.

On Thu, Oct 12, 2017 at 2:37 PM, Rainer Gerhards <notifications@github.com>
wrote:

--
Regards,
Janmejay
http://codehunk.wordpress.com

[2017-10-12 09:13] crackytsi commented on #1071
@janmejay The Problem is, that I can not reproduce this is a lab Environment. So docker/vbox img would not really help much.
It seems that the OS RHEL6 plays in any kind a role here, because most people with this OS seems to have issues.
I use ip-adress as lookuptable Attribute and multiple rulesets, see this excerpt:
[code]

[2017-10-12 09:18] janmejay commented on #1071
@crackytsi: If it repros on RHEL6, is there any chance it'll repro on
Centos (whichever version corresponds to RHEL6) too? If it does, I can try
to setup vbox image locally with the appropriate Centos version. Also, by
any chance have you tried to run the lookup-table vg tests in the env where
this repros?

On Thu, Oct 12, 2017 at 2:43 PM, crackytsi <notifications@github.com> wrote:

--
Regards,
J

[2017-10-12 09:56] n2N8Z opened #1840 "Unhandled GNUTLS_E_AGAIN from gnutls_handshake"
Was getting error:
Oct 12 05:10:02 ip-10-120-20-20 rsyslogd: unexpected GnuTLS error -28 in nsd_gtls.c:1785: Resource temporarily unavailable, try again.  [v8.29.0 try http://www.rsyslog.com/e/2078 ]

nsd_gtls.c:1785 is CHKgnutls(gnutls_handshake(pThis->sess));
which doesn't handle the non-fatal GNUTLS_E_AGAIN return.

Attached is a little patch that has resolved the issue for me.
[rsyslog-8.29.0-

[2017-10-12 10:36] rgerhards opened #1841 "core: add ability to limit number of error messages going to stderr"
If for nothing else, this capability is helpful for the testbench. It permits to reduce spamming the test log while still providing the ability to see initial error messages. Might also be useful for some practical deployments.

[2017-10-12 11:24] #1828 closed

[2017-10-12 12:01] crackytsi commented on #1071
I can not generally reproduce it on RHEL6 but on my RHEL6 Prod instances, the RHEL6 Test Environment does not show up this issue.
I was also NOT able to reproduce it, by collecting prod log-Messages (on IP Level) and reinject them.

My valgrind tests so faw were also not really successfull.
If I compile it on my own on RHEL6 Problem does not appear (don't ask me why).
Do you have an idear how I ca

[2017-10-12 12:04] rgerhards commented on #1071
Which compiler and which compile options do you use?

Sent from phone, thus brief.

Am 12.10.2017 14:01 schrieb "crackytsi" <notifications@github.com>:

[2017-10-12 15:30] jgerhards commented on #1614
FYI: http://jan.gerhards.net/2017/10/slfa-release.html
might be interesting in regards to anonymization already existing log files.

[2017-10-12 18:49] ymgenesis commented on #1073
Is this being developed? I'm trying to get rsyslog to send me email notifications through gmail when a user logs on via sftp. I have this smtp.gmail.com with auth setup in sendmail/postifx (works very well with fail2ban), but can't get ommail to properly do this with the SMTP action settings (failing because it needs authentication I presume).
Thoughts?

[2017-10-12 18:58] davidelang commented on #1073
This is not actively being developed. In the 6 years since that comment was
made, I think you are the second or third person to ask about it.

You shoulad be able to configure your mail server to skip authentication from a
specific IP address, set it to do that for your rsyslog server and things should
work.

But it is worth noteing that using rsyslog to generate alerts is extremely
limiting, you

[2017-10-12 20:20] larsks commented on #1822
@rgerhards Can we tag this for the v8.31 milestone?  The mmexternal module isn't functional without the fix.

[2017-10-12 20:31] t2d commented on #1614
Are you aware of [loganon](https://github.com/sys4/loganon)? It seems like a bit of a similar project.

[2017-10-13 04:29] jay7x opened #1842 "Can't find any way to convert mmnormalize-parsed timestamp to UTC"
I have custom '|'-separated log which is parsed by `mmnormalize`. There is `origintimestamp` field  (`%origintime:date-rfc5424%`). Some of our APIs are writing timestamps in UTC (with ending Z or with +00:00 TZ). But some are using local timestamp + TZ offset (`2017-10-13T12:25:47.506794000+08:00` e.g.). I'd like to convert them to UTC before sending to Graylog (it have issues with TZ offset it se

[2017-10-13 04:42] jay7x commented on #1796
There is some info on site: http://www.rsyslog.com/tag/counter/

[2017-10-13 05:21] jay7x opened #1843 "FR: Add `noop` operation to fill empty condition blocks (or allow to have empty blocks)"
I'm using complex template in puppet to create rsyslog ruleset config. Sometimes it's really tricky to prevent empty condition blocks like below to appears:
[code]
Such empty block cause parser error in rsyslog. So I'd say `noop` operation may be really helpful there. Another way here is to allow empty blocks (`{}`).

[2017-10-13 06:59] rgerhards commented on #1843
This already exists: ```continue```. See http://www.rsyslog.com/doc/master/rainerscript/control_structures.html

[2017-10-13 06:59] #1843 closed

[2017-10-13 07:20] #1796 closed

[2017-10-13 07:24] rgerhards commented on #1796
For everyone reaching this via google, I would like to point out that the impstats doc http://www.rsyslog.com/doc/v8-stable/configuration/modules/impstats.html contains the link to the individual stats counters. These are separate pages because of the volume of information. I don't give a direct link here as that link can change, whereas the doc link remains stable.

[2017-10-13 08:30] jgerhards commented on #1614
I've briefly looked at it and decided to start slfa, because it has a much broader focus. For example, one goal is to be able to train analyzers or liblognorm with psodomized output.

Of course, slfa is still in its infancy, but there are already some differences i'd like to point out:

- slfa is capable of pseudonymizing IP addresses, which might be useful when analyzing log files
- since loganon

[2017-10-13 10:14] rgerhards commented on #1842
probably not a full solution yet, but: https://github.com/rsyslog/rsyslog/pull/1814

[2017-10-13 10:23] rgerhards commented on #1827
sorry for the noise - my initial analysis was wrong, all is well with the mentioned PR

[2017-10-13 10:23] #1827 closed

[2017-10-13 10:47] rgerhards commented on #1839
I cannot reproduce the issue. I tried (config snippet from new testbench test):
[code]
which works as expected. Can you provide a minimal sample where the problem occurs?

[2017-10-13 14:11] GioMac commented on #1793
reason identified: postgresql module configuration became invalid - rsyslogd couldn't login to the server, but didn't throw any related warnings or errors.

[2017-10-13 17:50] mowgli commented on #1615
Let me add my metoo.

I even updated to 8.29.0-1.el6 and the error persists on two of my machines.

and even worse, the removal of /var/spool/rsyslog/* (what had worked in the past) does not work with this two machines.

I am somewhat out of an idea.

[2017-10-13 19:53] Overbryd commented on #1615
Switching all our systems to ‚syslog-ng‘ (has an equivalent feature set
with similar performance characteristics) solved the problem for us.
Tls transport support works even better with syslog-ng.

Let me add my metoo.

[2017-10-15 18:22] deoren commented on #1832
I'm currently experiencing issues with an omrelp queue filling without an error message. Instead, I've found lots of `action NAME_OF_QUEUE_HERE resumed (module 'omrelp')` messages from the sending rsyslog instance.

Since I have yet to determine the exact cause, I've created a Nagios check that monitors the queue 'size' attribute for non-zero values and reports the issue. Thus far, I don't know wh

[2017-10-15 18:47] deoren commented on #1782
I too am seeing messages stuck in the queue (v8.29.0 from the official adiscon Ubuntu PPA). I end up restarting rsyslog and after the systemd timeout is exceeded, the rsyslog daemon is killed. When rsyslog starts back up it complains about the corrupt queue and all messages that were held are lost.

After a time messages begin queuing again and only a restart on the client gets rsyslog going again

[2017-10-16 06:22] davidelang commented on #1832
On Sun, 15 Oct 2017, Deoren Moor wrote:

you have to explicitly turn on 'suspended' messages, and if you don't have them
going to a different queue than your other messages, they will be blocked behind
whatever is blocking your messages.

[2017-10-16 06:25] davidelang commented on #1782
you  need to configure systemd to give rsyslog more time to shut down to avoid
the corrupt queue files (there is a utility to make index files for the queue
files so that you can recover the data that is in them)

There are some relp issues that have been found very recently, test the current
github version (or wait for the next release, due shortly) to see if that
addresses your problem.

[2017-10-16 06:49] rgerhards commented on #1832
What @deoren sees in regard to the missing messages probably is fixed in this bug patch: https://github.com/rsyslog/rsyslog/pull/1834

Based on the feedback here, I'll change omfile so that it returns suspended state instead of error state in the case described.

Note to all: the rsyslog engine has logic that sorts out unfixable errors induced by data. This logic is present for quite some while, b

[2017-10-16 06:53] rgerhards commented on #1782
Note: 8.29.0 has some additional queue hardening, but of course things can always go wrong if kill -9 is emitted. Upon start rsyslog should complain about (most) queue errors.

[2017-10-16 06:58] #974 closed

[2017-10-16 06:58] #1069 closed

[2017-10-16 06:58] #1841 closed

[2017-10-16 06:59] davidelang commented on #1782
since we have the utility that can recreate the .qi files, how hard would it be
to have a startup option for rsyslog that, if the queue files are corrupt uses
similar logic to replay the contents of the files? (possibly with some logic
like mv queue queue.bad and then read logs from the queue.bad and either send
them or let them build up in new queue files)

[2017-10-16 07:18] rgerhards commented on #1782
@davidelang that'a a good idea, but I think it should go into its own tracker.

[2017-10-16 07:27] davidelang opened #1845 "automatic handling of corrupted queue files"
since we have the utility that can recreate the .qi files, how hard would it be
to have a startup option for rsyslog that, if the queue files are corrupt uses
similar logic to replay the contents of the files? (possibly with some logic
like mv queue queue.bad and then read logs from the queue.bad and either send
them or let them build up in new queue files)

this needs to be an option as it will r

[2017-10-16 09:04] HangyuTian opened #1847 "rsyslogd"
I find that  rsyslog might  obtain  larger number of memory in the following case .and this can even cause OOM

[2017-10-16 09:04] #1847 closed

[2017-10-16 09:09] #1805 closed

[2017-10-16 10:46] rgerhards opened #1848 "housekeeping: remove devel-repo for libfastjson"
In travis, we added the v8-devel repo as an overrride to get the then-unreleased libfastjson version. This needs to be commented out again.

[2017-10-16 11:35] mowgli commented on #1615
It also help to switch off tls. This is also needed as we have a mixed centos6 and centos7 setup and the gnutls versions in them are not able to speak with each other.

That proves that the problem lies in the gnutls stuff.

It is a suboptimal solution, however, in this setup I can live with it for some time.

[2017-10-16 14:19] deoren commented on #1782
I currently have systemd configured to give rsyslog 240 seconds to shut down cleanly, up from the default for Ubuntu 16.04 of 90 seconds. What setting do you use or would you suggest in this case?

I see that the v8.30.0 milestone is closed. I plan to update all of our Ubuntu boxes to v8.30.0 as soon as it hits the official PPA.

Re the error messages, what situation usually results in errors like

[2017-10-16 17:56] davidelang commented on #1782
On Mon, 16 Oct 2017, Deoren Moor wrote:

I would try shutting it down manually and see how long it takes to finish. The
more data it has to flush to queue files, the longer it will take.

I don't know, rainer may have a comment on them.

[2017-10-16 19:16] deoren commented on #1782
more data it has to flush to queue files, the longer it will take.

Sorry to be dense, but how should I stop it? I usually call either `service rsyslog stop` or `systemctl stop rsyslog`, but in either case for an Ubuntu 16.04 box it would use the systemd timeout for the unit. I've already set it to use 240 seconds for the timeout. In the past, that timeout has been reached whether I try to reboot

[2017-10-16 19:26] davidelang commented on #1782
kill -TERM pid will tell it to shutdown gracefully (all the other stuff is a
bunch of wrappers around this)

[2017-10-16 20:05] deoren commented on #1782
Thanks @davidelang. I did that:

`kill -TERM $(cat /var/run/rsyslogd.pid)`

and 15 minutes later the daemon was still running. After about 24 minutes however, the `/var/log/rsyslog.log` file was updated:

[code]

Messages from 2017-10-16T19:32:20.892Z forward were relayed properly. Everything older, was not.

`root@redminebox:/var/log# journalctl -u rsyslog.service | grep -E 'Start|Stop'`

[code]

[2017-10-16 21:14] deoren commented on #1782
I misspoke earlier when I mentioned that the DA queue was cleared upon restart of the rsyslog daemon. I missed it when manually reviewing the details, but I ended up spotting it when checking the details after my last post:

`grep -i ForwardToSawmill1 /var/log/rsyslog-pstats.log | grep 'size=' | tail -n 2`

[code]
From what I can tell from occasionally checking the output from the chain grep calls

[2017-10-16 21:54] mgrimes123 commented on #1821
Looking at the source to imklog.c, it might be related to not having isCompatibleWithFeature for RepeatedMsgReduction.

[2017-10-17 06:50] jendamozna commented on #1571
Whole config:
[code]
Rsyslog with above config is not working properly: udp61514 is on 1%, udp63514 is on 0% of usual throughput.

System does not use DNS. We are using fixed ip addresses in config (test:9092 should be 1.1.1.1 in first post).

My curent setup: rsyslog works for me only with single input udp61514. Udp63514 is gathered separately via td-agent.

[2017-10-17 09:22] rgerhards commented on #1122
Topo-Sort does not reliably work, as we may have circular dependencies (which are terminated by ```if``` constructs).

[2017-10-17 10:30] rgerhards commented on #1122
After some thinking I come to the conclusion that the proper path is to split the queue shutdown sequence. In a first step, all worker threads shall be terminated and the queue set to enqOnly. While some are terminated, it is still possible that the others enqueue messages into the queue (which are then just placed into the queue, not processed). After this happens, a ```call``` can no longer be i

[2017-10-17 11:19] davidelang commented on #1571
try writing the messages out to a file using your templates to see if the output
is what you expect it to be.

[2017-10-17 13:19] hrak opened #1850 "ptcp netstream driver does not work when StreamDriver.Mode="0""
According to the docs (http://www.rsyslog.com/doc/v8-stable/concepts/ns_ptcp.html), the ptcp netstream driver should support `StreamDriver.Mode="0"` but when actually setting this, rsyslog throws the following error:

[code]

setting it to one correctly throws the following error:

[code]

[2017-10-17 13:20] simmel commented on #1144
There were do many issues to reproduce it on 8.16 on trusty.

I'm trying to reproduce it on 8.24 with production traffic. If I can't get it to reproduce I'm going to close this issue.

[2017-10-17 14:37] Whissi commented on #1838
Confirmed.

[2017-10-17 17:59] TD-4242 opened #1853 "Dependancy on for apt package libfastjson4 needs version specifier"
in Changelog:
`libfastjson 0.99.7 is now mandatory`

in apt package
`Depends: libc6 (>= 2.17), libestr0 (>= 0.1.10-0adiscon1trusty1), libfastjson4, libgcrypt11 (>= 1.4.5), libuuid1 (>= 2.16), zlib1g (>= 1:1.1.4), sysv-rc (>= 2.88dsf-24) | file-rc (>= 0.8.16), lsb-base (>= 3.2-14), adduser, ucf, liblogging-stdlog1`

should have ... `libfastjson4 (>= 0.99.7)` ...

This allowed the rsyslog package to

[2017-10-17 18:03] c-nichols opened #1854 "rsyslog rpm not signed"
Hi there,

It appears that the most recent release, 8.30.0-2.el6 (uploaded today), in the v8-stable epel-6 yum repository is not signed with the appropriate GPG key.

When I run `yum install rsyslog` I get the following error:

`Package rsyslog-8.30.0-2.el6.x86_64.rpm is not signed`

Similar error is reported for rsyslog-gnutls package.

[2017-10-17 21:21] alexhexabeam commented on #1853
This seems to also affect the rpm packages, not just the debs.

[code]

[2017-10-18 05:23] maltris commented on #1853
Just to confirm this:

On Ubuntu 16.04 with libfastjson4 0.99.5-0adiscon1xenial1 I experienced:
[code]

After upgrading libfastjson4 to 0.99.7-0adiscon1xenial1 it seems to be working fine. Version 0.99.7-0adiscon1xenial1 is already in the Ubuntu-Repo as of now:
[code]

[2017-10-18 06:12] #1850 closed

[2017-10-18 09:11] hrak opened #1858 "omprog plugin: argv[0] not set when using binary without arguments"
When using the omprog plugin with a binary without arguments, argv[0] (the name of the binary) is not set, causing binaries that depend on this value being set to crash or misbehave.

In my case this is a Go binary using the `flags` library. This library initializes with `var CommandLine = NewFlagSet(os.Args[0], ExitOnError)`, and this causes the program to crash with:

[code]

My config:

[code]

[2017-10-18 09:11] #1848 closed

[2017-10-18 09:23] rgerhards commented on #1853
@friedl this went to the main repo, not the packaging project. Please let me know when this is fixed, so that I can close it.

[2017-10-18 10:48] rgerhards commented on #1071
@janmejay we could also NOT reproduce the issue. Hoping for some help where we can test on a system where it actually occurs.

In the mean time, I have crafted a patch for #1122, but after doing so I doubt that this really is related to this issue tracker here. Might still make sense to try on a system with that patch applied.

[2017-10-18 13:34] EdwardStudy commented on #1853
Same as the error in automation pipeline. The OS version is 14.04.

[2017-10-18 16:05] friedl commented on #1853
Ubuntu packages have been updated to require the current libfastjson version. This should solve the issue. Install tests showed a proper update for both libfastjson and rsyslog.

[2017-10-18 16:42] alexhexabeam commented on #1853
Looks like you also fixed the RPM package, but you didn't bump the version number!!! This means that anyone caching these packages will not be updated.

Please bump the version so that caches aren't broken! Releasing a different package with the same name greatly decreases trust in your software and your organization.

rsyslog-8.30.0-**2**.el7.x86_64.rpm should have been rsyslog-8.30.0-**3**.el7.x

[2017-10-18 17:28] #1838 closed

[2017-10-18 17:54] mbiebl opened #1861 "Fails to build with -Werror=implicit-fallthrough="
Version: 8.30.0

The lastest version fails to build on Debian sid:
[code]

[2017-10-18 18:03] mbiebl commented on #1861
And another issue at
[code]

[2017-10-18 18:04] rgerhards commented on #1861
Is this a new compiler version? I wonder why we dicí not catch it on any of the testbench machine. Also I think (but am not sure) that this code was untouched since the last Release.

If possible, we should upgrade the debían buildbot slave to get the same warnings.

[2017-10-18 18:05] mbiebl commented on #1861
[code]

[2017-10-18 18:07] mbiebl commented on #1861
fwiw, here's a full log of a debian build of 8.30.0 without ```Werror``` which shows several warnings:
[code]

[2017-10-18 18:13] rgerhards commented on #1861
Which versions do you use? Any special compiler options? I ask because on all environments I have it compiles clean with both clang and GCC with strict settings. I'd like to get the better diagnostics...

[2017-10-18 18:23] mbiebl commented on #1861
It's gcc 7.2.0 as posted earlier on an up-to-date Debian sid system.

The debian build system passes the following flags to the build:
[code]

[2017-10-19 00:01] deoren commented on #1782
@jay7x, as you noted, switching to `omfwd` appears to allow messages to flow.

Are you by chance working with a system that generates larger than usual log messages? In my case, the one system having more trouble than any other is where I'm using imfile to read in some very busy flat-files. The message is then wrapped in a JSON payload for the receiver to extract and save locally before forwarding

[2017-10-19 02:03] HangyuTian opened #1863 "rsyslog runs out of memory in special case"
OOM has occured  on my virtual machine

steps to reproduce：
1.the configuration in /etc/rsyslog.conf: config a remote server
$WorkDirectory /var/lib/rsyslog
$ActionQueueFileName fwdRule1 # unique name prefix for spool files
$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
$ActionQueueType LinkedList   # run

[2017-10-19 02:23] davidelang commented on #1863
operating as designed.

Rsyslog has a limit of howmany messages it will keep in memory, if that's larger
than the memory you have in your system, that's your problem to adjust it.

either give the machine more ram, or configure rsyslog to have a smaller queue
size.

Rsyslog has no way of knowing that it's about to run the system out of ram, so
what would you expect it to do to prevent this problem

[2017-10-19 03:39] HangyuTian commented on #1863
i cannot ensure that there is enough space on disk ,or the ram is enough for use all the time.
and on my machine，large number of logs are printing to the local log files.
so ,i would not like to limit the input of the logs. the logs are useful for me.

what i care about is as follow：
if the following operation is reasonable：
msgDestruct() is called when the return value of CHKiRet(strm.Flush(pThis

[2017-10-19 03:53] davidelang commented on #1863
On Thu, 19 Oct 2017, HangyuTian wrote:

so if you aren't willing to have it throw away any logs (you set retry =-1 after
all), then you need to shrink the size of the queue so that it doesn't try to
keep as many logs in memory

it will cause logs to be lost, but you told rsyslog not to loose any logs. It
would be doing something different than what you as the admin told it to do.

David Lang

[2017-10-19 07:52] friedl commented on #1853
The 8.30.0-2 RPM released on wednesday is only different because of the fixed signature from the 8.30.0-2 released on tuesday. The actual rsyslog files didn't change at all.

Should the RPM version number be bumped in such a case as well?

[2017-10-19 10:29] rgerhards commented on #1071
@janmejay have a look at the patch I just posted. While I strongly doubt it is the root cause, it might be related.

[2017-10-19 11:28] rgerhards commented on #1071
@janmejay ok, looks like in line 3480 a fallthrough was actually desired. The other case was a bug, but cannot have any effect on this issue here.

[2017-10-19 11:33] #1122 closed

[2017-10-19 11:34] #1832 closed

[2017-10-19 15:15] HangyuTian commented on #1863
Because I want to save the logs as many as possible , if I limit the queue size ,will this lead to loose logs easily when the queue is full ?..(I have not test this case yet)
And I have saw the case that when queue is full  ,rayslog will discard messages by the severity of messages.

In another word
on my machine，logs should be printed to local files successfully (i mount a partition at /var/log)

[2017-10-19 15:39] andrewthad opened #1865 "Spooling with omfwd stops handling logs"
This may be related to https://github.com/rsyslog/rsyslog/issues/1701. The high level description is that I'm using `omfwd` and `imudp` to take incoming UDP traffic and feed it downstream over a TCP connection. Occasionally, the downstream service will restart, closing the TCP connection in a non-graceful way. If I don't have spooling enabled, everything works fine. If I have spooling turned on, t

[2017-10-19 17:20] rgerhards opened #1866 "debug log: add indicator line when startup is done"
eases review of debug log

[2017-10-19 17:59] andrewthad commented on #1865
Ahhh! Found this in the logs:

    queue "action 1 queue": queue.fullDelayMark is set below high water mark. This will result in DA mode  NOT being activated for full delayable messages

Fixed `queue.fullDelayMark` and it works. Closing.

[2017-10-19 17:59] #1865 closed

[2017-10-19 18:05] deoren commented on #1865
@andrewthad Is there any text surrounding that message which indicates it is a warning or error condition? Just curious. That sounds like a good place to use such a prefix to make it easier to grep/search in the debug log for problems.

That also sounds like a useful message to have logged by rsyslog in non-debug operation.

@rgerhards do you agree? I can create a new RFE ticket for that if so.

[2017-10-19 18:12] tmahany419 commented on #1865
Here are the logs leading up to it:

[code]

[2017-10-19 18:44] alexhexabeam commented on #1853
@friedl Yes! The `-2` or `-3` in that number is the version of the RPM, not of the software inside. In this case, the rsyslog version is `8.30.0`, but the rpm version was `2.el7`. Any change which would cause the RPM to be a different file should have a version bump.

[2017-10-19 19:23] rgerhards commented on #1865
Sent from phone, thus brief.

Am 19.10.2017 20:06 schrieb "Deoren Moor" <notifications@github.com>:

@andrewthad <https://github.com/andrewthad> Is there any text surrounding
that message which indicates it is a warning or error condition? Just
curious. That sounds like a good place to use such a prefix to make it
easier to grep/search in the debug log for problems.

That also sounds like a useful

[2017-10-19 19:52] davidelang commented on #1863
On Thu, 19 Oct 2017, HangyuTian wrote:

when the queue is full, things trying to do reliable delivery to the queue will
block (which can make your service that's logging stop), you can set rsyslog to
start throwing away logs when the queue is full, and you can even set it to
start throwing away less critical logs when the queue gets near full (as defined
by you)

Rsyslog gives you a lot of control

[2017-10-19 19:56] davidelang commented on #1865
unfortunantly this log output doesn't include the severity level (it's sent as
part of the message, but this format doesn't include it)

[2017-10-20 05:59] #1863 closed

[2017-10-20 06:01] rgerhards commented on #1861
I have updated the CI system - thanks!

[2017-10-20 06:25] janmejay commented on #1071
@rgerhards 3480 fallthru seems intentional, because in its absence the field table_name will not get initialized

This seems like something has corrupted memory, it may or may not be related to lookup-table. I find that EBADF return from sys_close really suspicious. 2 of valgrind traces show it (just search for 'close()' using browser search). Is it worth setting a watchpoint on that FD's value (w

[2017-10-20 06:29] #1861 closed

[2017-10-20 06:39] rgerhards opened #1867 "imjournal: strange error message "sd_journal_next() failed: 'Success'""
This then, at least in some cases, results in disabling the input. Sample from actual case:

[code]

[2017-10-20 06:50] rgerhards opened #1868 "imjournal: add more error message"
As it looks, imjournal tends to report even important errors only to the debug log. A useful set should be emitted as regular user messages, else it is very hard to diagnose problems with imjournal.

[2017-10-20 07:20] PascalWithopf opened #1869 "imrelp/omrelp: Segmentation fault when certificate is NULL"
When a certificate is specified in an imrelp or omrelp action, the module checks if the certificate can be accessed. If this isn't possible, e.g. because the file does not exist or you don't have permission to do this, a Segmentation Fault will appear.

[2017-10-20 07:40] rgerhards commented on #1854
seems to have been solved by @friedl

Note that this issue should have gone to the packaging project here on github.

[2017-10-20 07:40] #1854 closed

[2017-10-20 07:42] rgerhards commented on #1853
just FYI: this should have gone to the packaging project (still thanks for the notification!). Here, the packagers do not usually watch out. I now close it (as @friedl cannot do this here and this seems to be solved in all regards).

[2017-10-20 07:42] #1853 closed

[2017-10-20 13:36] timp87 opened #1873 "libfastjson4-0.99.7 rpm package breaks installation of rsyslog < 8.20.0"
Hello! I'm creating this bug report about RPM packages here because I couldn't find a separate bug tracker for http://rpms.adiscon.com

The latest libfastjson4-0.99.7 rpm package obsoletes any earlier versions of libfastjson package:

[code]

This statement
_Obsoletes:     libfastjson <= 0.99.6_
breaks installation of any rsyslog version earlier than 8.20.0:
[code]

It obviously will not work sinc

[2017-10-20 16:39] #1815 closed

[2017-10-20 16:40] rgerhards commented on #1813
@alorbach is this still open?

[2017-10-20 16:41] gubzh commented on #1691
Thanks for the help. In version 8.30 the problem is solved.

[2017-10-20 16:42] rgerhards commented on #1741
It might really just require an API call... Anyone up to testing a patch if I craft it?

[2017-10-20 16:44] rgerhards commented on #313
@PascalWithopf could you try to craft a (valgrind) test for this?

[2017-10-20 16:44] rgerhards commented on #273
I assume this is fixed by #604. If not, please report.

[2017-10-20 16:44] #273 closed

[2017-10-20 20:31] deoren opened #1876 "Enhance "queue.fullDelayMark is set below high water mark" message to explicitly indicate it is an error condition"
From #1865 :

[code]

Request:

Modify the message to explicitly indicate it is an error condition that requires user interaction to fix.

[2017-10-21 11:01] gubzh opened #1877 "ommysql: inserting response to query in column"
In the rsyslog.conf registered the following rules:

How add in column Extensions_src_country value response to a request - Australia?

[2017-10-21 11:16] lobsterdore commented on #1714
@rgerhards FYI this issue is still present in .30

[2017-10-21 14:21] jgerhards commented on #1876
I have enhanced the warning message. However, it is not an error since this configuration might be intended, for example when using UDP and TCP as input for the same queue and only wanting UDP to use the high watermark config.

[2017-10-21 15:55] rgerhards commented on #323
@PascalWithopf please check if this still exists - I think it is solved in the mean time. If not, please consider fixing it :-)

[2017-10-21 15:59] rgerhards commented on #1873
@friedl I guess this is fixed, right?

If so, I'll close the issue.

Note that there are dedicated projects for packaging, thus this issue here was not seen by the right folks.

[2017-10-21 15:59] #1795 closed

[2017-10-21 16:05] rgerhards opened #1879 "testbench: build mmcount"
looks like it is not being build in CI (https://github.com/rsyslog/rsyslog/issues/1790)

[2017-10-21 16:12] timp87 commented on #1873
As far as I can see there were no new packages for libfastjson4 in http://rpms.adiscon.com repo since I've created this issue.

[2017-10-21 16:34] rgerhards commented on #1417
From @timp87 via mail:
[code]
Sorry for keeping this locked, but experience shows that such solved issues sometimes drag in many comments from folks who use an older version and that makes everyone's life miserable ;-)

[2017-10-21 16:38] #1866 closed

[2017-10-21 16:51] rgerhards opened #1880 "mmanon: add support for embedded IPv4 inside IPv6 format"

[2017-10-22 08:45] deoren commented on #1876
@jgerhards Thanks! I suspect that @andrewthad and @tmahany419 will find that useful.

[2017-10-22 13:17] andrewthad commented on #1876
Thanks! Yes, we will find this useful.

[2017-10-22 13:18] rgerhards opened #1883 "imfile: add capability to slow down imfile reads"
@portante Tracking the enhancement request now here.

For me, a root question is why we want to slow down imfile reads. Does the existing mechanism to slow down delayable inputs if certain queue  size has reached not work for you? One could set the fulldelaymark sufficiently low to achieve this effect.

see https://github.com/rsyslog/rsyslog/pull/961

[2017-10-22 13:41] #1826 closed

[2017-10-22 14:01] ycflash opened #1885 "8.30.0 various issues in omelasticsearch, mmdblookup and rsyslog core"
rsyslog 8.30.0 omelasticsearch module will cause rsyslog segfault when restart elasticsearch.

dmesg has this:
[code]

rsyslog 8.29.0 don't have this issue.

[2017-10-22 15:19] portante commented on #1883
Thanks, @rgerhards.  We want to be able to prevent one app in a multi-tenant system from consuming the bandwidth available for moving logs through rsyslog.  Usually, on a given host we only have one pipe to get logs off host, and we don't want one dominating the others, but still want to eventually get logs off without losing them, if possible.

[2017-10-22 15:20] ycflash commented on #1885
gdb bt of coredump files shows:

[code]

[2017-10-22 15:37] mrworkman commented on #971
Was thinking about `parse_time()`. What should it do when it fails? It can't return -1, because that's a valid UNIX timestamp. It could return the original value as I've set up `format_time()` to do, but nesting like```format_time(parse_time($timereported, "date-rfc3164"), "date-rfc3339")``` would essentially become a noop. Thoughts?

As far as I know, RainerScript has no other way of reporting fu

[2017-10-22 16:25] rgerhards commented on #1883
One host is represented by one file?

Am 22.10.2017 17:19 schrieb "Peter Portante" <notifications@github.com>:

[2017-10-22 16:33] portante commented on #1883
So we'd like to have on all members of an OpenShift cluster RHEL 7.4 installed with rsyslog v8 collecting from N log files in /var/log/containers/*.log.  That rsyslog would take all that log data in, and send to a centralized aggregation agent.  Each container has one log file in /var/log/containers, and we don't want that one container to dominate the available bandwidth.  We'd like to be able to

[2017-10-22 16:34] rgerhards commented on #971
I probably would make it return 0 and live with the date that if the date
is really begin of epoch (very, very, very unlikely, isn't it?) A nested
invocation would return an Invalidi Date. Even then that would be
detectable.

Does that make sense? IMO anything else would require considerate
refactoring.

[2017-10-23 06:57] rgerhards commented on #1885
Can you reproduce this issue? I admit the backtrace looks very strange.

[2017-10-23 07:00] rgerhards opened #1886 "travis: make scan-build run with -j"
improves runtime, no other benefit --> lowest prio

[2017-10-23 07:09] ycflash commented on #1885
this segfault can reproduce: have rsyslog write to elasticsearch constantly, then stop elasticsearch for a few seconds will cause this segfault.

this time, gdb bt looks:

[code]

[2017-10-23 07:38] #1790 closed

[2017-10-23 08:08] rgerhards commented on #1885
I can unfortunately not reproduce this in my environment. Could you create a debug log for me? Instructions are here: http://www.rsyslog.com/doc/v8-stable/troubleshooting/debug.html#enabling-debug-via-rsyslog-conf

[2017-10-23 08:37] alorbach commented on #1813
As an enhancement yes it's still open.

[2017-10-23 08:40] ycflash commented on #1885
Here it is, it's huge:
[rsyslog-debug.log.gz](https://github.com/rsyslog/rsyslog/files/1406298/rsyslog-debug.log.gz)

[2017-10-23 09:28] rgerhards commented on #1885
thanks, it looks like this is useful. If I craft a patch, would you be able to build rsyslog and test it?

[2017-10-23 09:33] ycflash commented on #1885
Yes, I'll do the test.

[2017-10-23 09:33] #1879 closed

[2017-10-23 10:11] rgerhards commented on #1885
I think I found it. Could you please try https://github.com/rsyslog/rsyslog/pull/1888/commits/3d2740dd758aad86e857d9e7730bb8db2a23eeb8

[2017-10-23 11:11] ycflash commented on #1885
It seems not working:

[code]

[2017-10-23 11:24] rgerhards commented on #1885
can you also provide me a debug log?

[2017-10-23 12:45] ycflash commented on #1885
Here it is:
[rsyslog-debug.log.tar.gz](https://github.com/rsyslog/rsyslog/files/1407103/rsyslog-debug.log.tar.gz)

[2017-10-23 14:22] ngarratt opened #1890 "segfault caused by fjson while parsing response from omelasticsearch"
We've started getting segfaults in rsyslog (v8.29.0 from RPM) since we started ingesting logs for a custom FTP server. This server is being scanned by Nessus, which is attempting shell escape with unexpected input on the USER command.

This is being parsed correctly on input, written to local files, and written to elasticsearch. However, it looks like the response from elasticsearch is not being p

[2017-10-23 14:54] ycflash commented on #1885
After a few more tests with this patch, I have the following conclusions:

This (my default config) will cause segfault:

[code]

If I have omfile action removed, rsyslog won't segfault; the debug log is uploaded above, and bt looks pretty like the same:

[code]

[2017-10-23 15:37] rgerhards commented on #1885
Sorry, I don't understand you here. Do you mean this happens with omfile removed? Sounds contrary to what you said before? Or is it just another incarnation with the same config?

[2017-10-23 15:55] ycflash commented on #1885
Sorry for my confusion, I'll try to explain more clearly.

rsyslog with the patch you provided, so far I have these results:

- rsyslog + 3d2740d crashes with following config:
[code]

- rsyslog + 3d2740d works OK with following config: (having action omfile line removed)
[code]

[2017-10-23 16:35] ycflash commented on #1885
Issue `A`: 8.30.0 release with `action(type="omelasticsearch"  ..)` do crash when restart elasticsearch, and 8.29.0 dose not, and I confirm patch 3d2740d fixed it.

Issue `B`: 8.30.0 + 3d2740d crash with:
[code]

debug log of issue `B` :  (previous uploaded)

and the gdb bt of issue `B` :
[code]

The bt of issue `B` looks pretty the same of issue `A`, maybe there is some other link between `A` and

[2017-10-23 16:57] rgerhards commented on #1885
Mhhh... I just now could have a look at the second debug log. It is completely error-free and shows a perfect shutdown. Did you mistake the files?

[2017-10-23 16:59] rgerhards commented on #1890
This seems to be a duplicate of https://github.com/rsyslog/rsyslog/issues/1885 but with interesting additional information.

[2017-10-23 17:04] rgerhards commented on #1890
To be parsed string is
[code]

[2017-10-23 17:06] rgerhards commented on #1890
Have a look at the patch posted in #1885. I think it will possibly solve your case as well. If not, please post a debug log (also see 1885 for details).

[2017-10-23 17:24] ycflash commented on #1885
I must calculate the wrong conclusion myself without having enough tests..

Doing more tests with only `action(type="omelasticsearch" ..)` in config and rsyslog 8.3.0 + 3d2740d do crash with segfault, but it is harder to reproduce.

I can't upload 109M file, since github allow upload max 10M file.  What lines may be useful in debug log? Can I strip out some useless logs?

Here is the last 1,000,00

[2017-10-23 21:12] ngarratt commented on #1890
Patched against 8.29 (3d2740d applied cleanly), and I'll test.

FYI, I had to fix three other issues while trying to build the RPMs using the spec from rsyslog-pkg-rhel-centos

Commit 1a6f8d0 introduced some bad edits - erroneous 'Paperclips' added to mmnormalize Requires and erroneous 'liblognor' added to mmfields resulting in broken RPMs. This also affects your hosted RPMs (unsatisfied dependenc

[2017-10-23 21:27] waster commented on #1605
I had the similar issue with Rsyslog 8.30.0-0adiscon2trusty1 from Ubuntu Trusty repo after forcing logrotate with the following test configs:

Rsyslog:
[code]
logrotate:
[code]
Rsyslog drops opened fd after logrotate and stops any monitoring of this file with imfile until Rsyslog restarted.

It's interesting that there is no such problems with Rsyslog 8.24.0-0adiscon2trusty1 installed on other ser

[2017-10-23 23:47] deoren commented on #1071
@rgerhards I'm posting to this ticket as a late follow-up to the discussion we had on the 'Qualys scan against rsyslog causes it to segfault' mailing list thread.

I've managed to reproduce the segfault using an Ubuntu 16.04 box with the latest stable v8.30.0 version installed.

I have three ESXi hosts setup to send messages to this box and have replicated the segfault by restarting the syslog dae

[2017-10-23 23:53] JPvRiel opened #1891 "mmpstrucdata should produce null JSON object if RFC5424 message has no structured data"
mmpstrucdata will omit the `%$!rfc5424-sd%` field if structured data does not exist and a template author might not anticipate this behaviour. Non-existent fields fail silently and output an empty. A null JSON value, e.g.  `"$!":{"rfc5424-sd":null}`, or `-` value would be easier to handle in templating. When writing a template, the configuration requires boolean

RFC5424 defines that a message wit

[2017-10-24 00:11] deoren commented on #1071
From #1891:

Seeing that gave me an idea. As a test, I modified the rsyslog config to set a value in the `$!` tree before attempting to check the length of `$!origin!hostname` and now I'm no longer seeing the segfaults.

It doesn't seem to matter whether I set a value off of the `$!origin` 2nd-level path or off of the root, either prevents the segfault.

[2017-10-24 01:01] deoren commented on #1071
@davidelang @rgerhards As I mentioned on the mailing list, sending a message to the receiver from another system (or the same system on the IP where rsyslog is bound) appears to be sufficient to cause a segfault:

`logger --tcp --port 514 --server sawmill3.example.com "hello!"`

Within the receiver configuration (see the ruleset I posted previously), including any of these lines:

- `set $!tacos =

[2017-10-24 04:05] zorelu opened #1892 "the centos7 can"+t install rsyslog_mondb"

[2017-10-24 04:05] #1892 closed

[2017-10-24 04:20] zorelu opened #1893 "The Centos7 can't install rsyslog-mongodb"
when I use `yum install rsyslog-mongodb` the error code like this
 `Error: Package: rsyslog-mmnormalize-8.30.0-3.el7.x86_64 (rsyslog-v8-stable)
           Requires: 30
Error: Package: rsyslog-mmaudit-8.24.0-12.el7.x86_64 (@base)
           Requires: rsyslog = 8.24.0-12.el7
Error: Package: libfastjson-devel-0.99.4-2.el7.x86_64 (@base)
           Requires: libfastjson(x86-64) = 0.99.4-2.el7

[2017-10-24 08:47] rgerhards commented on #1071
@deoren bash me if I am asking for too much - can you provide a minimal config and input data that creates the segfault. I admit I get a bit lost in those things posted and getting them all together correctly.

[2017-10-24 08:49] rgerhards commented on #1885
This looks useful again. In general, what I am currently after is the tail of the debug log, maybe a couple of 10,000 lines should do. A full log is useful to see the conf plus error messages, but I guess we are past that point.

The log points to an issue when the connection is restablished. I just wonder: do you have the ability to run rsyslog (in a terminal window) under valgrind? That could pr

[2017-10-24 08:56] rgerhards commented on #1071
@janmejay I don't think so, but might this be related? http://ubuntu16.rsyslog.com/17-10-24_08-34-09/2017-10-24-083453-26187-1/report-ceba51.html#EndPath (link valid for 7 days from now). Probably a static analyzer false positive, isn't it? At least I do not know any other reason or workaround. I at least temporarily disable the code path check in analyzer for the time being.

[2017-10-24 09:00] ycflash commented on #1885
OK. Since it's reproducing in a testing environment, I can do as much as necessary to address this issue.

What specific command & arguments do  I need to run?

[2017-10-24 09:03] rgerhards commented on #1885
great! you need to have valgrind on the system (obviously), then it's easy. Stop the rsyslog system service. Make sure your terminal session is sufficiently priviledged (sudo?). Then just do
[code]
It's essentially prefixing the start with ```valgrind```. Other options of course only if you use them for the system service as well. You can ctl-c out of the run if it does not segfault ;-) It might n

[2017-10-24 09:11] rgerhards commented on #1885
ah, hold on... I see that there is code duplicated in omelasticsearch and it is the code that caused the segfault! Let me fix this first...

[2017-10-24 09:12] rgerhards commented on #1885
oh no, my bad ... used wrong branch. back to valgrind... ;-)

[2017-10-24 09:14] ycflash commented on #1885
Here is the output:

[code]

[2017-10-24 09:15] pataquets opened #1894 "RELP+TLS Documentation: obsolete section?"
After reading:
http://www.rsyslog.com/tls-secured-syslog-via-relp/
http://www.rsyslog.com/using-tls-with-relp/

The docs have a warning in the limitations section: http://www.rsyslog.com/doc/v8-stable/tutorials/tls.html#limitations

Does this warning still stands or is it obsolete?
I might need to do it in the future, thus confirming or negating it. How do I submit docs improvements? Usual fork &

[2017-10-24 09:15] rgerhards commented on #1885
very useful, thx! Will have a look at the code soon.

[2017-10-24 09:28] ycflash commented on #1885
OK. That's good.

[2017-10-24 09:54] rgerhards commented on #1885
I have ammended my commit, new one is 253b613. Could you run that under valgrind and provide valgrind and last 20,000 lines of debug log. I need to check where exactly we have the NULL ptr, in theory there should be none at that place...

[2017-10-24 10:00] #1876 closed

[2017-10-24 10:18] ycflash commented on #1885
valgrind log and debug log in this file:
[rsyslog.tar.gz](https://github.com/rsyslog/rsyslog/files/1410382/rsyslog.tar.gz)

[2017-10-24 10:32] rgerhards commented on #1885
thx. Interestingly, searchIndex is NULL. Could you also provide me the first 100,000 lines of the debug log? I would like to check that it properly is taken from the config.

[2017-10-24 10:42] ycflash commented on #1885
OK, here it is:
[first-100000-rsyslog-debug.log.gz](https://github.com/rsyslog/rsyslog/files/1410438/first-100000-rsyslog-debug.log.gz)

[2017-10-24 10:59] rgerhards commented on #1885
damn... the log seems to be to big. Can you grep for "computeMessageSize". This should show the index up to some point. Maybe you can also provide me the full debug log via pastebin or a gist.

[2017-10-24 11:20] rgerhards commented on #1886
done on buildbot
in travis static analyzer will be removed, because it is too old compared to the buildbot version

[2017-10-24 11:42] ycflash commented on #1885
OK, here is the grep output:
[grep.log.gz](https://github.com/rsyslog/rsyslog/files/1410636/grep.log.gz)

[2017-10-24 12:00] ycflash commented on #1885
full debug log  uploaded here:
[rsyslog-debug.log.xz.gz](https://github.com/rsyslog/rsyslog/files/1410683/rsyslog-debug.log.xz.gz)

[2017-10-24 12:10] rgerhards commented on #1885
... interesting. The value actually disappears. Need to look closer at it, will try later this afternoon. Seems to have to do with the retry logic and/or the multiple workers that are running.

[2017-10-24 12:47] alorbach commented on #1813
Problem could not be produced anymore.
Closing issue for now.

[2017-10-24 12:47] #1813 closed

[2017-10-24 14:09] rgerhards opened #1895 "imjournal: disables it self on some errors"
If ```sd_journal_next()``` inside the main loop fails, imjournal exits with an error code, actually disabling all logging from the journal. This was probably never intended. We should look into a way to make imjournal recover and continue to read the journal.

[2017-10-24 14:12] rgerhards commented on #1895
same issue with failure of ```pollJournal()``` and ```readjournal()```

[2017-10-24 14:18] radosroka commented on #1895
I'm just guessing that problem is with statefile. In https://github.com/rsyslog/rsyslog/issues/1867 statefile was somehow corrupted. And I have the same problem without existed statefile.

[2017-10-24 14:34] radosroka commented on #1895
And this is working on 8.29.0.

[2017-10-24 14:50] rgerhards commented on #1895
well, not sure what actually triggered the problem that was now reported, but the problematic code is present in 8.29.0 as well. I would even guess it's in there since its beginning, but haven't yet checked that.

[2017-10-24 14:51] radosroka commented on #1895
This seems like right fix for that.

[code]

[2017-10-24 14:52] radosroka commented on #1895
Messages are OK e.g. sd_journal_next should never return negative value.

[2017-10-24 14:55] rgerhards commented on #1895
I researched the same commit just now: https://github.com/rsyslog/rsyslog/commit/92ac8016e4cd6a2d7a791233b613c8c74746d08b#diff-b1ea6478b8060f07cd30ecde78bfdc49

Still we need to change the main loop and do recovery in unexpected cases. Note that I have a PR with many changes of imjournal open -- https://github.com/rsyslog/rsyslog/pull/1872

[2017-10-24 14:58] radosroka commented on #1895
I think that rsyslog should be aborter after such situation. Journal structure wasn't basically allocated.

[2017-10-24 15:21] deoren commented on #1071
@rgerhards I'll work on doing just that. Do you prefer that I keep using this issue for the work or a separate one?

[2017-10-24 15:29] rgerhards commented on #1895
We cannot abort rsyslog as whole just because one of the input modules has a problem. IMHO the module should try to recover. At least according to the man page (https://www.freedesktop.org/software/systemd/man/sd_journal_next.html)  ```sd_journal_next()``` can fail - so we should not outrule that. In an extreme case like here, of course, this will not help. But I guess we usually can assume that t

[2017-10-24 15:31] rgerhards commented on #1895
@radosroka side-note: do you have an explanation why no compiler ever complained about the bug that you provided a fix for? I would have expected we get a type error.

[2017-10-24 15:32] rgerhards commented on #1071
let's keep it here. We assume it's the same case, right? If so, here is the right place (even though it get's clumpsy, but better than issue hopping IMHO).

[2017-10-24 17:58] deoren commented on #1071
@rgerhards Alright. I wasn't sure if I had shared enough info thus far to show whether the segfault I'm experiencing is a different problem than was reported here.

After a lot of trimming, here is a test configuration that segfaults for me:

[code]

From the same box, I run `logger --tcp --port 514 --server 131.204.172.72 "hello!"` and rsyslog segfaults. This is the result when I run rsyslog with

[2017-10-24 20:25] waster commented on #1605
Ok, after some more tests  it seems that this problem is related to wildcards in path names. Here are two configs:

Config with wildcard in path name:
[code]
Config with wildcard in filename:
[code]
Rsyslog stopped monitoring of access.log and continued monitoring of accesstest.log after logrotate was performed on both log files.

[2017-10-24 20:40] deoren commented on #1782
@rgerhards @davidelang  As I just mentioned on the mailing list thread, it appears that explicitly setting `MaxDataSize="128k" ` for the imrelp input on our main receiver "resolves" the problem for the sending node. Messages that appeared to be infinitely "stuck", now flow as expected.

The configuration now:

[code]

Setting just `maxMessageSize="128k"` on its own does not appear to be sufficient

[2017-10-24 21:40] joaoantoniopereira commented on #1802
If anyone is struggling with this, my solution was to create the elasticsearch index first with the mappings for each field. https://www.elastic.co/guide/en/elasticsearch/reference/5.5/indices-create-index.html

[2017-10-25 03:06] davidelang commented on #1605
what version of rsyslog is this?

[2017-10-25 05:03] ycflash commented on #1885
Any further steps needed to address this issue?

[2017-10-25 05:42] waster commented on #1605
@davidelang, latest Rsyslog 8.30.0-0adiscon2trusty1 from Ubuntu repo.

[2017-10-25 07:50] josiahp commented on #1716
I'm encountering this same issue (currently on 8.25.0 after trying 8.30.0). My early tests seemed to indicate that 8.25.0 did not have this issue, but it indeed seems to.

@mostolog 's suggestion does not seem to alleviate the issue, and @dansteen 's workaround is not working in my case either. A restart of rsyslog causes all new files to be picked up immediately.

A new file in a directory that w

[2017-10-25 07:55] mostolog commented on #1716
After asking on lists, seems ** is unsupported.
Perhaps a sigHUP would do the trick.

Anyhow, due to our needs, we aren't longer using glob wilcards for multiple directories.

[2017-10-25 08:14] rgerhards commented on #1895
see also https://github.com/rsyslog/rsyslog/issues/164

[2017-10-25 08:50] rgerhards opened #1897 "imjournal: open function is broken, module does not work at all"
commit  92ac801 broke opening the journal, resulting in imjournal being defunct.

see #1895 for a patch

[2017-10-25 09:14] rgerhards commented on #1895
@radosroka I turned your patch into PR #1898 (in a sligtly different twist). Hope to have all merged soon (including test). Then going back to refactoring the main loop.

[2017-10-25 09:46] rgerhards commented on #1885
bear with me -- other things go in parallel. Did not yet have time to look in-depth, but hopefully soon.

[2017-10-25 10:01] PascalWithopf opened #1899 "imudp: error msg for every listener that cannot be started"
When imtcp fails to create a listener it puts out an error msg for every listener.
"Could not create tcp listener, ignoring port (port) bind-address (ip-address)."

When imudp fails it would be great if it would put out a similar message containing the port and address of the specific listener that failed.

[2017-10-25 10:02] ycflash commented on #1885
OK, I don't mean to push, and I'll be patient. thx

[2017-10-25 10:06] rgerhards commented on #1885
... but I now got to it - unfortunately, does still not make sense to me. I see what happens, but I do not see any code path that could lead to it. So: next iteration with more instrumentation. I ammended the commit, it now is 7dfb51a. Can you run that one and supply valgrind result and debug log (full if possible). Thx!

[2017-10-25 10:08] rgerhards commented on #1899
Please clarify which error message is meant (as UDP does not have connections). Best with link to code line in question. Thx.

[2017-10-25 10:47] ycflash commented on #1885
With this patch, I could not reproduce the segfault. No omelasticsearch action suspend log in /var/log/messages either.

[2017-10-25 10:50] ycflash commented on #1885
And rsyslog seems not drop messages when ES not available, mem usage of rsyslogd increasing constantly.

[2017-10-25 10:53] radosroka commented on #1895
@rgerhards I think that for compiler POV is everything OK even types. Compiler is not able to predict anything in such cases especially with pointers. But valgrind can be helpful.

Perhaps getting rid of global variables would be better approach.

[2017-10-25 11:02] rgerhards commented on #1895
I had actually hoped that clang static analyzer would have caught it, but it doesn't. And compiler could detect set-but-never read, at least we have such warnings sometimes. But doesn't matter.

valgrind requires a dynamic test - now that I have a base test we can probably extend on that. :-)

Yup, the global might be worth reconsidering! But I think it is most important to do it consistently, thu

[2017-10-25 11:04] rgerhards commented on #1885
oops... that was not intended. Can you send me the debug log (or a large part of it, this time from the top). Valgrind might be useful if you ctl-c out of it -- it'll show the mem leak.

[2017-10-25 11:18] ycflash commented on #1885
use `cat rsyslog-1.gz rsyslog-2.gz rsyslog-3.gz > rsyslog-debug.log.xz` to get origin xz file, and decompress it then.

[rsyslog-1.gz](https://github.com/rsyslog/rsyslog/files/1414347/rsyslog-1.gz)
[rsyslog-2.gz](https://github.com/rsyslog/rsyslog/files/1414348/rsyslog-2.gz)
[rsyslog-3.gz](https://github.com/rsyslog/rsyslog/files/1414349/rsyslog-3.gz)

[2017-10-25 11:22] ycflash commented on #1885
output of rsyslog run under valgrind:

[code]

[2017-10-25 12:01] gubzh opened #1900 "ommysql: inserting response to query in column"
In the rsyslog.conf registered the following rules:

    template(name="cef" type="string" option.sql="on" string="insert into table (Extensions_src_country) values ('http://ip-api.com/json/1.1.1.1?fields=country')")

How add in column Extensions_src_country value response to a request - Australia?

[2017-10-25 13:19] alorbach commented on #1605
@waster: After log rotation, is the rotated logfile still being monitored?

[2017-10-25 13:22] waster commented on #1605
@alorbach, in the example above only accesstest.log is still being monitored after log rotation, but not access.log

[2017-10-25 15:11] #1897 closed

[2017-10-25 15:13] #1869 closed

[2017-10-25 16:07] filippog commented on #1728
I'm running into the same issue with 8.23 (or 8.4 for that matter). Turning on debug I get this from tcpsrv

[code]

[2017-10-25 16:43] rgerhards commented on #1885
wt... I am a bit at the loss. The debug log also does not show anything. Maybe we actually have race (unlikely) and the new debug output "solved" that. Need to think hard about that. Bear with me a bit, maybe I'll not post anything new tomorrow. Maybe we need to take a step back to previous instrumentation...

[2017-10-25 16:47] davidelang commented on #1885
one example said that the error only happened with an action after the ES
action.

that sounds like a use-after-free bug

[2017-10-25 16:53] rgerhards commented on #1885
valgrind is extremely likely to detect this (I've seen 100% success with that so far -- if it is no race).

But the point here is that @ycflash could reproduce it consistently, only not after the latest patch. Everything else unchanged.

[2017-10-25 20:44] deoren commented on #1071
I performed some additional testing using `nc` (Ubuntu 16.04, Ubuntu 14.04, ESXi 5.5.0) against ports 514/udp and 514/tcp on a test Ubuntu 16.04 box using rsyslog v8.30.0 and the previously provided configuration. I then repeated the test by running the same version of rsyslog on an Ubuntu 14.04 box.

In all bases, 514/tcp (via imptcp) accepted the nc probes without any apparent issue. Probes on 5

[2017-10-25 23:31] deoren commented on #1071
I checked and the same configuration and logger commands (tcp or udp) cause a crash with rsyslog 8.16.0-1ubuntu3 on an Ubuntu 16.04 system (stock version).

Just to make sure this wasn't already resolved with the latest code in master, I went ahead and built from source (fffda03d472473ede29cf2d72aad9a0a42248fdc). The problem is present in that version too, but the debug output appears to be a bit

[2017-10-26 06:17] ycflash commented on #1885
Even if with only action ES, 8.30.0 and all previous patch expect the 7dfb51a will cause segfault.

[2017-10-26 07:39] #164 closed

[2017-10-26 07:40] #1899 closed

[2017-10-26 07:47] crackytsi commented on #1071
Hi,
For me the issue deoren found seems to be another topic.
I can't find any relation to the stacktrace that were the reason to place this issue.
Additionally I'm very sure that the issue only appears on systems with rsyslog > 8.16
So version 8.16 was the last version that worked stable in my setup ;)

[code]

@deoren Do you have a different view?

[2017-10-26 08:10] janmejay commented on #1071
@crackytsi the issue may be related. We have looked at that code several
times without finding anything. Many of us have tried to repro it and have
failed. It really does look like a case of memory corruption.

The basic problem is that memory pthread_join accesses (pthread struct) has
been unmapped or the address where the pointer was has been overwritten
which corrupted the pointer (pointing it

[2017-10-26 09:03] mgraff opened #1905 "Package rsyslog-mmnormalize-8.30.0-3 for EL7 requires broken dependencies"
Hello,

The last RPM build of the mmnormalize module (8.30.0-3) requires bad dependencies :

[code]

The `000` and `30` dependencies are wrong.
Could you please correct these dependencies as they break package installation.

Thanks

[2017-10-26 09:13] rgerhards commented on #1905
@friedl pls have a look, issue went to rsyslog issue tracker instead of packaging one

[2017-10-26 09:44] rgerhards commented on #1071
sorry for the late reply, very busy at the moment.

@deoren after reading through https://github.com/rsyslog/rsyslog/issues/1071#issuecomment-339077715 I also think this is a different issue, most importantly as the sample conf does not include lookup table functionality.

It still might be related, because we do not know why in this issue the pthread handle becomes corrupt and the other issue mig

[2017-10-26 09:52] mgraff commented on #1905
Sorry I missed out the dedicated issue tracker

[2017-10-26 10:04] hakman opened #1906 "omelasticsearch: Segfault on HTTP error"
Lately, due to some AWS ELB timeouts and errors we are seeing 30-50 Rsyslog crashes a day. After some debugging, I think I managed to reproduce this with v8.30.0 by restarting ES while pushing data to it.
I think this happens because the module doesn't handle too well HTTP errors like timeouts and other 4xx and 5xx. We discussed a little about this some time ago as part of #505.

Steps to reproduc

[2017-10-26 10:20] rgerhards commented on #1885
It would be good to use a single action for further runs, as this reduces complexity and eases review of debug log. I'll work on a new patch...

[2017-10-26 10:34] rgerhards commented on #1906
Thx, this is a duplicate of https://github.com/rsyslog/rsyslog/issues/1885 with which we are currently struggling. There is a partial patch available.

[2017-10-26 10:41] hakman commented on #1906
OK. Thank you. Please let me know if you need any help here.

[2017-10-26 10:41] rgerhards commented on #1885
Note: the gdb report from duplicate issue https://github.com/rsyslog/rsyslog/issues/1906 shows that "message" inside ```computeMessageSize()``` points to invalid memory. However, this is on totaly unpatched version and contrary to what we saw here. Nevertheless, both point to some memory corruption -- unfortunately valgrind did not detect anything.

[2017-10-26 10:42] rgerhards commented on #1906
I saw one interesting effect compared to #1885 - would you be willing to reproduce the issue in your env under valgrind control? The exact cause seems to be env-dependent.

[2017-10-26 10:51] hakman commented on #1906
I guess should be pretty simple to run with valgrind. What parameters should I use?

[2017-10-26 10:53] rgerhards commented on #1885
@ycflash I have ammended my commit again, it now is 1c8f013. Please check if the segfault re-occurs. If so, I am interested in valgrind and debug log. If not, I'll change the commit once again. As soon as we get a repro back, I'll no longer ammend the commit but push follow-up ones, which are easier to undo.

[2017-10-26 10:55] rgerhards commented on #1906
great! actually, we need no valgrind-specific parameters, but we need to have -n added to rsyslog command line, as in here:
[code]
Without -n, rsyslog forks and valgrind looses track/gets confused (depending on valgrind options), so this is the safe way.

[2017-10-26 11:15] ycflash commented on #1885
This time segfault log:
[rsyslog-log.tar.gz](https://github.com/rsyslog/rsyslog/files/1418077/rsyslog-log.tar.gz)

[2017-10-26 11:18] hakman commented on #1906
[code]

[2017-10-26 11:36] hakman commented on #1906
One more thought: maybe we can log these in a regular way, not on std*:
[code]

[2017-10-26 13:52] rgerhards commented on #1906
actually I have no idea where they come from. Rsyslog does not emit them...

[2017-10-26 13:53] rgerhards commented on #1906
thx for the valgrind log, looks promising!

[2017-10-26 14:39] hakman commented on #1906
Regarding those messages, they come from libcurl:

[2017-10-26 14:39] rgerhards commented on #1906
I think this is indeed very useful, I hope it points to the root cause of the problem. Keep you posted...

[2017-10-26 14:40] hakman commented on #1906
Thanks a lot :)

[2017-10-26 16:58] rgerhards commented on #1885
The valgrind log in #1906 had some very interesting information. I think I might have found the issues (assuming it is the same). Could you please apply 2409cef **on top of your already patched version** and see what happens.

[2017-10-26 17:01] rgerhards opened #1909 "omelasticsearch: output from libcurl to stdout"
As reported as a side-note in #1906, omelasticsearch makes libcurl output to stdout. This needs to be fixed.

One cause is described here: https://github.com/rsyslog/rsyslog/issues/1906#issuecomment-339687965
But CURLOPT_WRITEFUNCTION also seems not to be applied universally (doc https://curl.haxx.se/libcurl/c/curl_easy_setopt.html).

[2017-10-26 17:03] rgerhards commented on #1906
DOH! opened a new issue for it. Thx!

[2017-10-26 17:05] rgerhards commented on #1906
@hakman Can you build from source? Else what platform do you use, I'll see if I can get a package with the proposed fixes (but might take a bit). Essentially this set could be it: https://github.com/rsyslog/rsyslog/pull/1888 (**not just the last commit that referenced this issue** -- you'll run into a different one).

[2017-10-26 17:14] ycflash commented on #1885
segfault again with these logs:
[rsyslog-2409cef.tar.gz](https://github.com/rsyslog/rsyslog/files/1419347/rsyslog-2409cef.tar.gz)

[2017-10-26 17:22] ycflash commented on #1885
segfault logs:
[rsyslog-2409cef.tar.gz](https://github.com/rsyslog/rsyslog/files/1419365/rsyslog-2409cef.tar.gz)

[2017-10-26 18:04] rgerhards commented on #1885
I was too quick - the testbench also erred out. I guess I know what is
wrong with the patch, still think the corrected version (tomorrow) could
fix the issue. But this time I'll wait for the testbench to finish

Sent from phone, thus brief.

Am 26.10.2017 19:22 schrieb "ycflash" <notifications@github.com>:

[2017-10-26 18:09] ycflash commented on #1885
thanks, will do the next patch test when it ready.

[2017-10-27 05:33] hakman commented on #1906
I can build from source and retest once the patch is available. Thanks.

[2017-10-27 09:18] rgerhards commented on #1885
OK, I think I found and fixed it. The replacement for 2409cef is now da487a5. So you need to patch master with 1c8f013, da487a5 in that order. Please let me know the outcome.

[2017-10-27 09:19] rgerhards commented on #1885
sorry, I meant v8.30.0, not master (albeit master should work, too, but that's different to what you did previously)

[2017-10-27 09:42] hakman commented on #1906
Still getting segfault. This is the debug log:

[2017-10-27 09:53] rgerhards commented on #1906
which patch did you apply? you need to have both from https://github.com/rsyslog/rsyslog/pull/1888 -- the one that references this issue only targets that specific issue, whereas the other in the PR targets another one.

If you applied both, can you please also provide a valgrind log? Thx!

[2017-10-27 10:29] hakman commented on #1906
Both fixes are applied. Valgrind log following:
[code]

[2017-10-27 14:33] friedl commented on #1905
Uploading the fixed RPMs right now.

[2017-10-27 20:24] ycflash commented on #1885
With 1c8f013, da487a5  patches, log output:
[rsyslog-debuglog.tar.gz](https://github.com/rsyslog/rsyslog/files/1423358/rsyslog-debuglog.tar.gz)

[2017-10-27 22:42] deoren commented on #1071
@crackytsi I don't know enough to say whether the original problem described here and what I've managed to repro are related, but as @rgerhards mentioned it may be best to split off my report so that it can be looked at separately. Hopefully with my issue being reproducible it can be fixed first and then those who have experienced the issue here could retest.

I looked back over some of the earlie

[2017-10-27 22:57] deoren opened #1920 "Segfault when attempting to check length of non-existent JSON message property"
As noted on #1071, when I attempt to check the length of a JSON message property (whether at the root or part of a subtree) rsyslog quickly segfaults and crashes.

## Configuration that can be used to repro the problem

Here is a trimmed configuration that allows me to reproduce the problem:

[code]

## Systems I used to reproduce the problem

I believe I can trim the configuration further to stil

[2017-10-27 23:19] deoren commented on #1920
I just compiled rsyslog from the latest sources in master (0507f3cdc1abd07d56c2d421ddf8df261292b2c8) and the problem persists.

[code]

[2017-10-27 23:25] deoren commented on #1920
I just modified the OP to remove this block:

[code]

and have updated the URL to the config file provided by the gist to reference the new version that leaves out loading the imuxsock module (since I can repro the problem without it).

[2017-10-28 03:44] deoren commented on #1782
@rgerhards @davidelang As a follow-up to my last posting, is there a way to see in the debug logs what value imrelp is using for imrelp's `MaxDataSize` parameter if don't explicitly set it, and instead rely on imrelp to use the global() `maxMessageSize` value?

On that note, when `maxMessageSize` is inherited by an input, is that value written out to the logs for troubleshooting purposes?

[2017-10-28 08:56] #1909 closed

[2017-10-29 13:15] rgerhards commented on #1885
Thx - I might now have a way to reproduce the issue, now that I know more what's going on. So will test with my lab at the moment.

[2017-10-29 18:15] rgerhards commented on #1885
In my local env I could find and fix an issue that looks very similar to what you have. CI is currently running, but if you like you could apply 37be5bf on top of the two others (I have not squashed to make it easier to go back if needed).

[2017-10-29 18:24] rgerhards commented on #1782
see also https://github.com/rsyslog/rsyslog/issues/1741

[2017-10-29 18:29] rgerhards commented on #1741
I did a **very quick** check, it might be that the relp client is currently not configurable inside librelp. That doesn't sound like it makes too much sense... I'll do further checking.

@deoren could you test a patch if it becomes available? Someone else?

[2017-10-29 18:32] deoren commented on #1741
@rgerhards Thanks for directing me here. I'll be happy to test whether it resolves the problem I noted on #1782. Are you able to easily generate test packages or would this just be manually applying a patch on top of the latest code in master and then building from source?

[2017-10-29 18:39] deoren commented on #1741
Sure.

Are you able to easily generate test packages or would this just be manually applying a patch on top of the latest code in master and then building from source?

[2017-10-29 20:59] ycflash commented on #1885
segfault did not occur with 37be5bf, but new messages are not send to ES when elasticsearch restarted.

logs here:
[rsyslog-debuglog.tar.gz](https://github.com/rsyslog/rsyslog/files/1425489/rsyslog-debuglog.tar.gz)

[2017-10-30 08:20] rgerhards commented on #1906
Could you apply 37be5bf on top of your patch and try again? I was able to reproduce a situaton that looks similar to what you see in my lab, so I could analyze it in depth. The result is 37be5bf. Of course, it's not clear if I saw exactly the same like you...

[2017-10-30 08:51] rgerhards commented on #1900
You currently cannot do http request from the scripting language. However, such a feature is under consideration.

[2017-10-30 09:07] gubzh commented on #1900
I added a query to sys_exec in rsyslog.conf:

and created a php file /opt/rsyslog/test.php:

`<?php
	$ip='%$!cef!Extensions!src%';
	$url = 'http://ip-api.com/json/'.$ip.'?fields=country';
	$content = file_get_contents($url);
	$json = json_decode($content, true);
	print $json['country'];
?>`

After this, the Extensions_src_country column permanently records 32512.
But I need that there would be an

[2017-10-30 09:14] rgerhards opened #1933 "remove systemd embedded code, use library instead"
Since the early days rsyslog uses the orginal systemd embedded interface code. This should be changed to using libsystemd (which we seem to use for[io]mjournal already).

[2017-10-30 09:20] rgerhards opened #1934 "testbench: add Elasticsearch testing capability w/o root access"
We should try to add ES tests that download specific ES versions and can start/stop them without root access - no longer depend on OS provided packages.

[2017-10-30 09:21] rgerhards commented on #1934
tenatively assigned released goal

[2017-10-30 09:28] hakman commented on #1906
Could not reproduce the issue anymore with this patch.
Will see if this patch fixes also the production issue over the next few days.
Thanks! :)

[2017-10-30 09:57] radosroka opened #1935 "Support client cert and client key in omelasticsearch module"
Since omelasticsearch already uses libcurl, and libcurl already supports
client cert and client key, it should be relatively straightforward to
add these additional parameters.

[2017-10-30 10:35] ycflash commented on #1885
I have retried the test with following steps:

1.  start ES & make sure ES is working
2. start valgrind rsyslgod -n
3. verify messages send by rsyslgod is indexed in ES
4. stop ES for 5min
5. start ES for 15+ min
6. finally, check if new messages are indexed in ES

the result shows that: if ES stopped, no new messages are sent to ES ever again.

logs here:
(use cat rsyslog-debug.log.xz00.gz rsyslo

[2017-10-30 10:42] rgerhards opened #1937 "srutils: repalce call to random() with /dev/urandom"
The function randomNumber() uses weak PRNG, but could potentially be used for security-sensitive things (it is exposed to the script engine). As such, we need to upgrade it to /dev/urandom.

[2017-10-30 11:36] WaeCo opened #1939 "RainerScript: previous action is suspended"
Hello,

I want to do something like:
[code]
Doc states that `omruleset` is depreciated, also it does only support legacy format.
Is there a way to use rainerscripts `call ruleset` statement in a similar manner?
I have not found any property that let me check the suspension state, is there one?

**Edit**: If this currently does not work. Maybe one could expose the state as a local variable. E.g. `$

[2017-10-30 12:05] PascalWithopf commented on #1920
I was able to reproduce this with following configuration:
[code]
The Segmentation Fault is triggered when the path consists of at least one variable.
For example the following does not trigger the Segmentation Fault:
[code]

[2017-10-30 12:34] hakman commented on #1906
Still getting some segfaults but much more rare. Looking at _gdb bt_, I see that message points to the searchIndex string and searchIndex points to some invalid string (not always 0x0).

[code]

[2017-10-30 17:25] rgerhards opened #1943 "mmanon: use new-style LogMsg interface"
just to clean up things...

[2017-11-01 06:30] waster opened #1949 "omelasticsearch: 401 on _cat/health with http basic auth"
We are using Rsyslog + Omelasticsearch 8.30.0-0adiscon2trusty1 with external http basic authorization based on nginx. It seems that uid and password configuration parameters are not used to check a connection health of Elasticsearch server and these messages in http logs are appearing:
[code]
At the same time bulk mode is on and works well.

Best regards, Andrey.

[2017-11-01 08:34] ycflash commented on #1885
Hi, any update on this?

[2017-11-01 13:41] psinghbh commented on #274
Is there any plan for implementing this in near future or anyone working on this?

[2017-11-01 16:13] davidelang commented on #274
what is FIPS mode for logs? the FIPS I'm familiar with deals with certification
of encryption code (and due to the way it's managed, it's very ard for
opensource software to to remain certified, every path requires expensive
recertification)

David Lang

[2017-11-01 17:50] jgerhards commented on #1614
@t2d have you tested it yet?

[2017-11-02 13:42] rgerhards commented on #1933
It's not as simple as it initially looked -- we need to have a small abstraction layer for systems where there is no systemd at all, not even libsystemd.

[2017-11-02 13:43] rgerhards opened #1954 "imfile: implement Solaris File Events Notification(FEN)"
Adding support for Solaris File Events Notification(FEN) to imfile as describe here:

https://xnet.fi/solaris/

This is roughly equivalent to inotify under Linux and will help imfile provide wildcards and other parts of the inotify-based functionality under Solaris.

[2017-11-02 14:33] rgerhards commented on #1906
Thx - sorry for the sluggish reply, be overwhelmed at the moment with open issues. What you see matches what the last patch was set to fix, so it seems to be partial, only. I guess I must now find first a way to automate the test environment, so that I can run it automatically through many tries. I asked @alorbach if he can look into this.

So it'll take a short while for the next response, but I

[2017-11-02 14:33] rgerhards commented on #1885
Thx - sorry for the sluggish reply, be overwhelmed at the moment with open issues. I guess I must now find first a way to automate the test environment, so that I can run it automatically through many tries. I asked @alorbach if he can look into this.

So it'll take a short while for the next response, but I am still actively searching for a solution.

[2017-11-02 14:40] ycflash commented on #1885
That's OK, if further tests needed, I'd be happy to help, just let me know. Thanks.

[2017-11-02 15:26] hakman commented on #1906
Thanks for the update. In production it clearly looks better than before.
Let me know if there is anything that I can try on my side.

[2017-11-02 15:36] alorbach commented on #1934
https://github.com/alorbach/rsyslog-1/commit/87dafc7fbc3670f90ab997b720d1fc1db9077fce
does that.

Should I convert all other tests?

[2017-11-02 15:49] gubzh opened #1955 "ommysql: error insert timestamp date"
I need insert in mysql from CEF log date format timestamp (%Y-%m-%d %H:%M:%S)

In the CEF-log the date in this form:

Rule in rsyslog.conf:

I need write to MySQL so:

But now this is recorded:

What I need to fix?

[2017-11-02 16:24] PascalWithopf opened #1956 "msg.c: review functions"
While debugging in msg.c we noticed some functions which raised questions. They look like they were changed overtime and some passages don't look reliable anymore. The code should be reviewed if everything is fine as it is.

jsonPathFindParent()
jsonPathFindNext()
jsonFind()
msgAddJSON()
msgDelJSON()
getJSONPropVal()
msgGetJSONPropJSONorString()
msgGetJSONPropJSON
jsonVarExtract()

[2017-11-02 16:44] PascalWithopf commented on #1920
The problem should be fixed now.
@deoren can you test if your Segmentation Fault is solved?

[2017-11-02 16:48] bayaro commented on #1906
Hi there,
I can suggest that `checkConn` inside `curlPost` uses `pWrkrData` for processing curl request/response. But allocated inside `checkConn` resources does not free before calling `curl_easy_perform` inside `curlPost`.

[2017-11-02 16:50] Werkov opened #1959 "Race condition in thread cancellation early after start"
## Steps to reproduce

I reproduced this on SLES12 SP2, relevant packages versions:

It was QEMU/KVM with a single vCPU.

Based on default rsyslog configuration, I set up remote forwarding:
[code]

The issue is that occasionally rsyslog.service stop operation times out. Originally, this was observed only during shutdown but later I was able to reproduce it during any increased load.

Reproduction

[2017-11-02 16:53] bayaro commented on #1906
such strings are answers from eleasticsearch in request `_cat/health`

[2017-11-02 16:54] rgerhards commented on #1959
Thanks for the bug report. Unfortunately, 8.4 is over 2 years old and heavily outdated. I think there is a big chance the the current version (8.30.0) does not have the issue. Can you update to it and see if the problem persists?

[2017-11-02 17:00] bayaro commented on #1949
it is connected with #1906
`checkCon` does not use a full request setup

[2017-11-02 17:01] rgerhards commented on #1920
As a side-note, it looks like parts of the variable handling would benefit from some review/refactoring ;-) https://github.com/rsyslog/rsyslog/issues/1956

[2017-11-02 17:03] rgerhards commented on #1949
Do you have a clear connection of why this causes the segfault? If so, I would *really* like to hear the details. If not, I suggest we treat this issue here as separate, #1906 is about a potential segfault.

[2017-11-02 17:49] davidelang commented on #1955
did you enable case sensitive variable names? otherwise you are looking up
$!cef!extensions!rt, which is blank.

[2017-11-02 19:00] deoren commented on #1920
I'll test and report back as soon as I can. Thanks!

[2017-11-02 19:04] gubzh commented on #1955
The problem is not this.

If the type of the Extensions_rt column is varchar, then written:
Nov 02 2017 18: 39: 47.476 MSK.

If the type of the column Extensions_rt timestamp is then written:
0000-00-00 00:00:00.

[2017-11-02 20:26] bayaro commented on #1949
I have marked it as connected with 1906, because of in both `checkConn` is a one of points.
I will add details about segfault at 1906

[2017-11-02 20:28] bayaro commented on #1906
Both function `checkConn` and `curlPost` use one structure `pWrkrData` that is being given to the curl.

The curl uses callback `curlResult` in which `pWrkrData->reply` reallocated for every response.

`checkConn` is calling periodically and do not clear `pWrkrData->reply`. (It is reallocated always inside `curlResult`).

BUT `curlPost` starts with
[code]

[2017-11-02 20:44] bayaro commented on #1906
[code]
should be moved into CODESTARTcreateWrkrInstance

segfault appears in case when there were no logs and app just trying call checkConn.
pWrkrData->reply is not defined in this case

[2017-11-02 20:51] bayaro commented on #1906
Also `curlResult` is always appending a response to `->reply`. What will occur if ES is unavailable for long time?

`->reply` should be reallocated to 0 before every request.

[2017-11-02 21:23] deoren commented on #1920
@PascalWithopf I assume I need to clone from your fork and not from rsyslog/rsyslog master? I just built from de4ccbffe243048ab2e69dc51b3d9039507f1119 and the issue is still present. About to build from your fork next (from a clean snapshot) and will test again.

[2017-11-02 21:53] deoren commented on #1920
@PascalWithopf I tested c7a5085a7eaed6c4e672f592abc30da2b3a08d0d from the `i-1920` branch from your repo and was unable to reproduce the segfault.

Output from `valgrind rsyslogd -dn -f /tmp/rsyslog-issue-1920.conf`:

[code]

That was from me calling the logger command with tcp and udp connectivity options:

- `ubuntu@ubuntu-virtual-machine:~$ logger --tcp --port 514 --server 192.168.146.131 "hell

[2017-11-03 03:00] davidelang commented on #1955
On Thu, 2 Nov 2017, gubzh wrote:

This is not a valid timestamp (due to the spaces), try changing your config to
not have the spaces in the template and try again.

[2017-11-03 05:25] gotnix opened #1961 "Why the default umask of rsyslogd is decimal 63 ?"
The [documents](http://www.rsyslog.com/doc/v8-stable/configuration/global/options/rsconf1_umask.html) said:

On CentOS, the user root's umask is 0022, normal user's umask is 0002, but i get the rsyslogd's umask via gdb as follow:
[code]

My rsyslog.conf without `$umask` directive, why rsyslogd's umask is decimal 63 (octal 0077), and not 0022 or 0002 ?

[2017-11-03 06:21] gubzh commented on #1955
I need convert date from this format:
%b %e %Y %H:%M:%S.%L %Z (Nov 02 2017 18:39:47.476 MSK)

to this format:
%Y-%m-%d %H:%M:%S (2017-11-02 18:39:47)

in the process writing CEF-logs to MySQL table, using ommysql.

What should I change in the rsyslog.conf rules?

P.S: in the logs not so - `Nov 02 2017 18: 39: 47.476 MSK`, and like this - `Nov 02 2017 18:39:47.476 MSK` (there are no unnecessary spa

[2017-11-03 08:00] rgerhards commented on #1961
This actually smells like a bug, thanks for reporting. I'll have a closer look.

[2017-11-03 11:29] rgerhards opened #1962 "omelasticsearch: incorrect handling of CURLOPT_WRITEFUNCTION"
Spliting this off #1906 as it probably is a different issue - but may be the root cause of the remaining issue in #1906.

@bayaro said in https://github.com/rsyslog/rsyslog/issues/1906#issuecomment-341548095 (additional information in that issue tracker as well):

Both function `checkConn` and `curlPost` use one structure `pWrkrData` that is being given to the curl.

The curl uses callback `curlRe

[2017-11-03 11:54] rgerhards commented on #1906
I don't think this can happen, because tryResume is only called if doAction failed, which means curlPost has been called at least once.

Anyhow, thanks for the good comments, they are very helpful. I have created a new issue #1962 as I currently feel they do not relate to the problem that is left for @hakman. The code path looks pretty different. But I may be wrong. Let's see after the patch is cr

[2017-11-03 13:15] rgerhards commented on #1962
there actually seems to be some additional issues. At least the user pointer provided to the callback is not always set correctly -- maybe it's even random. Investigating...

[2017-11-03 13:21] rgerhards commented on #1962
OK, the problems were introduced roughly a year ago: https://github.com/rsyslog/rsyslog/commit/96b5fce0acd57e8ae39f053b9e20cb0c28911b80

We can probably now also work from that commit to check the intent.

[2017-11-03 14:36] deoren commented on #1741
@rgerhards In case my last comments indicated otherwise, I'm ready to build from source and test once you have code ready for testing.

[2017-11-03 14:44] bayaro commented on #1906
if `checkConn` is called before `curlPost` the `pWrkrData->reply` is undefined

[2017-11-03 15:03] rgerhards commented on #1906
yup, but as I said, this does not happen here - or do you have proof it does? That would actually be another bug.

[2017-11-03 15:21] bayaro commented on #1906
`curlPost` `free(pWrkrData->reply);` into `finalize_it:`

I could not find definitely where `tryResume` is called but i think it is called somewhere if it is coded. And `tryResume` is just a wrapper for `checkConn`. Voila.

yes. my sentence should be changed as:
if `checkConn` is called before/between `curlPost` calls the pWrkrData->reply is undefined.

[2017-11-03 15:31] rgerhards commented on #1906
tryResume is called within the action engine (action.c) in actionDoRetry(), which is called if doAction failed. I would also appreciate if you could use #1962 for the comments, as this keeps the issue tracker here clean of that specific aspect. But if you prefer, here is of course fine, too...

[2017-11-03 16:13] rgerhards commented on #1962
The root problem that we got this regression is that there is no testbench test for elasticsearch under valgrind. It would have detected the problem.

[2017-11-03 16:30] bayaro commented on #1962
`curlPost` `free(pWrkrData->reply);` into `finalize_it:`

I could not find definitely where `tryResume` is called but i think it is called somewhere if it is coded. And `tryResume` is just a wrapper for `checkConn`. Voila.

yes. my sentence should be changed as:
if `checkConn` is called before/between `curlPost` calls the pWrkrData->reply is undefined.

[2017-11-03 16:33] bayaro commented on #1906
every `tryResume` for elasticsearch can potentially raise segfault, because of it calls `checkConn` with undefined `pWrkrData->reply`

[2017-11-03 16:40] rgerhards commented on #1962
The health check URL uses an invalid pointer. Among others, this can also cause a slowly growing memory leak.

[2017-11-03 16:59] rgerhards commented on #1962
```checkConn``` needs to be called inside ```curlPost``` to support ES HA feature - but only if more than one server is configured.

[2017-11-03 17:06] rgerhards opened #1964 "omelasticsearch: improve curl reply buffer handling"
As seen https://github.com/rsyslog/rsyslog/issues/1962 in currently the buffer (```pWrkrData->reply```) is allocated, realloced and freed with each request. This can be reduced to once per module. Or every now and then, to free up memory buffer... I have not changed that in the PR for #1962 because we are still fighting with a segfault issue and refactoring this has potential to complicate things.

[2017-11-03 17:31] #1920 closed

[2017-11-03 18:17] hayou opened #1966 "driver mode 1 not supported by ptcp netstream driver"
Hello,

I try to send logs through TLS using this configuration :

[code]
It works but I have to many unwanted error :

[code]

packages version :
- rsyslog-8.24.0-12.el7.x86_64
- rsyslog-gnutls-8.24.0-12.el7.x86_64

How can I fix this errors ?
Thanks

[2017-11-03 18:23] rgerhards commented on #1966
It looks like the gtls driver is not present and so it falls back to ptcp which does not have TLS. I would have expected that you get an error from that, but maybe not... If you can post a debug log, I can do a quick check of what happens.

[2017-11-03 18:35] hayou commented on #1966
Thanks for your quick answer :+1:  :
[code]

[2017-11-04 09:46] JPvRiel commented on #274
One way to avoid that is to provide configuration directives where users can control their choice of cipher suites, and then it's up to the user to configure it in a FIPS compliant way.

Not an expert with all the FIPS requirements, but I'd assume the scope of this conversation only pertains to `TLS` parts and allowing configuration of GNU lib internals - not everything else FIPS might imply about

[2017-11-04 10:21] rgerhards commented on #274
I, too, think that it would make much sense to provide the ability to configure GnuTLS in-depth. I think @PascalWithopf worked on support for setting the priority string, but I am not sure if that bear any fruit right now. @PascalWithopf can you comment on that?

[2017-11-04 20:54] davidelang commented on #1955
use mmnormalize to read the timestamp, and then output it in rfc3164 format

[2017-11-05 13:26] rgerhards commented on #1906
@hakman could you please try c6a70e011b28d098210d9bc5c3662af499689793 on top of the other patches? Be careful, I don't think it actually fixes the remaining issue that you see - but there is a chance it can.

[2017-11-05 13:28] rgerhards commented on #1885
Can you please try c6a70e011b28d098210d9bc5c3662af499689793 on top of the other patches? Actually, I don't think it actually fixes the issue - but there is a chance it can. It fixes a valid issue in any case. So it would be great to have some more feedback on it.

[2017-11-05 14:30] #1868 closed

[2017-11-05 14:30] #1895 closed

[2017-11-05 15:12] ycflash commented on #1885
commit c6a70e0 failed to compile:

[code]

[2017-11-05 15:43] rgerhards commented on #1885
This looks like something "in between" is missing. Can you pull a branch and build from there? It becomes a bit complex to tie all the different pieces together... The branch is https://github.com/rgerhards/rsyslog/tree/i-1885 - if that is not an option I can create a tarball for you and mail it.

[2017-11-05 16:43] rgerhards opened #1971 "testbench: add tests with thread debugger enabled"
Requires small changes to the testbench framework. More importantly, there seem to be a couple of false positives that need to be addressed before we can proceed. Remeber: better a few tests than none, so do not go overboard with the initial implementation.

[2017-11-05 16:46] ledgr opened #1972 "rsyslog 8.24.0 SIGBUS on CentOS 7.4"
rsyslogd -v

[code]

Most relevant snippets (IMO) from `rsyslogd -dn`:

[code]

gdb /usr/sbin/rsyslogd
[code]

cat /proc/`pidof rsyslogd`/limits
[code]

/var/lib/rsyslog/srvrfwd1.qi contents
[code]

/var/run/rsyslog contains 502 srvrfwd1.0000[0-9]+* files each containing from 944 to 1751 lines starting with `Obj:1:msg:1`. There is total of `432014` such lines.

systemctl status rsyslog
[code]

I s

[2017-11-06 06:38] shivkumarmallesappa opened #1974 "Rsyslog stops pushing log to tcp endpoint after sometime"
Apologies in advance.
Following is my configuration , which I am using to push mysql-error logs to my tcp endpoint.
[code]

It works perfectly fine when I start the rsyslog service, but after sometime if any of the log is written to mysql error.log then rsyslog is not pushing the new events to my tcp endpoint.
What I am doing wrong here ?

Thanks.

[2017-11-06 08:19] ycflash commented on #1885
with i-1885 branch, the test looks the same as:

logs:
[rsyslog-debug.log.xz00.gz](https://github.com/rsyslog/rsyslog/files/1445427/rsyslog-debug.log.xz00.gz)
[rsyslog-debug.log.xz01.gz](https://github.com/rsyslog/rsyslog/files/1445429/rsyslog-debug.log.xz01.gz)
[rsyslog-debug.log.xz02.gz](https://github.com/rsyslog/rsyslog/files/1445430/rsyslog-debug.log.xz02.gz)
[valgrind.log](https://github.com

[2017-11-06 08:37] hakman commented on #1906
I built and deployed rsyslog from https://github.com/rgerhards/rsyslog/tree/i-1885. Will keep an eye for segfaults in the next few days.

[2017-11-06 11:06] rgerhards commented on #1885
I am puzzled ... the debug log does not show any failure at all. Also, I can see that all data is being delivered to ES. Might you have picked up the wrong log?

[2017-11-06 11:37] ycflash commented on #1885
Sorry, uploaded  wrong logs; here are new test logs:

[rsyslog-debug.log.xz00.gz](https://github.com/rsyslog/rsyslog/files/1446038/rsyslog-debug.log.xz00.gz)
[rsyslog-debug.log.xz01.gz](https://github.com/rsyslog/rsyslog/files/1446039/rsyslog-debug.log.xz01.gz)
[valgrind.log](https://github.com/rsyslog/rsyslog/files/1446040/valgrind.log)

Test steps:
step 1. start ES & make sure ES is working
step

[2017-11-06 11:57] rgerhards commented on #1885
no problem at all - errors happen :-) I'll have a look ASAP and let you know.

[2017-11-06 14:12] Thor77 commented on #1867
Is this fixed with #1872 ?
Can you create a release based on that?
imjournal is basically unusable without these fixes.

[2017-11-06 14:48] rgerhards commented on #1822
@PascalWithopf has created a testbench test that reproduces this: https://github.com/PascalWithopf/rsyslog/commit/1744dde81d090af99ef3d5bab8d8400667d60798. As it turns out, the problem seems to be even simpler and not be bound to using the variable root ($!). It seems to reproduce even with the unmodified sample script. That said, we seem to have a regression, what might be useful to know hunting

[2017-11-06 16:07] mgraff commented on #1905
I cannot find the fixed RPMs...
The RPM `rsyslog-mmnormalize-8.30.0-2.el7.x86_64.rpm` was modified (date changed) but this version was not concerned by the dependency issue.
However, the package `rsyslog-mmnormalize-8.30.0-3.el7.x86_64.rpm` is still broken.

[2017-11-06 16:22] rgerhards commented on #1822
Things begin to become clearer now.

First of all, there was a config error (typo) in the initial test @PascalWithopf created, and that error also lead to a segfault (so we can create a new issue) - good to have caught this as a side effect.

I now also know why it is hard to reproduce the issue: the non-standard config option  ```interface.input="fulljson"``` is required in mmnormalize configurat

[2017-11-06 16:24] rgerhards opened #1976 "mmexternal: segfault if external script cannot be executed"
repro: make sure the script is non-executable or not found. Will segfault on startup message.

Detected while working on #1822.

[2017-11-06 17:18] ngarratt commented on #1890
We've had no further segfaults since the patch in #1885 was applied. We were typically getting a few of them each week, so I would consider this resolved.

[2017-11-06 17:22] rgerhards commented on #1890
Thanks for letting me know, this is good feedback.

[2017-11-06 17:22] rgerhards commented on #1890
@friedl can you please have a look at https://github.com/rsyslog/rsyslog/issues/1890#issuecomment-338798387 in regard to the packaging.

[2017-11-06 17:50] rgerhards opened #1977 "RainerScript function: http_request(url)"
Add a function to do a http request (via libcurl) and provide the response back as a string. This is useful for many applications, among other for querying Amazon AWS config data.

A mock-up of AWS state document has been placed here: http://www.rsyslog.com/files/testbench/aws-sim.php This can be used for testbench tests.

[2017-11-06 17:59] rgerhards commented on #1966
Why it is not there is probably a question for the packaging guys. @friedl can you look into this? @hayou did you install from the rsyslog repository? May a simple update to the newest one help?

[2017-11-06 18:00] rgerhards opened #1978 "RainerScript: add a capability to signal function errors"
This probably needs to be done via an out-of-band mechanism like the "last action failed" indicator. Currently, there is no clean way to detect if a function has failed, and this may be useful for a number of cases, for example:
* #1977
* #1925 / #971
* #1979

[2017-11-06 18:02] rgerhards opened #1979 "RainerScript: add capability to parse JSON string"
It is useful to be able to parse arbitrary JSON strings without the need of an external message modification module. For example, together with #1977 this can be used to parse out specific fields from Amazon AWS configuration info. There are also other ample uses for such functionality.

[2017-11-06 21:50] davidelang commented on #1977
doing this for every log message that's processed would be insanely slow. If
this is included, it needs to have a LOT of warnings about being protected by
something that prevents it from being executed every message.

[2017-11-06 21:54] rgerhards commented on #1977
Ack, but there are many legit uses for it.

[2017-11-06 21:57] davidelang commented on #1977
On Mon, 6 Nov 2017, Rainer Gerhards wrote:

I agree, but I'm not sure if it's valid to have it as a function.

We've talked a few times about external things affecting the config on the fly
(adding or removing inputs for example to work with containers)

This sounds like a case where what you really want is the ability for an
external 'thing' to set a global variable and update it periodically. Ha

[2017-11-06 22:20] rgerhards commented on #1977
I don't think so. Adding a module is not as flexible. We have had other
requests for similar functionality these days. Of course it's powerfull and
can be abused but there are other things inside rsyslog that can so also.

If you insist in it, I can disable it by default and require a global
directive to opt-in.

Rainer

Sent from phone, thus brief.

Am 06.11.2017 22:58 schrieb "David Lang" <notif

[2017-11-07 08:09] hayou commented on #1966
@rgerhards : My bad, There is a conflict between my 2 configuration files. I deleted my second file and the message gone.
- first configuration : Send TCP with TLS
- second configuration : Send TCP

[2017-11-07 08:09] #1966 closed

[2017-11-07 12:39] jvymazal opened #1983 "Wrong mmjsonparse cookie causing segfault"
using custom cookie (instead of default `"@cee"`) and enclosing it in single quotes instead of double ones causes whole rsyslog to segfault (possibly in loop, depending on further configuration).

[2017-11-07 13:33] guss77 commented on #1367
@schlitzered , I'd apperciate it if you can comment about how you solved that problem. When I simply remove or comment out the contents of `listen.conf`, rsyslog stops receiving messages from journalds.

My solution was to replace it with the following configuration:
[code]
After which rsyslog creates the socket that journald expects and everything works fine.

I've tried to simply load the `imjou

[2017-11-07 16:14] rgerhards commented on #1983
Can you please post a concrete sample of the failing config? Seeing the PR I am unsure if I understand correctly.

[2017-11-07 16:57] rgerhards commented on #1885
mmmhhh... same thing. I don't see a suspend and omelasticsearch seems to be happily sending data to ES.

[2017-11-07 17:04] rgerhards commented on #1972
This looks like a duplicate of https://github.com/rsyslog/rsyslog/issues/1404, fixed in 8.25.0. Please try current version and report if the problem still exists. Thx.

[2017-11-07 17:04] #1972 closed

[2017-11-07 18:39] deoren commented on #1694
Sounds like this issue is related to #1656.

[2017-11-07 19:24] deoren commented on #1694
What results do you get when creating a `/etc/systemd/system/rsyslog.service.d/10-wait-on-network.conf` file with the following entries and then restarting the system?

[code]

[2017-11-08 05:36] ycflash commented on #1885
I couldn't understand why oemelasticsearch did not detect ES unavailable while ES is absolutely down, I did confirm TCP reset was send back to omelasticsearch with tcpdump when ES is down, like this:

[code]

[2017-11-08 07:38] rgerhards commented on #1885
As I said, I don't see any error in the debug logs. The logs indicate that ES also properly replies! My guess is that the log stem from an invalid test run.

[2017-11-08 07:43] rgerhards opened #1987 "testbench/omkafka: add valgrind tests"
add tests based on existing ones -- need to ensure non mem leaks etc

[2017-11-08 08:14] jvymazal commented on #1983
if you use something like `action(type="mmjsonparse" cookie='')` which is invalid and should be `action(type="mmjsonparse" cookie="")` then mmjsonparse accepts this as cookie and dumps rsyslog upon first processed JSON message. Combined with constant source of JSON messages abd e.g. systemd this leads to restart loop which is not very nice and IMHO config error should be more clearly handled. (too

[2017-11-08 08:16] rgerhards commented on #1983
ah, ok, this is what I initially understood. That means the proposed fix in https://github.com/rsyslog/rsyslog/pull/1985 is not correct as the problem is not in mmjsonparse but instead in the core engine's parameter processing. We need to create a testbench test first to ensure that the problem will actually be fixed.

[2017-11-08 08:20] jvymazal commented on #1983
Well, IIRC rsyslog itself has no problem with either single or double quotes so how (generically) would you like to fix this? I proposed the fix in the mmjsonparse because this is like the only place where type of quotes matter. The core engine just hands the cookie value to the module, or am I wrong?

[2017-11-08 08:33] rgerhards commented on #1983
These quotes, if they would work, would not make it into the place where you checked it. The core has to strip them. I also do not think that you can use single quotes for parameters (but I need to check).

[2017-11-08 08:41] simmel commented on #1144
I can't reproduce it. I've been sending production traffic to 8.24.0 for many weeks now and I can't trigger it.
So it was fixed somewhere between 8.16.0 and 8.24.0. My guess is when omprog got signalOnClose in 8.23.0.

[2017-11-08 08:41] #1144 closed

[2017-11-08 08:59] ycflash commented on #1885
From what I observed: even if debug log saying write to ES is OK, but no new messages in ES index, right after shutdown rsyslog there are new messages found in ES index. Can the following logs confirm what I observed? Is it possible that recent changes in omelasticsearch failed to make ES index messages?  logs are generated by these steps:

step 1.  start ES
step 2. start rsyslog
step 3. check ES

[2017-11-08 09:25] rgerhards opened #1989 "testbench: improve elasticsearch testing coverage"
especially provide ability to test with specific ES versions.

[2017-11-08 09:42] WaeCo commented on #1939
Following patch is simple and works.
But considering performance is probably not the best way to do it. Any suggestions regarding this?
Also this should be configurable and optional.
I will submit a proper PR if there is any chance that such a functionality will be merged.

[code]

Usage in config:
[code]

[2017-11-08 10:16] rgerhards commented on #1885
I am not sure if there is any condition where ES receives messages, returns success state but does not actually index them. I guess this will not happen. Maybe @hakman could comment on that?

I'll try to review the debug log this morning.

[2017-11-08 10:39] rgerhards commented on #1959
anyhow, this looks like a long-standing issue and it could be present in v8.30 as well. No easy repro in my test environment, but code review brings up some dubious things.

[2017-11-08 10:58] rgerhards commented on #1959
I seem to be able to at least get some reports from valgrind's helgrind thread debugger.

[2017-11-08 11:24] Werkov commented on #1959
Thanks for looking at this, reproducing this with newer rsyslog is still on by list -- it may happen that different threads are created during shutdown under that configuration and this race won't be manifested.

But I agree the thread pool implementation didn't change in this context. What do you think about introducing a third thread state ("starting")?

[2017-11-08 12:02] rgerhards commented on #1959
lol, I just did that - among other things. See PR (it's preliminary and I expect that it changes a bit)

[2017-11-08 13:24] ycflash commented on #1885
I think impstats log can confirm that messages are only submitted to when rsyslog shutting down:

[code]

[2017-11-08 14:34] rgerhards commented on #1885
Mhhh... I may be overlooking the obvious, but from what do you conclude this? I see there consistently is no failed counter greater than 0?

[2017-11-08 14:37] ycflash commented on #1885
should not the submitted counter be increasing?

[2017-11-08 15:04] rgerhards commented on #1885
yes, but only if there is new data coming in. Let me look once more at the debug log... Let's see what happens after 75 messages...

[2017-11-08 16:10] rgerhards commented on #1885
I went now very itensly through the log. There are 4 worker threads running, and they haver several 100000 message unfinished in the end. Everything works well otherwise. I guess it simply is that the debug log slows the system down so much that it can't keep up with the messages and so the insertion rate is very slow. The system didn't even notice that ES was stopped.

Did you try without debug m

[2017-11-08 17:46] Werkov commented on #1959
So...
I tried the reproducer with a newer version of rsyslog, namely

And I wasn't able to reproduce it.

Then I tried to backport 6c332e20e812fd5d0c0d313ed90bdcfb17c4887d to 8.4.0 and when I was doing that, I ran into fae3e420f4e1da2b60400f4f06fdf41624e5fdf9. I backported only that single patch and I wasn't able to reproduce the original issue.

The explanation (I didn't trace the code) is that t

[2017-11-08 21:08] davidelang commented on #1885
hmm, this is sounding as if ES is acknowleging the messages to rsyslog, but that
it's not adding them to the index until rsyslog disconnects.

this smells to me like there is an implicit transaction being created and not
closed out until the disconect.

David Lang

[2017-11-09 00:45] ltagliamonte opened #1991 "Hang condition or Memory leak with rsyslog 8.30 with omkafka"
I'm recording what seems a possible memory leak using rsyslog-kafka-8.30.0-2.el6 rsyslog-8.30.0-2.el6.
I deployed the solution this morning and this is what I can see from my monitoring:
![screen shot 2017-11-08 at 16 39 38](https://user-images.githubusercontent.com/10259338/32582462-c7580372-c4a3-11e7-886c-1305ffc7a73a.png)
The server config is:
[code]

[2017-11-09 00:58] davidelang commented on #1991
This could be a memory leak, but it could also be a queue building up, please
enable impstats and look to see if you have a queue file building up.

there were significant changes to omkafka in the last couple of releases, so it
could be a memory leak, or it could be that you are having trouble delivering
the messages.

  On Thu, 9 Nov 2017, Luigi Tagliamonte wrote:

[2017-11-09 01:04] ltagliamonte commented on #1991
@davidelang the producer servers have no lag, for this reason, I assume that it is not a problem of the queue building up as you were suggesting.
@rgerhards or @alorbach can test it using Valgrind.

[2017-11-09 07:14] rgerhards commented on #1885
From my testing with the abort cases, I think (98% certain) this is not the case. After aborts, the data was present. In this case here, the pstats show that data is inserted, but the debug log also reveals the are several 100,000 messages left in queues at shutdown.

[2017-11-09 07:41] rgerhards commented on #1991
@ltagliamonte Can you please try current git master branch. There have been some issues detected recently an been fixed.

[2017-11-09 07:43] rgerhards commented on #1771
@ltagliamonte can you provide the debug log @alorbach asked for? I'd like to see a fix for this in 8.31 if possible (Note: I have **not** read the issue, only last 2 posts).

[2017-11-09 07:43] rgerhards commented on #1991
valgrind tests I have already requested: #1987

[2017-11-09 08:17] rgerhards opened #1993 "stringbuf.c: cstrGetSzStrNoNULL shall not modify buffer"
The currently done buffer modification (add of '\0') is bad, especially when multiple threads access the same string. As always the same data is written, it's not really an issue that needs to be urgently fixed, but we should still try to get it straight. Among others, it will pollute the thread debugger and as such prevent more elaborate automatted tests.

The whole code needs to be refactored, a

[2017-11-09 09:14] ycflash commented on #1885
I think @rgerhards is right, it was caused by the valgrind overhead.
Run rsyslog in normal mode is OK to have messages indexed in ES, but sadly, the segfault problem reoccurs occasionally, I'm trying to find the specific steps to reproduce it.

[2017-11-09 09:23] hakman commented on #1885
@rgerhards for me suspend / resume works without issues and I did not see any crashes in production since Monday.

@ycflash might be a good idea to enable core dumps when running the service. The backtrace could give some hints about what happens.

[2017-11-09 09:29] rgerhards commented on #1885
I'll see that I merge the current patch set later today, as it definitely improves the situation (and not only for omelasticsearch). That will potentially cause a close of this issue, but I'll re-open. We need then to work from a different branch to solve the remaining issue.

[2017-11-09 09:53] ycflash commented on #1885
coredump shows following, looks like freeing a null pointer:

[code]

[2017-11-09 10:17] rgerhards commented on #1885
could you try to run it under valgrind **without** debug log? It may not experience a problem, but if it does that might be very helpful in addition to the core dump (we don't know if the root cause of the dump is early, valgrind usually detects this). If valgrind doesn't work, we can switch to clang address sanitizer. But first let's see...

[2017-11-09 10:23] ycflash commented on #1885
OK, I'll do this and feedback later, and here is the the partial log from a second run(hope it useful)

[code]

[2017-11-09 10:58] ycflash commented on #1885
Here is valgrind output:

[code]

[2017-11-09 11:23] PascalWithopf commented on #313
There is a memory leak even without the extra data.
Valgrind Output can be seen below:
[code]

[2017-11-09 11:47] PascalWithopf commented on #313
Address Sanitizer shows a leak too.
[code]

[2017-11-09 13:04] hrak opened #1995 "Segfault in libfastjson-0.99.7"
We are are seeing frequent segfaults of the rsyslogd process which seem related to libfastjson

I have the following backtrace so far. I have since installed the debug syms for libfastjson4 as well, and will update the ticket when i have more traces.

[code]

rsyslog version 8.30 (Ubuntu package 8.30.0-0adiscon2trusty1 amd64)
libfastjson4 version 0.99.7 (Ubuntu package 0.99.7-adiscon1trusty1 amd64

[2017-11-09 13:05] hrak commented on #1995
Here is another one, which looks a bit different so i'm not entirely sure if this is related:
[code]

[2017-11-09 13:18] rgerhards commented on #1995
my gut feeling is that this is related to improperly not setting up the rate-limiter for multithreaded processing inside rsyslog. Can you run rsyslog under valgrind control?

side-question: which distro/version is this? installed from where? (I am asking because I think for some debuggig improvement for cases like yours, so its not directly related).

[2017-11-09 13:20] allanpark opened #1996 "lmsig-ksils12: fix issues reported by coverity scan"
Fix the issues that coverity scan has reported issues in KSI LS12 log signing module

[2017-11-09 13:20] hrak opened #1997 "SIGABRT in msgDestruct (rsyslog-8.30)"
Seeing these on a fairly frequent basis with rsyslog 8.30 on Ubuntu 14.04 (package 8.30.0-0adiscon2trusty1)

[code]

I can provide more info if needed

[2017-11-09 13:27] hrak commented on #1995
This is on ubuntu 14.04, the rsyslog packages are installed from the adiscon/v8-stable PPA.

This is a live system, but the only way i can reproduce this is in prod, so i guess i can whip out valgrind. Gonna need a bit of guidance there though, its been a while :)

[2017-11-09 13:43] PascalWithopf commented on #48
@rgerhards the parameter are not in the modules.

[2017-11-09 14:31] ycflash commented on #1885
Another run log:

[code]

[2017-11-09 14:54] rgerhards commented on #1995
OK, if it is a live system, I should think harder and first work with what we already have - valgrind has a hefty slowdown, probably not something you want in production. There are some other options as well, let me evaluate this.

Note: I am pretty busy with other work, but would like to get this done within the 8.31 release timeframe. So I may be a bit sluggish, but well keep on.

[2017-11-09 14:55] rgerhards commented on #1995
milestone tenatively assigned, it's not a promise ;-)

[2017-11-09 15:34] hrak commented on #1995
i went ahead and ran it with valgrind anyway :) There is quite some stuff here, maybe also things interesting for #1997

[valgrind-rsyslogd.txt](https://github.com/rsyslog/rsyslog/files/1458126/valgrind-rsyslogd.txt)

[2017-11-09 15:38] rgerhards commented on #1995
indeed, that's interesting! Thx!

[2017-11-09 16:44] ltagliamonte commented on #1991
I'm recording the same behavior on all the producer servers and also on the consumer server:
![screen shot 2017-11-09 at 08 30 34](https://user-images.githubusercontent.com/10259338/32616886-5d0d0ca8-c528-11e7-8ced-34ff8548ebac.png)
The consumer server is running latest available rsyslog version:
[code]
with the following configuration:
[code]
This server is running for a longer time than the one

[2017-11-09 16:48] ltagliamonte commented on #1991
@rgerhards I can easily test a package on the receiver server that is an Ubuntu 16.04.2 LTS

[2017-11-09 16:50] rgerhards commented on #1991
then it is easy: for Ubuntu, we have daily packages: http://www.rsyslog.com/downloads/download-daily-build/

[2017-11-09 16:55] ltagliamonte commented on #1991
@rgerhards the dev build doesn't provide rsyslog-kafka and i'm getting the following:
[code]
if I try to update the only rsyslog package apt wants to remove the rsyslog-kafka:
[code]

[2017-11-09 16:57] rgerhards commented on #1991
@friedl can you please have a look at the packaging. Note well: **daily** packages.

[2017-11-09 17:25] rgerhards commented on #1996
closed via #1998

[2017-11-09 17:25] #1996 closed

[2017-11-09 18:21] rgerhards opened #2005 "travis: run clang static analyzer over *all* files"
For historic reasons, it only processed part of the files, what no longer is necessary (buildbot already covers everything). Fix in travis scripts.

[2017-11-09 19:57] puneetlakhina opened #2006 "rsyslog-kafka on Ubuntu Xenial"
Hello,

Im trying to install rsyslog and rsyslog-kafka on Ubuntu Xenial (16.04). But I get the following error:

[code]

It appears that a new version (8.31) of `rsyslog` is present in the ppa but the version of `rsyslog-kafka` is still old (8.28). Im happy to use rsyslog-kafka and rsyslog at version 8.28, but rsyslog 8.28 is not available in the ppa. Any clues on how I can resolve this issue?

Th

[2017-11-09 20:24] deoren commented on #2006
Confirmed behavior using the v8-devel ppa, also on an Ubuntu 16.04 x64 VM.

That said, I'm going to guess that you'll be told that your report belongs in the https://github.com/rsyslog/rsyslog-pkg-ubuntu project instead of this one.

Possibly related to rsyslog/rsyslog-pkg-ubuntu#53, rsyslog/rsyslog-pkg-ubuntu#62.

[2017-11-09 21:39] ycflash commented on #1885
This time I have a 37G debug log which is super huge, and I will provide last 10000 line log here:

[last-50000.log.gz](https://github.com/rsyslog/rsyslog/files/1459271/last-50000.log.gz)

and the gdb bt output:

[code]

[2017-11-10 01:12] puneetlakhina commented on #2006
Just want to point out that `apt-get install rsyslog rsyslog-kafka` works fine on the stable ppa.

On this note, what is the best way to consistently install a specific version of rsyslog, rsyslog-kafka. Im asking in order to make sure we can have reproducible builds.
In the stable PPA, are the older versions purged periodically?

[2017-11-10 09:26] rgerhards commented on #1822
We actually have two different error pathes. If no message variables at all exist, json root is null, which triggers a different code path than when at least one message var exists. Both result in different error locations. In the former case, jsonMerge() is not called.

[2017-11-10 09:32] rgerhards opened #2007 "pmnormalize: potential memory leak"
While working on something else: it could be that there is a leak in pmnormalize if in ```parse2```entry point the path leading to error message "error %d during ln_normalize" is taken. This should be tested (testbench test crafted) and, if actually a bug, be fixed.

[2017-11-10 10:34] friedl commented on #1890
@ngarratt Bad edits have been fixed.

[2017-11-10 10:45] friedl commented on #1905
This was fixed: https://github.com/rsyslog/rsyslog-pkg-rhel-centos/commit/71bf897803854b52e74539bdb2252885934a786e

[2017-11-10 10:46] friedl commented on #2006
There is no omkafka module for current versions in the daily build branch. The reason is, that we have to statically link to librdkafka, which is currently not possible in the way the daily ppa is built. There actually shouldn't be a rsyslog-kafka version 8.28.0 be available online anymore in the daily ppa, since this was in an older version.

@puneetlakhina I think the best way is to stay on the

[2017-11-10 10:48] friedl commented on #1991
The daily packages do not have kafka support, because we have not figured out how we can provide a properly statically linked librdkafka in the package. This is currently only possible in the stable packages.

[2017-11-10 12:59] jvymazal commented on #1983
Ok, done more thorough debugging and it turns out there was yet another cause for the original problem, closing this. Thanks for quick reply by the way.

[2017-11-10 12:59] #1983 closed

[2017-11-10 13:45] mgraff commented on #1905
Thanks for the fix

[2017-11-10 13:45] #1905 closed

[2017-11-10 15:21] hrak opened #2011 "Parsing generic json with mmjsonparse - characters get stripped off the beginning of the msg - parsing fails"
I'm using mmjsonparse with `cookie=""` to parse arbitrary json messages, and i'm seeing weird behaviour of characters getting stripped off of the beginning of the msg, causing the json parsing to fail.

Example setup:

rsyslog-8.30 on Ubuntu 14.04 (PPA)

template on sender end:

[code]

The receiving end gets the correct message:

[code]

Then mmjsonparse kicks in and suddenly two chars are missin

[2017-11-10 16:07] rgerhards opened #2012 "check and fix potential race"
This is reported on Centos 7 (only) under valgrind's helgrind:
[code]

While it is only reported on CentOS 7, it looks like pointing to a  valid problem.

[2017-11-10 17:52] rgerhards commented on #1822
The issue is indeed pretty complex. It is related to the inability of libfastjson/json-c to put a subordinate object. If so, the upper layer object, if deconstructed, tries to access the pointer to the already free'd subordinate. This code path is used inside msg.c when json strings are processed. It looks like we need to take the subordinate, which contains the actual content from the tree root,

[2017-11-10 18:10] rgerhards commented on #1822
I should have more carefully looked at the backtrace @larsks posted: it actually points right into that spot of libfastjson:
[code]
I was soo sure that it was an object free error on the top level object...

[2017-11-11 01:09] ltagliamonte commented on #1991
@rgerhards can I help in some other way? this memory leak is a blocker for me.

[2017-11-11 09:14] #1971 closed

[2017-11-11 09:14] #1959 closed

[2017-11-11 09:17] rgerhards commented on #1959
master branch now has the patch set. As it contains a couple of other fixes as well, I'd appreciate if you could give it yet another try for final confirmation.

[2017-11-11 09:22] rgerhards opened #2016 "testbench: enable valgrind tests on FreeBSD"
It looks like they are currently disabled simply because FreeBSD needs a couple of suppressions added.

[2017-11-11 09:55] rgerhards commented on #1991
I would be best if you could help @friedl in solving the problem that prevents the package build. Maybe we  can also get to do an experimental build on master for CentOS, but I need to talk to folks. Also, that would not be a permanent solution. If we get the daily builds running for kafka as well, that would be great.

[2017-11-11 10:00] rgerhards opened #2017 "testbench: enable mmanon tests on FreeBSD"
They are currently disabled, which seem illogical. We should find and fix root cause.

[2017-11-11 13:29] #1822 closed

[2017-11-11 13:31] larsks commented on #1822
Thanks!

[2017-11-11 13:47] rgerhards commented on #1822
It was really weired -- I have also created an issue in libfastjson to better support detecting these types of errors. They are very unintitive. @larsks Thanks for the initial good bug report and follow on work! Would be great if you could give master also a try to double check all is well ;-)

[2017-11-12 09:41] #2017 closed

[2017-11-12 10:41] rgerhards opened #2023 "omelasticsearch: remove extra DBGPRINTF from computeMessageSize()"
They are still present because we chase down #1885. Once this is finally solved, these DBGPRINTFs should go away. Also best to check for other ones no longer needed.

[2017-11-12 10:47] rgerhards commented on #1885
I have checked the new reports. They look like hitting at a different place, probably a bad interaction between mmdblockup and omelasticsearch. This hits regions where I also have provided fixes, which are already in master branch. I'll now go ahead and merge everything related together and then provide you a new branch that you could try.

[2017-11-12 13:07] #1906 closed

[2017-11-12 13:07] #1962 closed

[2017-11-12 18:03] deoren commented on #1694
For what it's worth, I replicated this issue on a RHEL 7 box today with stock rsyslog package. Restarting rsyslog caused over a week's worth of held messages to be delivered.

This box is a server with a static IP that remains online, so I suspect the issue with this box is the same as reported on #1656. I've not had a chance to restart this system yet, but I suspect that the conf fragment will be

[2017-11-13 05:22] ycflash commented on #1885
Thanks, I'll test when it's ready.

[2017-11-13 07:38] #1890 closed

[2017-11-13 08:53] skupkosk commented on #1533
The hang of the TLS receiver is still repeating more times per week.
These are the rsyslog resource stats from the time the hang occurred:

2017-11-12T01:01:52.922300+01:00 servername rsyslogd-pstats: resource-usage: origin=impstats utime=72400944000 stime=16692356000 maxrss=17304 minflt=529218 majflt=23 inblock=2520 oublock=727904680 nvcsw=539864701 nivcsw=230897384
2017-11-12T01:02:52.978730+01:

[2017-11-13 09:15] rgerhards commented on #1885
Can you please retry with branch https://github.com/rgerhards/rsyslog/tree/i-1885bis - this actually is the current master branch, but I plan to push further updates to that branch and let it evolve in parallel to master. So that we have a defined test base.

There is some chance that the issue has been fixed due to the many fixes that went into master. My gut feeling, however, is that it is not,

[2017-11-13 14:55] rgerhards commented on #1943
done in #2013

[2017-11-13 14:55] #1943 closed

[2017-11-13 15:11] rgerhards commented on #1995
@hrak can you please post your full config - seems to be related to what is done in which order

[2017-11-13 15:21] rgerhards commented on #1961
I have now checked in more depth, but I do not see that the umask is set if not configured (initially thought so, but that was wrong).

In order to troubleshoot this further, I need a debug log from you. The startup phase is sufficient, so you can just start rsyslog, keep it running for a couple of seconds and shut it down again.

Instructions on how to generate the debug log are here: http://www.

[2017-11-13 15:24] rgerhards commented on #1071
Those of you that experience this problem, can you please retry with current master branch? There have been many fixes in regard to shutdown and quite a bit of cleanup. Chances are not too bad that they also helped with this bug. Please report your findings.

[2017-11-13 15:35] hrak commented on #2011
I looked a bit further into this one with gdb. Things get messy at https://github.com/rsyslog/rsyslog/blob/0f95dce5beaadd997dbb822cbfdaab80daaeeeb6/runtime/msg.c#L1705

`pM->pszRawMsg + pM->offMSG` results in  a corrupted json message in buf

[code]

[2017-11-13 17:01] ycflash commented on #1885
With i-1885bis branch, it's not as easy as previous to reproduce segfault, but certainly it do crash.

gdb bt output here: ( I'll try to enable debug log and provide it later)

[code]

[2017-11-13 17:25] ycflash commented on #1885
I can't reproduce the segfault with debug log enabled, maybe it's because of the overhead slowed down dequeue operation.

[2017-11-13 17:28] rgerhards commented on #1885
Thanks, looks like we are making progress. This now seems like it is related to mmdblookup. Do you have a chance to reproduce it under valgrind without debug log?

[2017-11-13 17:30] rgerhards commented on #1885
BTW: this also explains why others don't have issues with omelasticsearch.

[2017-11-13 17:49] ycflash commented on #1885
Yep, it could be the combination of omelasticsearch and mmdblookup, and with large ruleset queue (in my case 500,000).

run rsyslogd with valgrind get these logs frequently, here is the output (no segfault occurs right now):

[valgrind.log](https://github.com/rsyslog/rsyslog/files/1467881/valgrind.log)

[2017-11-13 19:33] ycflash commented on #1885
And run rsyslogd with valgrind wouldn't segfault either.

[2017-11-13 23:26] davidelang commented on #1533
On Mon, 13 Nov 2017, skupkosk wrote:

This is messy enough that I'm going to suggest that you re-write this in the new
config format. It's very possible that there are subtle bugs hiding in this
config that you would not have with the new format.

[2017-11-14 09:52] hrak commented on #2011
Sooo, apparently there is an undocumented flag `userawmsg` for mmjsonparse that fixes all of this. This flag is documented for mmnormalize, but not for mmjsonparse. I found out about it by going over the source :)

So using `action(type="mmjsonparse" cookie="" userawmsg="on")` solves this issue. The documentation should be updated to describe this flag.

[2017-11-14 09:57] rgerhards commented on #2011
good catch - but also let me say that if you need that flag, you do not send a proper syslog message in the first place. So the problem is actually not a bug, but a malformed message. I think we have the pmnull module to handle such non-syslog traffic but as it looks you have a workaround that works for you.

rsyslog expects syslog traffic to hit its syslog receiver. I tries the RFC5424 parser and

[2017-11-14 10:04] rgerhards commented on #2011
doc ammended, other parameter was also missing.

[2017-11-14 10:04] #2011 closed

[2017-11-14 10:09] rgerhards opened #2030 "pmrfc3164: update heuristic to detect headerless JSON message?"
see https://github.com/rsyslog/rsyslog/issues/2011

Every now and then folks send headerless JSON to rsyslog and wonder why the parsers get confused. We already have quite a bit of heuristic inside pmrfc3164. I wonder if it would be a good idea to check if the first char (or first non-whitespace char?) is "{" and, if so, treat it as "header missing". Then the ```msg``` property would include the b

[2017-11-14 10:14] rgerhards commented on #1885
mmhhh.. this looks all like a problem inside the maxmindb lib. Could you grab their newest version and rebuild using that one?

[2017-11-14 10:30] rgerhards commented on #1411
implemented via #1862

[2017-11-14 10:30] #1411 closed

[2017-11-14 10:52] ycflash commented on #1885
Yes, I have libmaxminddb already updated to latest 1.3.0 release.

[2017-11-14 11:30] rgerhards commented on #1885
Ahhh... let's check if libmaxmindb is multi-threading safe! That could be the problem.

[2017-11-14 11:51] rgerhards commented on #1885
OK, it claims it is https://github.com/maxmind/libmaxminddb/blob/master/doc/libmaxminddb.md

I have had a quick look at the lib code, don't see any suspicious so far. I'll add some asserts to check that when we call the aborting function, some libmaxmindb invariants are still OK.

[2017-11-14 12:54] crackytsi commented on #1071
Hi, are there prebuild binaries? As I can only see the issue with the prebuild ones, not with my own compiled ones...
BTW: A functionality to Keep a lookup-table file that does not exist as an empty one and not prevent arcsight from starting would make sense for me.

[2017-11-14 15:07] alorbach opened #2036 "testbench: support parallel test runs"
Not a realworld problem at all.
A problem exists if the testbench is executed on the same machine from 2 different users.

the process checks in diag.sh do not filter processes properly which causes tests to fail if both users are running them at the same time.

[2017-11-14 15:12] rgerhards commented on #2036
Its far more complicated - tests use constant port numbers and conflict on them.

[2017-11-14 15:37] #2005 closed

[2017-11-14 15:44] rgerhards commented on #1885
I could not do the asserts, as I do not have access (without getting dirty) to the private definitions. So we need to try something else. Could you please run valgrind's thread debugger on the version. It'll probably spit out some uninteresting things (like TZ being written by localtime_r), but maybe also some interesting stuff.

It's basically the same valgrind routine, execept that the --tool=he

[2017-11-14 15:48] rgerhards opened #2037 "CI: add daily coverity scan"

[2017-11-14 16:12] davidelang commented on #2030
I think that would be a good move. Three is a lot of stuff that tries to be
'modern' and does this.

Logstash and related tools are a big example (they don't even like to put
newlines between messages)

[2017-11-14 16:22] hakman commented on #2030
Sounds good to me also.

[2017-11-14 16:25] ycflash commented on #1885
OK, I'll try that, and feedback what it come out.

[2017-11-14 16:51] ycflash commented on #1885
Like previous tests, run in valgrind also heavily slow down rsyslog opertaions (it seems that messages stayed in ruleset queue have no chance to send to ES), and I couldn't get segfault reproduced. The valgrind output indicates some possible race/conflict info, please have a look at the log file.

[val.log](https://github.com/rsyslog/rsyslog/files/1471725/val.log)

[2017-11-14 18:35] janmejay commented on #1071
@crackytsi arcsight? You mean you'd prefer if lookup table logged a warning
about table-json missing and treat it like a table with no entries?

On Tue, Nov 14, 2017 at 6:24 PM, crackytsi <notifications@github.com> wrote:

--
Regards,
Janmejay
http://codehunk.wordpress.com

[2017-11-14 19:34] urysegal commented on #2030
I too support this -- check if the first non-whitespace char is "{" .

[2017-11-14 20:45] derekjsonar commented on #2030
I'll comment here but with the caveat that I am not 100% familiar with the rsyslog parsers and their parameters.

I'll be the devils-advocate here and say that I do not support this as described.

When I first started using rsyslog I was many times downstream of a confused parser because of my own lack of experience. Eventually I found that the solution, to obtain maximum control at the price of h

[2017-11-14 21:03] amg1127 opened #2040 "rsyslog doesn't collect log messages from a UDP socket that is bound to a nonlocal address"
I am trying to setup an UDP log input whose socket is bound to the nonlocal address **192.168.99.99**:

[code]

In order to achieve this result, I created the file "_/etc/rsyslog.d/udp-nonlocaladdr-bug.conf_" with the following content:

[code]

Then, after restarting "_rsyslog_" service, the intended socket is shown by "_netstat_" output:

[code]

However, "_rsyslog_" does not accept datagrams fr

[2017-11-14 21:17] amg1127 commented on #2040
While trying to debug this issue, I figured that the root cause of the problem may reside in a programming error during UDP sockets initialization.

[In the file "runtime/net.c", starting at line 1451](https://github.com/rsyslog/rsyslog/blob/b53c48a91019f9191e7dd2aaf8fe451866bd7009/runtime/net.c#L1451), the following code exists:

[code]

According to my analysis:

- "_socks[0]_" indicates how man

[2017-11-15 00:18] davidelang commented on #2030
On Tue, 14 Nov 2017, derekjsonar wrote:

While legal JSON can be an array at the top level, I have never seen a JSON log
message where the top level was an array

These do not cause the same problem, because those messages define that there is
a standard syslog header (the RFC-3164 header)

That additional control is still available, what's being proposed here is the
"thousand and first" special c

[2017-11-15 00:29] davidelang commented on #2040
The traditional solution is to put the nonlocal address as a VIP on loopback. At
that point it's now a local address.

[2017-11-15 01:25] derekjsonar commented on #2030
I hadn't seen this either until recently.

I have never seen this requirement for RFC-3164. In my experience it's not hard to find CEF examples that fail to parse. Many online CEF resources end up pointing to ArcSight documentation and the first example they give doesn't parse correctly using the `msg` template variable:

- `Sep 19 08:26:10 host CEF:0|security|threatmanager|1.0|100|worm
successful

[2017-11-15 02:51] BrentDouglas commented on #1411
Sorry for not replying to the earlier notification, I must have missed it. Once I realised I could stick everything into the timeout parameter I didn't look into it much further.

[2017-11-15 08:29] crackytsi commented on #1071
@janmejay yes, exactly this behaviour. I assume this would prevent another source of possible errors...

[2017-11-15 09:04] janmejay commented on #2030
I think this is a good idea. I haven't seen 'arrays' being used as the
log-message either.

On Wed, Nov 15, 2017 at 6:56 AM, derekjsonar <notifications@github.com>
wrote:

--
Regards,
Janmejay
http://codehunk.wordpress.com

[2017-11-15 11:58] friedl commented on #1991
I was able to enable the kafka modules for the daily builds again. The packages have been updated and rsyslog-kafka is installable.

The module package consists of omkafka and imkafka.

[2017-11-15 13:31] PascalWithopf commented on #274
The GnuTLS priority string can be used since 8.30.0 and is fully functional.

[2017-11-15 15:10] ltagliamonte commented on #1991
@friedl thank you for the package.
@rgerhards I have installed latest will update this issue in a bit after collecting some data about memory usage.

[2017-11-15 16:55] amg1127 commented on #2040
@davidelang

I am afraid I need to deploy a "nontraditional solution", that is expected to be supported by "_rsyslog_".

I intend to deploy a couple of logservers on my network and configure an active & standby architecture. On both servers, I plan to bind UDP inputs to an unique IP address which [is failed over by a keepalived daemon](https://tecadmin.net/ip-failover-setup-using-keepalived-on-cen

[2017-11-15 17:02] deoren commented on #2040
Loosely related: #1694, #1656

[2017-11-15 21:31] davidelang commented on #2040
I have been running rsyslog for a decade with allow-non-local-binding via sysctl
and rsyslog (and other things) running and listening to a VIP that I move
between machines.

This should not be a problem as a general thing.

Now, you may have a problem with binding to 0.0.0.0:512 and 1.2.3.4:512, that's
something that's "not defined", but binding to 1.2.3.4:512 and 3.4.5.6:512
should not be a probl

[2017-11-15 23:17] ltagliamonte commented on #1991
@rgerhards same behavior:
![screen shot 2017-11-15 at 15 16 01](https://user-images.githubusercontent.com/10259338/32865452-1337b03e-ca18-11e7-95c0-71379cf2fa81.png)

 using:
[code]

[2017-11-16 08:37] rgerhards commented on #1690
Sorry for the late reply - the mailing list is usually much faster for config questions :-(

This sounds like you include the certificate file as a rsyslog config file (via an $IncludeConfig). At least the error message points into that direction. If you think you do not do that, please generate and post a rsyslog debug log. Startup is sufficient, it will contain all we need to see. Instructions h

[2017-11-16 08:39] #274 closed

[2017-11-16 09:38] rgerhards commented on #1991
ok, so we know it still exists. Can you run it under valgrind control? Let me know if you need instructions for that.

[2017-11-16 09:44] rgerhards commented on #1071
side-note: we may have overlooked that the problem may actually be related to the options choosen during package build. I guess now it's time to compare these. @crackytsi how exactly do you build your version?

[2017-11-16 10:34] rgerhards commented on #1885
thx, looks useful. First thing to look at is this here:
[code]
I won't say it's pointing to the root cause, but it's a good starting point. There may be other interesting ones in the valgrind helgrind log.

[2017-11-16 10:56] rgerhards commented on #846
@PascalWithopf asked the GnuTLS folks if there are ways to obtain better error message, but without much of a result. So I think we need to live with the current state, no room for improvement other than writing a different tls driver via a different lib (e.g. openssl). So closing this finally.

[2017-11-16 10:56] #846 closed

[2017-11-16 11:11] rgerhards commented on #1776
Would you be willing to build and try out a test version of tcpflood if we create it?

[2017-11-16 12:05] janmejay commented on #1071
Also, how was it being run? Was jemalloc preloaded? Anything else special?

On 16-Nov-2017 3:14 PM, "Rainer Gerhards" <notifications@github.com> wrote:

[2017-11-16 12:07] PascalWithopf commented on #1265
I tested this with rsyslog version 8.30.0 and the problem is solved.
Rsyslog puts out an error message and terminates the action.

[2017-11-16 14:33] ltagliamonte commented on #1991
@rgerhards from the -version output I posted before seems that the binary has been compiled without the debug option are you sure you want me to run it with valgrind anyway?

[2017-11-16 14:47] rgerhards commented on #1991
@ltagliamonte that's the beauty of valgrind: nothing special required. Well, rsyslog has a "valgrind" setting, but that just helps to provide a bit better symbols in leak reports, it's not essential.

[2017-11-16 14:48] #2037 closed

[2017-11-16 14:52] rgerhards opened #2046 "action.c: bHadAutoCommit handled in thread-unsafe way"
As it looks, this data item actually belongs into wrkrInstance and was not properly moved over when worker instances were introduced. Brings up errors under thread debugger. Needs to be better investigated and most probably needs a fix.

[2017-11-16 14:54] rgerhards opened #2047 "Travis: enable [io]mczmq modules"
As we now have the necessary plumbing in place (thanks to @taotetek again!), we can integrate them in the rest of the build process.

[2017-11-16 15:15] ltagliamonte commented on #1991
@rgerhards I started rsyslog with
```nohup valgrind --leak-check=yes --track-fds=yes --trace-children=yes --log-file=/tmp/valgrind-output rsyslogd -n &```
let me know if you need other flags

[2017-11-16 15:25] laerus commented on #1776
yes @rgerhards !

[2017-11-16 17:56] ltagliamonte commented on #1991
@rgerhards here is the output of valgrind analisys:
[code]

[2017-11-16 18:01] rgerhards commented on #1991
I haven't looked in depth, but are you sure you used master branch? I ask because I know that I fixed a file handle leak.

[2017-11-16 18:03] ltagliamonte commented on #1991
@rgerhards
[code]

[2017-11-16 18:05] rgerhards commented on #1991
My bad, yeah, you use the daily package. OK - looks like we could use some more symbols ;-) Can you please add
[code]
to rsyslog.conf and give it a re-run. The really good news is that the leak is clearly visible, but I would like to see where exactly.
[code]

[2017-11-16 19:43] Whissi opened #2048 "Building with "--enable-debug --enable-rtinst" is broken: ‘pdbgFuncDB’ undeclared"
[code]

[2017-11-16 21:19] ltagliamonte commented on #1991
@rgerhards didn't find any debug package anyway i applied the conf you requested and this is the new output from valgrind:
[code]

[2017-11-16 21:48] rgerhards commented on #1991
Oh, I had overlooked that it aborts under valgrind. No problems if run without it?

[2017-11-16 21:59] ltagliamonte commented on #1991
@rgerhards running valgrind without `global(debug.unloadmodules="off")`. Will update in a bit

[2017-11-17 00:59] ltagliamonte commented on #1991
latest valgind results:
[code]

[2017-11-17 01:30] amg1127 commented on #2040
According to the code, someone else [has already tried to "change things in rsyslog"](https://github.com/rsyslog/rsyslog/blob/b53c48a91019f9191e7dd2aaf8fe451866bd7009/runtime/net.c#L1465) in order to deal with non-local binds. I just intend to rely on that try.

[code]

There is an unexpected behavior from that approach, which I ask developers to manage. The solution could be either adjust handlin

[2017-11-17 07:38] rgerhards commented on #1991
This irritates me:
[code]
Does it really abort or do you shut it willingly down (and if so, via ctl-c or another way)?

[2017-11-17 08:00] rgerhards commented on #2040
Would you mind updating the doc?

[2017-11-17 08:02] rgerhards commented on #1991
Just to have this reference on the ticket: https://github.com/edenhill/librdkafka/issues/737

Looks somewhat similar to the traces above, we need to check termination sequence.

[2017-11-17 08:04] #2006 closed

[2017-11-17 08:04] rgerhards commented on #2006
As I have heard, this seems to be fixed. If not, please report to packaging project.

[2017-11-17 08:08] ycflash commented on #1885
I'm glad it is useful, and any further tests needed, pls feel free to ask. Thanks.

[2017-11-17 08:08] rgerhards commented on #1730
@zacharyzhao did you try valgrind? or is this solved?

[2017-11-17 08:10] rgerhards opened #2050 "testbench/kafka: add valgrind tests"
We need to ensure no memory leaks and no misadressing.

see also https://github.com/rsyslog/rsyslog/issues/1991

[2017-11-17 08:41] PascalWithopf commented on #1776
@laerus the current version of tcpflood is enough.
Could you activate the parameter ```-L 10``` for tcpflood and provide us with the debug log. Then we will be able to see gnutls specific debug output.

[2017-11-17 08:52] #1949 closed

[2017-11-17 10:52] rgerhards commented on #1991
I think I found it, working on a solution...

[2017-11-17 16:35] rgerhards opened #2052 "omkafka: config parameter "closeTimeout" does not work"
These are not even recognized when used and leads to a config startup error message:

* closeTimeout
* reopenOnHup
* resubmitOnFailure
* keepFailedMessages
* failedMsgFile

[2017-11-17 17:32] rgerhards commented on #2048
Thanks for the report. Looks like it is actually not against ```--enable debug``` but in combination with ```--enable-rtinst```. The latter stems back to the pre-valgrind, pre-ASAN days and was a way to do some checks. It's low on my todo list to remove most of that (now useless and bloating) code.

Looks like it is finally time to refactor the system and strip it down to a bare rest of still-usef

[2017-11-17 17:35] rgerhards commented on #2030
as far as I read the JSON spec, ```["name", "name2"]``` is a valid JSON object (array of strings), and if @derekjsonar has seen this in practice, it probably is worth adding it to the heuristic.

Note that ```10``` is technically also a valid JSON object, but I would not go that far. Let's say first non-whitespace "{[" means we'll treat ```rawmsg``` as ```msg```. Objections or other use cases?

[2017-11-17 17:36] JPvRiel opened #2054 "rsyslog assumes UTC if TZ env var is not set and misses using the actual system's localtime"
When RFC3164 messages are processed (e.g. via remote inputs), they lack timezone information (unfortunate, but this is the legacy standard). Nonetheless, the most common/safest assumption is then that localtime was applied and that the source shares the same timezone (not always true, but the more likely case).

When relaying RFC3164 messages to other systems as RFC5424 (or using `%timestamp:::dat

[2017-11-17 17:39] rgerhards commented on #1991
The bug should be fixed via PR #2051. Daily Ubuntu packages are build automatically. It's too late for today. But in about 12hrs new ones should be built and include the fix. It would be great if you could try later tomorrow or Monday and tell if me if it actually fixes the issue. I'll keep the tracker closed for now, but will re-open if the issue is not fixed.

[2017-11-17 17:43] rgerhards commented on #2054
mmmhhh... Honest question: rsyslog does not touch TZ. So the user has unset it. Should we really overrule that (un)setting? @davidelang I'd also appreciate your comment

[2017-11-17 17:45] rgerhards commented on #2054
ummm... isn't that a bug in the distro?

[2017-11-17 17:48] davidelang commented on #2030
what source generated the rawmsg that was an array?

I don't think it would hurt to add it now, because I can't think of anything
else that would send a rawmsg starting with '[', but when we are talking about
hueristics, I hate to add something in 'just in case', I'd far prefer to add
them in because we have seen something in the wild that uses it.

[2017-11-17 17:49] JPvRiel commented on #2054
If it is, it's a bug that appear both in Ubuntu 16.04.x and Red Hat 7.x as far as I've seen. And during install, I did go through timezone setup. I'm not sure if or how `TZ` is considered mandatory? What is mandatory for a POSIX OS is to supply those timezone system calls (via libc)?

[2017-11-17 17:54] derekjsonar commented on #2030
JSON arrays definitely are not common, but here's where I've seen them:

https://docs.microsoft.com/en-us/azure/event-grid/
https://docs.microsoft.com/en-us/azure/event-grid/event-schema

Azure mentions rsyslog as a transport in their documentation.
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-sources-syslog

All that said, I'd still be careful with the adding the `[` he

[2017-11-17 17:58] rgerhards commented on #2030
Let's step back from JSON a bit... Getting "[" as first non-whitespace probably is a good indication that the message does not have a header -- and TBH that was mostly what I am after (shame on me for the initial posting and title). I wouldn't do JSON parsing automatically -- this is very expensive and I think a user should explicitely request it. Or am I wrong here?

[2017-11-17 17:59] rgerhards commented on #2054
you are probably right, but you see me pretty surprised ;-)

[2017-11-17 18:07] derekjsonar commented on #2030
I definitely would not do automatic JSON parsing, agree it should be explicit.

If `msg` can contain valid JSON/CEF/LEEF syntax it would save any downstream processing from having to find the start of the valid syntax and would imply that the templated header values are as intended and not potentially corrupted by a JSON/CEF/LEEF/etc syntax leak.

[2017-11-17 18:09] davidelang commented on #2030
I've seen several things that say
events [{log},{log},{log}]

but when the send a log, they start with the '{', they only make it an array if
you retrieve multiple logs at once.

when it sends logs out, does it send them as a single element array, or as the
{} portion.

[2017-11-17 18:12] davidelang commented on #2030
that's a good point. I agree.

On Fri, 17 Nov 2017, Rainer Gerhards wrote:

[2017-11-17 18:13] rgerhards commented on #2030
Well, actually the messages are still malformed. So the header they receive is a default one. But I agree, the default fields are probably much better than what the heuristics currently selects ;-)

[2017-11-17 18:19] derekjsonar commented on #2030
I've seen them as single element arrays.

[2017-11-18 16:17] #2052 closed

[2017-11-19 05:01] amg1127 commented on #2040
No problem. I actually hadn't figured that I could do it until you asked me to.

Here is the documentation pull request: https://github.com/rsyslog/rsyslog-doc/pull/392

[2017-11-19 09:48] #2047 closed

[2017-11-20 17:06] rgerhards commented on #2050
see also https://github.com/edenhill/librdkafka/issues/1534

[2017-11-20 22:47] marcbachmann commented on #1116
I tried to get it to work with the following config, which didn't work.
[code]

Then I tried to upgrade to v8.24, where the issue still exists.
[code]

Could you give any feedback whether it's fixed in v8.30? I saw that you did some refactorings.
I might be able to upgrade to that version.

[2017-11-20 23:16] davidelang commented on #1116
you may need to enable case sensitive fieldnames, but please print out a sample
log message that this should work with, ideally via the RSYSLOG_DebugFormat
template, so that we can see what's what.
k

[2017-11-21 01:57] marcbachmann commented on #1116
I applied `RSYSLOG_DebugFormat` but it didn't show anything special. Everything is upper case. I also tried to use lower case variables but that didn't work either.
Currently I don't have access to the server, so you'll have a few hours until I'm at work again.
I'll also try to get it running with `option.casesensitive="on"`. thanks for that hint.

FYI I'm trying to setup docker log forwarding by

[2017-11-21 02:31] davidelang commented on #1116
If everything is in upper case when output ith RSYSLOG_DebugFormat, that is the
cause of your problem. By default, rsyslog lowercases the json field names to
make them case-insensitive in the config. If you need uppper case to match the
JSON you are receiving, you need to explicitly enable that.

[2017-11-21 09:18] oysteila opened #2067 "rsyslog/omkafka segfaults when communicating with Kafka cluster over longer distance"
I am pushing messages to a Kafka cluster in another location in this city. Normally we only do this within sites. Intermittently, rsyslog will segfault:

[code]
Here is the omkafka action configuration:

[code]
Is the issue here that omkafka is not at all designed for higher-latency network links? Or is there some underlying error that could appear also in our local topologies given, for instance,

[2017-11-21 09:59] rgerhards commented on #2067
We recently had a couple of bugfixes to omkafka. You may want to try with git master branch or the daily build packages for Ubuntu.

That said, if you can run your current version under valgrind control, I would definitely have a look at the output.

[2017-11-21 10:09] marcbachmann commented on #1116
@davidelang thanks, that helped.
Now all docker logs land in a directory defined by a tag. ❤️
For reference, here's the example output using `RSYSLOG_DebugFormat`.

[code]

[code]

And that's the final working config
[code]

[2017-11-21 10:21] #1933 closed

[2017-11-21 11:45] laerus commented on #1776
hey @PascalWithopf `tcpflood` doesn't seem to know anything about the error on the server,
tested again with a new rsyslog server setup, again all other cases seem to work fine.

client:
[code]

server:
[code]

[2017-11-21 12:14] rgerhards commented on #1885
Review still points to a threading issue inside maxmindb lib. I have added a guard into mmdblookup to handle the potential thread-unsafeness. This is in branch i-1885bis: https://github.com/rgerhards/rsyslog/tree/i-1885bis

Can you please give it a try and report the results. Thx!

[2017-11-21 12:24] rgerhards commented on #1886
We keep static analyzer in travis to aid folks getting things right before submiting a PR. However, we have upated it there to 5.0 as well. make -j is now alos present, which means this has been solved in the interim for 8.31.

[2017-11-21 12:24] #1886 closed

[2017-11-21 12:27] rgerhards commented on #1071
Moving release target milestone as we did not yet receive new feedback - and I don't think we can make it now into 8.31.

[2017-11-21 12:28] rgerhards commented on #1991
@ltagliamonte did you have a chance to try it out?

[2017-11-21 12:30] rgerhards commented on #1840
We need to check if the blocking behaviour proposed in the patch is acceptable - or if we need a different approach.

[2017-11-21 12:32] rgerhards commented on #1624
@mrworkman any plans to implement this one here? ;-) I wonder if I should shuffle the release goal, thus the question.

[2017-11-21 12:44] mrworkman commented on #1624
Yes, but probably not by the 24th. I wish the days were longer!

[2017-11-21 13:10] rgerhards commented on #1624
haha, we are in the same camp. I'll move the release goal to 8.32 - we can always move it back. But so it doesn't pollute the list of "this could be done" the next couple of days ;-)

[2017-11-21 13:55] Ekouyoja opened #2070 "Omelasticsearch with es 6.x"
Hi,

Recently, I have try to use omelasticsearch plugin with the new elasticsearch version (6) and it appear that it doesn't work.
I have this reply from elasticsearch :
        "reply":        {
                "error":        "Content-Type header [text/json; charset=utf-8] is not supported",
                "status":       406
        }
Am I wrong to say that an update on omelasticsearch is need

[2017-11-21 14:01] rgerhards commented on #2070
Which version of rsyslog is this?

I tried to run a very basic testbench test against ES 6.0 (downloaded right now), and it did not show any errors. But I am not an ES expert. @hakman Do you know of any incompatibility?

[2017-11-21 14:05] Ekouyoja commented on #2070
This is the version 8.24.0 on RHEL 7

[2017-11-21 14:12] rgerhards commented on #2070
maybe it is missing some bugfixes. We've done a bit of work recently on omelasticsearch. You could go with 8.30, but it probably is better to wait until next Tuesday, when 8.31 comes out -- it has a couple of more changes to omelasticsearch.

[2017-11-21 14:33] #2050 closed

[2017-11-21 14:37] Ekouyoja commented on #2070
I have update my rsyslog and plugins from your repository to 8.30 (non available from redhat channels for the moment) and it works. Thanks for your help.
Have nice day :)

[2017-11-21 14:40] #2070 closed

[2017-11-21 14:56] rgerhards opened #2072 "testbench: es test harness"
The soon-to-be-merged code resets database on start and stop of ES. This prevents some types of tests, those that need to check across different start and stop of ES (retry-handling). Thus, the database purge must be done in an explicit step.

I do not want to hold merging the enhanced functionality, as it already provides extra value. But we should upgrade it after merge.

[2017-11-21 15:41] ycflash commented on #1885
Thanks to the latest commit, I don't have segfault reproduced this test round, and I think the problem is fixed. With this valgrind helgrind output uploaded here, I hope it is useful to verify that.

[val.log](https://github.com/rsyslog/rsyslog/files/1491953/val.log)

[2017-11-21 15:53] rgerhards commented on #2072
need to do some updates to PR, so added this as well.

[2017-11-21 20:31] markdascher commented on #1656
This might be a [known issue](https://sourceware.org/bugzilla/show_bug.cgi?id=984) that's fixed in the most recent glibc release: 2.26. The symptom is that `getaddrinfo` hangs onto old `resolv.conf` information – in my case (CentOS 7.4), it kept trying to use `127.0.0.1` as a DNS server, until rsyslogd was restarted.

We seem to be out of luck on CentOS/RHEL currently, but some distros may have 2.

[2017-11-21 20:43] Whissi commented on #1656
The glibc bug is about a changed */etc/resolv.conf* file. But this bug is not about a changing */etc/resolv.conf* file or am I missing something?

[2017-11-21 23:59] ltagliamonte commented on #1991
@rgerhards i just installed:
[code]
and it looks like we still have a small memory leak:
![screen shot 2017-11-21 at 15 57 34](https://user-images.githubusercontent.com/10259338/33103063-c971d9f4-ced4-11e7-913b-d04ac49d9972.png)

I'm going to run rsyslog with valgind and post here the updates.

[2017-11-22 04:24] drice000 opened #2073 "File Path with Spaces"
Anytime I add a config that has a file path with space the configuration check fails. I remove the config and the issue is fixed. Doesn't matter if I use escape, or put quotes around etc. It see the string ending.

i.e. /var/lib/application support/logs/application logging.log

It thinks the file name is /var/lib/application

I may be missing something but in case I'm not wanted to post it.

[2017-11-22 06:27] baotouwang opened #2074 "Rsyslog was abnormally killed process, restart a large number of duplicate log printing."
rsyslog normal circumstances will not repeat the print log, kill rsyslog process by abnormal termination, rsyslog start will repeat the print log. Through the test found that duplicate log content can see a few days ago log information, the number of logs up to millions.

[2017-11-22 07:14] rgerhards commented on #2073
Please provide at least the relevant config lines and the error message.

[2017-11-22 10:03] rgerhards commented on #1991
Do you use compression? If so, this is probably caused by a bug in librdkafka: https://github.com/edenhill/librdkafka/issues/1534

We will build new binaries when this is fixed. I hope it'll happen soon, else we need to dig into librdkafka to find it ourselves (but I try to avoid that).

[2017-11-22 11:37] rgerhards commented on #1885
Thanks! I have merged the patch to solve the issue for now. However, I'll keep this issue tracker a bit open, as I think it makes sense to ask libmaxminddb folks what there opinion is (the lib is said to be thread-safe).

[2017-11-22 16:30] rgerhards opened #2084 "imkafka: kafka handle leak?"
In  https://github.com/rsyslog/rsyslog/blob/master/plugins/omkafka/omkafka.c at lines 948 to 955 there is a cleanup in the case where there is an error and ```pData->rk``` is NOT NULL  specifically at line 953 you call ```do_rd_kafka_destroy(pData)``` . For reference, the "new" is done at line 928 where ```rd_kafka_new()``` is called.

In https://github.com/rsyslog/rsyslog/blob/master/plugins/imka

[2017-11-22 16:36] #2040 closed

[2017-11-22 16:38] rgerhards commented on #2084
Judging from the librdkafka sample code, a kafka handle is defunct if no broken can be added.

[2017-11-22 16:38] ltagliamonte commented on #1991
@rgerhards i'm using lz4 compression, can you tell if is the bug you linked or not from the lastest valgrind output?

[code]

[2017-11-22 16:46] rgerhards commented on #1991
oh, I thought the bug had this info. All compression modes except "none" have the issue. Could you give "none" at least a try?

[2017-11-22 16:47] rgerhards opened #2085 "imkafka: segfault if "broker" parameter is not given"
see also #2084

[2017-11-22 16:58] rgerhards opened #2086 "[io]mkafka: debug output spams test logs"
librdkafka debug output should only be activated when actually requested. Make testbench test output really hard to read.

[2017-11-22 17:12] rgerhards commented on #2086
The spam is inside the test themselfes -- they dump zookeeper log. Should probably be done only when run under CI and/or if specifically requested...

[2017-11-22 17:20] ltagliamonte commented on #1991
@rgerhards no, I can't try atm with `compression=none`.
Are you 100%is the same issue related to librdkafka?

[2017-11-22 17:22] rgerhards commented on #1991
@lorbach, who tested this, told me that whenever compression is used, this memory leak is triggered. If I understood correctly, the root of the leak is related to the compression output buffer.

[2017-11-22 17:25] rgerhards commented on #1885
As you can see, I opened at question at the libmaxminddb project: https://github.com/maxmind/libmaxminddb/issues/151

[2017-11-22 19:24] Whissi commented on #1774
Getting same error report from HPPA architecture.

[2017-11-22 19:28] rgerhards commented on #1774
@janmejay do you have an idea of if your head?

[2017-11-22 21:15] ycflash commented on #1885
Thanks, and I'll follow it and provide feedback if needed.

[2017-11-22 22:11] rgerhards commented on #1885
Can you try to build with clang thread sanitizer and run a test with that
binary? Must be done without valgrind!

Thread sanitizer is way faster. Would be interested if it sees other issues.

Sent from phone, thus brief.

Am 22.11.2017 22:15 schrieb "ycflash" <notifications@github.com>:

[2017-11-22 22:28] ycflash commented on #1885
OK, I'll try to find out how to get clang working on my host, and the test if it go well.

[2017-11-23 00:30] ltagliamonte commented on #1991
@rgerhards i read @alorbach issue and it seems that is about the producer omkafka. The valgrind output is from imkafka.

[2017-11-23 02:36] janmejay commented on #1774
Will check it out.

On 23-Nov-2017 12:58 AM, "Rainer Gerhards" <notifications@github.com> wrote:

[2017-11-23 06:57] jendamozna commented on #1571
Hi,
upgraded to:
[code]

config changed to:
[code]
Still same behaviour. No file is created. After a while it hangs on:
[code]

[2017-11-23 07:24] davidelang commented on #1571
does SELinux allow you to write to /tmp? that could be the problem

[2017-11-23 07:27] jendamozna commented on #1571
selinux is permissive

[2017-11-23 07:38] rgerhards commented on #1885
I was a bit brief yesterday, was a bit late. Usually, this should work:

* install clang package (the OS package is usually good enough, but if you want to use clang 5.0, you can obtain packages from http://apt.llvm.org/)
* export CC=clang  // or CC=clang-5.0 for the LLVM packages
* export CFLAGS="-g -fsanitize=thread -fno-omit-frame-pointer"
* re-run configure (very important, else CFLAGS is not

[2017-11-23 08:05] rgerhards commented on #1885
The new branch is: https://github.com/rgerhards/rsyslog/tree/i-1885-testing

Please use this one for further debugging. Note that this branch does **not** contain any of the suggestions from https://github.com/maxmind/libmaxminddb/issues/151. I want first to make sure that we see the issue again. Then, we can move forward and change things. The branch should more or less be what you used last, but

[2017-11-23 08:09] ycflash commented on #1885
OK, thanks, I'll continue ASAP.

[2017-11-23 08:27] rgerhards commented on #1991
oops... sorry for that. Looks like I got a bit distracted. Unfortunatly, we have another issue open with librdkafka: https://github.com/edenhill/librdkafka/issues/1536 - this one is for the consumer. We tried to isolate the issue, but all points toward librdkafka.

[2017-11-23 08:28] rgerhards commented on #1991
Let me ask that question again: does rsyslog abort or do you shut it down some uncommon way?

[2017-11-23 09:56] allanpark opened #2090 "lmsig_ksils12: Add possibility to use the asyncronous mode of the libksi (>=3.16)"
Libksi has introduced a new asynchronous mode for signing. The signature requests can be pipelined to the server in a non blocking way. Without having to wait for a reply before sending the next request the throughput is only limited by the service speed and not by the signing latency.

[2017-11-23 11:35] ycflash commented on #1885
I have tested against libmaxminddb 1.2.1 & 1.3.0, and  logs bellow:

[sanitizer-libmaxminddb-1.2.1.log](https://github.com/rsyslog/rsyslog/files/1498866/sanitizer-libmaxminddb-1.2.1.log)
[sanitizer-libmaxminddb-1.3.0.log](https://github.com/rsyslog/rsyslog/files/1498867/sanitizer-libmaxminddb-1.3.0.log)

[2017-11-23 12:52] tomjonandy commented on #545
I have just come across this in 8.30.0. imfile is not filling the `fromhost-ip` property as `127.0.0.1`, and so the logs are filtered as if they are from a remote host:

### Relevant config files:
01-netconsole.conf
[code]
49-irods-elk.conf
[code]
### Full debug logs
[rsyslogdebug.txt](https://github.com/rsyslog/rsyslog/files/1499063/rsyslogdebug.txt)

### The relevant section
[code]

[2017-11-23 14:37] #2085 closed

[2017-11-23 14:38] ysfduzgun opened #2092 "omelasticsearch, name of remote log file"
Hi there,

Is there any way to see remote logs file names on elasticsearch with rsyslog-elasticsearch(omelasticsearch).

in fact i need something like this:
`constant(value="\",\"filename\":\"")        property(name="sourcefile")`

[2017-11-23 15:06] rgerhards commented on #1885
Looking at 1.3.0.log first: quite a bit of noise ;-) The statsobj races are OK, they are accepted because of the performance implications if we would insist on solving them. Interestingly valgrind did not detect them. I also see some failures inside omelasticsearch, which are also related to stats (but should be looked at in more depth, anyhow would not cause real harm, maybe some mild incorrect s

[2017-11-23 15:27] ltagliamonte commented on #1991
@rgerhards no rsyslog doesn't abort or shut down uncommonly, I'm running valgrind with nohup and sigbus signal seems the only signal able to stop valgrind and generate the report  exiting.

[2017-11-23 16:04] ycflash commented on #1885
ahh... I am facing a strange error with -fsantize=thread removed:

[code]

[2017-11-23 16:05] rgerhards commented on #1885
ummm... TBH I never had this. config.log might have some more info. Else I'd say just use your previous build env (might even be better to get comparable results).

[2017-11-23 16:10] ycflash commented on #1885
OK, I'll fallback to use old GCC compiler, and feedback soon.

[2017-11-23 16:49] ycflash commented on #1885
One race in libmaxminddb for now, see log:

[val.log](https://github.com/rsyslog/rsyslog/files/1499856/val.log)

[2017-11-23 17:00] davidelang commented on #2092
are you asking to see the files pulled in via imfile? if so, you need to turn on
metadata for that input and add it to the template that you are sending to
elasticsearch (probably as a json message)

log the message with the format RSYSLOG_DebugFormat and it will show you all the
variables that you have available.

[2017-11-23 17:05] ycflash commented on #1885
A few more race occurs. Since run helgrind makes rsyslog operation very slow, I'll continue to run it to see if segfault or something else will happen.

[val.log](https://github.com/rsyslog/rsyslog/files/1499889/val.log)

[2017-11-23 17:11] rgerhards commented on #1885
thanks! The question is now: does valgrind misdetect? My experience tells me "no". I guess the most probably cause is that the issues only surface on a very slow machine (which valgrind actually emulates). Maybe the race has a very thight timing that we don't see in a faster environment (thread sanitizer is a lot faster).

[2017-11-23 17:18] horgh commented on #1885
Are these last 2 using libmaxminddb 1.3.0? I'd suggest sticking to 1.2.1 to try to isolate the original issue.

As far as the sanitizer log using 1.2.1, like @rgerhards I'm not seeing anything concerning related to libmaxminddb. Mostly stats related which it sounds like are okay, though a few at the end look a little more interesting.

[2017-11-23 17:33] ycflash commented on #1885
I'll stop this test for now, and a few more race info start from line 1472:

[val.log](https://github.com/rsyslog/rsyslog/files/1499954/val.log)

@horgh the last 2 and the one in this comment were with 1.3.0, and I'll give another test round using 1.2.1 to see if any difference happen.

[2017-11-23 17:41] ycflash commented on #1885
valgrind slow down a lot, in this test round, I see only 5k message send to ES, however the ruleset queue is full constantly.

[2017-11-23 17:47] rgerhards commented on #1885
@horgh slow down... this is interesting:
[code]

I am glad to see it. There is a race "in" libmaxminddb on memory that was allocated by rsyslog. I do not yet know exactly what it is, but this sounds like our module passes data to libmaxminddb which actually is not safe to pass! If that's the bug, it's still not clear to me why we could "fix" it by single-threading the libmaxminddb accesses, but th

[2017-11-23 17:50] rgerhards commented on #1885
@ycflash can you provide the relevant part of rsyslog.conf? sorry if you already provided it, I did not find it inside the issue tracker (it's getting a bit big ;-)).

[2017-11-23 17:53] rgerhards commented on #1885
note to myself: mmdblookup potentially breaks proper rsyslog json access sequence. Might be that ```json_object_get_string(keyjson)``` works on a potentially volatile memory spot w/o lock. -- still only theory

[2017-11-23 17:58] ycflash commented on #1885
@rgerhards main part of config: (if a working one needed, I'll upload later)

[code]

[2017-11-23 18:01] rgerhards commented on #1885
.... unfortunately wrong theory. msgGetJSONPropJSON() does a deep copy while the msg object is locked, so the returned value can safely be used. I admit I am even more puzzled from the race report above, don't see where msg object mem could directly be passed to libmaxminddb.

@ycflash thx for the config, but mmdblookup is missing in that snippet. That's actually my main interest. I would like to

[2017-11-23 18:06] ycflash commented on #1885
@rgerhards I have amend my last commit, which I did noticed missing mmdblookup part too.

[2017-11-23 18:13] rgerhards commented on #1885
@ycflash thx!

I admit I am seriously puzzled now: the strtok races in valgrind log must point to stack memory according to the current code base. I don't see how we could have a race on the stack between two different threads :-S Maybe it's actually a valgrind issue, maybe hiding the real bug.

Just as a try: @ycflash could you do another test with clang, but this time the address sanitizer? All

[2017-11-23 18:33] ycflash commented on #1885
I can only successfully build with -fsanitize=thread, either with -fsanitize=address or removing -fsanitize=thread fail to compile.

Pretty weird...

[2017-11-23 18:42] horgh commented on #1885
About the latest race: It looks like the 1.3.0 issue in libmaxminddb related to invalid memory access. It can write to (and read from) memory it should not. The memory may not have been directly passed to it in any way. `get_entry_data_list()` is definitely impacted.

Sorry to keep bringing that up, but I do think it is the problem in that particular spot!

[2017-11-23 19:33] rgerhards commented on #1885
From my pov that would actually be good news, as it would explain what I
see ;-)

[2017-11-23 19:36] rgerhards commented on #1885
Indeed... Can you post config.log?

Sent from phone, thus brief.

Am 23.11.2017 19:33 schrieb "ycflash" <notifications@github.com>:

I can only successfully build with -fsanitize=thread, either with
-fsanitize=address or removing -fsanitize=thread fail to compile.

Pretty weird...

[2017-11-23 19:42] ycflash commented on #1885
I have just figured it out by unset my previous LDFLAGS  env. With 30+ minitues test round, nothing happens with -fsanitize=address build.

[2017-11-23 20:15] rgerhards commented on #1885
Can you turn on use after scope and use after return checks?

https://clang.llvm.org/docs/AddressSanitizer.html

[2017-11-23 20:23] ycflash commented on #1885
my clang (3.4.2) do not support this:

[code]

[2017-11-23 20:39] rgerhards commented on #1885
ok ;-) use after return?

[2017-11-23 20:41] rgerhards commented on #2074
Thanks for reporting the issue. I unfortunately have to admit I do not fully understand. Also can you tell me your rsyslog version?

[2017-11-23 20:44] rgerhards commented on #1893
@friedl can you have a look?

[2017-11-23 20:52] rgerhards commented on #1581
Could you double check against master? I think I fixed it but forgot to close the bug.

[2017-11-23 20:55] rgerhards commented on #1390
Quite late, but: we already have an abstraction layer. Still quite a bit of work.

[2017-11-23 20:58] ycflash commented on #1885
Ohh... I should use clang instead of ld in the final link step. I'll recompile and test again.

[2017-11-23 21:10] ycflash commented on #1885
Still nothing....

[2017-11-23 22:45] Whissi commented on #1581
Yes, cannot reproduce anymore against current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0).

[2017-11-23 22:45] #1581 closed

[2017-11-23 22:48] Whissi opened #2094 "im3195.c: -Werror=missing-prototypes, -Werror=deprecated-declarations and -Werror=enum-compare errors"
Found via GCC 7.2.0 in current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0):
[code]

[2017-11-23 22:48] Whissi opened #2095 "omkafka.c: -Werror=unused-result"
Found via GCC 7.2.0 in current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0):
[code]

[2017-11-23 22:49] Whissi opened #2096 "omzmq3.c: -Werror=discarded-qualifiers, -Werror=missing-prototypes errors"
Found via GCC 7.2.0 in current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0):
[code]

[2017-11-23 22:50] Whissi opened #2097 "omgssapi.c: -Werror=discarded-qualifiers errors"
Found via GCC 7.2.0 in current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0):
[code]

[2017-11-23 22:52] Whissi opened #2098 "logctl.c (mongodb): -Werror=declaration-after-statement, -Werror=switch-default, -Werror=strict-prototypes, -Werror=old-style-definition, -Werror=declaration-after-statement, -Werror=maybe-uninitialized errors"
Found via GCC 7.2.0 in current git master (326af71fbdb3a7347d8147b49b8391f40005b4e0):
[code]

[2017-11-23 23:16] Whissi opened #2099 "tests are failing with >=libfaketime-0.9.7"
Tests are failing like
[code]
and

[code]
[...]

I remember that I already saw these failures when we added tests using libfaketime to rsyslog for the first time when I tested libfaketime's git master at this time.

[2017-11-24 02:51] julthomas commented on #1839
Hello Rainer,

I struggle with the same issue as reported by jay7x.
As for jey7x, the problem occurs when deleting a key on a subtree set by mmnormalize.

Here is a constant repro:

<pre>
set $!input = "foo - bar foo2 - bar2";
action(
    type="mmnormalize"
    rulebase="unset-bug.rb"
    variable="$!input"
    path="$!app"
)
unset $!app!ku1;
unset $!app!ku2;
</pre>

Here is the rulebase:
<pre>
ru

[2017-11-24 07:23] rgerhards commented on #1885
That's probably good - it looks like we have no memory access outside of allocated memory regions. But "only" the race. Given what @horgh said, we may misadress memory, but seem to hit only allocated areas (which we potentially still damage).

I assume you also did not have any segfault?

[2017-11-24 07:44] rgerhards commented on #2099
Thanks for the report. Given the fact that we have a very special use case for libfaketime, I wonder if we should cache an old version of libfaketime for our needs. TBH it looks like libfaketime drifts into a direction that makes it harder and harder for us to use. I am not sure if it is worth the trouble to fix this every time.

Thoughts?

[2017-11-24 07:50] rgerhards opened #2100 "imzmq3/omzmq3: include deprecation notice"
according to @brianknox these modules are outdated:

https://twitter.com/taotetek/status/931860786959540224

They are replaced by imczmq/omczmq and are no longer maintained. We should put a deprecation notice into them that is emitted upon module load. In the somewhat longer term, we should completely remove them.

@mbiebl @Whissi would be great to get your feedback

[2017-11-24 08:08] rgerhards commented on #1839
Julien, thanks for the useful report. It might be that we have fixed the issue as a side-effect of some fix we did in JSON handling. Do you have a chance to build from source (or could use the Ubuntu daily packages)? If so, it would be great if you could try against current git master branch.

[2017-11-24 08:35] julthomas commented on #1839
OK Rainer, I'll do that today, will get back ASAP.
Cheers, Julien

[2017-11-24 09:12] PascalWithopf commented on #1776
@laerus I just noticed you are missing the parameter ```-Ttls```.
This parameter tells tcpflood to use tcp+tls, otherwise it only creates a tcp connection.
I confirmed that I'm getting error ```gnutls returned error on handshake: An unexpected TLS packet was received``` when I leave that parameter out.

[2017-11-24 09:43] #2072 closed

[2017-11-24 10:38] ycflash commented on #1885
Yes, didn't see any segfault happen.

[2017-11-24 11:26] rgerhards commented on #1885
That's interesting. Was this with 1.2.1 or 1.3.0? If 1.2.1, can you redo the test with 1.3.0?

[2017-11-24 11:33] julthomas commented on #1839
Bad news Rainer, I built against rsyslog master 289d4ce but no luck, same issue.
I am using these dependencies as RPM from Adicson :
* libee-0.4.1-6.el7.x86_64
* libestr-0.1.10-1.el7.x86_64
* libfastjson4-0.99.7-2.el7.x86_64
* liblognorm5-2.0.4-3.el7.x86_64

[2017-11-24 11:34] ycflash commented on #1885
It was libmaxminddb 1.3.0, do I need to run against 1.2.1?

[2017-11-24 11:46] rgerhards commented on #1934
implemented via #2071

[2017-11-24 11:46] #1934 closed

[2017-11-24 11:46] rgerhards commented on #1989
implemented via #2071

[2017-11-24 11:46] #1989 closed

[2017-11-24 11:47] rgerhards commented on #1741
sorry, I didn't make it into 8.31 due to the large number of things going now. Now trying for next release!

[2017-11-24 11:50] rgerhards commented on #1858
sorry, I will probably not make it into the 8.31 timeframe. To do this right, a bit of good refactoring is needed. The code is hard to maintain at the spot in question. Probably that was the root cause of the issue...

[2017-11-24 11:55] rgerhards opened #2102 "Travis: autoconf-archive too old"
The packages of autoconf-archive are too old to support AX_COMPILER_FLAGS. I tried to solve this in the past, but never found a working solution. It would be great if someone could let me know how to install a recent version (PR would even be better ;-)).

@Whissi could you help?

[2017-11-24 12:04] rgerhards commented on #1839
thanks for letting me know. I am not sure if I can look into it before mid-next week as I am doing finalization work for 8.31 (release next Tuesday). But I hope we will be able to reproduce thanks to your good info.

Well... if you have a bit more time, you could actually do me a favor and run things under a memory debugger. That would be very helpful. Do you know valgrind or address sanitizer? If

[2017-11-24 12:06] rgerhards commented on #1885
for me, 1.3.0 is fine. Can you do your "usual build" (with gcc and your usual options) and see if that segfaults? Maybe we have some compiler (optimization) induced bug...

[2017-11-24 12:12] rgerhards commented on #2098
@HugoSoszynski I wonder if you would be willing to help out with that one? If you have no time, no problem at all, but I thought this would be a nice follow-up you may be interested in.

[2017-11-24 12:32] ycflash commented on #1885
OK, I'll do it.

[2017-11-24 12:57] julthomas commented on #1839
I'll do my best Rainer, I'll keep you posted.
Should I build rsyslog with some debug options before running it through valgrind?

Many thanks,
Julien

[2017-11-24 13:11] rgerhards commented on #1839
Not needed, regular binary works. if

Sent from phone, thus brief.

Am 24.11.2017 13:57 schrieb "Julien Thomas" <notifications@github.com>:

[2017-11-24 13:22] ycflash commented on #1885
My normal build did segfault.  This time bt output is a bit strange:

[code]

It looks like some debuginfo missing, but as previous tests, all related debuginfo files already installed, I'm trying to figure out what causes this...

[2017-11-24 13:23] Whissi commented on #2102
Let me see if we can just manually install a newer package. If not, I'll backport current version to Travis' Ubuntu version.

[2017-11-24 13:29] Whissi commented on #2099
As distribution: No, please don't bundle anything. Even if it is just for testing.

I'll bisect libfaketime to understand what change is causing the problem. Maybe it is just a bug which will be fixed upstream. If we know the reason, we can re-evaluate the situation.

[2017-11-24 13:37] HugoSoszynski commented on #2098
@rgerhards I will take it. I think it will be done during the weekend.

[2017-11-24 14:22] rgerhards commented on #2099
excellent, sounds like a very good plan! Looking forward to the news. As I understand, it is not yet urgent, right?

[2017-11-24 14:27] rgerhards commented on #2098
Excellent, much appreciated! I guess you do not necessarily need to have gcc-7 on the system, but it would help. If you do not have it, let me know I may be able to help you find a suitable solution. Maybe I manage to get some version integrated into Travis today, but that's not yet for sure ;-)

[2017-11-24 14:30] rgerhards commented on #1885
Can you let us know CFLAGS, CC, LDFLAGS for the different builds? Maybe this is enlightning...

[2017-11-24 14:35] ycflash commented on #1885
I use the following flags:
[code]

[2017-11-24 14:37] Whissi commented on #2099
Right, not urgent. Adoption of libfaketime-0.9.7 is low at the moment, https://repology.org/metapackage/libfaketime/versions (but keep in mind it was released this week).

[2017-11-24 14:46] rgerhards commented on #2099
good!

[2017-11-24 14:48] rgerhards commented on #1885
and for the clang build? Or is it exactly the same set. Again, I wonder if flags could cause the different results.

[2017-11-24 14:56] ycflash commented on #1885
the following FLAGS used for normal build (gcc) and clang -fsanitize=thread:

[code]

the following use for clang -fsanitize=address:

[code]

[2017-11-24 15:00] rgerhards commented on #1885
interesting... can you use the exact same set of flags for clang (so just change ```CC=clang``` but nothing else). If it then also abort, we would know that the problem is related to non-clean code that shows problems under these flags. To me, it is very important to find out why the clang build worked when the gcc did not.

[2017-11-24 15:17] laerus commented on #1776
@PascalWithopf that was it, i was following an older documentation, thank you for looking into this!

[2017-11-24 15:17] #1776 closed

[2017-11-24 15:51] rgerhards commented on #1776
Can you point me to the doc so that we can update it? TIA

Sent from phone, thus brief.

Am 24.11.2017 16:17 schrieb "Kon Tsaki" <notifications@github.com>:

[2017-11-24 15:55] laerus commented on #1776
http://www.rsyslog.com/how-to-use-tcpflood/

[2017-11-24 16:23] ycflash commented on #1885
First try: with all CFLAGS CXXFLAGS FFLAGS LDFLAGS same as build (gcc), plus CC=clang, compile error:

[code]

Second try: add -fPIC in CFLAGS, and build passed.

Test shows build with clang also segfault with backtrace:

[code]

[2017-11-24 16:47] rgerhards commented on #1885
ahhh, you made my day! very well, fortify "causes" it (actually detects and then acts accordingly). This gets us in much better shape. It's a stack-related problem like we saw with valgrind. Probably the same root cause. Now we are back in business :-)

Could you now add -``-fsanitize=address``` once again and check if we get a report from clang? That would be fantastic.

[2017-11-24 17:09] rgerhards commented on #1776
@laerus Thx a lot, I'll see that we update it!

[2017-11-24 17:23] rgerhards commented on #1885
The more I think about it, the more I become sure that the reported stack smashing actually stems back to what @horgh told about the bug in 1.3.0 he is working on.

So as an additional test (but the address sanitizer run would be useful as well!) it would be good to link against 1.2.1 with otherwise same settings.

[2017-11-24 17:30] rgerhards commented on #2102
FYI: I got a solution from @Whissi - thx! PR will be upcoming in the near future.

[2017-11-24 17:51] rgerhards commented on #2090
implemented via #2091

[2017-11-24 17:51] #2090 closed

[2017-11-24 17:52] rgerhards commented on #1995
@hrak Don't want to be a pest, but any chance to provide us the config?

[2017-11-24 17:53] rgerhards commented on #1867
I just got confirmation that it is working. It will be part of next tuesday's 8.31.0 release.

[2017-11-24 17:53] #1867 closed

[2017-11-24 17:55] rgerhards commented on #1987
two basic valgrind tests were added with #1991

[2017-11-24 17:55] #1987 closed

[2017-11-24 18:06] rgerhards opened #2103 "imzmq3/omzmq3: remove modules"
These modules have been replaced by imczmq and omczmq. They are no longer maintained. The have officially become deprecated with the 8.31.0 release on 2017-11-28 and will finally be removed from the code in roughly a year. For additional background info see https://github.com/rsyslog/rsyslog/issues/2100.

If you have a *very good reason* why the modules should stay inside the source tree, please l

[2017-11-24 18:09] davidelang commented on #1885
just as a note, sparse lookup tables were designed with the maxminddb in mind,
you may want to play around with that option.

[2017-11-24 18:23] janmejay commented on #1774
It failed due to slowness in the env. An entry that was not supposed to be
removed because we update it before it can expire was dropped due to expiry.

It needs some more relaxation in timing constraints (we need to make
unusedMetricLife 2 or 3 seconds).

On Thu, Nov 23, 2017 at 8:06 AM, singh.janmejay <singh.janmejay@gmail.com>
wrote:

--
Regards,
Janmejay
http://codehunk.wordpress.com

[2017-11-24 18:35] ycflash commented on #1885
There is no segfault with `-fsanitize=address` build

[2017-11-24 18:50] rgerhards commented on #1885
Ok, this probably means the memory layout has changed so that a different
spot is hit...

Can you test without sanitizer and 1.2.1?

Sent from phone, thus brief.

Am 24.11.2017 19:36 schrieb "ycflash" <notifications@github.com>:

[2017-11-24 21:07] HugoSoszynski commented on #2098
he gcc version of my system is 7.2.1. As long as there are just compilation errors, I think it will do the job. I will try to setup some dockers to test with other versions.

[2017-11-24 21:19] rgerhards commented on #2098
I think 7.2.1 is perfect and sufficient. I suggest to use CI for all others. You can also sign up for free with Travis, than you can run many tests even before doing a PR.

[2017-11-24 22:21] HugoSoszynski commented on #2098
In my quest to make the logctl.c code fully ***ISO C90*** compliant, I found that libmongoc and libbson are not. I am able to compile with the **-ansi** flag without any warning but due to the precedent libs, I would strongly suggest to **not use the *-Wpedantic* flag**.

Currently doing further compilation testing.

[2017-11-24 22:55] Whissi commented on #2099
[code]

[2017-11-25 00:19] Whissi commented on #2099
Only happens when you build *rsyslog* with jemalloc (`--enable-jemalloc`), jemalloc-5.0.1 in my case.

[2017-11-25 05:52] ycflash commented on #1885
finally, both 1.3.0 and 1.2.1 have segfaults. The following is clang build (without -fsanitize=address) log:

[code]

gdb bt: (looks like missing some debuginfo)

[code]

[2017-11-25 09:56] rgerhards opened #2105 "omoracle: remove from source tree"
This contributed module is defunct orphaned for several years and also defunct since quite a while. So it is now time to finally remove it from the source. It won't build in any case. Should it be needed to be revived, 8.31.0 was the last version that had it included.

closes https://github.com/rsyslog/rsyslog/issues/83

Side-note: we should create a doc of removed modules and when they last have

[2017-11-25 09:57] rgerhards opened #2106 "CI: include llvm ubsan in some tests"

[2017-11-25 10:34] rgerhards commented on #1839
While on the road I forgot to mention that you should best run it interactively:

- stop system service
- start: valgrind rsyslogd -n ...other opts...
- ctl-c or send SIGTERM signal to terminate

It's basically the same procedure I described here for runing the thread sanitizer (second bullet list):
http://blog.gerhards.net/2017/11/the-clang-thread-sanitizer.html

[2017-11-25 10:37] rgerhards commented on #1278
implemented via https://github.com/rsyslog/rsyslog/pull/1465, in v8.29

[2017-11-25 10:37] #1278 closed

[2017-11-25 10:38] rgerhards commented on #971
@mrworkman can we consider this as implemented/closed?

[2017-11-25 10:48] rgerhards commented on #497
given this is open for long and no further interest has been expressed - should we close this without doing any further implementation? It looks so to me...

[2017-11-25 10:58] nipakoo opened #2107 "error during config processing: omfile: creating parent directories for file 'File exists' failed"
We are bumping into the race in makeFileParentDirs quite heavily. Got two rsyslogd threads repeatedly competing for creating parent directories on an NFS mount (service failing and restarting). Journal flooding with following messages until the rsyslog service is manually restarted:

Nov 24 23:16:05 xx-0 rsyslogd[1518]: error during config processing: omfile: creating parent directories for file

[2017-11-25 11:00] rgerhards commented on #2107
Thanks for the report. I am currently preparing next Tuesdays release, so I can unfortunately not look directly into it. Will try during next week.

My first impression is that actually a mutex lock is missing during file path creation.

[2017-11-25 11:04] nipakoo commented on #2107
Yeah, there is a comment dating back to 2010 that acknowledges this. Seems the lock was not implemented because it will not fix race with other processes. Anyway, should be fixed as the most likely race should be within our process space.

[2017-11-25 11:09] rgerhards opened #2108 "ommongodb: does not build with gcc-7"
We are seeing build issues under gcc-7: http://build.rsyslog.com:8010/builders/rsyslog%20ubuntu16%20rsyslog/builds/447/steps/shell_7/logs/stdio

This looks like it is induced by [libbson](https://github.com/mongodb/libbson) (do we need to file a bug there?).

I have temporarily disabled the gcc-7 check for mongodb on the Ubuntu16 build slave, because otherwise CI would be broken. Note: this check

[2017-11-25 11:12] ycflash commented on #1885
clang build with -fsanitize=address and libmaxminddb 1.2.1 log:

[code]

[2017-11-25 11:26] rgerhards commented on #2023
we are sure omelasticsearch (alone) is no longer the problem - so we can remove them now

[2017-11-25 11:27] rgerhards commented on #1997
Could you re-try against git master branch?

[2017-11-25 11:28] rgerhards commented on #1997
flagged just as "potential" bug because it may already be gone. The thing for sure is a bug ;-)

[2017-11-25 11:29] rgerhards commented on #313
@PascalWithopf did you verify with the latest version of liblogging-stdlog? If not, please do. I remeber I fixed something in that regard.

[2017-11-25 11:30] rgerhards commented on #174
a path forward is to disable some test under make distcheck. That way, we do not get 100%, but we get more than the 0% we currently have...

[2017-11-25 14:29] mrworkman commented on #971
Yes, I think it can be closed.

[2017-11-25 14:32] #2096 closed

[2017-11-25 14:32] #2100 closed

[2017-11-25 14:37] julthomas commented on #1839
Hello Rainer,
Here are the results.

Context:
* rsyslog build: same I mentioned above with libs from Adiscon el7 RPMs
* rsyslogd configuration: https://gist.github.com/julthomas/309a0b0762399b21e42c45f2131e317d
* rulebase: https://gist.github.com/julthomas/5512915015eeb9029f6f635bf554520f
* env: `LIBLOGNORM_RULEBASES=/etc/rsyslog.d`
* start command: `valgrind rsyslogd -n -f /etc/rsyslog-unset-bug.

[2017-11-25 14:43] rgerhards commented on #971
thx. I we missed something, we can always open a new one ;-)

[2017-11-25 14:43] #971 closed

[2017-11-25 15:36] rgerhards commented on #1880
implemented via https://github.com/rsyslog/rsyslog/pull/1953

[2017-11-25 15:36] #1880 closed

[2017-11-25 15:38] rgerhards commented on #1716
@alorbach we seem to have overlooked this one. I guess it might be relevant to your current imfile-related work.

[2017-11-25 16:49] #2023 closed

[2017-11-25 17:12] ycflash commented on #1885
some other log with 1.3.0:

[code]

It looks like related to json function, but without luck to dump debug detail, I'll try to figure it out, and feedback later.

[2017-11-25 17:18] julthomas commented on #1839
It's been a little while I was interested by the changes made by kshelton in NetWatcher's github fork of liblognorm. So I rebased its branch on master and tried it, but same, it does not fixes the issue.

Anyway it's not the topic here but if that can help you I've cleaned up the tab vs space indentation changes he made in his branch to get a readable patch:
https://github.com/rsyslog/liblognorm/c

[2017-11-25 17:32] rgerhards commented on #1839
oh, interesting. I wasn't aware at all of this work. Looks useful, but also like I need to have a bit more than a 2-minute review ;-)

[2017-11-25 17:37] julthomas commented on #1839
Oh yeah that's a big patch (to split...), lot's of work to come!
I've had troubles with the alternative and repeat parser (also priority inside), I must try its patch to see if it makes better behavior in liblognorm for what I needed.

[2017-11-25 17:47] rgerhards commented on #2102
Basic plumbing is in place after merging PR #2112. We need to fully enable the new autoconf-archive. See https://github.com/rsyslog/rsyslog/pull/2112/commits/42fd7c7b7818547e3ff58b92bf568f8166a50473 for more details.

[2017-11-25 17:51] rgerhards commented on #1839
yeah, I admit I have been hyper-busy from may to october and not been able to watch out as much as I would have liked to. Back to normal now. That said, contributions to any project are of course very welcome and appreciated ;-)

If you build liblognorm... could you rebuild it with CFLAGS="-g" (at minimum) and do a new run? That would give me line number information... If so, let me know the branc

[2017-11-25 17:52] rgerhards commented on #1839
This may also be realted, or have the same root cause, as https://github.com/rsyslog/rsyslog/issues/1995.

[2017-11-25 17:53] rgerhards commented on #1995
This may also be related, or have the same root cause, as #1839

[2017-11-25 17:58] rgerhards commented on #1961
@gotnix are you still interested in this topic?

[2017-11-25 18:00] rgerhards commented on #1955
@mrworkman can we help @gubzh with you recent developments?

[2017-11-25 18:02] rgerhards commented on #1821
Sorry for being unable to follow up until now. Do you still have interest in this feature? If so, did you see a reason why imklog does not want the feature? If not, could you craft a PR to enable it?

[2017-11-25 18:03] rgerhards commented on #1793
was this via ompgsql or omlibdbi?

[2017-11-25 18:05] rgerhards commented on #1777
It's actually right, librelp is the limiting factor here. It would need to be enhanced. A solution would be to run multiple **instances** of **rsyslog** - sorry I have no better answer yet. I'll close the issue, but feel free to post to it. I can re-open if desired. Right now, I just don't see what rsyslog could do against it.

[2017-11-25 18:05] #1777 closed

[2017-11-25 18:06] rgerhards commented on #1775
thx for reporting and sorry for late action.

We should craft a test for this first. Anybody with the same problem let us know so that we can adjust the priority accordingly.

[2017-11-25 18:06] #1781 closed

[2017-11-25 18:09] rgerhards commented on #1738
@PascalWithopf can you please update what is still open?

[2017-11-25 18:11] rgerhards commented on #1728
@filippog thx for the posting. This pinpoints the root cause: the system is not supporting epoll(), so we resort back to select(), but (**root cause**) select does not support fds>1024 in that case (at least that's my assumption). We already have some code for unlimited select, probably we only need to apply this to the stop in question.

Which platform was that on?

[2017-11-25 18:13] rgerhards commented on #1702
@PascalWithopf did you solve this? Or is it solved otherwise?

[2017-11-25 18:15] rgerhards commented on #1690
@tuffk does your problem still exist?

[2017-11-25 18:15] rgerhards commented on #1651
@Whissi could you have a look at this? would be much appreciated.

[2017-11-25 18:18] rgerhards commented on #1646
Thanks for opening this issue. Unfortunately, I was hyper-busy with many other things for quite some month and not all issues were properly followed up. I am currently triaging everything.

In this case, it looks like we need to find some help, as the backlog is immensely long. Sorry for that, but I thought I let you at least know.

[2017-11-25 18:19] rgerhards commented on #1650
Thanks for opening this issue. Unfortunately, I was hyper-busy with many other things for quite some month and not all issues were properly followed up. I am currently triaging everything.

Unfortunately, there is quite a backlog for the same reason, so I cannot turn to the issue immediately.

[2017-11-25 18:21] rgerhards commented on #1634
Thanks for opening this issue. Unfortunately, I was hyper-busy with many other things for quite some month and not all issues were properly followed up. I am currently triaging everything.

This request sounds very interesting. Would you still be willing to have some discussion on how it could be implemented?

[2017-11-25 18:23] rgerhards commented on #1629
this is implementag. Definitely in 8.30.0. maybe earlier (see ChangeLog)

[2017-11-25 18:23] #1629 closed

[2017-11-25 18:24] #1627 closed

[2017-11-25 18:26] rgerhards commented on #1619
Thanks for opening this issue. Unfortunately, I was hyper-busy with many other things for quite some month and not all issues were properly followed up. I am currently triaging everything.

We will release 8.31.0 next Tuesday (2017-11-28). If this is still of importance for you, it would be great if you could check out that build. 8.31 contains numerous small fixes that could cause this behavior.